{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Now, thank we all our God, With hearts and hands and voices! Who wondrous things have done, In whom this world rejoices. Who from our mother's arms, Has blessed us on our way, With countless gifts of love, And still is ours today. <br/><br/>2 Before our life on earth, The Lord God knew and loved us. He freely gave all things, More than we knew, He gave us.  Therefore we all must join To sing in unison The praises of our God; He is the God of Praise. <br> <br> 3 O may this bounteous God,
Through all our lives be near us. With ever joyful hearts, And blessed peace to cheer us! And keep us in His grace, And guide us when perplexed, And free us from all ills, In this world and the next! <br> <br> 4 All praise and thanks to God, Who reigns in highest Heaven. The Father and the Son, And Spirit now be given. The one eternal God, Whom earth and heaven adore, For thus it was is now, And shall be evermore! <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            