{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Songs of angels I would cherish,
I must hear God's angels sing;
Singing joyfully to welcome,
Christ the Son of God the Lord;
Saying we must be of courage,
Joyful news they have for all now.
Saying gladly to the whole world,
Mankind's Savior has been born. <br/><br/>2 He is Christ our Lord and Master,
He was born of David's line;
Truly this is joyful, best news,
For all that are lost in sin;
Men and women of all races,
Children and those that are aged,
Must receive this Gift from Heaven,
With a heart of faith in God. <br> <br> 3 Heaven's choir joined in the chorus,
Of the Angel's joyful hymns;
Laud and Praising God the Father,
Praising God with joyful hearts;
Saying, Glory to God on high,
With goodwill and peace to all men.
Peace on earth and on all nations,
With God's favor on mankind. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            