{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. This night we celebrate God's gift,
All nations join to celebrate.
Angels on high rejoiced in it,
We join to celebrate Christ's birth. <br/><br/>2 The Son of God, Jesus our Lord,
A newborn babe He came to be.
Angels adored and worshipped Him,
Praised God on high, and bless
[His Name. <br> <br> 3 Compassion of God we received,
Good news of peace on earth we heard.
Goodwill towards all people showed,
Good news God brought to all on earth. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            