{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. A Child is born to us,
We celebrate today,
Our Savior's birth!
He came in poverty
He lay in a manger,
All for our sake,
For us He came. <br/><br/>2 If God's own Son, came thus,
Humble and meekly came,
What must we do?
Our love to Him must give,
We must give all to Him,
Then yield your life,
Give all to Christ. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            