{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Our Savior is born on this Day,
Our hearts are filled with joy.
Christ Jesus gave Himself for us,
Good news is this for us.  <br/><br/>2 We all are sinful and are lost,
In Satan's grips we are.
Our souls are doomed without a hope,
Eternal death we faced.  <br> <br> 3 But God came down to save His own,
He gave His only Son.
To free us from the evil one,
To bring us back to Him.  <br> <br> 4 Truly in Christ we now are free,
We are God's children now.
We trust you Jesus Christ our Lord,
We worship you our God.  <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            