{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 O Jesus, King most wonderful, <br/> O Majesty renowned, <br/> O Conqueror invincible, <br/> in whom all joys are found. <br/> <br/>2 When once you visit darkened hearts, <br/> then truth begins to shine, <br/> then earthly vanity departs, <br/> then kindles love divine. <br/> <br/>3 O Jesus, light of all below, <br/> O Fount of life and fire, <br/> surpassing all the joys we know, <br/> all that we can desire, <br/> <br/>4 May ev'ry heart confess your name, <br/> forever you adore, <br/> enkindled with the Spirit's flame <br/> to love you more and more. <br/> <br/>5 Oh, may our tongues forever bless <br/> and honor you alone, <br/> and may we in our lives express <br/> the image of your own! <br/> <br/> Source: Christian Worship: Hymnal #<br/>543</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
