{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 Jesus, the very thought of thee <br/> with sweetness fills the breast; <br/> but sweeter far thy face to see, <br/> and in thy presence rest. <br/> <br/>2 O hope of every contrite heart, <br/> O joy of all the meek, <br/> to those who fall, how kind thou art! <br/> How good to those who seek! <br/> <br/>3 But what to those who find? Ah, this <br/> nor tongue nor pen can show; <br/> the love of Jesus, what it is, <br/> none but his loved ones know. <br/> <br/>4 Jesus, our only joy be thou, <br/> as thou our prize wilt be; <br/> Jesus, be thou our glory now, <br/> and through eternity. <br/> United Methodist Hymnal, <br/>1989</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
