{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. What shall best please you my Savior,
You the Lord of Hosts and Might?
Fill me with your Holy Spirit,
Give me this life from you Lord.
For I cannot live as pleasing
Give to you Lord what is precious.
Thousand times ten thousand times
I shall ren-der thanks to you. <br/><br/>2 Lord I know I have denied you
In a life of sin and woe.
This has caused me shame and grief Lord,
In your patience, suffering-long;
Bearing with me wretched sinner,
Giving freely tender mercies.
Thousand times ten thousand times
I shall ren-der thanks to you. <br> <br> 3 Lord you sought me in my lost state,
And have saved me from such hell.
When I was in love with this world,
With desires for evil bread,
You came after me to teach me
What is true and worth pursuing.
Thousand times ten thousand times
I shall ren-der thanks to you. <br> <br> 4 Wondrous ways you act towards us
To reveal your gracious will.
And with agonizing heart pain
You, Oh Lord, search out for us.
That we might seek after your life,
Seeking for your gracious power.
Thousand times ten thousand times
I shall ren-der thanks to you. <br> <br> 5 Lord your heart is full of sweet love,
Love consuming all my life.
Love that came through Christ my
[Savior,
Who my Lord now has become.
Gracious Spirit, draw me nearer,
And redeem those all around me.
Thousand times ten thousand times
I shall ren-der thanks to you. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            