{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. A Branch so fair, has blossomed
From tender parent stem,
Out of the rod of Jesse,
As told by godly men,
And brought a Flow'r so bright,
Well in the midst of winter
And darkness of the night. <br/><br/>2 This little Rose, so lovely,
That sprang from Jesse's rod
A lowly virgin brought us,
The favored one of God;
By His decree and might
A holy Child she bare us
One blessed Christmas night. <br> <br> 3 This little Flow'r, so fragrant,
My heart fills with delight,
For with its shining splendor
It drives away the night.
True man, and yet God's Son,
Saves us from sin and sorrow,
And when life's day is done. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            