{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. I bless the Christ of God, <br> I rest on love divine, <br> And with unfaltering lip and heart, <br> I call the Savior mine. <br> His cross dispels each doubt; <br> I bury in His tomb <br> Each thought of unbelief and fear, <br> Each lingering shade of gloom. <br> <br>2. I praise the God of peace, <br> I trust His truth and might; <br> He calls me His, I call Him mine, <br> My God, my Joy, my Light. <br> In Him is only good, <br> in me is only ill; <br> My ill but draws His goodness forth, <br> And me He loveth still. <br> <br>3. 'Tis He who saveth me, <br> and freely pardon gives; <br> I love because He loveth me; <br> I live because He lives; <br> My life with Him is hid, <br> my death has passed away, <br> My clouds have melted into light, <br> My midnight into day. <br>  <br> Source: The Cyber Hymnal #<br>2738</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
