{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Do you know the song that the angels sang,
On that night in the long ago,
When the heav'ns above with their music rang
Till it echoed in the earth below?
Refrain:
All glory in highest
Peace on earth, goodwill to men,
Glory in the highest
Peace, goodwill to men.
Glory in the highest
Glory in the highest
Peace on earth, goodwill to men. <br/><br/>2 Do you know the song that the shepherds heard
As they watched o'er their flocks by night
When the skies burnt down and their hearts were stirred
By the voices of the angels bright
Refrain: <br> <br> 3 Do you know the story that the wise men learned
As they journeyed from East afar,
O'er a pathway plain, for there nightly burned
In their sight a glorious guiding star?
Refrain: <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            