{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Unto us a Child is born now
Unto us a Son is given
On His shoulder rests all power
His Name shall be as foretold
Wonderful Almighty Father
Counselor the Mighty God
Everlasting Prince of Peace is
We have in this child of God <br/><br/>2 His rule shall increase for ever
Everlasting peace shall be
Davids throne and Davids Kingdom
Will establish and uphold
He will rule the world in justice
He will act in righteousness
In His everlasting power
He shall rule forever more <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            