{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Children of Jehovah, proclaim the Lord's Name,
Come worship and magnify Jesus the Lord.
Come Glorify, honor and praise the Savior,
The Lord deserves praises from all He has saved. <br/><br/>2 The Lord reigns in Heaven, eternally reigns,
But He came to seek us, He was with us here.
The Father's Son Jesus, the vict'ry has won,
He saved us from sin and the chains of the foe. <br> <br> 3 Therefore we must gather to sing of His praise,
For in Him we all have salvation from sin.
The angels of heaven sing, praising Jesus,
Let Saints here on earth join in praising His name. <br> <br> 4 We all must now join in the worship of Christ,
Join with the angels above to praise our God.
Come praise Him, adore Him and Honor His Name,
We all must now sing, Hallelujah! Amen. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            