{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. A host of Angels came from heavn
Appeared to shepherds in the fields
Fear not they said for news they had
That Christ is born in Bethlehem <br/><br/>2 Good news they brought to them and all
Good news of joy they brought to all
Great news they brought for all mankind
That God has favored all mankind <br> <br> 3 In Bethlehem in Davids town
Is born a Savior of the world
A Savior who is Christ the Lord
Shall find laid in a manger there <br> <br> 4 And suddenly a Hosts of Heaven
Came singing praises to the Lord
All glory to the Lord Most High
With peace on earth goodwill to men <br> <br> 5 In this you shall not be condemned
For you are children of God now
So thank the Lord and worship Him
Praise glorify His Holy Name <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            