{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. God and Marys own dear Son
Honored Jesus we adore Thee
You came down a child of man
Took upon our flesh and nature
Save us Lord we plead Thee now
Oh Our Brother and our God <br/><br/>2 We have heard the message sure
Adams sin and curse upon us
In this sin we all are born
We now meekly plead for pardon
In the Second Adam Born
To receive a new birth now <br> <br> 3 You became like us dear Lord
That your nature Lord we may share
Take our guilt and burden now
To relieve our pain from sin Lord
Portion of your Love I need
In Thy blessed saving grace <br> <br> 4 When my heart is full of sin
And the flesh craves for its pleasures
Cleanse my heart and dwell within
Dwell in me as in Marys womb
Jesus fill this heart of mine
Make me like you Jesus Christ <br> <br> 5 Man of sorrows you were here
Suffered and you died for sinners
I know not my days on earth
Time for me to die you know Lord
On that day receive my soul
In Gods bosom bring me then <br> <br> 6 All your promises are true
May we trust you and believe you
Lord you know our evil thoughts
Evil thoughts that seek to harm us
May we all come praising you
Praise and worship always bring <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            