{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Name of Jesus is above all
All the names in earth and heavn
Angels all shall bow before Him
Satan frightened by this Name <br/><br/>2 Jesus Name all precious Jesus
We from Adam too adore
In this Name we have salvation
We are blessed in Jesus Name <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            