{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Give heed, my heart, lift up thine eyes; <br> Who is it in you manger lies? <br> Who is this Child, so young and fair? <br> The blessed Christ-child lieth there. <br> <br>2 Ah, dearest Jesus, holy Child, <br> Make Thee a bed, soft-undefiled, <br> Within my heart, that it may be <br> A quiet chamber kept for Thee. <br> <br>3 My heart for very joy doth leap, <br> My lips no more can silence keep; <br> I too must sing with joyful tongue, <br> That sweetest ancient cradle-song: <br> <br>4 Glory to God in highest heaven, <br> Who unto man His Son hath given; <br> While angels sing with pious mirth, <br> A glad new year to all the earth. <br> Amen. <br>  <br> Source: Voices of Praise: for school and church and home #<br>51</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
