{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Jesus Christ you came to dwell
On this earth in human form
Bore for me the just demands
All demands for trespasses <br/><br/>2 Adams race we all belong
Sinners we are through his blood
Corrupted we are by sin
Sinful nature we all have <br> <br> 3 Christ the new Adam has come
He who has no sin in Him
Satisfied all Gods demands
And new life He gives to all <br> <br> 4 Guilty sinners all we are
Jesus Holy Lamb of God
Slain for sinners to redeem
We receive you Savior now <br> <br> 5 We were born in sin and death
New birth we all have in you
With your righteousness and life
Children of God we are now <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            