{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. The Temple Mary brought her Child
To God present the Child
And Simeon saw the Savior Child
And satisfied was he <br/><br/>2 He carried Jesus in his arms
He blessed God for the Child
The Savior of the world he saw
He longed for nothing more <br> <br> 3 O Jesus gracious Son of God
Grant us such joy we pray
And like old Simeon we may say
Let us depart in peace <br> <br> 4 Lord when the time of death is near
Grant me to pray this prayer
Your servant grant to die in peace
Depart to be with you <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            