{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Hallelujah, sing to the Lord,
Sing to the Lord with thankful hearts,
Sing for His wondrous workings.
Forever and forevermore,
We'll praise our God alone al-way,
Praise, glorify and honor.
Sing all, sing now
Holy, Holy, Holy, Holy,
To the Lord God,
God of hosts, we bless you ever. <br/><br/>2 Hallelujah, with joyful hearts,
We give you thanks, the Son of God,
The Lamb of God, we praise you.
The One in whom we have our being,
Whose Blood has washed away our sin,
Our Bridegroom, Jesus Christ, Lord.
Holy, blessings,
From Christ Jesus, given to us,
We must give thanks,
With hearts joyful, we praise you Lord. <br> <br> 3 Hallelujah, with joyful thanks,
We praise thee, Holy Spirit, God.
From whom we all have new birth.
From whom we have a blessed faith,
In Jesus our love and Bridegroom,
He comes to make us ready.
Truly, Heaven,
Is a blissful place to live in,
Manna, have there,
Always sing there, Hallelujah. <br> <br> 4 Hallelujah, with joy and thanks,
Sing to the Lord God, ever praise,
And glorify His great Name.
Join with the heavn'ly host above,
With voices loud, come praise His Name,
Come praise Father, Son, Spirit.
Amen, Amen,
Holy, Holy, Holy, Holy,
God is Holy,
Lord of Hosts is God Jehovah. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            