{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Give to the King your justice
The Son give righteousness
That He may judge Thy people
In righteousness Hell rule
Hell judge the poor with justice
Authority He has
All those oppressed who suffer
Hell judge in righteousness <br/><br/>2 This King shall reign forever
Like rain His blessings fall
Gods righteousness shall flourish
With peace eternal bring
His rule shall be forever
Till moon shall wax and wane
Dominion shall be all His
Hell rule in earth and heavn <br> <br> 3 His rule shall cover all earth
All nations He shall rule
All people shall give honor
All people worship Him
Bow down His foes before Him
The dust lick enemies
All kings shall fall before Christ
All nations shall serve Him <br> <br> 4 The needy and oppressed ones
Deliver when they call
The poor who has no helper
Youll save and shall redeem
With pity you shall save all
Down trodden you will lift
Their soul is precious to You
Youll rescue and restore <br> <br> 5 Blessed is the Lord Jehovah
The God of Israel bless
In God we have great wonders
Wondrous things all we see
We glorify Jesus name
Well praise Him evermore
Holy Spirit we adore
Amen so let it be <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            