{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Shine Great Light shine in the darkness
Shine in all Jerusalem
Shine upon Bethlehem town now
Shine upon us all on earth
Savior of the world has come
Jesus our Immanuel <br/><br/>2 Before God sent His Light to us
All on earth dwelt in darkness
Deep darkness covered the whole world
Now the dawn of Light we see
Star of Christ has now appeared
Guide us to the Saviors heart <br> <br> 3 Wise men came afar from eastern
Sought for you from Herod king
Wicked Herod sought to kill you
But his plans God did destroy
God did save Christs life from him
For He came to save the world <br> <br> 4 Come ye sinners do forsake not
Do not turn your backs to Christ
He is savior of all sinners
Worship Him as Lord and God
Tarry not come quickly now
Come to Christ who is the Light <br> <br> 5 Come with courage come with all strength
Tarry not but run to Christ
Come embrace the Lord Your Savior
Seek to have from Him His grace
Lord we bow before You now
We believe in You O Lord <br> <br> 6 When we walk the valley of death
When the time of death is near
Comfort us O Lord we pray you
Let us see the joy above
Give us hope in you our God
Living hope to die in You <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            