{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Jesus savior, Jesus savior
Our Redeemer friend;
Thou art Lord our God forever
You are all our being
Through the Cross you have blessed us,
Blessings, joy now and ever;
Praise and honor, praise and honor;
Glory be to Thee <br/><br/>2 Come revive us, come revive us
God Almighty come;
From our slumber, from our slumber
In this world of sin;
For our hearts are restless, Lord,
Seeking to worship you now.
To adore you, to adore you,
Now and evermore. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            