{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 To us a child of royal birth, <br> heir of the promises, is given; <br> the invisible appears on earth, <br> the Son of Man, the God of heaven. <br> <br>2 A Saviour born, in love supreme, <br> he comes our fallen souls to raise; <br> he comes his people to redeem <br> with all the fulness of his grace. <br> <br>3 The Christ, by raptured seers foretold, <br> filled with the eternal Spirit's power, <br> Prophet, and Priest, and King behold, <br> the Lord of all the worlds adore. <br> <br>4 The Lord of Hosts, the God most high, <br> who quits his throne on earth to live, <br> with joy we welcome from the sky, <br> with faith into our hearts receive. <br>  <br> Source: CPWI Hymnal #<br>86</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
