{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. We see in Christ such precious life
Life that should guide our life on earth
His glory did Apostles see
In all His words and all He did <br/><br/>2 His cloak in flesh was righteous cloak
In human form a perfect man
He made His home with us on earth
Became like us in flesh and blood <br> <br> 3 He was in Spirit and in flesh
Gods nature present in the flesh
In Him we see Gods wisdom might
The love of God in Him we see <br> <br> 4 Sent by the Father Jesus came
He came to be our righteousness
Our justification and life
To be a Savior sent from Heavn <br> <br> 5 Good tidings brought to afflicted
All broken hearts restored by Him
Restored the sight of people blind
The deaf He granted grace to hear <br> <br> 6 Sinners received in Christ to bless
Forgiveness He gave to all such
He broke their chains and set them free
Favor of God Christ brought to us <br> <br> 7 Jesus has other sheep to bless
He calls us now to come to Him
Hell bring His lost sheep to the flock
The flock of Jesus shall be safe <br> <br> 8 We worship You O Christ our King
We glorify and praise Your Name
Eternal life You gave to us
In You we have sure hope of Heavn <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            