{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Plunged in a gulf of dark despair, <br> We wretched sinners lay, <br> Without one cheerful beam of hope, <br> Or spark of glimmering day. <br> <br>2 With pitying eyes the Prince of grace <br> Behold our helpless grief; <br> He saw, and --O amazing love!-- <br> He ran to our relief. <br> <br>3 Down from the shining seats above, <br> With joyful haste He fled; <br> Entered the grave in mortal flesh, <br> And dwelt among the dead. <br> <br>4 O for this love, let rocks and hills <br> Their lasting silence break; <br> And all harmonious human tongues <br> The Saviour's praises speak. <br> <br>5 Angels, assist our mighty joys, <br> Strike all your harps of gold; <br> But when you raise your highest note, <br> His love can ne'er be told. <br>  <br>  <br> Source: International Song Service: with Bright Gems from fifty authors, for Sunday-schools, gospel meetings, missionary and young people's societies, prayer-meetings, etc. #<br>254</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
