{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lamb of God, whose bleeding love <br> We now recall to mind, <br> Send the answer from above, <br> And let us mercy find. <br> Think on us who think on Thee, <br> Every burdened soul release; <br> O remember Calvary, <br> And bid us go in peace. <br> <br>2 By Thine agonizing pain, <br> And bloody sweat, we pray, <br> By Thy dying love to man, <br> Take all our sins away; <br> Burst our bonds, and set us free, <br> From iniquity release; <br> O remember Calvary, <br> And bid us go in peace. <br> <br>3 Let Thy blood by faith applied, <br> The sinner's pardon seal; <br> Speak us freely justified, <br> And all our sickness heal; <br> By Thy passion on the tree, <br> Let our griefs and sorrows cease, <br> O remember Calvary, <br> And bid us go in peace. <br>  <br> Source: The Cyber Hymnal #<br>10934</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
