{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 O perfect life of love! <br> All, all, is finished now, <br> all that he left his throne above <br> to do for us below. <br> <br><br>2 No work is left undone <br> of all the Father willed; <br> his toil, his sorrows, one by one, <br> the Scriptures have fulfilled. <br> <br><br>3 No pain that we can share <br> but he has felt its smart; <br> all forms of human grief and care <br> have pierced that tender heart. <br> <br><br>4 And on his thorn-crowned head <br> and on his sinless soul <br> our sins in all their guilt were laid <br> that he might make us whole. <br> <br><br>5 In perfect love he dies; <br> for me he dies, for me! <br> O all-atoning Sacrifice, <br> you died to make me free! <br> <br><br>6 In ev'ry time of need, <br> before the judgment throne, <br> your works, O Lamb of God, I'll plead, <br> your merits, not my own. <br>  <br>  <br> Source: Christian Worship: Hymnal #<br><br>431</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
