{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Never further than Thy cross, <br> Never higher than Thy feet; <br> Here earth's precious things seem dross, <br> Here earth's bitter things grow sweet. <br> <br>2 Here, O Christ, our sins we see, <br> Learn Thy love while gazing thus; <br> Sin, which laid the cross on Thee, <br> Love, which bore the cross for us. <br> <br>3 Here we learn to serve and give, <br> And, rejoicing, self deny; <br> Here we gather love to live, <br> Here we gather faith to die. <br> <br>4 Pressing onward as we can, <br> Still to this our hearts must tend; <br> Where our earliest hopes began, <br> There our last aspirings end; <br> <br>5 Till amid the hosts of light, <br> We in Thee redeemed, complete, <br> Through Thy cross made pure and white, <br> Cast our crowns before Thy feet. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>139</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
