{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, keep me near the cross, <br> There a precious fountain; <br> Free to all, a healing stream, <br> Flows from Calv'ry's mountain. <br> Refrain: <br> In the cross, in the cross <br> Be my glory ever, <br> Till my ransomed soul shall find <br> Rest beyond the river. <br> <br>2 Near the cross, a trembling soul, <br> Love and mercy found me; <br> There the Bright and Morning Star <br> Shed His beams around me. [Refrain] <br> <br>3 Near the cross! O lamb of God, <br> Bring its scenes before me; <br> Help me walk from day to day <br> With its shadow o'er me. [Refrain] <br> <br>4 Near the cross! I'll watch and wait, <br> Hoping, trusting ever; <br> Till I reach the golden strand, <br> Just beyond the river. [Refrain] <br> Baptist Hymnal, <br>1991</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
