{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O Jesus my hope, <br> For me offer'd up, <br> Who with clamour pursu'd thee to Calvary's top: <br> The blood thou hast shed, <br> For me let it plead, <br> And declare thou hast dy'd in thy murderer's stead. <br> <br>2 Now, now let me know <br> Its virtue below; <br> Let it wash me, and I shall be whiter than snow. <br> Let it hallow my heart, <br> And thoroughly convert, <br> And make me, O Lord, in the world as thou art. <br> <br>3 Each moment apply'd, <br> My Weakness to hide, <br> Thy blood be upon me, and always abide: <br> My advocate prove <br> With the Father above, <br> And speak me at last to the throne of thy love. <br>  <br> Source: A Pocket Hymn Book: designed as a constant companion for the pious, collected from various authors (<br>9th ed.) #XXIX</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
