{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Low in the grave he lay, Jesus my Savior, <br> waiting the coming day, Jesus my Lord! <br> Refrain: <br> Up from the grave he arose; <br> with a mighty triumph o'er his foes; <br> he arose a victor from the dark domain, <br> and he lives forever, with his saints to reign. <br> He arose! He arose! Hallelujah! Christ arose! <br> <br>2 Vainly they watch his bed, Jesus my Savior, <br> vainly they seal the dead, Jesus my Lord! [Refrain] <br> <br>3 Death cannot keep its prey, Jesus my Savior; <br> he tore the bars away, Jesus my Lord! [Refrain] <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
