{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 THE golden gates are lifted up, <br> The doors are opened wide, <br> The King of Glory is gone in <br> Unto His Father's side.<br>2 Thou art gone up before us, Lord, <br> To make for us a place, <br> That we may be where now Thou art, <br> And look upon God's face.<br>3 And ever on our earthly path <br> A gleam of glory lies, <br> A light still breaks behind the cloud <br> That veiled Thee from our eyes.<br>4 Lift up our hearts, lift up our minds; <br> Let Thy dear grace be given, <br> That while we wander here below, <br> Our treasure be in heaven;<br>5 That where Thou art, at God's right hand, <br> Our hope, our love, may be: <br> Dwell Thou in us, that we may dwell <br> For evermore in Thee. <br>  <br> Source: Redemption Hymnal #<br>196</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
