{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Ye faithful souls, who Jesus know, <br> If risen indeed with Him ye are, <br> Superior to the joys below, <br> His resurrection's power declare. <br> <br>2 Your faith by holy tempers prove, <br> By actions show your sins forgiven; <br> And seek the glorious things above, <br> And follow Christ, your Head, to heaven. <br> <br>3 There your exalted Saviour see, <br> Seated at God's right hand again, <br> In all His Father's majesty, <br> And everlasting might, to reign. <br> <br>4 Your real life, with Christ concealed, <br> Deep in the Father's bosom lies; <br> And, glorious as your Head revealed, <br> Ye soon shall meet Him in the skies. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>489</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
