{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. King of glory, King of peace
I will love Thee;
And that love may never cease
I will move Thee.
Thou hast granted my request
Thou hast heard me;
Thou didst note my working breast
Thou hast spared me. <br/><br/>2 Wherefore with my utmost art
I will sing Thee;
And the cream of all my heart
I will bring Thee.
Though my sins against me cried
Thou didst clear me;
And alone, when they replied
Thou didst hear me. <br> <br> 3 Seven whole days, not one in seven
I will praise Thee;
In my heart, though not in Heav'n
I can praise Thee.
Small it is, in this poor sort
To enroll Thee:
E'en eternity's too short
To extol Thee. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            