{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Away with gloom, away with doubt! <br> With all the morning stars we sing; <br> with all the hosts of heaven we shout <br> the praises of a King, <br> alleluia! alleluia! <br> of our returning King; <br> alleluia! alleluia! <br> of our returning King. <br> <br>2 Away with death, and welcome life; <br> in him we died and live again; <br> and welcome peace, away with strife! <br> for he returns to reign, <br> alleluia! alleluia! <br> the Crucified shall reign; <br> alleluia! alleluia! <br> the Crucified shall reign. <br> <br>3 Then welcome beauty, he is fair; <br> and welcome youth, for he is young; <br> and welcome spring; and everywhere <br> let merry songs be sung, <br> alleluia! alleluia! <br> for such a King be sung! <br> alleluia! alleluia! <br> for such a King be sung! <br>  <br> Source: Church Hymnary (<br>4th ed.) #<br>418</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
