{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Come, thou long expected Jesus, <br> born to set thy people free; <br> from our fears and sins release us, <br> let us find our rest in thee. <br> Israel's strength and consolation, <br> hope of all the earth thou art; <br> dear desire of every nation, <br> joy of every longing heart. <br> <br>2. Born thy people to deliver, <br> born a child and yet a King, <br> born to reign in us forever, <br> now thy gracious kingdom bring. <br> By thine own eternal spirit <br> rule in all our hearts alone; <br> by thine all sufficient merit, <br> raise us to thy glorious throne. <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
