{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Rejoice, the Lord is King: <br> Your Lord and King adore! <br> Rejoice, give thanks and sing, <br> And triumph evermore. <br> Lift up your heart, <br> Lift up your voice! <br> Rejoice, again I say, rejoice! <br> <br>2 Jesus, the Savior, reigns, <br> The God of truth and love; <br> When He has purged our stains, <br> He took his seat above; <br> Lift up your heart, <br> Lift up your voice! <br> Rejoice, again I say, rejoice! <br> <br>3 His kingdom cannot fail, <br> He rules o'er earth and heav'n; <br> The keys of death and hell <br> Are to our Jesus giv'n: <br> Lift up your heart, <br> Lift up your voice! <br> Rejoice, again I say, rejoice! <br> <br>4 Rejoice in glorious hope! <br> Our Lord and judge shall come <br> And take His servants up <br> To their eternal home: <br> Lift up your heart, <br> Lift up your voice! <br> Rejoice, again I say, rejoice! <br> Baptist Hymnal, <br>1991</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
