{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. I'll praise you O my Lord,
You are my light and my life.
Creator of my soul,
From you I have my nature.
Father, who knew my life,
Before the womb I dwelt,
To me your blessings give,
Now and forever more! <br/><br/>2 I'll praise you O my Lord,
You Lord my God and Savior.
The Only Son of God,
You gave your life to save me.
Your Blood was shed for me,
The Blood that washed me clean,
From all unrighteousness,
This Blood protecteth me. <br> <br> 3 I'll praise you O my Lord,
And you God, you are my Light.
The Holy Spirit God,
You come to me from Jesus.
Comfort me Spirit God,
My counsellor in life,
Strengthen, O Lord, my faith,
Be always with me Lord. <br> <br> 4 I'll praise you O my Lord,
Praise to my Lord and God give.
You are One only God,
In Father, Son, the Spirit.
The Saints in Heav'n above,
And all believers here,
Are praising you O Lord,
Your Holy Name we praise. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            