{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 SALVATION! O the joyful sound! <br> What music to our ears! <br> A sov'reign balm for every wound, <br> A cordial for our fears.Refrain: <br> Glory, honour, praise, and power, <br> Be unto the Lamb for ever! <br> Jesus Christ is our Redeemer: <br> Hallelujah! Hallelujah! <br> Hallelujah! Praise the Lord.<br>2 Salvation! O Thou bleeding Lamb, <br> To Thee the praise belongs; <br> Salvation shall inspire our hearts, <br> And dwell upon our tongues.<br>3 Salvation! Let the echo fly <br> The spacious earth around; <br> While all the armies of the sky <br> Conspire to raise the sound. <br>  <br> Source: Redemption Hymnal #<br>17</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
