{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Hark what a sound, and too divine for hearing, <br> stirs on the earth and trembles in the air! <br> Is it the thunder of the Lord's appearing? <br> Is it the music of his people's prayer?<br>2 Surely he cometh, and a thousand voices <br> shout to the saints, and to the deaf are dumb; <br> surely he cometh, and the earth rejoices, <br> glad in his coming who hath sworn: I come!<br>3 This hath he done, and shall we not adore him? <br> This shall he do, and can we still despair? <br> Come, let us quickly fling ourselves before him, <br> cast at his feet the burden of our care.<br>4 Through life and death, through sorrow and through sinning, <br> he shall suffice me, for he hath sufficed: <br> Christ is the end, for Christ was the beginning, <br> Christ the beginning, for the end is Christ. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>37</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
