{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. From north and south and east and west, <br> When shall the peoples, long unblest, <br> All find their everlasting rest, <br> O Christ, in Thee? <br> <br>2. When shall the climes of ageless snow <br> Be with the Gospel light aglow, <br> And all men their Redeemer know, <br> O Christ, in Thee? <br> <br>3. When on each southern balmy coast, <br> Shall ransomed men, in countless host, <br> Rise, heart and voice, to make sweet boast, <br> O Christ, in Thee? <br> <br>4. O when in all the Orient lands, <br> From cities white, and flaming sands, <br> Shall men lift dedicated hands, <br> O Christ, in Thee? <br> <br>5. O when shall heathen darkness roll <br> Away in light, from pole to pole, <br> And endless day by every soul <br> Be found in Thee? <br> <br>6. Bring, Lord, the long predicted hour, <br> The ages' diadem and flower, <br> When all shall find their refuge, tower, <br> And home in Thee! <br>  <br> Source: The Cyber Hymnal #<br>1635</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
