{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Saviour, we know thou art <br> In every age the same; <br> Now, Lord, in ours exert <br> The virtue of thy name; <br> And daily, through thy word, increase <br> Thy blood-besprinkled witnesses. <br> <br>2 Thy people, saved below <br> From every sinful stain, <br> Shall multiply and grow <br> If thy command ordain; <br> And one into a thousand rise, <br> And spread thy praise through earth and skies. <br> <br>3 In many a soul, and mine, <br> Thou hast displayed thy power; <br> But to thy people join <br> Ten thousand thousand more, <br> Saved from the guilt and strength of sin, <br> In life and heart entirely clean. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>629</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
