{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Triune, Trinity,
Father, Son, Spirit,
All the hosts on High sing your praise.
Grant that songs we sing here,
Songs of your redeemed ones,
We come before your throne O Lord. <br/><br/>2 God who is gracious,
You are merciful,
Grant us Lord, O Thy Word to hear.
Seek, now your lost children,
Rescue and save us Lord,
Forgive us, all our sins O Lord! <br> <br> 3 We thank you, Father,
We praise Jehovah,
Glory, be to Thy Name, dear Lord.
Let Thy Kingdom come Lord,
Come to all nations Lord,
Listen, dear Lord, we pray, Amen. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            