{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Granted is the Savior's prayer, <br> Sent the gracious Comforter; <br> Promise of our parting Lord, <br> Jesus now to Heaven restored. <br> <br>2. Christ, who now gone up on high, <br> Captive leads captivity; <br> While His foes from Him receive <br> Grace, that God with man may live. <br> <br>3. God, the everlasting God, <br> Makes with mortals His abode; <br> Whom the heavens cannot contain, <br> He vouchsafes to dwell in man. <br> <br>4. Never will He thence depart, <br> Inmate of a humble heart, <br> Carrying on His work within, <br> Striving till He casts out sin. <br> <br>5. There He helps our feeble moans, <br> Deepens our imperfect groans, <br> Intercedes in silence there, <br> Sighs the unutterable prayer. <br> <br>6. Come, divine and peaceful Guest, <br> Enter our devoted breast; <br> Life divine in us renew, <br> Thou the Gift, the Giver, too! <br>  <br> Source: The Cyber Hymnal #<br>2015</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
