{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Angels holy, high and lowly, <br> Sing the praises of the Lord! <br> Earth and sky, all living nature, <br> Man, the stamp of thy Creator, <br> Praise ye, praise ye, God the Lord! <br> <br>2 Ocean hoary, tell His glory, <br> Cliffs, where tumbling seas have roared! <br> Pulse of waters blithely beating, <br> Wave advancing, wave retreating, <br> Praise ye, praise ye, God the Lord! <br> <br>3 Rock and highland, wood and island, <br> Crag where eagle's pride hath soared, <br> Mighty mountains, purple-breasted, <br> Peaks cloud-cleaving, snowy-crested, <br> Praise ye, praise ye, God the Lord! <br> <br>4 Praise Him ever, bounteous Giver! <br> Praise Him, Father, Friend and Lord! <br> Each glad soul its free course winging, <br> Each blithe voice its free song singing, <br> Praise the great and mighty Lord! <br> Amen. <br>  <br> Source: The Hymnal #<br>76</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
