{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Holy Ghost, my Comforter, <br> Now from highest heaven appear, <br> Shed Thy gracious radiance here. <br> <br>2 Blessed Sun of grace, o'er all <br> Faithful hearts who on Thee call <br> Let Thy light and solace fall. <br> <br>3 What without Thy aid is wrought, <br> Skilful deed or wisest thought, <br> God will count but vain and nought. <br> <br>4 Cleanse us, Lord from sinful stain, <br> On the parched spirit rain, <br> Heal the wounded of its pain. <br> <br>5 Bend the stubborn will to Thine, <br> Melt the cold with fire divine, <br> Erring hearts to right incline. <br> <br>6 Grant us, Lord, who cry to Thee, <br> Steadfast in the faith to be, <br> Give Thy gift of charity. <br> <br>7 May we live in holiness, <br> And in death find happiness, <br> And abide with Thee in bliss! <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>157</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
