{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Worthy the Lamb that was slain,
To receive honor and glory;
Host of angels sing this song,
What must we do for the Lord God?
All redeemed by Jesus Christ,
Join to praise the Lamb of God. <br/><br/>2 Lamb of God was slain for us,
It was sin from us that slayed Him.
Should we yield to sin again?
That which caused the death of Jesus?
Let us cast all sin away,
And put on Christ's righteousness. <br> <br> 3 To you Lord I yield my heart,
Jesus, take this life that you gave.
Lord, receive and bless this life,
All I have I give to Jesus.
What I render, as worship,
Is my life that you redeemed. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            