{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Creator Spirit, by whose aid <br> the world's foundations first were laid, <br> come, visit ev'ry waiting mind; <br> come, pour your joys on humankind. <br> From sin and sorrow set us free; <br> may we your living temples be. <br> <br>2 O Source of light, our Counselor <br> the Father's help to us assure, <br> Come down, as promised, with your fire, <br> and hearts with heav'nly love inspire. <br> Your sacred, healing message bring <br> to sanctify us when we sing. <br> <br>3 Giver of grace, descend from high <br> in answer to our earnest cry. <br> Help us eternal truths receive <br> and practice all that we believe. <br> Give us your wisdom that we see <br> the glory of the Trinity. <br> <br>4 Immortal honor, endless fame, <br> attend th'almighty Father's name; <br> the Savior-Son be glorified, <br> who for all humankind has died; <br> and equal adoration rise <br> to you, O Spirit, in the skies. <br>  <br> Source: Christian Worship: Hymnal #<br>589</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
