{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father of all, in whom alone <br> We live and move and breathe, <br> One bright celestial ray dart down <br> And cheer thy sons beneath. <br> <br>2 When in thy word we search for thee, <br> We search with trembling awe; <br> Open our eyes and let us see <br> The wonders of thy law. <br> <br>3 Now let our darkness comprehend <br> The light that shines so clear; <br> Now the revealing Spirit send, <br> And give us ears to hear. <br> Amen. <br>  <br> Source: The Hymnal #<br>54</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
