{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come Holy Ghost, our hearts inspire, <br> let us thine influence prove; <br> source of the old prophetic fire, <br> fountain of life and love.<br>2 Come, Holy Ghost, for, moved by thee, <br> thy prophets wrote and spoke: <br> unlock the truth, thyself the key, <br> unseal the sacred book.<br>3 Expand thy wings, celestial Dove, <br> brood o'er our nature's night; <br> on our disordered spirits move, <br> and let there now be light.<br>4 God, through himself, we then shall know, <br> if thou within us shine; <br> and sound, with all thy saints below, <br> the depths of love divine. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>239</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
