{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Earth and heav'n and all therein
Glorify the Lord and praise,
Come my soul your treasure bring,
To reveal God's glory now. <br/><br/>2 See the sun and moon and stars,
How their splendors fill the skies.
To reveal God's glory bright,
Day and night they praise His Name. <br> <br> 3 So the beauty of the earth,
Majestic in wondrous life;
Beauty from its teeming life,
Glorifies the Lord our God! <br> <br> 4 Birds of air too sing your praise,
Rivers, seas and springs and lakes;
Lightening, thunder, earthquake, storms,
All reveal the power of God. <br> <br> 5 Wonderful, you are my God
As I ponder all your works.
Show me now your glory Lord,
Lord of love, I worship you. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            