{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Come, ye sinners, poor and needy, <br> weak and wounded, sick and sore; <br> Jesus ready stands to save you, <br> full of pity, love, and pow'r. <br> <br><br>2 Come, ye thirsty, come, and welcome, <br> God's free bounty glorify; <br> true belief and true repentance, <br> every grace that brings you nigh. <br> <br><br>3 Let not conscience make you linger, <br> nor of fitness fondly dream; <br> all the fitness He requireth <br> is to feel your need of Him. <br> <br><br>4 Come, ye weary, heavy laden, <br> lost and ruined by the fall; <br> if you tarry till you're better, <br> you will never come at all. <br> <br><br>5 Lo! th'incarnate God, ascended, <br> pleads the merit of His blood; <br> venture on Him, venture wholly; <br> let no other trust intrude. <br>  <br> Source: Psalms and Hymns to the Living God #<br><br>203</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
