{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Wonderful is our God the Father,
None can compare with Him in glory,
You are so mighty, majestic.
Radiantly bright you shine with splendor,
The Light is robe for you our Father,
You wear as garment, glorious light.
You have in power made all the heavens,
The sun and moon and stars you made.
Your glorious throne is set in Heaven,
No eye has seen your glorious being. <br/><br/>2 In the beginning, you made all things,
Heaven and earth, you Lord created,
The earth you caused to be apart.
The earth was covered with much water,
The waters rose above the mountains,
The Spirit moved over waters.
The waters you caused to be gathered,
The waters were apart from land,
Mountains appeared, and land was then seen,
The waters gathered as the Sea. <br> <br> 3 You caused the rain to form above us,
You send the rain from clouds above us,
With winds you send the rain to us.
Lightening with thunderstorms, the
[rain comes,
The rain descends from clouds above us,
The falling rain is sent from you.
The winds are like your angels coming,
The lightening is like servant sent,
They come revealing, Lord your power,
Your greatness, see with fear of you. <br> <br> 4 In this life, Lord I'll always praise you,
In all my life, I'll praise my Maker,
I shall give thanks and glorify.
All people come and praise the Lord God,
Come join to sing and praise the Maker,
The Lord is worthy of all praise.
Sinners shall not have life forever,
They shall too soon perish in life,
The righteous shall love Lord their Savior,
They shall rejoice in God their Lord. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            