{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 In loving kindness Jesus came <br> My soul in mercy to reclaim, <br> And from the depths of sin and shame <br> Through grace He lifted me. <br> Refrain: <br> From sinking sand He lifted me, <br> With tender hand He lifted me, <br> From shades of night to plains of light, <br> O praise His name, He lifted me! <br> <br>2 He called me long before I heard, <br> Before my sinful heart was stirred, <br> But when I took Him at His word, <br> Forgiven He lifted me. [Refrain] <br> <br>3 His brow was pierced with many a thorn, <br> His hands by cruel nails were torn, <br> When from my guilt and grief, forlorn, <br> In love He lifted me. [Refrain] <br> <br>4 Now on a higher plane I dwell, <br> And with my soul I know 'tis well; <br> Yet how or why, I cannot tell, <br> He should have lifted me. [Refrain] <br>  <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>399</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
