{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, the sinner's Friend, to Thee, <br> Lost and undone, for aid I flee, <br> Weary of earth, myself, and sin; <br> Open Thine arms, and take me in. <br> <br>2 Pity and heal my sin-sick soul; <br> 'Tis Thou alone canst make me whole; <br> Dark, till in me Thine image shine, <br> And lost, I am, till Thou art mine. <br> <br>3 At last I own it cannot be <br> That I should fit myself for Thee: <br> Here, then, to Thee I all resign; <br> Thine is the work, and only Thine. <br> <br>4 What shall I say Thy grace to move? <br> Lord, I am sin, but Thou art love: <br> I give up every plea beside- <br> Lord, I am lost, but Thou hast died. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>407</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
