{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, O Thou all-victorious Lord, <br> Thy power to us make known; <br> Strike with the hammer of the Word, <br> And break these hearts of stone. <br> <br>2 O that we all might now begin <br> Our foolishness to mourn! <br> And turn at once from every sin, <br> And to the Savior turn. <br> <br>3 Give us ourselves and Thee to know <br> In this our gracious day: <br> Repentance unto life bestow, <br> And take our sins away. <br> <br>4 Convince us first of unbelief, <br> And freely then release: <br> Fill every soul with sacred grief, <br> And then with sacred peace. <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>180</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
