{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 With broken heart and contrite sigh <br> A trembling sinner, Lord, I cry: <br> Thy pardoning grace is rich and free <br> O God, be merciful to me. <br> <br>2 I smite upon my troubled breast, <br> With deep and conscience guilt oppressed; <br> Christ and His cross my only plea: <br> O God, be merciful to me. <br> <br>3 Far off I stand with tearful eyes, <br> Nor dare uplift them to the skies; <br> But Thou dost all my anguish see: <br> O God, be merciful to me. <br> <br>4 Nor alms, nor deeds that I have done, <br> Can for a single sin atone; <br> To Calvary alone I flee: <br> O God, be merciful to me. <br> <br>5 And when, redeemed from sin and hell, <br> With all the ransomed throng I dwell, <br> My raptured song shall ever be, <br> God has been merciful to me. <br> Hymnal: according to the use of the Protestant Episcopal Church in the United States of America, <br>1871</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
