{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesu Redeemer, Saviour, Lord, <br> The weary sinner's friend, <br> Come to my help, pronounce the word, <br> And bid my troubles end. <br> <br>2 Deliv'rance to my soul proclaim, <br> And life and liberty: <br> Shed forth the virtue of thy name, <br> And Jesus prove to me. <br> <br>3 Thy pow'rful Spirit can subdue <br> Unconquerable sin; <br> Cleanse my foul heart, and make it new, <br> And write thy law within. <br> <br>4 While, full of anguish and disease, <br> My weak, distemper'd soul <br> Thy love compassionately sees, <br> O let it make me whole! <br> <br>5 To thy great name if all things now <br> A trembling homage pay, <br> Make my obdurate spirit bow, <br> My stiff-neck'd will obey. <br> <br>6 Sworn to destroy, let earth assail; <br> Nearer to save thou art; <br> Stronger than all the pow'rs of hell, <br> And greater than my heart. <br>  <br> Source: A Collection of Evangelical Hymns #CL</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
