{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Hail! Holy, Holy, Holy Lord, <br> Whom One in Three we know; <br> By all Thy heavenly hosts adored, <br> By all Thy Church below. <br> <br>2 One undivided Trinity <br> With triumph we proclaim; <br> Thy universe is full of Thee, <br> And speaks Thy glorious Name. <br> <br>3 Thee, Holy Father, we confess, <br> Thee, Holy Son, adore; <br> And Thee, the Holy Ghost, we bless <br> And worship evermore. <br> <br>4 Hail! Holy, Holy, Holy Lord, <br> This be our song to Thee, <br> Supreme, Essential One, adored <br> In co-eternal Three! <br> Amen. <br>  <br> Source: Common Service Book of the Lutheran Church #<br>162</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
