{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 How can a sinner know <br> His sins on earth forgiven? <br> How can my gracious Savior show <br> My name inscribed in heaven? <br> <br>2 What we have felt and seen <br> With confidence we tell; <br> And publish to the sons of men <br> The signs infallible. <br> <br>3 We who in Christ believe <br> That He for us hath died, <br> We all His unknown peace receive, <br> And feel His blood applied. <br> <br>4 Exults our rising soul, <br> Disburdened of her load, <br> And swells unutterably full <br> Of glory and of God. <br> <br>5 His love surpassing far <br> The love of all beneath <br> We find within our hearts, and dare <br> The pointless darts of death. <br> <br>6 Stronger than death or hell <br> The sacred power we prove; <br> And, conquerors of the world, we dwell <br> In heaven, who dwell in love. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>264</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
