{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Eternal Sun of righteousness, <br> Display Thy beams divine, <br> And cause the glory of Thy face <br> Upon my heart to shine. <br> <br>2. Light, in Thy light, oh, may I see, <br> Thy grace and mercy prove, <br> Revived, and cheered, and blest by Thee, <br> The God of pardoning love. <br> <br>3. Lift up Thy countenance serene, <br> And let Thy happy child <br> Behold, without a cloud between, <br> The Father reconciled. <br> <br>4. On me Thy promised grace bestow, <br> The peace by Jesus givÂn; <br> The joys of holiness below, <br> And then the joys of HeavÂn. <br>  <br> Source: The Cyber Hymnal #<br>1377</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
