{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Let him to whom we now belong <br> his sovereign right assert, <br> and take up every thankful song <br> and every loving heart. <br> <br>2 He justly claims us for his own, <br> who bought us with a price: <br> as Christian live to Christ alone, <br> to Christ alone we die. <br> <br>3 We come in deep humility <br> your easy yoke to prove, <br> and own it perfect liberty <br> to serve the Lord we love. <br> <br>4 Jesus, your own at last receive, <br> fulfil our heartsÂ desire; <br> and let us to thy glory live <br> and in thy cause expire. <br> <br>5 Our souls and bodies we resign; <br> with joy we render thee <br> our all, no longer ours, but Thine, <br> to all eternity. <br>  <br>  <br> Source: Together in Song: Australian hymn book II #<br>563</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
