{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br><br>1. Being of beings, God of Love! <br> To Thee our hearts we raise; <br> Thine all-sustaining power we prove, <br> And gladly sing Thy praise. <br> <br><br><br>2. Thine, only Thine, we pant to be; <br> Our sacrifice receive; <br> Made, and preserved, and saved by Thee, <br> To Thee ourselves we give. <br> <br><br><br>3. Heavenward our every wish aspires: <br> For all Thy mercies' store, <br> The sole return Thy love requires <br> Is that we ask for more. <br> <br><br><br>4. For more we ask; we open then <br> Our hearts to embrace Thy will; <br> Turn, and revive us, Lord, again, <br> With all Thy fulness fill. <br> <br><br><br>5. Come, Holy Ghost, the Saviour's love <br> Shed in our hearts abroad! <br> So shall we ever live, and move, <br> And be, with Christ in God. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br><br><br>2</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
