{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Before Jehovah's aweful throne, <br> ye nations, bow with sacred joy; <br> know that the Lord is God alone: <br> he can create, and he destroy.<br><br>2 His sovereign power, without our aid, <br> made us of clay, and formed us then; <br> and, when like wandering sheep we strayed, <br> he brought us to his fold again.<br><br>3 We'll crowd thy gates with thankful songs, <br> high as the heavens our voices raise; <br> and earth, with her ten thousand tongues, <br> shall fill thy courts with sounding praise.<br><br>4 Wide as the world is thy command, <br> vast as eternity thy love; <br> firm as a rock thy truth must stand, <br> when rolling years shall cease to move. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br><br>597</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
