{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. If God would give me thousand tongues now,
And thousand, thousands more than that;
I shall use all to praise Him always,
To glorify His Holy Name,
And shall extol Him with my heart
And glorify His Holy Name. <br/><br/>2 I shall proclaim His glorious splendors,
And share with all, His wondrous works.
His fame shall spread in earth and heaven,
His righteousness to manifest;
My heart and soul shall sing His praise.
To magnify His Name abroad. <br> <br> 3 The forest trees with plants of all kinds,
Come forth and praise the Lord your God.
You grass and flowers of the fields here,
So beautiful the Lord made you;
Come forth display His glorious power,
Come join the joyful praise of God. <br> <br> 4 Let all His works join in this worship,
Revealing all His glorious works,
And tell His splendor and His beauty,
The splendor of His Majesty,
Lift up your voice His creatures all,
Speak of the Glory of the Lord. <br> <br> 5 We must give praise and thanks to our God,
To God the Father of us all;
From whom we have our bodies and minds,
From whom we have the soul and all.
The Lord who made and placed us here,
That we may bear much fruit for Him! <br> <br> 6 In all my life, you Lord have blessed me,
I testify of your great love.
In all my troubles and distresses,
You Lord my God have been with me.
In storms so fearful and so great,
I have received your comfort, Lord. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            