{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 We give immortal praise <br> to God the Father's love <br> for all our comforts here, <br> and better hopes above: <br> he sent his own <br> eternal Son, <br> to die for sins <br> that man had done.<br>2 To God the Son belongs <br> immortal glory too, <br> who bought us with his blood <br> from everlasting woe: <br> and now he lives, <br> and now he reigns, <br> and sees the fruit <br> of all his pains.<br>3 To God the Spirit's name <br> immortal worship give, <br> whose new-creating power <br> makes the dead sinner live: <br> his work completes <br> the great design, <br> and fills the soul <br> with joy divine.<br>4 Almighty God, to thee <br> be endless honours done, <br> the undivided Three, <br> and the mysterious One: <br> where reason fails <br> with all her powers, <br> there faith prevails, <br> and love adores. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>278</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
