{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 My God, I am thine; <br> What a comfort divine, <br> What a blessing to know that my Jesus is mine! <br> Refrain: <br> Hallelujah, send the glory! <br> Hallelujah, amen! <br> Hallelujah, send the glory! <br> Revive us again. <br> <br>2 In the heavenly Lamb <br> Thrice happy I am, <br> And my heart it doth dance at the sound of his name. <br> <br>3 True pleasures abound <br> In the rapturous sound, <br> And whoever has found it hath Paradise found. <br> <br>4 My Jesus to know, <br> And feel his blood flow, <br> ÂTis Life everlasting, Âtis Heaven below. <br> <br>5 Yet onward I haste <br> To the heavenly feast, <br> That, that is the fulness, but this is the taste. <br> <br>6 And this I shall prove, <br> Till with joy I remove <br> To the Heaven of heavens in JesusÂ love. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>355</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
