{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Father of heaven, whose love profound
A ransom for our souls has found,
Before your throne we sinners bend,
To us your pardoning love extend. <br/><br/>2 Almighty Son, incarnate Word,
Our Prophet, Priest, Redeemer, Lord,
Before your throne we sinners bend,
To us your saving grace extend. <br> <br> 3 Eternal Spirit, by whose breath
Our souls are raised from sin and death,
Before your throne we sinners bend,
To us your quickening power extend. <br> <br> 4 Jehovah Father, Spirit, Son
Mysterious Godhead, Three in One,
Before your throne we sinners bend,
Grace, pardon, life to us extend. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            