{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 When all your mercies, O my God, <br> my waking soul surveys, <br> transported with the view, I'm lost <br> in wonder, love, and praise. <br> <br>2 Ten thousand thousand precious gifts <br> my daily thanks employ, <br> nor is the least a cheerful heart <br> that tastes these gifts with joy. <br> <br>3 Through ev'ry passing phase of life <br> your goodness I'll pursue <br> and after death, in distant worlds, <br> the glorious theme renew. <br> <br>4 Through all eternity to you <br> a joyful song I'll raise, <br> but, oh, eternity's too short <br> to utter all your praise. <br>  <br> Source: Christian Worship: Hymnal #<br>604</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
