{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, thou Fount of every blessing; <br> tune my heart to sing thy grace; <br> streams of mercy, never ceasing, <br> call for songs of loudest praise. <br> Teach me some melodious sonnet, <br> sung by flaming tongues above; <br> praise the mount! IÂm fixed upon it, <br> mount of GodÂs unchanging love! <br> <br>2 Here I raise my Ebenezer; <br> hither by thy help IÂm come; <br> and I hope, by thy good pleasure, <br> safely to arrive at home. <br> Jesus sought me when a stranger, <br> wandering from the fold of God; <br> he, to rescue me from danger, <br> interposed his precious blood. <br> <br>3 O to grace how great a debtor <br> daily IÂm constrained to be! <br> Let that grace now, like a fetter, <br> bind my wandering heart to thee. <br> Prone to wander, Lord, I feel it, <br> prone to leave the God I love; <br> hereÂs my heart; O take and seal it; <br> seal it for thy courts above. <br> Glory to God: the Presbyterian Hymnal (<br>2003)</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
