{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Awake, our souls; away, our fears; <br> let every trembling thought be gone; <br> awake and run the heavenly race, <br> and put a cheerful courage on.<br>2 True, 'tis a strait and thorny road, <br> and mortal spirits tire and faint; <br> but they forget the mighty God <br> that feeds the strength of every saint:<br>3 The mighty God, whose matchless power <br> is ever new and ever young, <br> and firm endures, while endless years <br> their everlasting circles run.<br>4 From thee, the overflowing spring, <br> our souls shall drink a fresh supply, <br> while such as trust their native strength <br> shall melt away, and droop, and die.<br>5 Swift as an eagle cuts the air, <br> we'll mount aloft to thine abode; <br> on wings of love our souls shall fly, <br> nor tire amidst the heavenly road. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>115</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
