{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 IÂve found a Friend, O such a Friend! <br> He loved me ere I knew Him; <br> He drew me with the cords of love, <br> And thus He bound me to Him; <br> And round my heart still closely twine <br> Those ties which naught can sever, <br> For I am His, and He is mine, <br> Forever and forever. <br> <br>2 IÂve found a Friend, O such a Friend! <br> He bled, He died to save me; <br> And not alone the gift of life, <br> But His own self He gave me. <br> Naught that I have mine own I call, <br> IÂll hold it for the giver; <br> My heart, my strength, my life, my all <br> Are His, and His forever. <br> <br>3 IÂve found a Friend, O such a Friend! <br> So kind and true and tender, <br> So wise a counsellor and guide, <br> So mighty a defender! <br> From Him who loves me now so well, <br> What power my soul shall sever? <br> Shall life or death, shall earth or hell? <br> No! I am His forever. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>309</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
