{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O bless the Lord, my soul! <br> Let all within me join <br> and aid my tongue to bless his name <br> whose favors are divine. <br> <br>2 O bless the Lord, my soul, <br> nor let his mercies lie <br> forgotten in unthankfulness <br> and without praises die. <br> <br>3 'Tis he forgives your sins, <br> 'tis he relieves your pain, <br> 'tis he that heals your sicknesses <br> and makes you young again. <br> <br>4 He fills the poor with good; <br> he gives the suff'rers rest. <br> The Lord has judgments for the proud <br> and justice for th'oppressed. <br> <br>5 His wondrous works and ways <br> he made by Moses known <br> but sent the world his truth and grace <br> by his beloved Son. <br>  <br> Source: Christian Worship: Hymnal #<br>623</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
