{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 My God, I love Thee, not because <br> I hope for heav'n thereby, <br> nor yet for fear that, loving not, <br> I might forever die. <br> But for that Thou didst all mankind <br> upon the cross embrace; <br> for us didst bear the nails and spear, <br> and manifold disgrace; <br> <br>2 And griefs and torments numberless, <br> and sweat of agony, <br> e'en death itself, and all for man, <br> who was Thine enemy. <br> Then why, most loving Jesus Christ, <br> should I not love Thee well? <br> Not for the sake of winning heav'n, <br> nor any fear of hell; <br> <br>3 Not with the hope of gaining aught, <br> nor seeking a reward, <br> but as Thyself hast loved me, <br> O ever-loving Lord! <br> E'en so I love Thee, and will love, <br> and in Thy praise will sing, <br> solely because Thou art my God, <br> and my eternal King! <br>  <br> Source: Psalms and Hymns to the Living God #<br>336</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
