{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 My soul, praise the Lord! <br> O God, thou art great; <br> The earth and all things <br> Thyself didst create. <br> Thou laidst the foundation <br> Of seas and of lands, <br> And stretched out the heavens <br> As works of thy hand. <br> <br>2 The earth where we dwell <br> That journeys through space <br> Turns countries around <br> To see the sun's face; <br> And high o'er the mountains <br> The clouds gather rain <br> To drop o'er the valleys <br> In blessings again. <br> <br>3 O God, thou art great! <br> My pleasure shall be <br> To muse on the good <br> And greatness I see. <br> My full adoration <br> I gladly shall give. <br> My soul, praise the Lord now <br> And long as I live. <br>  <br> Source: The Hymnal #<br>12</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
