{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Now let us see Thy beauty, Lord, <br> As we have seen before; <br> And by Thy beauty quicken us <br> To love Thee and adore. <br> <br>2 ÂTis easy when with simple mind <br> Thy loveliness we see, <br> To consecrate ourselves afresh <br> To duty and to Thee. <br> <br>3 Our every feverish mood is cooled, <br> And gone is every load, <br> When we can lose the love of self, <br> And find the love of God. <br> <br>4 ÂTis by Thy loveliness weÂre won <br> To home and Thee again, <br> And as we are Thy children true <br> We are more truly men. <br> <br>5 Lord, it is coming to ourselves <br> When thus we come to Thee; <br> The bondage of Thy loveliness <br> Is perfect liberty. <br> <br>6 So now we come to ask again, <br> What Thou hast often givÂn, <br> The vision of that loveliness <br> Which is the life of HeavÂn. <br>  <br> Source: The Cyber Hymnal #<br>8281</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
