{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. All power belongs to God Most High,
Let all come bow before Him.
Who can compare with God the Lord?
His glory none can compare.
His name and works so wonderful,
Praise Him and glorify His Name.
Laud Him and honor His Name. <br/><br/>2 His knowledge and His wisdom vast,
God's worth is unsearchable.
His ways are all inscrutable,
His judgments wondrous they are.
Who can fathom the mind of God?
Who can counsel the Lord Most High?
There is no one beside God. <br> <br> 3 Our God is great, He fills the world,
The earth serves as His footstool.
Glorious the Light around His Throne,
And this Light none can approach.
This God has now revealed Himself,
Mankind can now behold His works,
The work He did to save us. <br> <br> 4 This God is so far but so near,
He knows His own and calls them.
He sees all things; no one can hide.
He sees us all, none can hide.
Darkness is light to Him the Lord.
The midnight is as bright as day,
There is no darkness in Him. <br> <br> 5 Our Holy God, the righteous God,
His splendor shines so brightly.
All those that taste the love of God,
They shall be blessed with His peace.
They shall have everlasting life,
And they shall have eternal joy,
These none can share with others. <br> <br> 6 The Heavn'ly Father of mankind,
Deserves all praise and all thanks;
The angels bow and worship Him,
Join with us in this worship.
All power belongs to Lord our God,
Is any man like Jesus Christ?
Let all on earth adore Him. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            