{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O Jesus, Saviour, grow in me, <br> and all things else recede: <br> to you my heart would nearer be, <br> from sin be daily freed. <br> <br>2 Each day embrace my weakness, Lord, <br> with your supporting might; <br> and let my death be lost in life, <br> my darkness in your light. <br> <br>3 Let faith in you and in your strength <br> my every motive move; <br> may you alone be my delight, <br> my passion and my love. <br> <br>4 Fill me with gladness from above, <br> hold me by strength divine. <br> Lord, let the glow of your great love <br> through my whole being shine. <br> <br>5 Show me your glory more and more, <br> Lord, holy, wise, and true! <br> Your living image I would be, <br> in joy and sorrow too. <br> <br>6 Make this poor self grow less and less, <br> and be yourself my aim; <br> and through your grace, make me each day <br> more worthy of your name. <br>  <br> Source: Together in Song: Australian hymn book II #<br>575</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
