{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 My spirit longs for thee <br> within my troubled breast, <br> though I unworthy be <br> of so divine a guest.<br>2 Of so divine a guest <br> unworthy though I be, <br> yet has my heart no rest <br> unless it come from thee.<br>3 Unless it come from thee, <br> in vain I look around; <br> in all that I can see <br> no rest is to be found.<br>4 No rest is to be found <br> but in thy blessed love: <br> O let my wish be crowned, <br> and send it from above! <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>130a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
