{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Lord our God, the great Jehovah,
Our sinful eyes cannot behold you,
Yet you are close and near to us.
None can think your thoughts, O Father,
You are so great and fill the whole world,
You are the Lord of all in all.
You are the Lord the God,
Alpha and Omega,
Everlasting,
Your greatness none can comprehend;
Our knowledge is so small, compared. <br/><br/>2 The clouds form a seat for you Lord,
The earth is like to you a footstool,
We are so small, compared with you.
What the Seraphim consider,
The human knowledge can't imagine,
Midnight and Day are same to you,
Darkness and light alike,
Are same before you Lord,
There's no darkness
In you O Lord, Your robe is light,
You are the Holy Father, God. <br> <br> 3 Everlasting King, Jehovah,
The universe you made, so mighty,
All things we see display your power.
Earth and heav'n you made in beauty,
In power you sustain earth and heaven,
You are the King of this whole world.
In you is found knowledge.
Righteous judgments you have,
You are perfect.
You are so pure, your thoughts are right,
The everlasting God you are. <br> <br> 4 God of love, and God of mercy,
The God of Truth, the God of glory,
Resplendent are your attributes.
You are bountiful in mercy,
Such mercy we experience daily,
Lord you are always merciful.
Adam's race you do help,
You help the small and great,
You care for us.
Wonderful God, you know our needs,
Lord, grant us grace to love you more. <br> <br> 5 Be my Father, Lord, Jehovah,
Your child Lord, I desire to be now,
I seek to love you only Lord.
All things here shall soon be no more,
The Lord shall burn all that we see now,
The Lord shall save His people then.
You are our refuge Lord,
The Savior of the world,
Hallelujah.
I long to see and praise you Lord,
I glorify and worship you. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            