{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father of all, whose powerful voice <br> Called forth this universal frame! <br> Whose mercies over all rejoice, <br> Through endless ages still the same: <br> Thou by thy word upholdest all; <br> Thy bounteous love to all is showed; <br> Thou hearest thy every creature's call, <br> And fillest every mouth with good. <br> <br>2 In heaven thou reign'st enthroned in light, <br> Nature's expanse before thee spread; <br> Earth, air, and sea before thy sight, <br> And hell's deep gloom are open laid: <br> Wisdom and might and love are thine; <br> Prostrate before thy face we fall, <br> Confess thine attributes divine, <br> And hail thee Sovereign Lord of all. <br>  <br>  <br> Source: The Voice of Praise: a collection of hymns for the use of the Methodist Church #<br>61</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
