{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 MY heart is resting, O my God, <br> I will give thanks and sing; <br> My heart is at the secret source <br> Of every precious thing.<br>2 Now the frail vessel Thou hast made <br> No hand but Thine shall fill; <br> For the waters of this world have failed <br> And I am thirsty still.<br>3 I thirst for springs of heavenly life, <br> And here all day the rise; <br> I seek the treasure of Thy love, <br> And close at hand it lies.<br>4 And a new song is in my mouth, <br> To Long-loved music setÂ <br> Glory to Thee for all Thy grace <br> I have not tasted yet.<br>5 ÂThou art my Portion,Â saith my soul, <br> Ten thousand voices say, <br> And the music of their glad Amen <br> Will never die away. <br>  <br> Source: Redemption Hymnal #<br>91</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
