{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 I need Thee ev'ry hour, <br> Most gracious Lord; <br> No tender voice like Thine <br> Can peace afford. <br> Refrain: <br> I need Thee, oh, I need Thee; <br> Ev'ry hour I need Thee; <br> Oh, bless me now, my Savior, <br> I come to Thee. <br> <br><br>2 I need Thee ev'ry hour, <br> Stay Thou nearby; <br> Temptations lose their powÂr <br> When Thou art nigh. [Refrain] <br> <br><br>3 I need Thee ev'ry hour, <br> In joy or pain; <br> Come quickly and abide, <br> Or life is vain. [Refrain] <br> <br><br>4 I need Thee ev'ry hour, <br> Teach me Thy will; <br> And Thy rich promises <br> In me fulfill. [Refrain] <br>  <br> Source: One Lord, One Faith, One Baptism: an African American ecumenical hymnal #<br><br>154</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
