{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. O Thou, our Savior, brother, friend, <br> Behold a cloud of incense rise; <br> The prayers of saints to Heaven ascend, <br> Grateful, accepted sacrifice. <br> <br>2. Regard our prayers for ZionÂs peace; <br> Shed in our hearts Thy love abroad; <br> Thy gifts abundantly increase; <br> Enlarge, and fill us all with God. <br> <br>3. Before Thy sheep, great Shepherd, go, <br> And guide into Thy perfect will; <br> Cause us Thy hallowed name to know, <br> The work of faith in us fulfill. <br> <br>4. Help us to make our calling sure; <br> O let us all be saints indeed, <br> And pure, as Thou Thyself art pure, <br> Conformed in all things to our head. <br> <br>5. Take the dear purchase of Thy blood: <br> Thy blood shall wash us white as snow; <br> Present us sanctified to God, <br> And perfected in love below. <br>  <br> Source: The Cyber Hymnal #<br>5401</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
