{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. The Lord is good glorious is His worship,
The Father adopts us all now, His children.
He loves us all with such a gracious love,
His love is banner over us, His children.
In this we have great courage in the Lord.
The Lord is good. <br/><br/>2 The Lord is good, He so much loves His own,
He chastises and shapes us to be like Him.
The Lord is slow to anger and punish,
When we are weak, He strengthens us, He heals us.
Because of Jesus, God has loved us much.
The Lord is good. <br> <br> 3 The Lord is good, He is compassionate,
He is the fountain of life in Him we live.
He seeks for us He does care for us all,
He seeks that we hear His own Word, the Gospel.
Which god is there that love his people thus.
The Lord is good. <br> <br> 4 The Lord is good, yes our God is so good,
In His bosom we all do rest, forever.
By death the Lord brings to end all suffering,
That He may receive His own into His peace.
Our rest in Him shall be a rest so sweet.
The Lord is good. <br> <br> 5 The Lord is good, we must bring thanksgiving,
Come worship Him, praise His Name now and bow to Him.
Come honor and come to glorify God,
Come praise the Son and Holy Ghost, praise the Lord.
Come praise the Lord for all His goodness here.
The Lord is good. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            