{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Thy ceaseless, unexhausted love, <br> unmerited and free, <br> delights our evil to remove, <br> and help our misery. <br> <br>2 Thou waitest to be gracious still; <br> thou dost with sinners bear, <br> that, saved, we may thy goodness feel, <br> and all thy grace declare. <br> <br>3 Thy goodness and thy truth to me, <br> to ev'ry soul abound, <br> a vast, unfathomable sea, <br> where all our thoughts are drowned. <br> <br>4 Its streams the whole creation reach, <br> so plenteous is the store, <br> enough for all, enough for each, <br> enough for evermore. <br> <br>5 Faithful, O Lord, thy mercies are, <br> a rock that cannot move; <br> a thousand promises declare <br> thy constancy of love. <br> <br>6 Throughout the universe it reigns, <br> unalterably sure; <br> and while the truth of God remains <br> the goodness must endure. <br>  <br> Source: Complete Anglican Hymns Old and New #<br>688</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
