{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Our God is True and Faithful Father,
He'll not forsake His children here.
God will employ sorrow or pleasure,
To keep His children in His will.
The hopeless and the lost have hope now,
God has provided Savior for all men. <br/><br/>2 Our God is True and Faithful Father,
He holds and cherishes His own.
He will not leave His own to perish,
He comforts them and soothes their pain,
And when we fear the wicked forces,
With His own strength, God will
[protect His own. <br> <br> 3 Our God is True and Faithful Father,
He makes us friends with Him in Christ.
I am convinced of God's salvation,
He'll save me from the enemy.
When I am tempted and discouraged,
His covenant love shall renew my strength. <br> <br> 4 Our God is True and Faithful Father
His promises are all so sure.
He guides me by His light as pilgrim,
I shall not stray from His safe paths.
His Word is True, the food I need now,
I shall have joy by keeping to His Word. <br> <br> 5 Our God is True, and Faithful Father,
I seek to be a faithful child.
Corruption of the flesh is much here,
Lord, save me from this dreadful scourge.
Help me to cling to you, dear Jesus,
Give me your peace to live here on
[this earth. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            