{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. To the Father, I'll bring praises,
Vast your glorious nature is.
You are God of earth and heaven,
Lord who cares for all in life.
Thy greatness, Thy might, Oh Father,
Evident in all we see. <br/><br/>2 God of heaven, Lord Almighty,
You are God, above all things.
You created, all things living,
By your Word you made the world.
And you are the world's sustainer,
Wondrous are your works Oh Lord. <br> <br> 3 Omniscient God, you know all things,
Seasons and all times you know.
Thousand years of life, before you,
Are like nothing in your sight.
You are everlasting Father,
You remain forever God. <br> <br> 4 All creation, all living things,
Are from you, and life you gave.
What can separate us, from you Lord?
You our God so ever near.
For your Spirit dwells with us Lord,
Life eternal, you have giv'n. <br> <br> 5 Lord of earth, and Lord of heaven,
In you Lord, alone we trust.
May we see you glorious Father,
Worship you with all our hearts.
Grant that we may fear you, love you,
Grant that we may see Thy face. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            