{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Jehovah, God,
The Lord Almighty, praise Him.
Omnipotent,
Almighty God I know Him,
I'll praise His glorious Name on earth. <br/><br/>2 What God desires,
He does and that endureth,
All things He made,
He sustains all He made here,
That they may not perish in life. <br> <br> 3 Holy is God,
There is no sin in Lord God,
He is the Head,
All things are subject to Him,
His Throne is everlasting Throne. <br> <br> 4 The Lord is God,
He is sufficient Lord God,
He is so full,
With love and grace and mercy,
All things are possible with Him. <br> <br> 5 What is in heav'n,
And what we find on this earth,
He knows all things,
He is Omniscient Lord God,
All things are visible to Him. <br> <br> 6 The Lord is near,
He searches me and knows me,
He knows me well,
My goings out and comings,
My ways in life, He fully knows. <br> <br> 7 My mind God knows,
My troubles are no barrier,
He hears my cries; He is ready to help me,
His eyes are always on me here. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            