{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God moves in a mysterious way <br> His wonders to perform; <br> He plants His footsteps in the sea <br> and rides upon the storm. <br> <br>2 Deep in unfathomable mines <br> of never-failing skill; <br> He treasures up His bright designs, <br> and works His sov'reign will. <br> <br>3 Ye fearful saints, fresh courage take; <br> the clouds ye so much dread <br> are big with mercy and shall break <br> in blessings on your head. <br> <br>4 Judge not the Lord by feeble sense, <br> but trust Him for His grace; <br> behind a frowning providence <br> He hides a smiling face. <br> <br>5 His purposes will ripen fast, <br> unfolding every hour; <br> the bud may have a bitter taste, <br> but sweet will be the flow'r. <br> <br>6 Blind unbelief is sure to err, <br> and scan His work in vain; <br> God is His own interpreter, <br> and He will make it plain. <br>  <br> Source: Psalms and Hymns to the Living God #<br>412</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
