{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 My spirit on Thy care, <br> Blest Saviour, I recline; <br> Thou wilt not leave me to despair, <br> For Thou art love divine. <br> <br>2 In Thee I place my trust, <br> On Thee I calmly rest; <br> I know Thee good, I know Thee just, <br> And count Thy choice the best. <br> <br>3 Whate'er events betide, <br> Thy will they all perform: <br> Safe in Thy breast my head I hide, <br> Nor fear the coming storm. <br> <br>4 Let good or ill befall, <br> It must be good for me; <br> Secure of having Thee in all, <br> Of having all in Thee. <br> The Hymnal: revised and enlarged as adopted by the General Convention of the Protestant Episcopal Church in the United States of America in the year of our Lord <br>1892</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
