{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 As helpless as a child who clings, <br> Fast to his father's arm, <br> And casts his weakness on the strength <br> That keeps him safe from harm; <br> So I, my Father, cling to Thee, <br> And every passing hour <br> Would link my earthly feebleness <br> To Thine Almighty power. <br> <br>2 As trustful as a child who looks <br> Up in his mother's face, <br> And all his little griefs and fears <br> Forgets in her embrace; <br> So I to Thee, my Saviour, look <br> And in Thy face Divine, <br> Can read the love that will sustain <br> As weak a faith as mine. <br> <br>3 As loving as a child who sits <br> Close by his parent's knee, <br> And knows no want while it can have <br> That sweet society; <br> So, sitting at Thy feet, my heart <br> Would all its love outpour, <br> And pray that Thou wouldst teach me, Lord, <br> To love Thee more and more. <br> Amen. <br>  <br> Source: Voices of Praise: for school and church and home #<br>174</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
