{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Begone, unbelief, <br> My Saviour is near, <br> And for my relief <br> Will surely appear; <br> By prayer let me wrestle, <br> And he will perform; <br> With Christ in the vessel, <br> I smile at the storm. <br> <br>2 Though dark be my way, <br> Since he is my guide, <br> ÂTis mine to obey, <br> ÂTis his to provide; <br> Though cisterns be broken <br> And creatures all fail, <br> The word he has spoken <br> Will surely prevail. <br> <br>3 His love in time past <br> Forbids me to think <br> HeÂll leave me at last <br> In trouble to sink; <br> Each sweet Ebenezer <br> I have in review <br> Confirms his good pleasure <br> To help me quite through. <br> <br>4 Since all that I meet <br> Shall work for my good, <br> The bitter is sweet, <br> The medicine food; <br> Though painful at present, <br> ÂTwill cease before long, <br> And then O how pleasant <br> The conquerorÂs song! <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>712</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
