{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>I will not let Thee go; Thou Help in time of need! <br> Heap ill on ill <br> I trust Thee still, <br> E'en when it seems that thou wouldst slay indeed! <br> Do as Thou wilt with me, <br> I yet will cling to Thee, <br> Hide Thou Thy face, yet, Help in time of need, <br> I will not let Thee go! <br> I will not let Thee go; should I forsake my bliss? <br> No, Lord, Thou'rt mine, <br> And I am Thine, <br> Thee will I hold when all things else I miss. <br> Though dark and sad the night, <br> Joy cometh with Thy light, <br> O Thou my Sun; should I forsake my bliss? <br> I will not let Thee go! <br> I will not let Thee go, my God, my Life, my Lord! <br> Not Death can tear <br> Me from His care, <br> Who for my sake His soul in death outpoured. <br> Thou diedst for love to me, <br> I say in love to Thee, <br> E'en when my heart shall break, my God, my Life, my Lord, <br> I will not let Thee go! <br>  <br> Source: Lyra Germanica: The Christian Year #<br>25</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
