{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O blessed LifeÂthe heart at rest <br> When all without tumultuous seemsÂ <br> That trusts a higher Will, and deems <br> That higher Will, no mine, the best. <br> <br>2 O blessed LifeÂthe mind that sees, <br> Whatever change the years may bring, <br> A mercy still in evÂrything, <br> And shining through all mysteries. <br> <br>3 O blessed LifeÂthe soul that soars, <br> When sense of mortal sight is dim, <br> Beyond the senseÂbeyond to Him <br> Whose love unlocks the heavenly doors. <br> <br>4 O blessed LifeÂheart, mind, and soul, <br> From self-born aims and wishes free, <br> In all at one with Deity, <br> And loyal to the LordÂs control. <br> <br>5 O Life, how blessed, how divine, <br> High Life, the earnest of a higher: <br> Saviour, fulfil my deep desire, <br> And let this blessed Life be mine. <br>  <br>  <br> Source: Hymns of Consecration and Faith #<br>230</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
