{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. God is so kind,
He loved the world so much,
Eternal love He gave.
God's own we are,
He made us by His grace,
In God's own image made.
But we forsook the Lord our maker,
And turned against the One who made us,
He loves us still. <br/><br/>2 Omniscient God,
God who knows everything,
And also sees all things.
And this God knows,
That we are blind and lost,
And grope in this dark world.
He searches for His own, He calls us,
Salvation God did plan for lost ones,
What love for us? <br> <br> 1 God is so kind,
He loved the world so much,
Eternal love He gave.
God's own we are,
He made us by His grace,
In God's own image made.
But we forsook the Lord our maker,
And turned against the One who made us,
He loves us still. <br> <br> 2 Omniscient God,
God who knows everything,
And also sees all things.
And this God knows,
That we are blind and lost,
And grope in this dark world.
He searches for His own, He calls us,
Salvation God did plan for lost ones,
What love for us? <br> <br> 5 Sinners we are,
God's glory we have lost,
Dead we are, bound in sin.
God we forsook,
Forgot the Lord our God,
Our backs we turned to Him.
The gracious, merciful our Father,
He sent His only Son to save us,
God is so kind. <br> <br> 6 So let us sing,
Sing praises to our God,
For God is love indeed.
This world He made,
In wisdom He made all,
In love He saved the world.
So wondrous is Thy love O Lord, God,
Abundant love you poured upon us,
You are our love. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            