{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Come, my soul, thy suit prepare, <br> Jesus loves to answer prayer. <br> He Himself has bid thee pray, <br> rise and ask without delay. <br> <br><br>2 Thou art coming to a King, <br> large petitions with thee bring, <br> for his grace and pow'r are such, <br> none can ever ask too much. <br> <br><br>3 With my burden I begin, <br> Lord, remove this load of sin! <br> Let Thy blood, for sinners spilt, <br> set my conscience free from guilt. <br> <br><br>4 Lord! I come to Thee for rest, <br> take possession of my breast; <br> there Thy blood-bought right maintain, <br> and without a rival reign. <br> <br><br>5 While I am a pilgrim here, <br> let Thy love my spirit cheer; <br> as my Guide, my Guard, my Friend, <br> lead me to my journeyÂs end. <br> <br><br>6 Show me what I have to do; <br> every hour my strength renew; <br> let me live a life of faith; <br> let me die Thy people's death. <br>  <br> Source: Psalms and Hymns to the Living God #<br><br>376</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
