{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. My God, how wonderful Thou art,
Thy majesty how bright!
How beautiful Thy mercy-seat,
In depths of burning light! <br/><br/>2 How dread are Thine eternal years,
O everlasting Lord,
By holy angels, day and night,
Incessantly adored! <br> <br> 3 O how I fear Thee, living God,
With deepest, tenderest fears;
And worship Thee with trembling hope,
And penitential tears. <br> <br> 4 Yet I may love Thee too, O Lord,
Almighty as Thou art;
For Thou hast stooped to ask of me
The love of my poor heart. <br> <br> 5 No earthly father loves like Thee,
No mother e'er so mild
Bears and forbears, as Thou hast done
With me, Thy sinful child. <br> <br> 6 How wonderful, how beautiful,
The sight of Thee must be,
Thine endless wisdom, boundless power,
And aweful purity! <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            