{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O for a heart to praise my God, <br> a heart from sin set free; <br> a heart that's sprinkled with the blood <br> so freely shed for me: <br> <br>2 A heart resigned, submissive, meek, <br> my great Redeemer's throne; <br> where only Christ is heard to speak, <br> where Jesus reigns alone: <br> <br>3 A humble, lowly, contrite heart, <br> believing, true, and clean, <br> which neither life nor death can part <br> from him that dwells within: <br> <br>4 A heart in every thought renewed, <br> and full of love divine; <br> perfect and right and pure and good Â <br> a copy, Lord, of thine. <br> <br>5 Thy nature, gracious Lord, impart, <br> come quickly from above; <br> write thy new name upon my heart, <br> thy new best name of Love. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>132</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
