{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, all-atoning Lamb, <br> Thine, and only thine, I am; <br> Take my body, spirit, soul; <br> Only thou possess the whole. <br> <br>2 Thou my one thing needful be; <br> Let me ever cleave to thee; <br> Let me choose the better part; <br> Let me give thee all my heart. <br> <br>3 Fairer than the sons of men, <br> Do not let me turn again, <br> Leave the fountain-head of bliss, <br> Stoop to worldly happiness. <br> <br>4 All my treasure is above, <br> All my riches is thy love; <br> Who the worth of love can tell? <br> Infinite, unsearchable. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>497</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
