{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 When, my Saviour, shall I be <br> Perfectly conformed to thee? <br> Poor and vile in my own eyes, <br> Only in thy wisdom wise; <br> <br>2 Only thee content to know, <br> Ignorant of all below; <br> Only guided by thy light, <br> Only mighty in thy might? <br> <br>3 Fully in my life express <br> All the hights of holiness; <br> Sweetly let my spirit prove <br> All the depths of humble love. <br>  <br> Source: Christ in Song: for all religious services nearly one thousand best gospel hymns, new and old with responsive scripture readings (Rev. and Enl.) #<br>187</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
