{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 What is our calling's glorious hope, <br> But inward holiness? <br> For this to Jesus I look up; <br> I calmly wait for this. <br> <br>2 I wait till he shall touch me clean-- <br> Shall life and power impart; <br> Give me the faith that casts out sin <br> And purifies the heart. <br> <br>3 This is the dear redeeming grace, <br> For every sinner free; <br> Surely it shall on me take place, <br> The chief of sinners--me. <br> <br>4 From all iniquity, from all, <br> He shall my soul redeem; <br> In Jesus I believe, and shall <br> Believe myself to him. <br> <br>5 When Jesus makes my heart his home, <br> My sin shall all depart; <br> And, lo! he saith, I quickly come, <br> To fill and rule thy heart. <br> <br>6 Be it according to thy word; <br> Redeem me from all sin; <br> My heart would now receive thee, Lord; <br> Come in, my Lord, come in! <br>  <br> Source: The Voice of Praise: a collection of hymns for the use of the Methodist Church #<br>454</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
