{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. God knows you well, seek to know Him,
Creature must know His maker.
There is much suffering in this world,
Look to the Lord your Savior.
When you have Him, and walk with Him,
You shall be hated by all men,
Take heart, the Lord will save you. <br/><br/>2 God knows you well, your life He knows,
He knows you are but frail flesh.
Then march on, forward you must go,
Follow the Lord who loves you.
He'll never leave you all alone,
The one you trust is with you still,
His Arm shall hold and save you. <br> <br> 3 The Lord sees all the good you do,
He knows your loving actions.
He sees your love for needy ones,
Nothing you do escapes Him.
The water you give needy ones,
Jesus sees the good you do,
His recompense shall come soon. <br> <br> 4 God knows the end of your life here,
You do not know your life's end.
Because He loves you so much friend,
A place for you He'll prepare.
Always seek Him and seek His grace,
Leave everything to Jesus,
Your blessings shall be great soon. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            