{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father of Jesus Christ, my Lord, <br> My Saviour, and my Head, <br> I trust in Thee, whose powerful word <br> Hath rais'd Him from the dead. <br> <br>2 Thou know'st for my offence He died, <br> And rose again for me; <br> Fully and freely justified, <br> That I might live to Thee. <br> <br>3 Eternal life to all mankind <br> Thou hast in Jesus given; <br> And all who seek, in Him, shall find <br> The happiness of heaven. <br> <br>4 Obedient faith, that waits on Thee, <br> Thou never wilt reprove; <br> But Thou wilt form Thy Son in me, <br> And perfect me in love. <br> <br>5 To Thee the glory of Thy power <br> And faithfulness I give. <br> I shall in Christ, at that glad hour, <br> And Christ in me shall live. <br>  <br>  <br> Source: Evangelical Lutheran Hymn-book #<br>219</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
