{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I know that my Redeemer lives, <br> And ever prays for me; <br> A token of His love He gives, <br> A pledge of liberty. <br> <br>2 I find Him lifting up my head; <br> He brings salvation near; <br> His presence makes me free indeed, <br> And He will soon appear. <br> <br>3 He wills that I should holy be, <br> What can withstand His will? <br> The counsel of His grace in me <br> He surely shall fulfill. <br> <br>4 Jesus, I hang upon Thy word; <br> I steadfastly believe <br> Thou wilt return and claim me, Lord, <br> And to Thyself receive. <br> <br>5 When God is mine and I am His, <br> Of paradise possessed, <br> I taste unutterable bliss <br> And everlasting rest. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>166</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
