{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God of all redeeming grace, <br> By thy pard'ning love compell'd <br> Up to thee our souls we raise, <br> Up to thee our bodies yield: <br> Thou our sacrifice receive, <br> Acceptable through thy Son, <br> While to thee alone we live, <br> While we die to thee alone. <br> <br>2 Meet it is, and just and right, <br> That we should be wholly thine; <br> In thy only will delight, <br> In thy blessed service join: <br> O that ev'ry work and word <br> Might proclaim how good thou art: <br> Holiness unto the Lord <br> Still be wrote upon our heart! <br>  <br> Source: A Pocket Hymn Book: designed as a constant companion for the pious, collected from various authors (<br>9th ed.) #LXXXI</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
