{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Holy and true, and righteous Lord, <br> I wait to prove thy perfect will: <br> Be mindful of thy gracious word; <br> And stamp me with thy SpiritÂs seal. <br> <br>2 Open my faithÂs interior eye: <br> Display thy glory from above; <br> And all I am shall sink and die, <br> Lost in astonishment and love! <br> <br>3 Confound, oÂerpow'r me by thy grace: <br> I would be by myself abhor'd: <br> All might, all majesty, all praise, <br> All glory be to Christ my Lord! <br> <br>4 Now let me gain perfectionÂs height; <br> Now let me into nothing fall, <br> As less than nothing in thy sight, <br> And feel that Christ is all in all. <br>  <br> Source: A Pocket Hymn Book: designed as a constant companion for the pious, collected from various authors (<br>9th ed.) #CVII</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
