{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father, Son, and Holy Ghost, <br> One in Three and Three in One, <br> As by the celestial host, <br> Let Thy will on earth be done! <br> Praise by all to Thee be giv'n, <br> Gracious Lord of earth and heav'n. <br> <br>2 Take my soul and body's pow'rs, <br> Take my mem'ry, mind, and will, <br> All my goods and all my hours, <br> All I know and all I feel; <br> All I think, or speak, or do; <br> Take my heart, but make it new! <br> <br>3 Now, O God, Thine own I am; <br> Now I give Thee back Thine own; <br> Freedom, friends and health and fame, <br> Consecrate to Thee alone; <br> Thine I live, thrice happy I! <br> Happier still if Thine I die. <br> Amen. <br>  <br> Source: American Lutheran Hymnal #<br>479</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
