{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The Lord Jehovah reigns; <br> His throne is built on high, <br> The garments He assumes <br> Are light and majesty: <br> His glories shine with beams so bright, <br> No mortal eye can bear the sight. <br> <br>2 The thunders of His hand <br> Keep the wide world in awe; <br> His wrath and justice stand <br> To guard His holy law; <br> And where His love resolves to bless, <br> His truth confirms and seals the grace. <br> <br>3 Through all His mighty works <br> Amazing wisdom shines, <br> Confounds the powers of hell, <br> And breaks their dark designs; <br> Strong is His arm, and shall fulfil, <br> His great decrees and sovereign will. <br> <br>4 And will this sovereign King <br> Of Glory condescend? <br> And will He write His name <br> My Father and my Friend? <br> I love His name, I love His word, <br> Join all my powers to praise the Lord. <br>  <br> Source: Redemption Hymnal #<br>112</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
