{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Brightly beams our FatherÂs mercy <br> From His lighthouse evermore; <br> But to us He gives the keeping <br> Of the lights along the shore. <br> Refrain: <br> Let the lower lights be burning! <br> Send a gleam across the wave! <br> Some poor fainting, struggling seaman <br> You may rescue, you may save. <br> <br>2 Dark the night of sin has settled, <br> Loud the angry billows roar; <br> Eager eyes are watching, longing, <br> For the lights along the shore. [Refrain] <br> <br>3 Trim your feeble lamp, my brother! <br> Some poor seaman, tempest-tossed, <br> Trying now to make the harbor, <br> In the darkness may be lost. [Refrain] <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>267</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
