{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Awake, awake to love and work! <br> The lark is in the sky; <br> The fields are wet with diamond dew; <br> The worlds awake to cry <br> Their blessings on the Lord of life, <br> As He goes meekly by. <br> <br>2 Come, let thy voice be one with theirs, <br> Shout with their shout of praise; <br> See how the giant sun soars up, <br> Great lord of years and days! <br> So let the love of Jesus come <br> And set thy soul ablaze. <br> <br>3 To give and give, and give again, <br> What God hath given thee; <br> To spend thyself nor count the cost; <br> To serve right gloriously <br> The God who gave all worlds that are, <br> And all that are to be. <br>  <br> Source: Hymns for a Pilgrim People: a congregational hymnal #<br>441</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
