{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br><br><br>1 Believe not those who say <br> The upward path is smooth; <br> Lest thou should stumble in the way, <br> And faint before the truth. <br> <br><br><br><br>2 Arm, arm thee for the fight: <br> Cast useless loads away; <br> Watch through the darkest hours of night; <br> Toil through the hottest day. <br> <br><br><br><br>3 To labor and to love, <br> To pardon and endure, <br> To lift thy heart to God above, <br> And keep thy conscience pure, <br> <br><br><br><br>4 Be this thy constant aim, <br> Thy hope, thy chief delight; <br> What matter who should whisper blame <br> Or who should scorn or slight, <br> <br><br><br><br>5 If but thy God approve, <br> And if, within thy breast, <br> Thou feel the comfort of His love, <br> The earnest of His rest? <br> Amen. <br>  <br> Source: The Hymnal of The Evangelical United Brethren Church #<br><br><br><br>253</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
