{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God of almighty Love, <br> By whose sufficient grace <br> I lift my heart to things above, <br> And humbly seek Thy face. <br> Through Jesus Christ the Just <br> My faint desires receive, <br> And let me in Thy goodness trust, <br> And to Thy glory live. <br> <br>2 WhateÂer I speak or do, <br> Thy glory be my aim; <br> My offerings all be offered through <br> Thy ever-blessed Name: <br> Jesus, my single eye <br> Be fixed on Thee alone; <br> Thy Name be praised on earth, on high, <br> Thy will by all be done! <br>  <br>  <br> Source: Church Book: for the use of Evangelical Lutheran congregations #<br>402</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
