{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Let all the world in every corner sing, <br> "My God and King!" <br> The heav'ns are not too high, <br> God's praise may thither fly; <br> the earth is not too low, <br> God's praises there may grow. <br> Let all the world in every corner sing, <br> "My God and King!" <br> <br>2 Let all the world in every corner sing, <br> "My God and King!" <br> The church with psalms must shout: <br> no door can keep them out. <br> But, more than all, the heart <br> must bear the longest part. <br> Let all the world in every corner sing, <br> "My God and King!" <br>  <br> Source: Psalms and Hymns to the Living God #<br>174</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
