{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O God of Bethel, by whose hand <br> thy people still are fed, <br> who through this weary pilgrimage <br> hast all our fathers led;<br>2 Our vows, our prayers, we now present <br> before thy throne of grace; <br> God of our fathers, be the God <br> of their succeeding race.<br>3 Through each perplexing path of life <br> our wandering footsteps guide; <br> give us each day our daily bread, <br> and raiment fit provide.<br>4 O spread thy covering wings around <br> till all our wanderings cease, <br> and at our Father's loved abode <br> our souls arrive in peace. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>744a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
