{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>Refrain: <br> Lead, kindly Light, amid the gloom of evening. <br> Lord, lead me on! Lord, lead me on! <br> On through the night! On to your radiance! <br> Lead, kindly Light! <br> Lead, kindly Light, kindly Light! <br> <br>1 The night is dark, and I am far from home, <br> Direct my feet; I do not ask to see <br> The distant scene; one step enough for me. <br> So lead me onward, Lord, and hear my plea. [Refrain] <br> <br>2 Not always thus, I seldom looked for you, <br> I loved to choose and seek my path alone. <br> In spite of fear, my pride controlled my will, <br> Remember not my past, but lead me still. [Refrain] <br> <br>3 So long your pow'r has blest me on the way, <br> And still it leads, past hill and storm and night! <br> And with the morn, those angel faces smile, <br> Which I have loved long since, and lost a while. [Refrain] <br>  <br>  <br> Source: One in Faith #<br>770</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
