{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lead us, O Father, in the paths of peace; <br> Without Thy guiding hand we go astray, <br> And doubts appall, and sorrows still increase; <br> Lead us through Christ, the true and living Way. <br> <br>2 Lead us, O Father, in the paths of truth; <br> Unhelped by Thee, in error's maze we grope, <br> While passion stains and folly dims our youth, <br> And age comes on, uncheered by faith and hope. <br> <br>3 Lead us, O Father, in the paths of right; <br> Blindly we stumble when we walk alone, <br> Involved in shadows of a mortal night; <br> Only with Thee we journey safely on. <br> <br>4 Lead us, O Father, to Thy heav'nly rest, <br> However rough and steep the pathway be, <br> Through joy or sorrow, as Thou deemest best, <br> Until our lives are perfected in Thee. <br> Amen. <br>  <br>  <br> Source: Hymns for a Pilgrim People: a congregational hymnal #<br>422</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
