{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O happy band of pilgrims, <br> if onward ye will tread, <br> with Jesus as your fellow, <br> to Jesus as your Head! <br> <br>2 O happy if ye labour <br> as Jesus did for men! <br> O happy if ye hunger <br> as Jesus hungered then! <br> <br>3 The cross that Jesus carried <br> he carried as your due: <br> the crown that Jesus weareth <br> he weareth it for you. <br> <br>4 The faith by which ye see him, <br> the hope in which ye yearn, <br> the love that through all troubles <br> to him alone will turn, <br> <br>5 the trials that beset you, <br> the sorrows ye endure, <br> the manifold temptations <br> that death alone can cure. <br> <br>6 What are they but his jewels <br> of right celestial worth? <br> What are they but the ladder <br> set up to heaven on earth? <br> <br>7 O happy band of pilgrims, <br> look upward to the skies, <br> where such a light affliction <br> shall win so great a prize. <br>  <br> Source: CPWI Hymnal #<br>425</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
