{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I want a principle within <br> Of watchful, godly fear, <br> A sensibility of sin, <br> A pain to feel it near. <br> Help me the first approach to feel <br> Of pride or wrong desire; <br> To catch the wandering of my will, <br> And quench the kindling fire. <br> <br>2 From Thee that I no more may stray, <br> No more Thy goodness grieve, <br> Grant me the filial awe, I pray, <br> The tender conscience give. <br> Quick as the apple of an eye, <br> O God, my conscience make! <br> Awake my soul when sin is nigh, <br> And keep it still awake. <br> <br>3 Almighty God of truth and love, <br> To me Thy power impart; <br> The burden from my soul remove, <br> The hardness from my heart. <br> O may the least omission pain <br> My reawakened soul, <br> And drive me to that blood again, <br> Which makes the wounded whole. <br> Amen. <br>  <br> Source: Worship and Service Hymnal: For Church, School, and Home #<br>340</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
