{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O grant us light, that we may know <br> The wisdom Thou alone canst give; <br> That truth may guide where'er we go, <br> And virtue bless where'er we live. <br> <br>2 O grant us light, that we may see <br> Where error lurks in human lore. <br> And turn our doubting minds to Thee, <br> And love Thy simple word the more. <br> <br>3 O grant us light, that we may learn <br> How dead is life from Thee apart, <br> How sure is joy for all who turn <br> To Thee an undivided heart. <br> <br>4 O grant us light, in grief and pain, <br> To lift our burdened hearts above, <br> And count the very cross a gain, <br> And bless our Father's hidden love. <br> <br>5 O grant us light, when, soon or late, <br> All earthly scenes shall pass away. <br> In Thee to find the open gate <br> To deathless home and endless day. <br> The Hymnal: Published by the authority of the General Assembly of the Presbyterian Church in the U.S.A., <br>1895</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
