{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O gentle Saviour, from Thy throne on high <br> Look down in love and hear our humble cry. <br> <br>2 Go where we go, abide where we abide, <br> In life, in death, our comfort, strength and guide. <br> <br>3 O lead us daily with Thine eye of love, <br> And bring us safely to our home above. <br>  <br> Source: Hymns for Today: for Sunday Schools, Young People's Societies, The Church, The Home, Community Welfare Associations, and Patriotic Meetings #<br>250</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
