{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>Jesus, my truth, my way, <br> My sure, unerring light, <br> On thee my feeble steps I stay, <br> Which thou wilt guide aright. <br> <br>2 My wisdom and my guide, <br> My Counsellor thou art; <br> O never let me leave thy side, <br> Or from thy paths depart! <br> <br>3 Teach me the happy art <br> In all things to depend <br> On thee; O never, Lord, depart, <br> But love me to the end! <br> <br>4 Let me thy witness live, <br> When sin is all destroyed; <br> And then my spotless soul receive, <br> And take me home to God. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>597</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
