{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Away with our sorrow and fear! <br> We soon shall recover our home; <br> The city of saints shall appear, <br> The day of eternity come. <br> From earth we shall quickly remove, <br> And mount to our promised abode, <br> The house of our Father above, <br> The palace of angels and God. <br> <br>2 By faith we already behold <br> That lovely Jerusalem here; <br> Her walls are of jasper and gold, <br> As crystal her buildings are clear. <br> Immovably founded in grace, <br> She stands as she ever has stood; <br> And soon, at the end of our race, <br> We'll rest in that city of God. <br>  <br> Source: The Seventh-Day Adventist Hymn and Tune Book: for use in divine worship #<br>841</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
