{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Praise to the Lord, the Almighty, the King of creation! <br> O my soul, praise him, for he is your health and salvation! <br> Come, all who hear; now to his temple draw near, <br> join me in glad adoration. <br> <br><br>2 Praise to the Lord, above all things so wondrously reigning; <br> sheltering you under his wings, and so gently sustaining! <br> Have you not seen all that is needful has been <br> sent by his gracious ordaining? <br> <br><br>3 Praise to the Lord, who will prosper your work and defend you; <br> surely his goodness and mercy shall daily attend you. <br> Ponder anew what the Almighty can do, <br> if with his love he befriends you. <br> <br><br>4 Praise to the Lord! O let all that is in me adore him! <br> All that has life and breath, come now with praises before him. <br> Let the Amen sound from his people again; <br> gladly forever adore him. <br> Worship and Rejoice, <br><br>2003</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
