{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The homeland! the homeland! <br> The land of the free-born; <br> Theres no night in the homeland, <br> But aye the fadeless morn; <br> Im sighing for the homeland, <br> My heart is aching here; <br> Theres no pain in the homeland <br> To which Im drawing near. <br> <br>2 My Lord is in the homeland <br> With angels bright and fair; <br> Theres no sin in the homeland, <br> And no temptation there; <br> The voices of the homeland <br> Are ringing in my ears, <br> And when I think of the homeland <br> My eyes are filled with tears. <br> <br>3 For those I love in the homeland <br> Are calling me away <br> To the rest and peace of the homeland, <br> And the life beyond decay; <br> For theres no death in the homeland, <br> There is no grief above; <br> Christ brings us all to the homeland <br> Of his eternal love. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>895</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
