{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Around the throne of God in heav'n <br> thousands of children stand, <br> children whose sins are all forgiv'n, <br> a holy, happy band, <br> Refrain: <br> singing, "Glory, glory, <br> glory be to God on high." <br> <br>2 In flowing robes of spotless white <br> see ev'ry one arrayed; <br> dwelling in everlasting light <br> and joys that never fade, [Refrain] <br> <br>3 What brought them to that world above, <br> that heav'n so bright and fair, <br> where all is peace, and joy, and love; <br> how came those children there, [Refrain] <br> <br>4 Because the Savior shed his blood <br> to wash away their sin; <br> bathed in that pure and precious flood, <br> behold them white and clean, [Refrain] <br> <br>5 On earth they sought the Savior's grace, <br> on earth they loved his Name; <br> so now they see his blessed face, <br> and stand before the Lamb, [Refrain] <br>  <br>  <br> Source: Trinity Hymnal (Rev. ed.) #<br>543</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
