{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 "Forever with the Lord!" <br> Amen, so let it be! <br> Life from the dead is in that word, <br> 'Tis immortality. <br> <br>2 Here in the body pent <br> Absent from Him I roam, <br> Yet nightly pitch my moving tent <br> A days march nearer home. <br> <br>3 "Forever with the Lord!" <br> Father if 'tis Thy will, <br> The promise of that faithful word, <br> E'en here to me fulfill. <br> <br>4 So when my latest breath <br> Shall rend the vail in twain, <br> By death I shall escape from death, <br> And life eternal gain. <br> <br>5 Knowing as I am known, <br> How shall I love that word? <br> And oft repeat before the throne, <br> "Forever with the Lord!" <br>  <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>477</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
