{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 We love the place, O God, <br> wherein thine honour dwells; <br> the joy of thine abode <br> all earthly joy excels.<br>2 We love the house of prayer, <br> wherein thy servants meet; <br> and thou, O Lord, art there <br> thy chosen flock to greet.<br>3 We love the sacred font; <br> for there the holy Dove <br> to pour is ever wont <br> his blessing from above.<br>4 We love thine altar, Lord; <br> O what on earth so dear? <br> for there, in faith adored, <br> we find thy presence near.<br>5 We love the word of life, <br> the word that tells of peace, <br> of comfort in the strife, <br> and joys that never cease.<br>6 We love to sing below <br> for mercies freely given; <br> but O we long to know <br> the triumph-song of heaven.<br>7 Lord Jesus, give us grace <br> on earth to love thee more, <br> in heaven to see thy face, <br> and with thy saints adore. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>294</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
