{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Stand up and bless the Lord, <br> ye people of His choice; <br> stand up and bless the Lord your God <br> with heart and soul and voice. <br> <br>2 Though high above all praise, <br> above all blessing high, <br> who would not fear His holy name <br> and laud and magnify? <br> <br>3 O for the living flame <br> from His own altar brought, <br> to touch our lips, our minds inspire, <br> and wing to heav'n our thought! <br> <br>4 There, with benign regard, <br> our hymns He deigns to hear; <br> tho' unrevealed to mortal sense, <br> the spirit feels Him near. <br> <br>5 God is our strength and song, <br> and His salvation ours; <br> then be His love in Christ proclaimed <br> with all our ransomed pow'rs. <br> <br>6 Stand up and bless the Lord; <br> the Lord your God adore; <br> stand up and bless His glorious name <br> henceforth and evermore. <br>  <br> Source: Psalms and Hymns to the Living God #<br>176</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
