{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O God our Father, who dost make us one, <br> Heart bound to heart, in love of Thy dear Son, <br> Now as we part and go our several ways, <br> Touch every lip, may every voice be praise  <br> <br>2 Praise for the fellowship that here we find, <br> The fellowship of heart and soul and mind, <br> Praise for the bonds of love and brotherhood, <br> Bonds wrought by Thee, who makest all things good. <br> <br>3 Lord, make us strong, for Thee alone dost know <br> How oft we turn our faces from the foe; <br> How oft, when claimed by dark temptation's hour, <br> We lose our hold on Thee, and of Thy power. <br> <br>4 God with us, Lord, from hence; we only ask <br> That Thou be sharer in our daily task; <br> So, side by side with Thee, shall each one know <br> The blessedness of heaven begun below. <br>  <br> Source: The Methodist Hymn-Book with Tunes #<br>688</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
