{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Our day of praise is done; <br> the evening shadows fall; <br> but pass not from us with the sun, <br> true Light that lightenest all. <br> <br>2 Around the throne on high, <br> where night can never be, <br> the white-robed harpers of the sky <br> bring ceaseless hymns to thee. <br> <br>3 Too faint our anthems here; <br> too soon of praise we tire; <br> but O the strains how full and clear <br> of that eternal choir! <br> <br>4 Yet, Lord, to thy dear will <br> if thou attune the heart, <br> we in thine angels music still <br> may bear our lower part. <br> <br>5 Tis thine each soul to calm, <br> each wayward thought reclaim, <br> and make our life a daily psalm <br> of glory to thy name. <br> <br>6 A little while, and then <br> shall come the glorious end; <br> and songs of angels and of men <br> in perfect praise shall blend. <br>  <br> Source: CPWI Hymnal #<br>21</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
