{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, you have been our dwelling-place <br> in every generation; <br> your people have received your grace, <br> and blessed your consolation; <br> through every age you heard our cry; <br> through every age we found you nigh, <br> our strength and our salvation. <br> <br>2 Persisting sins we long have wept, <br> your patience long have tested; <br> but steadfast faith in you we kept, <br> still to your name devoted: <br> for you have kept and loved us well, <br> and granted us in you to dwell, <br> from your love never parted. <br> <br>3 Lord, nothing from your arms so sure <br> shall your own people sever; <br> our helper ever will endure, <br> God's love will fail us never. <br> Your people, Lord, have dwelt in you; <br> and you remain our dwelling true <br> for ever and for ever. <br>  <br> Source: Together in Song: Australian hymn book II #<br>144</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
