{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Sing with the tongue and heart and
[soul,
Sing to our gracious Lord.
Sing of His love and wondrous works,
And testify of Him. <br/><br/>2 Lord, you are source of all my life,
Eternal God, you are.
From you, we have all things we need,
Good things we need in life. <br> <br> 3 Lord, we are nothing in this life,
Nothing we have on earth.
All that we have come from you Lord,
You made them all for us. <br> <br> 4 Who made the heav'ns and made the
clouds?]
So majestic we see.
Who sends the rain we need for life?
That waters earth for food? <br> <br> 5 Security is from the Lord,
In Him we sleep in peace.
The peace we all have in this land,
Is from you Lord our God. <br> <br> 6 When in distress, you are so near,
You gently guide us through.
Your gracious light shines in our hearts,
You flood our hearts, with peace. <br> <br> 7 To you O Lord, I yield my life,
I trust my life to you.
You'll take care of all needs I have,
Gracious and loving God. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            