{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Father, Whose everlasting love
Thy only Son for sinners gave,
Whose grace to all did freely move,
And sent Him down the world to save; <br/><br/>2 Help us Thy mercy to extol,
Immense, unfathomed, unconfined;
To praise the Lamb who died for all,
The general Savior of mankind. <br> <br> 3 Thy undistinguishing regard
Was cast on Adam's fallen race;
For all Thou hast in Christ prepared
Sufficient, sovereign, saving grace. <br> <br> 4 The world He suffered to redeem;
For all He hath atonement made;
For those that will not come to Him
The ransom of His life was paid. <br> <br> 5 Why then, Thou universal Love,
Should any of Thy grace despair?
To all, to all, Thy bowels move,
But straitened in our own we are. <br> <br> 6 Arise, O God, maintain Thy cause!
The fullness of the Gentiles call;
Lift up the standard of Thy cross,
And all shall own Thou diedst for all. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            