{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Blest be the dear uniting love <br> That will not let us part; <br> Our bodies may far off remove, <br> We still are one in heart. <br> <br><br>2 Joined in one spirit to our Head; <br> Where He appoints we go; <br> And still in Jesus' footsteps tread, <br> And show His praise below. <br> <br><br>3 O may we ever walk in Him, <br> And nothing know beside, <br> Nothing desire nothing esteem, <br> But Jesus crucified! <br> <br><br>4 Closer and closer let us cleave <br> To His beloved embrace; <br> Expect His fulness to receive, <br> And grace to answer grace. <br> <br><br>5 Partakers of the Savior's grace, <br> The same in mind and heart. <br> Nor joy, nor grief, nor time, nor place, <br> Nor life, nor death can part. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br><br>527</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
