{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 BEGIN, my soul, some heav'nly theme; <br> Awake, my voice, and sing <br> The mighty works, or mightier name <br> Of' our eternal King.<br>2 Tell of His wondrous faithfulness, <br> And sound His power abroad; <br> Sing the sweet promise of His grace, <br> And the performing God.<br>3Proclaim salvation from the Lord, <br> For wretched, dying men: <br> His hand hath writ the sacred word <br> With an immortal pen.<br>4 Engraved as in eternal brass, <br> The mighty promise shines; <br> Nor can the powers of darkness rase <br> Those everlasting lines.<br>5 His every word of grace is strong <br> As that which built the skies; <br> The voice that rolls the stars along <br> Speaks all the promises.<br>6 Now shall my fainting heart rejoice <br> To know Thy favour sure: <br> I trust the all-creating voice, <br> And faith desires no more. <br>  <br> Source: Redemption Hymnal #<br>21</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
