{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, Sun of righteousness, <br> Brightest beam of love divine, <br> With the early morning rays <br> Do Thou on our darkness shine, <br> And dispel with purest light <br> All our long and gloomy night. <br> <br>2 Like the sun's reviving ray, <br> May Thy love, with tender glow, <br> All our coldness melt away <br> Warm and cheer us forth to go, <br> Thee to honor and obey <br> All our life's short earthly day. <br> <br>3 Thou our only Hope and Guide, <br> Never leave us nor forsake: <br> In Thy light may we abide <br> Till the endless morning break, <br> Moving to Thy holy hill <br> Onward, upward, homeward still. <br> <br>4 Lead us all our days and years <br> In Thy straight and narrow way; <br> Lead us through this vale of tears <br> To the land of perfect day, <br> Where Thy people, fully blest, <br> Near Thy throne forever rest. <br>  <br> Source: Evangelical Lutheran Hymnary #<br>84</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
