{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 All praise to our redeeming Lord, <br> who joins us by his grace, <br> and bids us, each to each restored, <br> together seek his face. <br> <br>2 He bids us build each other up; <br> and, gathered into one, <br> to our high callings glorious hope <br> we hand in hand go on. <br> <br>3 The gift which he on one bestows, <br> we all delight to prove; <br> the grace through every vessel flows, <br> in purest streams of love. <br> <br>4 Ev'n now we think and speak the same, <br> and cordially agree; <br> concentred all, through Jesus name, <br> in perfect harmony. <br> <br>5 We all partake the joy of one, <br> the common peace we feel, <br> a peace to sensual minds unknown, <br> a joy unspeakable. <br> <br>6 And if our fellowship below <br> in Jesus be so sweet, <br> what heights of rapture shall we know <br> when round his throne we meet! <br>  <br>  <br> Source: Common Praise: A new edition of Hymns Ancient and Modern #<br>371a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
