{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Come, and let us sweetly join, <br> Christ to praise in hymns divine; <br> give we all with one accord <br> glory to our common Lord. <br> <br>2. Hands and hearts and voices raise, <br> sing as in the ancient days; <br> antedate the joys above, <br> celebrate the feast of love. <br> <br>3. Jesus, dear expected Guest, <br> thou art bidden to the feast; <br> for thyself our hearts prepare; <br> come, and sit, and banquet there. <br> <br>4. Sanctify us, Lord, and bless, <br> breathe thy Spirit, give thy peace; <br> thou thyself within us move, <br> make our feast a feast of love. <br>  <br>  <br> Source: The United Methodist Hymnal #<br>699</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
