{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Friend of the home: as when in Galilee <br> The mothers bro't their little ones to Thee, <br> So we, dear Lord, would now the children bring, <br> And seek for them the shelter of Thy wing. <br> <br>2 Thine are they, by Thy loves eternal claim, <br> Thine we baptize them in the threefold Name; <br> Yet not the sign we trust, Lord, but the grace <br> That in Thy fold prepared the lambs a place. <br> <br>3 Lord, may Thy Church, as with a mothers care, <br> For Thee the lambs within her bosom bear; <br> And grant, as morning grows to noon, that they <br> Still in her love and holy service stay. <br> <br>4 Draw thro' the child the parents nearer Thee, <br> Endue their home with growing sanctity; <br> And gather all, by earthly homes made one, <br> In heav'n, O Christ, when earthly days are done. <br>  <br>  <br> Source: Tabernacle Hymns: Number Four: a choice collection of hymns and songs for every religious use #<br>308</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
