{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I am not worthy, Holy Lord, <br> that thou shouldst come to me; <br> speak but the word; one gracious word <br> can set the sinner free. <br> <br>2 I am not worthy; cold and bare <br> the lodging of my soul; <br> how canst thou deign to enter there? <br> Lord, speak, and make me whole. <br> <br>3 I am not worthy; yet, my God, <br> how can I say thee nay; <br> thee, who didst give thy flesh and blood <br> my ransom price to pay? <br> <br>4 O come! in this sweet morning hour <br> feed me with food divine; <br> and fill with all thy love and power <br> this wavering heart of mine. <br>  <br> Source: CPWI Hymnal #<br>593</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
