{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Love Divine, O love so Holy,
Love that came from heaven to earth;
In great love, you came as servant,
For our sin, you died for us. <br/><br/>2 With great glory, you descended,
From your Throne in heav'n, you
[came.
Teach us Lord to show your glory,
Give us grace to bear much fruit. <br> <br> 3 Come you people, come all nations,
Come together, sing God's praise.
Soon we shall all be in Heaven,
Here we'll praise Him evermore. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            