{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Savior, and can it be <br> That Thou shouldst dwell with me? <br> From Thy high and lofty throne, <br> Throne of everlasting bliss, <br> Will Thy majesty stoop down <br> To so mean a house as this? <br> <br>2. I am not worthy, Lord, <br> So foul, so self-abhorred, <br> Thee, my God, to entertain <br> In this poor polluted heart: <br> I am a frail sinful man! <br> All my nature cries, Depart! <br> <br>3. Yet come, Thou heavnly guest, <br> And purify my breast; <br> Come, Thou great and glorious King, <br> While before Thy cross I bow; <br> With Thyself salvation bring, <br> Cleanse the house by entering now. <br>  <br> Source: The Cyber Hymnal #<br>5944</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
