{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 COME, Thou everlasting Spirit, <br> Bring to every thankful mind <br> All the Saviours dying merit, <br> All His sufferings for mankind <br> True Recorder of His passion, <br> Now the living faith impart; <br> Now reveal His great salvation <br> Unto every faithful heart.<br><br>2 Come, Thou witness of His dying; <br> Come, Remembrancer divine; <br> Let us feel Thy power applying <br> Christ to every soul, and mine. <br> Yes, in me, in me He dwelleth; <br> I in Him, and He in me! <br> And my empty soul He filleth, <br> Here and through eternity. <br>  <br> Source: Redemption Hymnal #<br><br>213</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
