{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O God of love, to you we bow, <br> and pray for these before you now, <br> That closely knit in holy vow <br> they may in you become as one. <br> <br>2 Whatever comes to be their share <br> of quickening joy or burdening care, <br> In power to do and grace to bear, <br> may they in you remain as one. <br> <br>3 Eternal love, with them abide; <br> through change and chance, O be their guide, <br> Let nothing in this life divide <br> those whom you now have joined as one. <br>  <br> Source: The New Century Hymnal #<br>363</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
