{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 How beauteous are their feet, <br> who stand on Sion's hill, <br> who bring salvation on their tongues <br> and words of peace reveal!<br>2 How happy are our ears <br> that hear this happy sound, <br> which kings and prophets waited for, <br> and sought, but never found!<br>3 How blessèd are our eyes <br> that see this heavenly light, <br> prophets and kings desired it long, <br> but died without the sight!<br>4 The Lord makes bare his arm <br> through all the earth abroad: <br> Let every nation now behold <br> their Saviour and their God. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>302a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
