{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br><br>1 What shall we offer our good Lord, <br> poor nothings, for his boundless grace? <br> Fain would we his great name record <br> and worthily set forth his praise. <br> <br><br><br>2 Great object of our growing love, <br> to whom our more than all we owe, <br> open the fountain from above, <br> and let it our full souls oerflow. <br> <br><br><br>3 So shall our lives thy power proclaim, <br> thy grace for every sinner free, <br> till all the world shall learn thy name, <br> shall all stretch out their hands to thee. <br> <br><br><br>4 Open a door which earth and hell <br> may strive to shut, but strive in vain; <br> let thy word richly in us dwell, <br> and let our gracious fruit remain. <br> <br><br><br>5 O multiply the sowers seed! <br> and fruit we every hour shall bear, <br> throughout the world thy gospel spread, <br> thy everlasting truth declare. <br>  <br> Source: Together in Song: Australian hymn book II #<br><br><br>439</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
