{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Forget them not, O Christ, who stand <br> Thy vanguard in the distant land. <br> <br>2 In flood, in flame, in dark, in dread, <br> Sustain, we pray, each lifted head. <br> <br>3 Exalt them over every fear, <br> In peril come Thyself more near. <br> <br>4 Thine is the work they strive to do, <br> Their foes so many, they so few. <br> <br>5 Be with Thine own, Thy loved, who stand, <br> Christ's vanguard in the storm-swept land. <br> Amen. <br>  <br> Source: The Christian Hymnary. Bks. <br>1-<br>4 #<br>540</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
