{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, Thy wandering sheep behold! <br> See, Lord, with tender pity see <br> Poor souls that cannot find the fold, <br> Till sought and gathered in by Thee. <br> <br>2 Lost are they now, and scattered wide, <br> In pain, and weariness, and want: <br> With no kind Shepherd near to guide <br> The sick and spiritless and faint. <br> <br>3 Thou, only Thou, the kind and good, <br> The great redeeming Shepherd art; <br> Collect Thy flock, and give them food, <br> And pastors after Thine own heart. <br> <br>4 A double portion from above <br> Of Thine all-quickening grace impart; <br> Shed forth Thy universal love, <br> In every faithful pastor's heart. <br>  <br> Source: Church Book: for the use of Evangelical Lutheran congregations #<br>287</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
