{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Father of everlasting love, <br> Take to thyself thy mighty power; <br> Let all earths sons thy mercy prove, <br> Let all thy wond'rous grace adore. <br> <br><br>2 The triumphs of thy love display; <br> In every heart reign thou alone; <br> Till all thy foes confess thy sway, <br> And glory ends what grace begun. <br> <br><br>3 The God of grace, and health, and power, <br> Fountain of light and love below, <br> Abroad thine healing influence shower, <br> Oer all the nations let it flow. <br> <br><br>4 Inflame our hearts with perfect love, <br> In us the work of faith fulfil; <br> So not heavens host shall swifter move, <br> Than we on earth, to do thy will. <br>  <br> Source: A Collection of Psalms and Hymns for Publick Worship #CLV</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
