{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The fields are all white, <br> And the reapers are few, <br> We children are willing, <br> But what can we do, <br> To work for our Lord in His harvest? <br> <br>2 Our hands are so small, <br> And our words are so weak, <br> We cannot teach others; <br> How then shall we seek <br> To work for our Lord in His harvest? <br> <br>3 We'll work by our pray'rs, <br> By the off'rings we bring, <br> By small self-denials; <br> The least little thing <br> May work for our Lord in His harvest, <br> <br>4 Until, by and by, <br> As the years pass at length, <br> We too may be reapers, <br> And go forth in strength <br> To work for our Lord in His harvest. <br>  <br> Source: Christ in Song: for all religious services nearly one thousand best gospel hymns, new and old with responsive scripture readings (Rev. and Enl.) #<br>630</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
