{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Lift up your heads, ye mighty gates,
Behold the King of glory waits;
The King of kings is drawing near,
The Savior of the world is here;
Life and salvation doth He bring,
Wherefore rejoice and gladly sing:
We praise Thee, Father, now!
Creator, wise art Thou! <br/><br/>2 The Lord is just, a Helper tried,
Mercy is ever at His side,
His kingly crown is holiness,
His scepter, pity in distress,
The end of all our woe He brings;
Wherefore the earth is glad and sings:
We praise Thee, Savior, now,
Mighty in deed art Thou! <br> <br> 3 Oh blest the land, the city blest,
Where Christ the Ruler is confessed!
Oh happy hearts and happy homes
To whom this King in triumph comes!
The cloudless Sun of joy He is,
Who bringeth pure delight and bliss:
O Comforter divine,
What boundless grace is Thine! <br> <br> 4 Fling wide the portals of your heart,
Make it a temple set apart
From earthly use for Heaven's employ,
Adorned with prayer and love and joy;
So shall your Sovereign enter in,
And new and nobler life begin:
To Thee, O God, be praise,
For word and deed and grace! <br> <br> 5 Redeemer, come! I open wide
My heart to Thee here, Lord, abide!
Let me Thy inner presence feel,
Thy grace and love in me reveal,
Thy Holy Spirit guide us on
Until our glorious goal is won!
Eternal praise and fame,
We, offer to Thy Name. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            