{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God, your almighty word <br> Chaos and darkness heard, <br> And took their flight: <br> Hear us, we humbly pray, <br> And where the gospel-day <br> Sheds not its glorious ray, <br> Let there be light! <br> <br>2 Savior, you came to give <br> Those who in darkness live <br> Healing and sight, <br> Health to the troubled mind, <br> Sight to the inward blind: <br> Now to all humankind <br> Let there be light! <br> <br>3 Spirit of truth and love, <br> Life giving, holy dove, <br> Speed on your flight! <br> Move on the water's face <br> Bearing the lamp of grace <br> And, in earth's darkest place, <br> Let there be light! <br> <br>4 Holy and blessed Three, <br> Glorious Trinity, <br> Wisdom, Love, Might! <br> Boundless as ocean's tide, <br> Rolling in fullest pride, <br> Through the world, far and wide, <br> Let there be light! <br>  <br> Source: RitualSong (<br>2nd ed.) #<br>661</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
