{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Christ for the world we sing; <br> the world to Christ we bring <br> with loving zeal: <br> the poor and them that mourn, <br> the faint and overborne, <br> sin-sick and sorrow-worn, <br> for Christ doth heal. <br> <br>2 Christ for the world we sing; <br> the world to Christ we bring <br> with fervent pray'r: <br> the wayward and the lost, <br> by restless passions tossed, <br> redeemed at countless cost <br> from dark despair. <br> <br>3 Christ for the world we sing; <br> the world to Christ we bring <br> with one accord: <br> with us the work to share, <br> with us reproach to dare, <br> with us the cross to bear, <br> for Christ our Lord. <br> <br>4 Christ for the world we sing; <br> the world to Christ we bring <br> with joyful song: <br> the newborn souls whose days, <br> reclaimed from error's ways, <br> inspired with hope and praise, <br> to Christ belong. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>393</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
