{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Not what these hands have done <br> can save this guilty soul; <br> not what this toiling flesh has borne <br> can make my spirit whole. <br> Not what I feel or do <br> can give me peace with God; <br> not all my prayers and sighs and tears <br> can bear my awful load. <br> <br>2 Thy work alone, O Christ, <br> can ease this weight of sin; <br> Thy blood alone, O Lamb of God, <br> can give me peace within. <br> Thy love to me, O God, not mine, <br> O Lord, to Thee, <br> can rid me of the dark unrest, <br> and set my spirit free. <br> <br>3 Thy grace alone, O God, <br> to me can pardon speak; <br> Thy pow'r alone, O Son of God, <br> can this sore bondage break. <br> I bless the Christ of God; <br> I rest on love divine; <br> and with unfalt'ring lip and heart, <br> I call this Savior mine. <br>  <br> Source: Psalms and Hymns to the Living God #<br>325</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
