{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Fling out the banner! let it float <br> Skyward and seaward, high and wide; <br> The sun that lights its shining folds, <br> The cross on which the Saviour died. <br> <br>2 Fling out the banner! heathen lands <br> Shall see from far the glorious sight, <br> And nations, crowding to be born, <br> Baptize their spirits in its light. <br> <br>3 Fling out the banner! sin-sick souls <br> That sink and perish in the strife, <br> Shall touch in faith its radiant hem, <br> And spring immortal into life. <br> <br>4 Fling out the banner! let it float <br> Skyward and seaward, high and wide, <br> Our glory, only in the cross; <br> Our only hope, the Crucified. <br> Amen. <br>  <br> Source: Worship and Service Hymnal: For Church, School, and Home #<br>445</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
