{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Arise, sons of the Kingdom!
The King is drawing nigh;
Arise, and hail with gladness
The Ruler from on high.
Ye Christians, hasten forth!
Your praise and homage bring Him
And glad hosannas sing Him,
Naught else your love is worth. <br/><br/>2 Arise, ye drooping mourners!
The King is very near;
Away with grief and sorrow,
For lo! your Help is here.
People behold Him here,
We find Him, our Salvation,
O blessed consolation!
In His pure means of grace. <br> <br> 3 Arise, ye much afflicted!
The King is now not far;
Rejoice, ye long dejected!
Here comes the Morning Star.
The Lord will give you joy;
Though troubles now distress you,
With comfort He will bless you,
E'en death He will destroy. <br> <br> 4 Now hear, ye bold transgressors,
The King does well give heed
To all that ye are doing,
And to the life ye lead,
Enthralled to sin and hell;
Nothing in all creation
Escapes His observation
He maketh all things well <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            