{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Give us the wings of faith to rise <br> within the veil, and see <br> the saints above, how great their joys, <br> how bright their glories be.<br>2 Once they were mourning here below, <br> their couch was wet with tears; <br> they wrestled hard, as we do now, <br> with sins and doubts and fears.<br>3 We ask them whence their victory came: <br> they, with united breath, <br> ascribe their conquest to the Lamb, <br> their triumph to his death.<br>4 They marked the footsteps that he trod, <br> his zeal inspired their breast, <br> and, following their incarnate God, <br> possess the promised rest.<br>5 Our glorious Leader claims our praise <br> for his own pattern given; <br> while the long cloud of witnesses <br> show the same path to heaven. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>299a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
