{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 When his salvation bringing, <br> to Zion Jesus came, <br> the children all stood singing <br> hosannas to his name: <br> nor did their zeal offend him, <br> but as he rode along, <br> he let them still attend him, <br> and smiled to hear their song. <br> <br>2 And since the Lord retaineth <br> his love for children still, <br> though now as King he reigneth <br> on Zion's heav'nly hill, <br> we'll flock around his banner <br> who sits upon his throne, <br> and cry aloud, "Hosanna <br> to David's royal Son!" <br> <br>3 For should we fail proclaiming <br> our great Redeemer's praise, <br> the stones, our silence shaming, <br> would their hosannas raise. <br> But shall we only render <br> the tribute of our words? <br> No, while our hearts are tender, <br> they too shall be the Lord's. <br>  <br>  <br> Source: Trinity Psalter Hymnal #<br>328</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
