{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Children of Jerusalem <br> Sang the praise of Jesus name; <br> Children, too, of modern days <br> Join to sing the Saviors praise. <br> Refrain: <br> Hark, hark, hark, while infant voices sing, <br> Hark, hark, hark, while infant voices sing <br> Loud hosannas, loud hosannas, <br> loud hosannas to our King. <br> <br>2 We are taught to love the Lord, <br> We are taught to read His word; <br> We are taught the way to heaven; <br> Praise for all to God be given. [Refrain] <br> <br>3 Parents, teachers, old and young, <br> All unite to swell the song; <br> Higher and yet higher rise, <br> Till hosannas fill the skies. [Refrain] <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>552</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
