{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, high in glory, <br> lend a listening ear; <br> when we bow before thee, <br> children's praises hear. <br> <br>2 Though Thou art so holy, <br> heaven's almighty King, <br> thou wilt stoop to listen <br> when thy praise we sing. <br> <br>3 We are little children, <br> weak and apt to stray; <br> Saviour, guide and keep us <br> in the heavenly way. <br> <br>4 Save us, Lord, from sinning; <br> watch us day by day; <br> help us now to love thee; <br> take our sins away. <br> <br>5 Then, when thou shalt call us <br> to our heavenly home, <br> we will gladly answer: <br> Saviour, Lord, we come! <br>  <br> Source: CPWI Hymnal #<br>655</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
