{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 In the dear Lords garden, <br> Planted here below, <br> Many tiny flowerets, <br> In sweet beauty grow. <br> Refrain: <br> Jesus calls the children, <br> Bids them come and stand <br> In His pleasant garden, <br> Watered by His hand. <br> <br>2 Christ, the loving Gardener, <br> Tends these blossoms small; <br> Loves the little lilies <br> As the cedars tall. [Refrain] <br> <br>3 Lord, Thy call we answer <br> Take us in Thy care; <br> Train us in Thy garden, <br> In Thy work to share. [Refrain] <br>  <br> Source: The Sunday School Hymnal: with offices of devotion #<br>275</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
