{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God make my life a little light <br> Within the world to glow; <br> A little flame that burneth bright, <br> Wherever I may go. <br> <br>2 God make my life a little flower <br> That giveth joy to all, <br> Content to bloom in native bower, <br> Although the place be small. <br> <br>3 God make my life a little song <br> That comforteth the sad, <br> That helpeth others to be strong, <br> And makes the singer glad. <br> <br>4 God make my life a little staff <br> Whereon the weak may rest, <br> That so what health and strength I have <br> May serve my neighbors best. <br> <br>5 God make my life a little hymn <br> Of tenderness and praise, <br> Of faith, that never waxeth dim, <br> In all His wondrous ways. <br> Amen. <br>  <br> Source: Worship and Service Hymnal: For Church, School, and Home #<br>491</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
