{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father, lead me day by day, <br> Ever in Thine own good way; <br> Teach me to be pure and true, <br> Show me what I ought to do. <br> <br>2 When in danger, make me brave; <br> Make me know that Thou canst save; <br> Keep me safely by Thy side; <br> Let me in Thy love abide. <br> <br>3 When Im tempted to do wrong, <br> Make me steadfast, wise, and strong; <br> And when all alone I stand, <br> Shield me with Thy mighty hand. <br> <br>4 May I do the good I know, <br> Serving gladly here below; <br> Then at last go home to Thee, <br> Evermore Thine own to be. <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>555</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
