{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Looking upward every day, <br> Sunshine on our faces; <br> Pressing onward every day <br> Toward the heavenly places; <br> Growing every day in awe, <br> For Thy name is holy; <br> Learning every day to love <br> With a love more lowly; <br> <br>2 Walking every day more close <br> To our Elder Brother; <br> Growing every day more true <br> Unto one another; <br> Every day more gratefully <br> Kindnesses receiving; <br> Every day more readily <br> Injuries forgiving; <br> <br>3 Leaving every day behind <br> Something which might hinder; <br> Running swifter every day, <br> Growing purer, kinder <br> Lord, so pray we every day, <br> Hear us in Thy pity, <br> That we enter in at last <br> To the holy city. <br> Amen. <br>  <br> Source: The Christian Hymnary. Bks. <br>1-<br>4 #<br>274</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
