{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Tell me the stories of Jesus <br> I love to hear; <br> Things I would ask him to tell me <br> If He were here: <br> Scenes by the wayside, <br> Tales of the sea, <br> Stories of Jesus, <br> Tell them to me. <br> <br>2 First let me hear how the children <br> Stood round his knee, <br> And I shall fancy his blessing <br> Resting on me; <br> Words full of kindness, <br> Deeds full of grace, <br> All in the love-light <br> Of Jesus' face. <br> <br>3 Into the city I'd follow <br> The children's band, <br> Waving a branch of the palm tree <br> High in my hand; <br> One of his heralds, <br> Yes, I would sing <br> Loudest hosannas, <br> "Jesus is King!" <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>550</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
