{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Strong Son of God, immortal Love, <br> Whom we, that have not seen Thy face, <br> By faith, and faith alone, embrace, <br> Believing where we cannot prove; <br> <br>2 Thou wilt not leave us in the dust; <br> Thou madest man, he knows not why, <br> He thinks he was not made to die: <br> And Thou hast made him: Thou art just. <br> <br>3 Thou seemest human and divine, <br> The highest, holiest manhood, Thou; <br> Our wills are ours, we know not how; <br> Ours wills are ours, to make them Thine. <br> <br>4 Our little systems have their day; <br> They have their day and cease to be; <br> They are but broken lights of Thee, <br> And Thou, O Lord, art more than they. <br> AMEN. <br>  <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>498</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
