{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Why Lord you stand outside waiting,
Blessed, dear Lord Jesus Christ?
The door of my heart is open,
Open wide, enter with joy.
When you are with me dear Lord,
I have joy surpassing all.
Enter Lord my heart, dear Jesus,
Cleanse it make fit, for your abode. <br/><br/>2 Lord you are all joy and pleasure,
True joy Lord, resides in you.
In green pastures you will lead us,
Where you'll feed your sheep complete.
Give me light, you Holy Light,
Light to brighten all my days.
Take my heart Jesus, my dear Lord,
Grant me to be near you always. <br> <br> 3 My soul, come with joy and praises,
Jesus has heard all your prayer.
Now He comes to stay in this heart,
Be prepared to welcome Him.
Come, embrace the Lord your God,
Let Him be your guest and Lord,
Open for the Lord your spirit,
Show Him all that you have in heart. <br> <br> 4 With Him, you will lack no good thing,
All things shall work for your good.
Your life is secure in Jesus,
Nothing fear, if God is near.
Soul, be faithful to the Lord,
Soon shall come for you that Day,
When above, you'll join the angels,
Join to praise the Lord and worship. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            