{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Remember all the people <br> Who live in far=off lands, <br> In strange and lovely cities, <br> Or roam the desert sands. <br> Remember all the children <br> Who yet have never heard <br> The truth that comes from Jesus, <br> The glory of His Word. <br> <br>2 God bless the men and women <br> Who serve Him over sea; <br> God raise up more to help them, <br> To set the nations free, <br> Till all the distant people <br> In every foreign place <br> Shall understand His kingdom <br> And come into His grace. <br>  <br> Source: The Children's Hymnbook #<br>146</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
