{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Thou gracious Power, whose mercy lends <br> The light of home, the smile of friends, <br> Our households in Thy care enfold <br> As Thou didst keep Thy folk of old. <br> <br>2 Wilt Thou not hear us while we raise, <br> In sweet accord of solemn praise, <br> The voices that have mingled long <br> In joyous flow of mirth and song? <br> <br>3 For all the blessings life has brought, <br> For all its sorrowing hours have taught, <br> For all we mourn, for all we keep, <br> The hands we clasp, the loved that sleep. <br> <br>4 We thank Thee, Father! let Thy grace <br> Our loving circle still embrace, <br> Thy mercy shed its heavenly store, <br> Thy peace be with us evermore. <br> Amen. <br>  <br> Source: The Hymnal of The Evangelical United Brethren Church #<br>387</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
