{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O God, our Help in ages past, <br> our Hope for years to come, <br> our Shelter from the stormy blast, <br> and our eternal Home. <br> <br>2 Under the shadow of Thy throne <br> Thy saints have dwelt secure; <br> sufficient is Thine arm alone, <br> and our defense is sure. <br> <br>3 Before the hills in order stood, <br> or earth received its frame, <br> from everlasting Thou art God, <br> to endless years the same. <br> <br>4 A thousand ages in Thy sight <br> are like an evening gone, <br> short as the watch that ends the night <br> before the rising sun. <br> <br>5 Time, like an ever-rolling stream <br> bears all its sons away; <br> they fly forgotten, as a dream <br> dies at the opning day. <br> <br>6 O God, our Help in ages past, <br> our Hope for years to come, <br> be Thou our Guard while life shall last, <br> and our eternal Home! <br>  <br> Source: Psalms and Hymns to the Living God #<br>90</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
