{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, while for humankind we pray <br> of every clime and coast, <br> O hear us for our native land, <br> the land we love the most. <br> <br>2 Our fathers' resting places here, <br> and here our kindred dwell, <br> our children too: how should we love <br> another land so well? <br> <br>3 O guard our shores from every foe, <br> with peace our borders bless; <br> with prosperous times our cities crown, <br> our fields with plenteousness. <br> <br>4 O may we, Lord, be one in You <br> in knowledge, truth and love; <br> and let our songs of freedom rise <br> from earth to heaven above. <br> <br>5 Lord of the nations, thus to You <br> our country we commend; <br> be now her refuge and her trust, <br> her everlasting friend. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>609</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
