{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Judge Eternal, throned in splendor, <br> Lord of lords and King of kings, <br> with your living fire of judgment <br> purge this land of bitter things; <br> solace all its wide dominion <br> with the healing of your wings. <br> <br>2 Still the weary folk are pining <br> for the hour that brings release, <br> and the citys crowded clangor <br> cries aloud for sin to cease, <br> and the homesteads and the woodlands <br> plead in silence for their peace. <br> <br>3 Crown, O God, your own endeavor; <br> cleave our darkness with your sword; <br> feed the faithless and the hungry <br> with the richness of your word; <br> cleanse the body of this nation <br> through the glory of the Lord. <br>  <br>  <br> Source: Glory to God: the Presbyterian Hymnal #<br>342</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
