{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Rejoice today with one accord, <br> sing out with exultation; <br> rejoice and praise our mighty Lord, <br> whose arm hath brought salvation. <br> His works of love proclaim <br> the greatness of his name; <br> for he is God alone, <br> who hath his mercy shown: <br> let all his saints adore him! <br> <br>2 When in distress to him we cried <br> he heard our sad complaining; <br> O trust in him. what'er betide, <br> his love is all-sustaining. <br> Triumphant songs of praise <br> to him our hearts shall raise: <br> now every voice shall say, <br> "O praise our God alway"; <br> let all his saints adore him! <br>  <br> Source: Common Praise (<br>1998) #<br>318</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
