{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. What good news we have heard now,
That God became flesh for us,
Mysterious work to save.
What grace abundant for us,
With blessings of peace for us,
We find this in our Lord Jesus. <br/><br/>2 Your greatness and your power,
Your wondrous works, Lord Jesus,
Your Word so sweet we have.
Your death that brings us all life,
Much, blessings we have in you;
You are my Rock and Fortress, Lord. <br> <br> 3 The gifts from you are so much,
We lift you high and praise you,
Before your Throne we sing.
The Seraphim and angels,
All praise you always, Jesus,
All praise you Son of God and Man. <br> <br> 4 You rose from death Lord Jesus,
For death cannot hold you, Lord,
Death you have conquered now.
You have ascended Jesus,
With train of men and women;
You have destroyed the evil one. <br> <br> 5 The Word of God, such sweet Word,
None but Christ has kept this Word,
Glory of God revealed.
Who shall not love King Jesus,
Who shall not praise and fear Him,
Who shall not seek His glory see? <br> <br> 6 Those you have saved, come bringing,
Praise to you now Lord Jesus,
They laud and honor you.
In your great Name they come now,
From all nations they draw near,
Their Master, Lord Jesus to praise. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            