{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father God, on us You shower <br> gifts of plenty from Your dower, <br> to Your people give the power <br> all Your gifts to use aright. <br> <br>2 Give pure happiness in leisure, <br> temperance in every pleasure, <br> holy use of earthly treasure, <br> bodies clear and spirits bright. <br> <br>3 Lift from this and every nation <br> all that brings us degradation; <br> quell the forces of temptation; <br> put Your enemies to flight. <br> <br>4 Be with us, Your strength supplying, <br> that with energy undying, <br> every foe of man defying, <br> we may rally to the fight. <br> <br>5 Lord, You are our Captain ever, <br> lead us on to great endeavour; <br> may Your Church the world deliver: <br> give us wisdom, courage, might. <br> <br>6 Father, You have sought and found us, <br> Son of God, Your love has bound us, <br> Holy Ghost, within us, round us  <br> Hear us Godhead infinite. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>589</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
