{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Now praise we great and famous men, <br> The fathers named in story; <br> And praise the Lord who now as then <br> Reveals in man His glory. <br> <br>2 Praise we the wise and brave and strong, <br> Who graced their generation; <br> Who helped the right, and fought the wrong, <br> And made our folk a nation. <br> <br>3 Praise we the great of heart and mind, <br> The singers sweetly gifted, <br> Whose music like a mighty wind <br> The souls of men uplifted. <br> <br>4 Praise we the peaceful men of skill <br> Who builded homes of beauty, <br> And, rich in art, made richer still <br> The brotherhood of duty. <br> <br>5 So praise we great and famous men, <br> The fathers, named in story; <br> And praise the Lord who now as then <br> Reveals in man His glory. <br> Amen. <br>  <br> Source: The Hymnal #<br>491</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
