{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Let all the world in every corner sing,
My God and King,
The heavens are not too high,
His praise may thither fly,
The earth is not too low,
His praises there may grow,
Let all the world, in every corner sing,
‘My God and King' <br/><br/>2 Let all the world in every corner sing,
My God and King!
The Church with psalms must shout,
No door can keep them out;
But, above all, the heart,
Must bear the longest part.
Let all the world in every corner sing
My God and King! <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            