{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Messiah now has come,
The One foretold by Prophets.
He is already here,
We'll not expect another.
What prophets sought to see,
And great kings waited for,
We now have in our midst,
Our Lord is now with us. <br/><br/>2 A Son is given us,
He is the Light of nations.
He comes to save the world,
The time appointed is nigh.
Come praise the Lord our God,
Give glory to His Name,
Come worship Christ our Lord,
Immanuel, with us! <br> <br> 3 Our God is with us now,
The Son of God we see now.
The Father's glory shines,
Through Him who is our Savior.
We are now comforted,
All sinners now rejoice,
Come worship Christ the Lord,
Worship the King of kings. <br> <br> 4 Our God abides with us,
The poor rejoice in Jesus.
The dead shall rise in Him,
The deaf shall hear Him calling.
The blind receive their sight,
The lame shall walk with strength,
The lepers shall be clean,
All shall give Him praises. <br> <br> 5 He comes to plead for us,
He comes to make atonement.
He comes to reconcile,
Unite us with the Father.
God is with His people,
Sorrow and grief is gone,
The mournful, broken hearts,
Rejoice and praise the Lord. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            