{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I vow to thee, my country, all earthly things above, <br> entire and whole and perfect, the service of my love: <br> the love that asks no question, the love that stands the test, <br> that lays upon the altar the dearest and the best; <br> the love that never falters, the love that pays the price, <br> the love that makes undaunted the final sacrifice. <br> <br>2 And there's another country I've heard of long ago, <br> most dear to them that love her, most great to them that know; <br> we may not count her armies, we may not see her King; <br> her fortress is a faithful heart, her pride is suffering; <br> and soul by soul and silently her shining bounds increase, <br> and her ways are ways of gentleness and all her paths are peace. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>579</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
