{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Almighty Father-God, you give <br> the gift of life to all who live, <br> look down on all earths sin and strife <br> and lift us to a nobler life. <br> <br>2 Lift up our hearts, O King of kings, <br> to brighter hopes and kindlier things, <br> to visions of a larger good, <br> and holier dreams of brotherhood. <br> <br>3 The world is weary of its pain, <br> of selfish greed and fruitless gain, <br> of tarnished honour, falsely strong, <br> and all its ancient deeds of wrong. <br> <br>4 Hear now the prayer Your servants pray, <br> uprising from all lands today, <br> and, over vanquished powers of sin, <br> O bring Your great salvation in! <br>  <br> Source: The Irish Presbyterian Hymbook #<br>614</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
