{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. All you people the righteous,
Rejoice in God's own grace.
God's great salvation coming,
Wait all for that alone.
Humble and meek He comes,
With strength and might the Lord comes,
Destroying Satan's kingdom,
And all his works on earth! <br/><br/>2 He left His crown, He left all,
His Kingdom too He left.
This world is not His kingdom,
His Kingdom is in Heav'n.
He hides His glory now,
He hides His glory from us,
The glory from the Father,
That He might die for sin. <br> <br> 3 You lords and kings of this world,
Bow down before the Lord.
For salvation is in Him,
In Christ alone is life.
Jesus the Way and Life,
The Way that leads to heaven,
If you reject Christ Jesus,
Your soul shall perish then. <br> <br> 4 You poor and downcast people,
Forsaken, you may think.
But there is hope in Jesus,
Hope for the worthless ones.
Stand up and shout for joy,
And sing with joyful praises,
Sing to the Lord Almighty,
Who is the Lord of Host! <br> <br> 5 Soon we shall see Christ Jesus,
Jesus shall come again.
With glory and with honor,
Your tears shall turn to joy.
You Saints of Christ prepare,
With oil in lamps all burning,
Expectantly, you waiting,
For Jesus soon shall come. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            