{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Holy Father, in Thy mercy <br> Hear our anxious prayer; <br> Keep our loved ones who are absent <br> 'Neath Thy care. <br> <br>2 Jesus, Savior, let Thy presence <br> Be their light and guide; <br> Keep, O keep them, in their weakness <br> At Thy side. <br> <br>3 When in sorrow, when in danger, <br> When in loneliness, <br> In Thy love look down and comfort <br> Their distress. <br> <br>4 May the joy of Thy salvation <br> Be their strength and stay! <br> May they love and may they praise Thee <br> Day by day! <br> <br>5 Holy Spirit, let Thy teaching <br> Sanctify their life <br> Send Thy grace that they may conquer <br> In the strife. <br> <br>6 Father, Son, and Holy Spirit, <br> God the One in Three, <br> Bless them, guide them, save them, keep them, <br> Near to Thee. <br>  <br>  <br> Source: Evangelical Lutheran Hymnary #<br>576</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
