{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Eternal Father, strong to save, <br> Whose arm does bind the restless wave, <br> Who bids the mighty ocean deep <br> Its own appointed limits keep; <br> O hear us when we cry to Thee <br> For those in peril on the sea. <br> <br>2 O Savior, whose almighty word <br> The winds and waves submissive heard, <br> Who walked upon the foaming deep, <br> And calm amid the rage did sleep; <br> O hear us when we cry to Thee <br> For those in peril on the sea. <br> <br>3 O Holy Spirit, who did brood <br> Upon the waters dark and rude, <br> And bid their angry tumult cease, <br> And give for wild confusion peace; <br> O hear us when we cry to Thee <br> For those in peril on the sea. <br> <br>4 O Trinity of love and pow'r, <br> Your children shield in danger's hour; <br> From rock and tempest, fire, and foe, <br> Protect them where-so-e'er they go; <br> Thus, evermore shall rise to Thee <br> Glad hymns of praise from land and sea. <br> Baptist Hymnal, <br>1991</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
