{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, the Name high over all, <br> in hell or earth or sky; <br> angels and mortals prostrate fall, <br> and devils fear and fly. <br> Jesus, the Name to sinners dear, <br> the Name to sinners giv'n; <br> it scatters all their guilty fear, <br> it turns their hell to heav'n. <br> <br>2 O that the world might taste and see <br> the riches of His grace! <br> The arms of love that compass me <br> would all the world embrace. <br> Thee I shall constantly proclaim, <br> tho' earth and hell oppose; <br> bold to confess Thy glorious Name <br> before a world of foes. <br> <br>3 His only righteousness I show, <br> His saving truth proclaim; <br> 'tis all my business here below <br> to cry, "Behold the Lamb!" <br> Happy, if with my latest breath <br> I may but gasp His Name, <br> preach Him to all, and cry in death, <br> "Behold, behold the Lamb!" <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>304</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
