{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Christ, whose glory fills the skies, <br> Christ, the true and only Light, <br> Sun of righteousness, arise, <br> triumph o'er the shade of night; <br> Day-spring from on high, be near; <br> Day-star, in my heart appear. <br> <br>2 Dark and cheerless is the morn <br> unaccompanied by Thee; <br> joyless is the day's return, <br> till Thy mercy's beams I see, <br> till they inward light impart, <br> glad my eyes, and warm my heart. <br> <br>3 Visit then this soul of mine, <br> pierce the gloom of sin and grief; <br> fill me, radiancy divine, <br> scatter all my unbelief; <br> more and more Thyself display, <br> shining to the perfect day. <br>  <br> Source: Psalms and Hymns to the Living God #<br>399</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
