{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The star of morn has risen; <br> O Lord, to Thee we pray: <br> O uncreated Light of Light, <br> Guide Thou our way. <br> <br>2 Sinless be tongue and hand, <br> And innocent the mind, <br> Let simple truth be on our lips, <br> Our hearts be kind. <br> <br>3 Let not the flesh prevail, <br> But all be ruled by good; <br> The gift of temperance bestow <br> In drink and food. <br> <br>4 As the swift day rolls on, <br> Still, Lord, our guardian be, <br> And keep the portals of our hearts <br> From evil free. <br> <br>5 Grant that our daily toil <br> May to Thy glory tend; <br> And as our hours begin with Thee, <br> So may they end. <br>  <br> Source: The Cyber Hymnal #<br>11313</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
