{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 My Father, for another night <br> of quiet sleep and rest, <br> for all the joy of morning light, <br> thy holy name be blest. <br> <br><br>2 Now with the new-born day I give <br> myself anew to thee, <br> that as thou willest I may live, <br> and what thou willest be. <br> <br><br>3 Whate'er I do, things great or small, <br> whate'er I speak or frame, <br> thy glory may I seek in all, <br> do all in Jesus' name. <br> <br><br>4 My Father, for his sake, I pray, <br> thy child accept and bless; <br> and lead me by thy grace today <br> in paths of righteousness. <br>  <br>  <br> Source: CPWI Hymnal #<br><br>4</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
