{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Immanuel, our God we praise,
With joyful songs we worship you,
You long expected, God-with-us,
We joyfully receive you now. <br/><br/>2 In Bethlehem, in David's town,
There in a manger you were born,
We greet you with a heart of joy,
We worship you and thank you Lord. <br> <br> 3 Savior of man, you loved the world,
The world that turned its back on you,
In your great love you saved this world,
You saved us all from sin and death. <br> <br> 4 Now I desire to love you, Lord,
Love you with all my heart and soul,
For there is none so great in love,
In none shall find eternal peace. <br> <br> 5 Help me O Lord to love you more,
Forgive me Lord my trespasses,
Accept the grateful thanks I bring,
A joyful sacrifice to you! <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            