{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Awake, my soul, and with the sun <br> thy daily stage of duty run; <br> shake off dull sloth, and early rise <br> to pay thy morning sacrifice. <br> <br>2 Lord, I my vows to Thee renew. <br> Disperse my sins as morning dew; <br> guard my first springs of thought and will; <br> and with Thyself my spirit fill. <br> <br>3 Direct, control, suggest, this day, <br> all I design or do or say, <br> that all my pow'rs, with all their might, <br> in Thy sole glory may unite. <br> <br>4 Praise God, from whom all blessings flow; <br> praise Him all creatures here below; <br> praise Him above, ye heav'enly host; <br> praise Father, Son, and Holy Ghost. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>151</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
