{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1. All praise to Him who dwells in bliss, <br> Who made both day and night; <br> Whose throne is darkness, in th'abyss, <br> Of uncreated light. <br> <br>2. Each thought and deed His piercing eyes <br> With strictest search survey; <br> The deepest shades no more disguise <br> Than the full blaze of day. <br> <br>3. Whom Thou dost guard, O King of kings, <br> No evil shall molest: <br> Under the shadow of Thy wings, <br> Shall they securely rest. <br> <br>4. Thy angels shall around their beds <br> Their constant stations keep: <br> Thy faith and truth shall shield their heads, <br> For Thou dost never sleep. <br> <br>5. May we, with calm and sweet repose <br> And heavenly thoughts refreshed, <br> Our eyelids with the morn's unclose, <br> And bless the Ever-bless'd. <br> Amen. <br>  <br>  <br> Source: The Hymnal: published by the Authority of the General Assembly of the Presbyterian Church in the U.S.A. #<br>25</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
