{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1 O gladsome light, O grace <br> of God the Father's face, <br> the eternal splendor wearing; <br> celestial, holy, blest, <br> our Savior Jesus Christ, <br> joyful in Thine appearing. <br> <br>2 Now, as day fadeth quite, <br> we see the evening light, <br> our wonted hymn outpouring; <br> Father of might unknown, <br> Thee, His incarnate Son, <br> and Holy Spirit adoring. <br> <br>3 To Thee of right belongs <br> all praise of holy songs, <br> O Son of God, Life-giver; <br> Thee, therefore, O Most High, <br> the world doth glorify <br> and shall exalt forever. <br>  <br> Source: Psalms and Hymns to the Living God #<br>430</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
