{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1 Father, in high heaven dwelling, <br> May our evening song be telling <br> Of Thy mercy large and free. <br> Through the day Thy love has fed us, <br> Through the day Thy care has led <br> With divinest charity. <br> <br>2 This day's sins, O pardon, Saviour, <br> Evil thoughts, perverse behaviour, <br> Envy, pride, and vanity; <br> From the world, the flesh, deliver, <br> Save us now, and save us ever, <br> O Thou Lamb of Calvary! <br> <br>3 From enticements of the devil, <br> From the might of spirits evil, <br> Be our shield and panoply; <br> Let Thy power this night defend us, <br> And a heavenly peace attend us, <br> And angelic company. <br> <br>4 Whilst the night-dews are distilling, <br> Holy Ghost each heart be filling <br> With Thine own serenity; <br> Softly let the eyes be closing, <br> Loving souls on Thee reposing, <br> Ever blessed Trinity. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>231</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
