{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1 The sun is sinking fast, <br> the daylight dies; <br> let love awake, and pay <br> her evening sacrifice. <br> <br>2 As Christ upon the cross <br> his head inclined, <br> and to his Father's hands <br> his parting soul resigned, <br> <br>3 so now herself my soul <br> would wholly give <br> into his sacred charge, <br> in whom all spirits live; <br> <br>4 so now beneath his eye <br> would calmly rest, <br> without a wish or thought <br> abiding in the breast, <br> <br>5 save that his will be done, <br> whate'er betide; <br> dead to herself, and dead <br> in him to all beside. <br> <br>6 Thus would I live: yet now <br> not I, but he, <br> in all his power and love <br> henceforth alive in me. <br> <br>7 One sacred Trinity! <br> One Lord divine! <br> May I be ever his, <br> and he for ever mine. <br>  <br> Source: CPWI Hymnal #<br>29</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
