{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 None other Lamb, none other name, <br/> none other hope in heav'n or earth or sea, <br/> none other hiding place from guilt and shame, <br/> none beside thee! <br/> <br/>2 My faith burns low, my hope burns low; <br/> only my heart's desire cries out in me <br/> by the deep thunder of its want and woe, <br/> cries out to thee. <br/> <br/>3 Lord, thou art Life, though I be dead; <br/> love's fire thou art, however cold I be: <br/> nor heav'n have I, nor place to lay my head, <br/> nor home, but thee. <br/> <br/> Source: Trinity Psalter Hymnal #<br/>264</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
