{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1 All praise to You, my God, this night, <br> For all the blessings of the light. <br> Keep me, O keep me, King of kings, <br> Beneath the shelter of Your wings. <br> <br>2 Forgive me, Lord, for this I pray, <br> The wrong that I have done this day. <br> May peace with God and neighbor be, <br> Before I sleep restored to me. <br> <br>3 Lord, may I be at rest in You <br> And sweetly sleep the whole night thro'. <br> Refresh my strength, for Your own sake, <br> So I may serve You when I wake. <br> <br>4 Praise God, from whom all blessings flow; <br> Praise Him all creatures here below; <br> Praise Him above, ye heav'nly host; <br> Praise Father, Son, and Holy Ghost. <br> Baptist Hymnal, <br>1991</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
