{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Give all glory to Christ Jesus,
With your heart and mind come,
[worship.
Come and sing aloud and praise Him,
All the Saints of God adore. <br/><br/>2 World of all the dead and of sin,
Satan is shamed, Christ has conquered.
Those that now believe in Jesus,
They have no fear and sorrow. <br> <br> 3 Gift of God we have in Jesus,
In Him we have life eternal.
He has saved this world of sin, and
In Him we have hope of Heav'n. <br> <br> 4 Star of Jacob has appeared now,
He has come to break sin's power.
He has crushed the serpent's head now,
Satan's work, He defeated. <br> <br> 5 Captives of sin, we all once were,
Poor sinners we were, without hope.
Sin destroyed the soul of all men,
Jesus saved us from our sin. <br> <br> 6 Let us give thanks to Christ Jesus,
Come adore the Lord our Savior.
Come and worship Christ the Lord
[God,
He deserves all praise and thanks. <br> <br> 7 Baby Jesus lays asleeping,
In a manger lay the Savior.
Friend of sinners, we all gather,
Join with angels, worship you. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            