{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Come children, come all men come marvel at this,
In Bethlehem's manger laid Christ Savior God.
Behold such great love of our Father on High,
Love infinite from Jehovah we have now. <br/><br/>2 God laid in a manger and wrapped in poor clothes,
Meek, lowly and humble God came to this world.
He left all His glory, His Throne and came down,
Begotten of God, Son of God, Christ has come. <br> <br> 3 God laid in a manger, a manger with grass,
Close by Him were Mary and Joseph, to care.
Angels sang the praises of His glorious birth,
Shepherds from the fields came, this Baby to see. <br> <br> 4 Come all humankind come to join in God's praise,
Come worship the Savior, Lord Jesus the Christ.
Give thanks for your Savior, Christ Jesus has come,
He left all His glory, to save all mankind. <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            