{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1. Join, all ye ransomed sons of grace, <br/> The holy joy prolong, <br/> And shout to the RedeemerÂs praise <br/> A solemn midnight song. <br/> <br/>2. Blessing, and thanks, and love, and might, <br/> Be to our Jesus givÂn, <br/> Who turns our darkness into light <br/> Who turns our hell to HeavÂn. <br/> <br/>3. Thither our faithful souls He leads, <br/> Thither He bids us rise, <br/> With crowns of joy upon our heads, <br/> To meet Him in the skies. <br/> <br/> Source: The Cyber Hymnal #<br/>3390</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
