{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 The spring again is here, <br/> life wakes from winter's gloom; <br/> in field and forest far and near <br/> sweet opening flowerets bloom. <br/> <br/>2 O mystery strange and sweet, <br/> that life so dumbly bound <br/> should rise, our thankful gaze to greet, <br/> and break from underground. <br/> <br/>3 The morn is fresh and bright, <br/> the slow dark hours depart: <br/> let days unstained and pure delight <br/> bring sunshine to the heart. <br/> <br/>4 Lord, touch our careless eyes, <br/> new life, new ardour bring, <br/> that we may read Your mysteries, <br/> the wonder of Your spring. <br/> <br/> Source: The Irish Presbyterian Hymbook #<br/>47</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
