{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1 Yes, God is good: in earth and sky, <br> From ocean's depths and spreading wood, <br> Ten thousand voices seem to cry, <br> God made us all, and God is good. <br> <br>2 The sun that keeps his trackless way, <br> And downward pours his golden flood, <br> Night's sparkling hosts, all seem to say, <br> In accents clear, that God is good. <br> <br>3 The merry birds prolong the strain, <br> Their song with ev'ry spring renewed; <br> And balmy air, and falling rain, <br> Each softly whispers, God is good. <br> <br>4 Yes, God is good, all nature says, <br> By God's own hand with speech endued; <br> And man, in louder notes of praise, <br> Should sing for joy that God is good. <br> <br>5 For all Thy gifts we bless Thee, Lord, <br> But chiefly for our heavenly food; <br> Thy pard'ning grace, Thy quick'ning word, <br> These prompt our song that God is good. <br> Amen. <br>  <br> Source: Voices of Praise: for school and church and home #<br>275</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
