{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b>P.H.B {{ clicked_value }} </b></p>
<p> 1. Silent night! Holy night!
All is calm all is bright
See the virgin mother and child
Holy infant so tender and mild
Sleep in heavenly peace!
Sleep in heavenly peace <br/><br/>2 Silent night! Holy night!
Son of God love's pure light
Radiant beams from thy holy face
With the dawn of redeeming grace,
Jesus, Lord at thy birth,
Jesus, Lord at thy birth. <br> <br> 3 Silent night! Holy night!
Shepherds quake at the sight
Glories stream from heaven afar
Heavenly hosts sing Alleluia!
Christ the Saviour is born
Christ the Saviour is born! <br> <br> </p> <!-- Added line with the requested string -->
<a href="/solfa/">Read and play tonic-solfa notes</a>
            {% endblock %}
            