{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 A gladsome hymn of praise we sing, <br/> and thankfully we gather <br/> to bless the love of God above, <br/> our everlasting Father. <br/> <br/>2 In Him rejoice with heart and voice, <br/> His glory fading never, <br/> whose providence is our defence, <br/> who lives and loves for ever. [Refrain] <br/> <br/>3 Full in His sight His children stand, <br/> by His strong arm defended, <br/> and He whose wisdom guides the world <br/> our footsteps has attended. [Refrain] <br/> <br/>4 For nothing falls unknown to HimÂ <br/> or care or joy or sorrow; <br/> and He, whose mercy ruled the past, <br/> Will be our stay tomorrow. [Refrain] <br/> <br/> Source: The Irish Presbyterian Hymbook #<br/>77</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
