{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 Our Father, by whose servants <br/> our house was built of old, <br/> whose hand hath crowned her children <br/> with blessing manifold, <br/> for thine unfailing mercies <br/> far strewn along our way, <br/> with all who passed before us, <br/> we praise thy name today. <br/> <br/>2 The changeful years unresting <br/> their silent course have sped, <br/> new comrades ever bringing <br/> in comradesÂ steps to tread; <br/> and some are long forgotten, <br/> long spent their hopes and fears; <br/> safe rest they in thy keeping, <br/> who changest not with years. <br/> <br/>3 They reap not where they laboured; <br/> we reap what they have sown; <br/> our harvest may be garnered <br/> by ages yet unknown. <br/> The days of old have dowered us <br/> with gifts beyond all praise; <br/> our Father, make us faithful <br/> to serve the coming days. <br/> <br/> Source: CPWI Hymnal #<br/>739</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
