{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br><br><br><br>1 O Thou, whose hand hath brought us <br> Unto this joyful day, <br> Accept our glad thanksgiving, <br> And listen as we pray; <br> And may our preparation <br> For this days service be <br> With one accord to offer <br> Ourselves, O Lord, to Thee. <br> <br><br><br><br>2 For this Thy house we praise Thee, <br> Reared at Thine own command, <br> For every generous bosom, <br> And every willing hand; <br> And now within Thy temple <br> Thy glory let us see, <br> For all its strength and beauty <br> Are nothing without Thee. <br> <br><br><br><br>3 And oft as here we gather, <br> And hearts in worship blend, <br> May truth reveal its power, <br> And fervent prayers ascend; <br> Here may the busy toiler <br> Rise to the things above; <br> The young, the old, be strengthened, <br> And all men learn Thy love. <br> Amen. <br>  <br> Source: The Hymnal #<br><br><br><br>473</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
