{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>    Brao Nya mee Nya mee Nya mee        gye wa ye yio wa ye yio .  A dom Nya mee yio    yio wa ye yio . Wa hwe me . yio so a  me ho . a se da . se wo nea me di . ne nea me nom . nyna wo de ma . meo . A dom Nya mee .   fa me  fa me  nwom to ye ma se dao  oo  A dom Nya mee . fa me fa me      nwom to ye ma ye yio   Ye A dom Nya mee sue  . gye wa se .   dao . Wa hwe me .  dao .</p>
                        {% endblock %}