{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   E yea  dom nti na me  tea seo O Nya mea Nya mea .  dom dom nti na me   tea seo O Nya mea A   dom   dom  men ya Nya mea .  dom  men  ya, E ye .      no nti na me ke ka me hoo    . O Nya mea . dom E ye . no nti na me ke ka me hoo   O. Nya mea . dom  men ya Nya mea . dom  men ya Nya mea .  dom wei     dee e do . soo ma Me di . me frim, me fi .  , Saa  Dom yi ne hwe    me E ye . no nti na me ke ka me hoo    . O, Nya mea . dom E ye . no nti na me    ke ka me hoo.</p>
                        {% endblock %}