{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   A hen fo  hen, Hen A hen fo  E wra mue hen   wra wra E wra mue Je .  wra      sus re  dzi  hen ma ho toa     ma ho toa  O dze nhyi   ra, O .    do, na .  som dwee na o dze re     . nj Nyin . suwa nye a were  how nyna     dzeo nyna   A hen fo dzeo  dzeo Hom mma yen  tow Ha lle  lu  ia Hen . hen Je sus re Yen .   tow ndwom yem     see, Yen dzi         dew o . O dze nhyi  ra, O . do na .  som dwee na o dze re     suwa nye a were  how nyna  dzeo Hom mma yen  dzeo</p>
                        {% endblock %}