{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   E nua  nom ei  Mo mbe tsie O nom ei   mo mbe tsie O  A da sam   A da sam     Mo mbe tsie O        mo mbe tsie O    P  An wa nwa  sem  ma      tse, En yin gye   sem  ma   tse, Woa wo .    Je sus wo   Beth le    hem . E nua .  Hem . Na hen dzi . Da na  tsir do Na hen dzi do Na hen dzi Mo mbe tsie  so O, mo mbe hwe O woa . .  wo no wo noa ma An wa nwa yen  sem  ma tse, En yin gye sem  ma     tse, Woa wo .    Je sus wo   Beth le hem . Na hen dzi    Hems .</p>
                        {% endblock %}