{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Se me hwe ne  . a wa    . . yea ma mea  . .   e se      se me  .    da wa se,  .  se me kae ne  . a wa    . . yea ma mea,  . . me to     nnwom na ma  . da wa se  .   we yi me  fi o wuom  . . me de a se da  . .  nea ye yi  nnwom  . ma wo.  .  se me ma wo.  .      me to nnwom  . me to  me nnwom see  . a ma me tea wo sea, me wo  .      nkwa ne fri wo,  . Nya we yi me me  fi o wuom  . . me de a se da  . .     nea ye yi  nnwom  . ma wo  .   </p>
            {% endblock %}
            