{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Wa ma  me nia gye, wa ma  . me hoa tom, me nhu  .   nea me nye, me nhu  . nea me nka, mean ka  . me nse  wa ma  .   ma se , A ye  . yi wurae,  . ye yi wa  ye na ye  .ma wo  . so.  . . A ye yi  wurae, . .    a ye yi   wurae  . . ye yi wa ye na ye  .    ma wo  . so,  . . A ye yi  wurae, . . A ye yi       wurae,  . . ye yi wa ye na ye  . ma wo  .</p>
                        {% endblock %}