{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   I am P A in your . . pre sence, Bless me  Lord, oh .. .     me now.  I am  in your . . pre sence,   Bless me  Lord oh . . me now.  I am  amos TettehAttaah Winneba, November, . Nov.  Bless Me Now Could  sang as a congregational chorus in Church Services with translations of different tongues as other stanzas. in Nigerian Native Highlife Style Not dragging  B F, Bless me Lord oh me. Bless me    now oh me.  I am  P in your . . pre sence,   Bless me  Lord oh . . me now. F .</p>
                        {% endblock %}