{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   I am in your . . pre sence, Bless me  Lord, oh .. . me now I am  in your . . pre sence, Bless me  Lord oh . . me now I am  amos, Bless me Lord oh me Bless me    now oh me I am in your . . pre sence,   Bless me  Lord oh . . me now.</p>
{% endblock %}
            

{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p></p>
{% endblock %}
            