{% extends 'jot.html' %}
            {% block content %}
            <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>      Bribi  papabiwasedaekyia ne   nyinayewodeo,Bribi      papabiwoayeyiakyia ne  nyinayewodeo,Men  hyiawoa Agya ankaA     tamfoakyemewe,denna  menye woo, papabiwoasedaekyiayewo  BRIBIPAPABIWOASEDAAKYIA    deo, Bribi papabiwoasedaekyiayewo   deoBribi oh      papa  se daekyia ne   nyinayewodeo, Bribi     papabiwoayeyiekyia ne  nyinayewodeo,Eye   wonkotoo wadom, wo  do, wehumobrona  gyemenkwao, Bribi papabiwasedaekyiayewo        deo, Bribi oh  pa papa  daekyiayewo O       deo, Bri   papabiwoasedaekyiayewo deoBribi   papa      deo, Bri Mebowodin, metowondwom  papabiwoasedaekyiayewo mese      deo, Bri mebowodin, metowondwom  papa    deo, Bribi  danseenkoaname di papa      deo, Bribi  danseenkoaname di papa        deoBribi ohbribipapa  papabiwoasedaekyia ne   nyinayewodeo,Bribi     papabiwoayeyiekyia ne  nyinayewodeo,Eye   wonkotoo wadom, wo     do, wehumobrona  gyemenkwao, Bribi  papabi waseda ekyia ye wo deo, </p>
{% endblock %}
            