{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   .. He na ne me . Ye sua  wo de wo nkwa to  ho ma me .   De  ye ni . te se me .    wo de wo nkwa ma  w me w w   Se me hwe me      .   ne hoa . men se mfa ta wa do   ye koraa     pa pa  na ma ye  a ma wo Ye ho wah          wo de wo nkwa to  ho ma me . James Varrick Armaah BegomusicTo Minister Nii Okai of St. Paul Methodist Cathedra l Tema and the Director of Harbour City Mass Choir  De  ye ni . te se me .    wo de wo nkwa ma  w me w w  NI TE SE ME</p>
                        {% endblock %}