{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Den ne wo su me do  foe  j j Nya me da so tea     j j   Jw seo. w ww Den ne wo haw me do     foe O nua do foe j j  Nya me da so tea     j j  Jw seo. w w Ka we hia sem nyi na  kyere no,      Di wo nko mo nyi na  kyere no,  se nea te te no te  no, te te Nya me  da so te saa DEN NE WO SU James Varrick Armaah Brgomusic To my Brother Emmanuel Ayi Symphonials, Valley View University  w daa w w2.  daa. Wo haw ne j   sen Wo dadwen ne wo haw ne sen  sen Oye NyameO j jj j tu mi yea dee nyina  JJ  j jj j  JJJ    w yie w Ka we hia sem nyi na  kyere no,  Di wo nko mo nyi na  kyere no,     se nea te te no te  no, te te Nya me  da so te saa  daa. Wo haw ne j    . ww w DEN NE WO SU</p>
                        {% endblock %}