{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Do  fo  . koraa no  te se  wo . wogyae wa  he . nie     wui de gye me . nkwa. . Do  fo  . koraa no   te se wo .   wo de wo mo . gya a  to     me a       den. . Den na men  ye .  mmawo A  gyen          kwae Den na menye  mma wo Wo de wo . nkwa to   ho maa   . me. . andyebenpresby ABNT James Varrick Armaah DOFO BEN To Vivian Ahenakwa St Mary A. Zion Mcarthy Hill   Den koraa na ma  yea ma wo  E  wra  dea  .j wo de wo mo .    gya a  to     me a       den . andyebenpresby ABNT</p>
                        {% endblock %}