{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Ma we ni ngye,  ma we ni ngye  ma we ni ngye.   Doc tor  Je sus re   O dea      som dwee re      O see  o see     O see o see    o see  o see   o see o see  Doc tor        Je sus re  o o see   re  O see . jyee yee  o see  a yee   yee a yee  a yee  o see a yee   a yee  o see    Dr. Jesus James Varrick Armaah To my loved one Derick Kow Bonney Atl,  o see     O see o see    o see  o see   o see o see  Doc tor   Je sus re ,  o A man san re  A man san   nyna   me hwe   me hwe   no, me hwe   no me hwe . no   no.  No, O yea  hen fo  .       hen o ye     wra mue  .  wra, o y3     tum foe  . gya o dea  D. al Fine  som dwee re   </p>
                        {% endblock %}