{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Gyae ne nyna ra  mu fa ma Ye  su no  yea       w maw     gyae wo sua wo       sui fa ma Ye  su na e tuo w twa . twa e tuo  twa o nuae       Se wo  gyea  dea fa ko mpae  fa hye ne       w nsa, James Varrick Armaah BegovicTake your  to the Lord and leave it there. Prayerfully   To Sheila Gordor, Chaplain of Harmonious Chorale The lord is on your side   na wo sua wo       sui wo ren su   na we ni w gye w ww   Nso hwe  na a to    w woa w j  j  Nso hwe  na a to    e so sene Ye w woa ww su w e so sene Ye     j   j O haw  ne da wo     su  soa e so sene j   j  O haw   noa on tu mi   ngyew O nuae       Se wo  gyea  dea fa ko mpae  fa hye ne       w nsa,</p>
                        {% endblock %}