{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Ye su me  pe se me  ye se wo, . Kyere me kwan  paa me mfa      soo, . Te me ho  na me nye  te se woo, . Kyere me kwan     paa me mfa  soo, Kyere me kwan  paa me mfa . soo, . James Varrick Armaah To Mr and Mrs. Lawrence Anane Boamah, Queens SDA Church, New York To  sung prayerfully with much emotions   Na ma do   nea wo do . nkoa, . Na ma ye  nea wo . ye . nkoa, .    kyere me kwan     paa me mfa  soo.</p>
                        {% endblock %}