{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   .. A wra de me pe se me hu . wo, na ma dow se nea se .    wo, na ma ye ne a wo . pe, A wra . de yi wo hoe di kye re . meo, ma ma ko     ma nto me yam, A wra . yam, Me pe . se me hu se wo  .   MA ME NHU WO Begomusic James Varrick Armaah To Attaa Fosuhemaa Kwarteng and Atta Fosuhene Kwarteng   meo, ma me nhu se nea me ye nyna da we . nim o, Me pe  .    se me te wo nne, na me tu   mea ye wa pe dee, A wra de yi wo hoe di kye re .    meo, ma ma ko  ma nto me yam, Me pe . yam. .</p>
                        {% endblock %}