{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Kye mon so mo  do A gyen   kwae, Me ssi ahe, . Kye wa dom   hyi ran sun ma      nso mo . do. . mo wrae kye Kye mon mon so so mo mo   do, do, mo on so mo do on so mo do E gyae     mam pa mo  ho nkoa ra dao . Me hia wa JJ jj .j  . dom oJ  . j jmo  Kye wo nhi ran sun  jj me hia wa  JJ jj wrae    j  . dom oJ  . j  .    Kye won hyi ransun  jj me hia wa JJ jj j  . dom oJ  . j jmo  Kye wo nhyiransun  jj me hia wa  JJ jj wrae j  . dom oJ  . j  .    Kye wonhyi ransun  j j wo nhyi ra JJ jj JJ Ma Onso Mo Do James Varrick Armaah To Ato RichardsonBrooklyn    nsu no fa  gu mo    do . kwae mo wrae</p>
                        {% endblock %}