{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>    Ma ko ma soa . dea ne  wo Ye su me nni O gye .      fo   ra ka wo   . ho ma di nyi na . ra ne     wo Ye  su wa  ne wo po . ma me ne   hye me         den Wo to me . pon wo ma tan fo e nim    We hyi ra . me ma me . kro wa e  . so. . woa hwe me so . James VarrickArmaah To Ann Afua Afowa Annan Immanuel Meth. Choir Tema Comm.    yie, A  me ho e fri mu . suo mu. ma ko ma soa . dea ne   wo Ye      su. .</p>
                        {% endblock %}