{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Wo ne ma ni da . soo Nya . me,  me nya woa me . wie     Me twere wo Ye . sua me nim ngua se . da,    Wo dwo Wo . dwo me ko .   ma  daa,   Wo ne wo . ma ni da .  soo.   Wo ne  soo.  MANIDASOO James Varrick Armaah Begomusic To my dear sister Abigail Kwarteng  Wo to me . pon was ma tan foe . nim, wo ma me .   kru wa    ye ma  . so. Wo de wo . mo gya . a te me . ho  hwan koraa    no te se . wo  me twere wo Ye . sua me nim ngua se . da,      Wo dwo Wo . dwo me ko . ma  daa,   Wo ne wo . ma ni da . soo  </p>
                        {% endblock %}