{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Me ma ma ni  . so a kye re . mme po  . no e hen na me  .     mmo a fri ,  . Me mmoa  nyi na  . fri Ye ho wah  ho ne ,  . .    me tea sea Ye ho  . wah na .   . yeo.  . me ma wah na .   . yeo.  . James VarrickArmaah     Me tea  sea e fri  . no, me wo nkwa e fri  . no, me woa  ho toa e fri  no, me woe       ni gyea e fri  no, me tea sea Nya mea  . dom, me wo nkwa e yea  . dom, me tea sea Ye ho  .    wah na .   . yeo  .  MANISO</p>
                        {% endblock %}