{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>    Mo   mma mo   ko maen tu  tu,  Mo  ngye Ye su  Kris to     nni, . O  no   ye den den a  ra,  mo  ngye Ye su     Kris to nni, . O  no no  nim moE hia sem, . O ren MMA MO KOMA ENTUTU James Varrick Armaah Begomusic Let not your heart  troubled To Anselm Yaw Ansah, Atlanta Georgia    hwe ma moE  nim ngua se da, Twer   Twere no, Ye su o  Twere no no ren gyae  ren gyae     wo Mo ngye no  nni daa nyna, . O  nyna .  MO KOMA ENTUTU</p>
                        {% endblock %}