{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Nea me  wo  ra Ye  ho wah na dom o, Na dom ke . ke, Nea me      wo  ra Twe  duam pon na dom o,   am Nea me pao  wo  ra fri     jj Ye su, nea JJ jjJJ me wo  fri  Ye su, nea me  te  ra Ye   su na wa yeo,   NEA ME WO BIARA Begomusic James Varrick Armaah   Nea me  su na wa yeo    Me hwe  me . fri ne .    me . wo yia, AJJ jjJJ se da nwom na  me toa ma Ye    suo . am Nea me pao     wo  ra fri jj Ye su, nea JJ jjJJ me wo  fri  Ye su, nea me  te  ra Ye      su na wa yeo,    Me hwe   su na wa yeo     </p>
                        {% endblock %}