{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>    Den na mem fa . nna . Ye ho wah a. se . wo ne yi  ya . o . ye ma me     daa . Den na mem fa . nhye . Ye ho wa nan . mu . wo ne yi  ya . o .    ye ma me daa . Me ma ne nkwa . gye . ku ru wa ne . so . na ma ne . James Varrick Armaah TO Ann Annan of KNUST Choir   din . a kyra man  san . nyna, . Me hyi ra  ne . din, . me di na          . dan . see .    wo ne yi  ya . o . ye ma me daa .</p>
                        {% endblock %}