{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   He na ne do  wo se Ye  su Ye Dam .    fo  ne do     wo se Ye       su  We  sua  ni  ne do  wo se Ye  su Ye  A wo foo    su      mpo ne do      wo se Ye  su   O gyea nim gua  see,  o gye a so            ODO BI NTE SE NO No greater love than Jesus James Varrick Armaah Sing with emotions Dedecated to Samuel and Lena Kufour of Ghana Wesley United Methodist,Brooklyn   tro,  ye te no nte suo me .  ne wo  ne       ntio,  O  nte se no, O      ra nte se     no am pa,     he na ne do      wo se Ye  su, Ye  A wo foo    su      mpo ne do      wo se Ye  su.  </p>
                        {% endblock %}