{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   Ye su wo ne ma ko . ma soa dee, . wo ye ma dan fo ne .    meA gyenkwa . Wo fri Sro  .   .   wu de gye me nkwa nkwa de gye me     A nwa nwa do nkwa  w ni w Wo ye Je sus, . wo ye Je sus, . James Varrick Armaah What Manner of love Dedecated to Mr. Sammy AbakaJnr and wife Mrs Abakah Fin. Secretay,HC  Wo mo gya no na a    gye me,  O do  nie, . mea men se, mfa ta, men se, mfa                   Ye sua  wua gye ta w me. w   Odo Ben Ni</p>
                        {% endblock %}