{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   .. Do wo yon ko se nea Ye su do woo, .  .j Ma saa do no nso o    ra soo, .  Ma yen hu wo na ye nhu se       Ye su te wo muo,  O do ne ye mo do        nni we nim daa,  Mo do nni we nim, Mo do nni we  te we nim daa nim, te we nim, ODO NA EYE James Varrick Armaah To my Sister Stella Amponsah Duku, Formerly of Valley View Choir    Mo  nsoe ni ngye, Nya me hye we nuo nyam o .  Ye su te wo mua,     Kyre o do, kyere o do,  O do ne ye mo do     nni we nim daa, </p>
                        {% endblock %}