{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>   O re kye kyeo . o re kye o re kye .  kyeo kyeo . o re kye .      kye na  j j dom nhyi ra nsu   j j  JJ1. no . O re kye . no . O re kye .   kye na j j dom nhyi ra nsu   j j   noa o ma nkwan, o re kye . kye na j  nj dom nhyi ra nsu JJ j jJ       noa o ma      j  j ho ton Ao me    j  j    gyae, ma   Jj j nso so mo   j j  . do   James Varrick Armaah Begomusic  mA gyen kwa . pae ma  j j nso so mo   j j  J1. do . O re kye . do .   O re kye Oh . kye o re kye kye na dom nhyi rao j    kye na dom nhyi    . j Ao me .      gyae ma    mE gyae j j nso so mo   j j  . do JJ mA gyen kwa . pae ma  j j nso so mo   j j      do . O re kye do</p>
                        {% endblock %}