{% extends 'jot.html' %}
                        {% block content %}
                        <br/><br/>
<p><b> {{ clicked_value }} </b></p>
<p>    A gya  tan . pa, wo mma su . fre woa e yea tie yen o, ye   . nnio , ye   .     nnio  nti daa A gya . tie yen o,  O haw   . , wo mma su . fre woa e yea    tie yen o, ye   . nnie tuo, ye   . nnia  nti daa  ko ma . yen oo.   Ye hi a wa TIE YEN James Varrick Armaah Begomusic To my  Eddie Gaisie Dept. of Harmonious chorale  dom, A gyae .   ye hi a wo  , ye hi  a wo nkwa gyee, A gyae . ye hi a      woo, Se wo ka saa tu mi .  nyi na  rea se koraa, ye   . nnie tua, ye   .    nnie gyan nti daa  ko ma . yen oo  YEN</p>
                        {% endblock %}