{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 Now that the daylight fills the sky, <br> we lift our hearts to God on high, <br> that he, in all we do or say, <br> would keep us free from harm today. <br> <br>2 May he restrain our tongues from strife, <br> and shield from angers din our life, <br> and guard with watchful care our eyes <br> from earths absorbing vanities. <br> <br>3 O may our inmost hearts be pure, <br> from thoughts of folly kept secure, <br> and pride of sinful flesh subdued <br> through sparing use of daily food. <br> <br>4 So we, when this days work is oer, <br> and shades of night return once more, <br> our path of trial safely trod, <br> shall give the glory to our God. <br> <br>5 All praise to God the Father be, <br> all praise, Eternal Son, to thee, <br> whom with the Spirit we adore <br> for ever and for evermore. <br>  <br> Source: CPWI Hymnal #<br>6</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
