{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 O God of truth, O Lord of might, <br> Who, ordering time and change aright, <br> Sendest the early morning ray, <br> Kindling the glow of perfect day; <br> <br>2 Extinguish thou each sinful fire, <br> And banish every ill desire: <br> And, keeping all the body whole, <br> Shed forth Thy peace upon the soul. <br> <br>3 O Father, that we ask be done, <br> Through Jesus Christ, Thine only Son; <br> Who, with the Holy ghost and thee, <br> Shall live and reign eternally. <br>  <br> Source: Hymnal: according to the use of the Protestant Episcopal Church in the United States of America #<br>356</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
