{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Sions daughter, weep no more, <br> Though thy troubled heart be sore; <br> He of whom the psalmist sung, <br> He who woke the prophets tongue, <br> Christ, the mediator blest, <br> Brings thee everlasting rest. <br> <br>2. In a garden man became <br> Heir of sin, and death, and shame; <br> Jesus in a garden wins <br> Life, and pardon for our sins; <br> Through His hour of agony <br> Praying in Gethsemane. <br> <br>3. There for us He intercedes; <br> There with God the Father pleads; <br> Willing there for us to drain <br> To the dregs the cup of pain, <br> That in everlasting day <br> He may wipe our tears away. <br> <br>4. Therefore to His name be givn, <br> Glory both in earth and Heavn; <br> To the Father, and the Son, <br> And the Spirit, Three in One, <br> Honor, praise and glory be <br> Now and through eternity. <br>  <br> Source: The Cyber Hymnal #<br>5950</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
