{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 He, Who once in righteous vengeance <br> Whelmed the world beneath the flood, <br> Once again in mercy cleansed it <br> With His own most precious blood; <br> Coming from His throne on high, <br> On the painful cross to die. <br> <br>2 O the wisdom of the Eternal! <br> O its depth, and height divine! <br> O the sweetness of that mercy <br> Which in Jesus Christ did shine! <br> We were sinners doomed to die; <br> Jesus paid the penalty. <br> <br>3 When before the Judge we tremble, <br> Conscious of His broken laws, <br> May the blood of His atonement <br> Cry aloud, and plead our cause; <br> Bid our guilty terrors cease, <br> Be our pardon and our peace. <br>  <br> Source: International Song Service: with Bright Gems from fifty authors, for Sunday-schools, gospel meetings, missionary and young people's societies, prayer-meetings, etc. #<br>240</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
