{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Now my soul, thy voice upraising, <br> Tell in sweet and mournful strain <br> How the Crucified, enduring <br> Grief and wounds, and dying pain, <br> Freely of his love was offered, <br> Sinless was for sinners slain. <br> <br>2 See, his hands and feet are fastened! <br> So he makes his people free; <br> Not a wound whence Blood is flowing <br> But a fount of grace shall be; <br> Yea, the very nails which nail him <br> Nail us also to the Tree. <br> <br>3 Jesu, may those precious fountains <br> Drink to thirsting souls afford; <br> Let them be our cup and healing, <br> And at length our great reward: <br> So a ransomed world shall ever <br> Praise thee, its redeeming Lord. <br>  <br> Source: The New English Hymnal #<br>88</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
