{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 In the Lords atoning grief <br> be our rest and sweet relief; <br> store we deep in hearts recess <br> all the shame and bitterness. <br> <br>2 Thorns, and cross, and nails, and lance, <br> wounds, our treasure that enhance, <br> vinegar, and gall, and reed, <br> and the pang His soul that freed, <br> <br>3 May these all our spirits sate, <br> and with love inebriate; <br> in our souls plant virtues root, <br> and mature its glorious fruit. <br> <br>4 Crucified! We thee adore, <br> thee with all our hearts implore; <br> us with saintly bands unite <br> in the realms of heavenly light. <br> <br>5 Christ, by coward hands betrayed, <br> Christ, for us a Captive made, <br> Christ, upon the bitter tree <br> slain for man, be praise to thee. <br>  <br> Source: CPWI Hymnal #<br>156</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
