{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Glory be to Jesus, <br> who in bitter pains <br> poured for me the lifeblood <br> from his sacred veins. <br> <br>2 Grace and life eternal <br> in that blood I find; <br> blest be his compassion, <br> infinitely kind. <br> <br>3 Blest through endless ages <br> be the precious stream <br> which from endless torment <br> did the world redeem. <br> <br>4 Abel's blood for vengeance <br> pleaded to the skies, <br> but the blood of Jesus <br> for our pardon cries. <br> <br>5 Oft as earth exulting <br> lifts its praise on high, <br> angel hosts rejoicing <br> make their glad reply. <br> <br>6 Lift we, then, our voices, <br> swell the mighty flood; <br> louder still and louder <br> praise the precious blood! <br>  <br> Source: Christian Worship: Hymnal #<br>402</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
