{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Sweet the moments, rich in blessing, <br> which before the cross we spend, <br> life and health and peace possessing <br> from the sinner's dying friend. <br> <br>2 Here we rest in wonder, viewing <br> all our sins on Jesus laid; <br> here we see redemption flowing <br> from the sacrifice he made. <br> <br>3 Here we find the dawn of heaven <br> while upon the cross we gaze, <br> see our trespasses forgiven, <br> and our songs of triumph raise. <br> <br>4 Oh, that, near the cross abiding, <br> we may to the Savior cleave, <br> naught with him our hearts dividing, <br> all for him content to leave! <br> <br>5 Lord, in loving contemplation <br> fix our hearts and eyes on you <br> till we taste your full salvation <br> and your unveiled glory view. <br>  <br> Source: Christian Worship: Hymnal #<br>400</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
