{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1. O God, of all the strength and power, <br> Who dost, Thyself unmoved, each hour <br> Through all its changes guide the day <br> From early morn to evenings ray; <br> <br>2. Brighten lifes eventide with light <br> That neer shall set in gloom of night, <br> Till we a holy death attain <br> And everlasting glory gain. <br> <br>3. Almighty Father, hear our cry <br> Through Jesus Christ our Lord most high, <br> Who with the Holy Ghost and Thee <br> Doth live and reign eternally. <br>  <br> Source: The Cyber Hymnal #<br>4874</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
