{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 All ye who seek for sure relief <br> in trouble and distress, <br> whatever sorrow vex the mind, <br> or guilt the soul oppress; <br> <br>2 Jesus, who gave himself for you <br> upon the cross to die, <br> opens to you his sacred heart: <br> O to that heart draw nigh. <br> <br>3 Ye hear how kindly he invites; <br> ye hear his words so blest: <br> 'All ye that labour come to me, <br> and I will give you rest.' <br> <br>4 O Jesus, joy of saints on high, <br> thou hope of sinners here, <br> attracted by those loving words <br> to thee we lift our prayer. <br> <br>5 Wash thou our wounds in that dear blood <br> which from thy heart doth flow; <br> a new and contrite heart on all <br> who cry to thee bestow. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>140</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
