{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 See the destined day arise! <br> See a willing sacrifice! <br> Jesus, to redeem our loss, <br> Hangs upon the shameful Cross. <br> <br>2 Jesus, who but Thou had borne, <br> Lifted on that Tree of scorn, <br> Every pang and bitter throe, <br> Finishing Thy life of woe? <br> <br>3 Who but Thou had dared to drain <br> Steeped in gall the cup of pain, <br> And with tender body bear <br> Thorns, and nails, piercing spear? <br> <br>4 Thence the cleansing water flowed, <br> Mingled from Thy Side with blood; <br> Sign to all attesting eyes <br> Of the finished Sacrifice. <br> <br>5 Holy Jesus, grant us peace <br> In that Sacrifice to place <br> All our trust for life renewed, <br> Pardoned sin, and promised good. <br>  <br> Source: The Church Hymnal: containing hymns approved and set forth by the general conventions of <br>1892 and <br>1916; together with hymns for the use of guilds and brotherhoods, and for special occasions (Rev. ed) #<br>100</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
