{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O come and mourn with me awhile; <br> O come ye to the Savior's side; <br> O come, together let us mourn: <br> Jesus, our Love, is crucified! <br> <br>2 Have we no tears to shed for Him, <br> While soldiers scoff and foes deride? <br> Ah! Look how patiently He hangs: <br> Jesus, our Lord, is crucified! <br> <br>3 Seven times He spake seven words of love; <br> And all three hours His silence cried <br> For mercy on the souls of men: <br> Jesus, our Lord, is crucified! <br> <br>4 O love of God! O sin of man! <br> In this dread act your strength is tried; <br> And victory remains with love: <br> Jesus, our Lord, is crucified! <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>149</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
