{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 'Forgive them, O my Father, <br> they know not what they do:' <br> the Saviour spoke in anguish, <br> as the sharp nails went through. <br> <br>2 No word of anger spake he <br> to them that shed his blood, <br> but prayer and tenderest pity <br> large as the love of God. <br> <br>3 For me was that compassion, <br> for me that tender care; <br> I need his wide forgiveness <br> as much as any there. <br> <br>4 It was my pride and hardness <br> that hung Him on the tree; <br> those cruel nails, O Saviour, <br> were driven in by me. <br> <br>5 And often I have slighted <br> thy gentle voice that chid: <br> forgive me too, Lord Jesus; <br> I knew not what I did. <br> <br>6 O depth of sweet compassion! <br> O love divine and true! <br> Save thou the souls that slight thee, <br> and know not what they do. <br>  <br> Source: CPWI Hymnal #<br>153</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
