{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 His are the thousand sparkling rills <br> that from a thousand fountains burst, <br> and fill with music all the hills; <br> and yet he saith, 'I thirst.' <br> <br>2 All fiery pangs on battle-fields, <br> on fever beds where sick men toss, <br> are in that human cry he yields <br> to anguish on the cross. <br> <br>3 But more than pains that racked him then <br> was the deep longing thirst divine <br> that thirsted for the souls of men; <br> dear Lord! And one was mine. <br> <br>4 O Love most patient, give me grace; <br> make all my soul athirst for thee; <br> that parched dry lip, that fading face, <br> that thirst, were all for me. <br>  <br> Source: CPWI Hymnal #<br>154</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
