{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 O strength and stay upholding all creation, <br> who ever dost thyself unmoved abide, <br> yet day by day the light in due gradation <br> from hour to hour through all its changes guide;<br>2 Grant to life's day a calm unclouded ending, <br> an eve untouched by shadows of decay, <br> the brightness of a holy death-bed blending <br> with dawning glories of the eternal day.<br>3 Hear us, O Father, gracious and forgiving, <br> through Jesus Christ thy co-eternal Word, <br> who with the Holy Ghost by all things living <br> now and to endless ages art adored. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>21</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
