{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 And now, beloved Lord, thy soul resigning <br> into thy Fathers arms with conscious will, <br> calmly, with reverend grace, thy head inclining, <br> the throbbing brow and labouring breast grow still. <br> <br>2 Freely thy life thou yieldest, meekly bending <br> een to the last beneath our sorrows load, <br> yet, strong in death, in perfect peace commending, <br> thy spirit to thy Father and thy God. <br> <br>3 Sweet Saviour, in mine hour of mortal anguish, <br> when ear grows dim, and round me falls the night, <br> O breathe thy peace, as flesh and spirit languish; <br> at that dread eventide let there be light. <br> <br>4 To thy dear cross turn thou my eyes in dying; <br> lay but my fainting head upon thy breast; <br> those outstretched arms receive my latest sighing <br> and then, O then, thine everlasting rest. <br>  <br> Source: CPWI Hymnal #<br>148</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
