{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. By Jesus grave on either hand, <br> While night is brooding oer the land, <br> The sad and silent mourners stand. <br> <br>2. At last the weary life is oer, <br> The agony and conflict sore <br> Of Him who all our sufferings bore. <br> <br>3. Deep in the rocks sepulchral shade <br> The Lord, by whom the worlds were made, <br> The Savior of mankind, is laid. <br> <br>4. O hearts bereaved and sore distressed, <br> Here is for you a place of rest; <br> Here leave your grief on Jesus breast. <br>  <br> Source: The Cyber Hymnal #<br>533</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
