{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Resting from His work to-day <br> In the tomb the Saviour lay; <br> Still He slept, from head to feet <br> Shrouded in the winding-sheet, <br> Lying in the rock alone, <br> Hidden by the sealèd stone. <br> <br>2 Late at even there was seen <br> Watching long the Magdalene; <br> Early, ere the break of day, <br> Sorrowful she took her way <br> To the holy garden glade, <br> Where her buried Lord was laid. <br> <br>3 So with Thee, till life shall end, <br> I would solemn vigil spend: <br> Let me hew Thee, Lord, a shrine <br> In this rocky heart of mine, <br> Where in pure embalmèd cell, <br> None but Thou may ever dwell. <br> <br>4 Myrrh and spices will I bring, <br> True affection's offering; <br> Close the door from sight and sound <br> Of the busy world around; <br> And in patient watch remain <br> Till my Lord appear again. <br> Hymnal: according to the use of the Protestant Episcopal Church in the United States of America, <br>1871</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
