{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 At the Lamb's high feast we sing <br> praise to our victorious King, <br> who hath washed us in the tide <br> flowing from His piercéd side; <br> praise we Him whose love divine <br> gives His sacred blood for wine, <br> gives His body for the feast, <br> Christ the Victim, Christ the Priest. <br> <br>2 Where the paschal blood is poured, <br> death's dark angel sheathes his sword; <br> Israel's hosts triumphant go <br> through the wave that drowns the foe. <br> Praise we Christ, whose blood was shed, <br> Paschal Victim, Paschal Bread; <br> with sincerity and love <br> eat we manna from above. <br> <br>3 Mighty Victim from the sky, <br> pow'rs of hell beneath Thee lie; <br> death is conquered in the fight, <br> Thou hast brought us life and light; <br> hymns of glory and of praise, <br> risen Lord, to Thee we raise; <br> Holy Father, praise to Thee, <br> with the Spirit, ever be. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>382</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
