{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 As now the sun's declining rays <br> at eventide descend, <br> so life's brief day is sinking down <br> to its appointed end. <br> <br>2 Lord, on the cross thine arms were stretched <br> to draw thy people nigh: <br> O grant us then that cross to love, <br> and in those arms to die. <br> <br>3 All glory to the Father be, <br> all glory to the Son, <br> all glory, Holy Ghost, to thee, <br> while endless ages run. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>11</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
