{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Christ the Lord is ris'n today; Alleluia! <br> Christians, hasten on your way; Alleluia! <br> see the place where he was laid; Alleluia! <br> praise him for the ransom paid. Alleluia! <br> <br>2 For the sheep the Lamb has bled, Alleluia! <br> sinless in the sinners' stead. Alleluia! <br> "Christ is ris'n," today we cry; Alleluia! <br> now he lives, no more to die. Alleluia! <br> <br>3 Christ, the victim undefiled, Alleluia! <br> God and sinners reconciled, Alleluia! <br> while, in strange and awesome strife, Alleluia! <br> met together death and life. Alleluia! <br> <br>4 Christ, who once for sinners bled, Alleluia! <br> now the first-born from the dead, Alleluia! <br> throned in endless might and pow'r, Alleluia! <br> lives and reigns forevermore. Alleluia! <br>  <br> Source: Christian Worship: Hymnal #<br>442</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
