{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 O Trinity, most blessed light, <br> O Unity of sov'reign might, <br> as now the fiery sun departs, <br> come shed your light within our hearts. <br> <br>2 To you our morning song of praise, <br> to you our evening prayer we raise; <br> our humble joy shall ever be <br> to praise your name eternally. <br> <br>3 To God the Father, heav'nly light, <br> to Christ revealed in earthly night, <br> to God the Spirit let us raise <br> one heart and voice in ceaseless praise. <br>  <br>  <br> Source: Christian Worship: Hymnal #<br>792</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
