{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord, in thy name thy servants plead, <br> And thou hast sworn to hear; <br> Thine is the harvest, thine the seed, <br> The fresh and fading year. <br> <br>2 Our hope, when autumn winds blew wild, <br> We trusted, Lord, with thee; <br> And still, now spring has on us smiled, <br> We wait on thy decree. <br> <br>3 The former and the latter rain, <br> The summer sun and air, <br> The green ear, and the golden grain, <br> All thine, are ours by prayer. <br> <br>4 Thine too by right, and ours by grace, <br> The wondrous growth unseen, <br> The hopes that soothe, the fears that brace, <br> The love that shines serene. <br> <br>5 So grant the precious things brought forth <br> By sun and moon below, <br> That thee in thy new heaven and earth <br> We never may forego. <br>  <br> Source: The New English Hymnal #<br>126</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
