{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O Christ, our joy, gone up on high <br> To fill Thy throne above the sky, <br> How glorious dost Thou shine! <br> Thy sovereign rule the worlds obey, <br> And earthly joys all fade away <br> In that pure light of Thine. <br> <br>2. To Thee in prayer Thy people bow; <br> O may our sins Thy pardon know, <br> The cleansing of Thy grace; <br> Then lift our hearts to Thee above, <br> On wings of faithfulness and love, <br> To seek Thy holy place. <br> <br>3. So, when the sudden call shall sound, <br> And with Thy robe of clouds around <br> Thou, Christ, shalt come once more, <br> Thyself our judge mayst turn away <br> The penalty our sins should pay <br> And our lost crowns restore. <br> <br>4. Ascended up from mortal sight, <br> Jesu, we praise Thee in the height, <br> Our joy, our great reward; <br> Whom with the Father we confess <br> And with the Holy Spirit bless, <br> One ever glorious Lord. <br>  <br> Source: The Cyber Hymnal #<br>4746</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
