{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Thou art gone up on high, <br> to mansions in the skies; <br> and round thy throne unceasingly <br> the songs of praise arise; <br> but we are lingering here, <br> with sin and care oppressed; <br> Lord, send thy promised Comforter, <br> and lead us to thy rest. <br> <br>2 Thou art gone up on high; <br> but thou didst first come down, <br> through earths most bitter misery <br> to pass unto thy crown; <br> and girt with griefs and fears <br> our onward course must be; <br> but only let this path of tears <br> lead us at last to thee. <br> <br>3 Thou art gone up on high; <br> but thou shalt come again, <br> with all the bright ones of the sky <br> attendant in thy train. <br> Lord, by thy saving power <br> so make us live and die, <br> that we may stand in that dread hour <br> at thy right hand on high. <br>  <br> Source: CPWI Hymnal #<br>198</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
