{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 Before the ending of the day, <br> Creator of the world, we pray. <br> Your grace and peace to us allow <br> and guard and keep your people now. <br> <br>2 From evil dreams defend our sight, <br> from all the terrors of the night, <br> from all deluding thoughts that creep <br> on heedless minds disarmed by sleep. <br> <br>3 O Father, this we ask be done <br> through Jesus Christ, your only Son, <br> whom with the Spirit we adore <br> forever and forever more. Amen. <br>  <br> Source: Christian Worship: Hymnal #<br>790</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
