{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesu, our hope, our heart's desire, <br> thy work of grace we sing; <br> Redeemer of the world art thou, <br> its Maker and its King.<br>2 How vast the mercy and the love <br> which laid our sins on thee, <br> and led thee to a cruel death, <br> to set thy people free!<br>3 But now the bonds of death are burst, <br> the ransom has been paid; <br> and thou art on thy Father's throne, <br> in glorious robes arrayed.<br>4 O may thy mighty love prevail <br> our sinful souls to spare; <br> O may we stand around thy throne, <br> and see thy glory there.<br>5 Jesu, our only joy be thou, <br> as thou our prize wilt be; <br> in thee be all our glory now <br> and through eternity.<br>6 All praise to thee who art gone up <br> triumphantly to heaven; <br> all praise to God the Father's name, <br> and Holy Ghost be given. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>686</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
