{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Ruler of the hosts of light, <br> Death hath yielded to Thy might; <br> And Thy Blood hath marked a road <br> Which will lead us back to God. <br> <br>2 From Thy dwelling-place above, <br> From Thy Fathers throne of love, <br> With Thy look of mercy bless <br> Those without Thee comfortless. <br> <br>3 Bitter were Thy throes on earth, <br> Giving to the Church her birth, <br> From the spear-wound opening wide <br> In Thine own life-giving side. <br> <br>4 Now in glory Thou dost reign, <br> Won by all Thy toil and pain; <br> Thence the promised Spirit send, <br> While our prayers to Thee ascend. <br> <br>5 Jesus, praise to Thee be given, <br> With the Father high in heaven: <br> Holy Spirit, praise to Thee <br> Now and through eternity. <br>  <br> Source: Church Book: for the use of Evangelical Lutheran congregations #<br>236</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
