{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Spirit of mercy, truth, and love, <br> O shed thine influence from above, <br> and still from age to age convey <br> the wonders of this sacred day.<br>2 In every clime, by every tongue, <br> be God's surpassing glory sung; <br> let all the listening earth be taught <br> the acts our great Redeemer wrought.<br>3 Unfailing comfort, heavenly guide, <br> still o'er thy holy church preside; <br> still let us all thy blessings prove, <br> Spirit of mercy, truth, and love. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>262</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
