{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 All hail, adored Trinity! <br> All hail, eternal Unity! <br> O God the Father, God the Son, <br> And God the Spirit, ever One. <br> <br>2 Three persons praise we evermore, <br> One only God our hearts adore: <br> In thy sure mercy, ever kind, <br> May we your strong protection find. <br> <br>3 O Trinity! O Unity! <br> Be present as we worship thee; <br> And with the songs that angels' sing <br> Unite the hymns of praise we bring. <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>700</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
