{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. With hearts renewed, and cleansed from guilt of sin, <br> Send we our voices pealing to the skies; <br> Let a pure conscience echo joy within, <br> And all our powers in emulation rise: <br> To Father, Son and Holy Spirits praise, <br> Three whom one Essence joins, one anthem here we raise. <br> <br>2. Maker of all, the Father uncreate, <br> Of Him from everlasting born, the Son, <br> And the blest Spirit of co-equal state <br> From Both proceeding, are of substance One: <br> So in this Trinity the Persons three <br> One perfect Being are, one God, one Majesty. <br> <br>3. Yet, none the less, each Person of the Trine <br> God, in His attributes distinct, we own; <br> Vainly would reason grasp the things divine, <br> Man can but bend adoring at Gods throne: <br> O may the Father, Son and Spirit be <br> Our help in time of need, our joy eternally. <br>  <br> Source: The Cyber Hymnal #<br>7442</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
