{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1. Now that the daylight dies away, <br> By all Thy grace and love, <br> Thee, Maker of the world, we pray <br> To watch our bed above. <br> <br>2. Let dreams depart and phantoms fly, <br> The offspring of the night, <br> Keep us, like shrines, beneath Thine eye, <br> Pure in our foes despite. <br> <br>3. This grace on Thy redeemed confer, <br> Father, co-equal Son, <br> And Holy Ghost, the Comforter, <br> Eternal Three in One. <br>  <br> Source: The Cyber Hymnal #<br>4620</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
