{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Bright the vision that delighted <br> once the sight of Judah's seer; <br> sweet the countless tongues united <br> to entrance the prophet's ear. <br> <br>2 Round the Lord in glory seated <br> cherubim and seraphim <br> filled his temple, and repeated <br> each to each the alternate hymn: <br> <br>3 'Lord, thy glory fills the heaven; <br> earth is with its fullness stored; <br> unto thee be glory given, <br> holy, holy, holy, Lord.' <br> <br>4 Heaven is still with glory ringing, <br> earth takes up the angels' cry, <br> 'Holy, holy, holy,' singing, <br> 'Lord of hosts, the Lord most high.' <br> <br>5 With his seraph train before him, <br> with his holy church below, <br> thus unite we to adore him, <br> bid we thus our anthem flow: <br> <br>6 'Lord, thy glory fills the heaven; <br> earth is with its fullness stored; <br> unto thee be glory given, <br> holy, holy, holy, Lord.' <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>603</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
