{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Have mercy on us, God Most High, <br> who lift our hearts to thee; <br> have mercy now, most merciful, <br> most holy Trinity. <br> When heaven and earth were yet unmade, <br> when time was yet unknown, <br> thou in thy bliss and majesty <br> didst live and love alone. <br> <br>2 How wonderful creation is, <br> the work which thou didst bless; <br> and, O what then must thou be like, <br> eternal loveliness! <br> Most ancient of all mysteries! <br> Low at thy throne we lie: <br> have mercy now, most merciful, <br> most holy Trinity. <br>  <br> Source: Lift Up Your Hearts: psalms, hymns, and spiritual songs #<br>13</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
