{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Three in One, and One in Three, <br> Ruler of the earth and sea, <br> Hear us while we lift to Thee <br> Holy chant and psalm. <br> <br>2 Light of lights! with morning-shine, <br> Lift on us Thy light divine; <br> And let charity benign <br> Breathe on us her balm. <br> <br>3 Light of lights! when falls the even, <br> Let it close on sin forgiven; <br> Fold us in the peace of heaven; <br> Shed a holy calm. <br> <br>4 Three in One, and One in Three, <br> Dimly here we worship Thee; <br> With the saints hereafter we <br> Hope to bear the palm. <br> Amen. <br> The Hymnal: revised and enlarged as adopted by the General Convention of the Protestant Episcopal Church in the United States of America in the year of our Lord <br>1892</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
