{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Conquering kings their titles take <br> from the lands they captive make; <br> Jesus, from a nobler deed, <br> from the thousands he hath freed. <br> <br>2 Yes: none other name is given <br> unto mortals under heaven, <br> which can make the dead arise <br> and exalt them to the skies. <br> <br>3 That which Christ so hardly wrought, <br> that which he so dearly bought, <br> that salvation, brethren say, <br> shall we madly cast away? <br> <br>4 Rather gladly for that name <br> bear the cross, endure the shame; <br> joyfully for him to die <br> is not death but victory. <br> <br>5 Jesu, who dost condescend <br> to be called the sinners friend, <br> hear us, as to thee we pray, <br> glorying in thy name today. <br> <br>6 Glory to the Father be, <br> glory, Holy Son, to thee, <br> glory to the Holy Ghost, <br> from the saints and angel-host. <br>  <br> Source: CPWI Hymnal #<br>249</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
