{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 How sweet the name of Jesus sounds <br> in a believer's ear! <br> It soothes our sorrows, heals our wounds, <br> and drives away our fear. <br> <br>2 It makes the wounded spirit whole <br> and calms the troubled breast; <br> 'tis manna to the hungry soul, <br> and to the weary, rest. <br> <br>3 O Jesus, shepherd, guardian, friend, <br> my Prophet, Priest, and King, <br> my Lord, my Life, my Way, my End, <br> accept the praise I bring. <br> <br>4 How weak the effort of my heart, <br> how cold my warmest thought; <br> but when I see you as you are, <br> I'll praise you as I ought. <br> <br>5 Till then I would your love proclaim <br> with every fleeting breath; <br> and may the music of your name <br> refresh my soul in death. <br> Psalter Hymnal, <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
