{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 Hail, gladdening Light, of his pure glory poured <br> who is the immortal Father, heavenly, blest, <br> holiest of holies, Jesus our Lord. <br> <br>2 Now we are come to the sun's hour of rest, <br> the lights of evening round us shine, <br> we hymn the Father, Son, and Holy Spirit divine. <br> <br>3 Worthiest art thou at all times to be sung with undefilèd tongue, <br> Son of our God, giver of life, alone: <br> therefore in all the world thy glories, Lord, they own. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>17</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
