{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 To Christ, the Prince of Peace <br> And Son of God most high, <br> The ruler of the world to come, <br> We lift our joyful cry. <br> <br>2 Deep in his heart, for us <br> The wound of love he bore, <br> That love with which he still inflames <br> The hearts that him adore. <br> <br>3 O Jesus, victim blest, <br> What else but purest love <br> Could make your sacred heart pour forth <br> God's graces from above? <br> <br>4 O fount of endless life <br> And spring of water clear, <br> O heav'nly flame which cleanses all <br> Who unto you draw near! <br> <br>5 Enfold us in your heart, <br> O Jesus, Savior blest, <br> So shall we find your plenteous grace <br> And heav'n's eternal rest. <br>  <br> Source: Worship (<br>4th ed.) #<br>560</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
