{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. We know Thee who Thou art, <br> Lord Jesus, Marys son; <br> We know the yearnings of Thy heart <br> To end Thy work begun. <br> <br>2. That sacred fount of grace, <br> Mid all the bliss of Heaven, <br> Has joy wheneer we seek Thy face, <br> And kneel to be forgiven. <br> <br>3. Brought home from ways perverse, <br> At peace Thine arms within, <br> We pray Thee, shield us from the curse <br> Of falling back to sin. <br> <br>4. We dare not ask to live <br> Henceforth from trials free; <br> But oh! when next they tempt us, give <br> More strength to cling to Thee. <br> <br>5. We know Thee who Thou art, <br> Our own redeeming Lord; <br> Be Thou by will, and mind, and heart, <br> Accepted, loved, adored. <br>  <br> Source: The Cyber Hymnal #<br>7560</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
