{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesu, grant me this, I pray, <br> ever in thy heart to stay; <br> let me evermore abide <br> hidden in thy wounded side.<br>2 If the world or Satan lay <br> tempting snares about my way, <br> I am safe when I abide <br> in thy heart and wounded side.<br>3 If the flesh, more dangerous still, <br> tempt my soul to deeds of ill, <br> naught I fear when I abide <br> in thy heart and wounded side.<br>4 Death will come one day to me; <br> Jesu, cast me not from thee: <br> dying let me still abide <br> in thy heart and wounded side. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>126</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
