{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 When wounded sore the stricken heart <br> lies bleeding and unbound, <br> one only hand, a piercèd hand, <br> can salve the sinner's wound. <br> <br>2 When sorrow swells the laden breast, <br> and tears of anguish flow, <br> one only heart, a broken heart, <br> can feel the sinner's woe. <br> <br>3 When penitential grief has wept <br> over some foul dark spot, <br> one only stream, a stream of blood, <br> can wash away the blot. <br> <br>4 'Tis Jesus' blood that washes white, <br> his hand that brings relief; <br> his heart is touched with all our joys, <br> and feels for all our grief. <br> <br>5 Lift up thy bleeding hand, O Lord, <br> unseal that cleansing tide; <br> we have no shelter from our sin <br> but in thy wounded side. <br>  <br> Source: CPWI Hymnal #<br>125</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
