{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord Jesus, think on me, <br> and purge away my sin; <br> from earth-born passions set me free, <br> and make me pure within. <br> <br>2 Lord Jesus, think on me, <br> with care and woe oppressed, <br> let me Thy loving servant be, <br> and taste Thy promised rest. <br> <br>3 Lord Jesus, think on me, <br> nor let me go astray; <br> through darkness and perplexity <br> point Thou the heav'nly way. <br> <br>4 Lord Jesus, think on me, <br> that, when the flood is past, <br> I may eternal brightness see, <br> and share Thy joy at last. <br>  <br> Source: Psalms and Hymns to the Living God #<br>204</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
