{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Behold the Lamb of God! <br> O thou for sinners slain, <br> let it not be in vain <br> that thou hast died: <br> thee for my Saviour let me take, <br> my only refuge let me make <br> thy piercèd side. <br> <br>2 Behold the Lamb of God! <br> All hail, incarnate word, <br> thou everlasting Lord, <br> Saviour most blest! <br> Fill us with love that never faints, <br> grant us with all thy blessèd saints <br> eternal rest. <br> <br>3 Behold the Lamb of God! <br> Worthy is he alone <br> to sit upon the throne <br> of God above; <br> one with the Ancient of all Days, <br> one with the Comforter in praise, <br> all Light and Love. <br>  <br> Source: CPWI Hymnal #<br>150</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
