{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesu, meek and lowly, <br> Saviour, pure and holy, <br> on thy love relying <br> hear me humbly crying. <br> <br>2 Prince of life and power, <br> my salvations tower, <br> on the cross I view thee <br> calling sinners to thee. <br> <br>3 There behold me gazing <br> at the sight amazing; <br> bending low before thee, <br> helpless, I adore thee. <br> <br>4 By thy red wounds streaming <br> with thy life-blood gleaming, <br> blood for sinners flowing, <br> pardon free bestowing; <br> <br>5 by that fount of blessing, <br> thy dear love expressing, <br> all my aching sadness <br> turn thou into gladness. <br> <br>6 Lord in mercy guide me, <br> be thou eer beside me; <br> in thy ways direct me, <br> neath thy wings protect me. <br>  <br> Source: CPWI Hymnal #<br>157</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
