{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesu, thy mercies are untold <br> through each returning day; <br> thy love exceeds a thousandfold <br> whatever we can say. <br> <br>2 That love which in thy passion drained <br> for us thy precious blood; <br> that love whereby the saints have gained <br> the vision of their God. <br> <br>3 Tis thou hast loved us from the womb, <br> pure Source of all our bliss, <br> our only hope of life to come, <br> our happiness in this. <br> <br>4 Lord, grant us, while on earth we stay, <br> thy love to feel and know; <br> and, when from hence we pass away, <br> to us thy glory show. <br>  <br> Source: CPWI Hymnal #<br>454</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
