{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 The radiant morn hath passed away, <br> and spent too soon her golden store; <br> the shadows of departing day <br> creep on once more. <br> <br>2 Our life is but an autumn sun, <br> its glorious noon how quickly past! <br> Lead us, O Christ, thou living Way, <br> safe home at last. <br> <br>3 O by thy soul-inspiring grace <br> uplift our hearts to realms on high; <br> help us to look to that bright place <br> beyond the sky. <br> <br>4 Where light and life and joy and peace <br> in undivided empire reign, <br> and thronging angels never cease <br> their deathless strain <br> <br>5 where saints are clothed in spotless white, <br> and evening shadows never fall, <br> where thou, eternal Light of light, <br> art Lord of all. <br>  <br> Source: CPWI Hymnal #<br>28</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
