{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesus, Thou joy of loving hearts, <br> Thou fount of life, Thou light of men, <br> from the best bliss that earth imparts, <br> we turn unfilled to Thee again. <br> <br>2 Thy truth unchanged hath ever stood; <br> Thou savest those that on Thee call; <br> to them that seek Thee, Thou art good, <br> to them that find Thee all in all. <br> <br>3 We taste Thee, O Thou living Bread, <br> and long to feast upon Thee still; <br> we drink of Thee, the Fountain-head, <br> and thirst our souls from Thee to fill. <br> <br>4 Our restless spirits yearn for Thee, <br> where'er our changeful lot is cast; <br> glad when Thy gracious smile we see, <br> blest when our faith can hold Thee fast. <br> <br>5 O Jesus, ever with us stay, <br> make all our moments calm and bright; <br> chase the dark night of sin away; <br> shed o'er the world Thy holy light. <br>  <br> Source: Psalms and Hymns to the Living God #<br>384</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
