{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p>Jesus, meek and gentle, <br> Son of God Most High, <br> Pitying, loving Saviour, <br> Hear Thy children's cry. <br> <br>2 Pardon our offences, <br> Loose our captive chains, <br> Break down every idol <br> Which our soul detains. <br> <br>3 Give us holy freedom; <br> Fill our hearts with love; <br> Draw us, holy Jesus, <br> To the realms above. <br> <br>4 Lead us on our journey; <br> Be thyself the way <br> Through terrestrial darkness <br> To celestial day. <br> <br>5 Jesus, meek and gentle, <br> Son of God Most High, <br> Gracious, loving Saviour, <br> Hear thy children's cry. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>251</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
