{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Jesu, thou art standing <br> outside the fast-closed door, <br> in lowly patience waiting <br> to pass the threshold o'er: <br> shame on us, Christian brethren, <br> his name and sign who bear, <br> oh shame, thrice shame upon us <br> to keep him standing there! <br> <br>2 O Jesu, thou art knocking; <br> and lo! That hand is scarred, <br> and thorns thy brow encircle, <br> and tears thy face have marred: <br> O love that passeth knowledge, <br> so patiently to wait! <br> O sin that hath no equal <br> so fast to bar the gate! <br> <br>3 O Jesu, thou art pleading <br> in accents meek and low, <br> 'I died for you, my children, <br> and will ye treat me so?' <br> O Lord, with shame and sorrow <br> we open now the door: <br> dear Saviour, enter, enter, <br> and leave us never more! <br>  <br> Source: CPWI Hymnal #<br>537</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
