{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 You are the way; thro' you alone <br> can we the Father find; <br> in you, O Christ, has God revealed <br> his heart and will and mind. <br> <br>2 You are the truth; your Word alone <br> true wisdom can impart; <br> you only can inform the mind <br> and purify the heart. <br> <br>3 You are the life; the empty tomb <br> proclaims your conqu'ring arm, <br> and those who put their trust in you <br> nor death nor hell shall harm. <br> <br>4 You are the way, the truth, the life; <br> grant us that way to know, <br> that truth to keep, that life to win, <br> whose joys eternal flow. <br>  <br> Source: Christian Worship: Hymnal #<br>514</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
