{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 O Jesus, Lord of heavenly grace, <br> thou brightness of thy Father's face, <br> thou fountain of eternal light, <br> whose beams disperse the shades of night. <br> <br>2 Come, holy Sun of heavenly love, <br> shower down thy radiance from above, <br> and to our inward hearts convey <br> the Holy Spirit's cloudless ray. <br> <br>3 May faith, deep-rooted in the soul, <br> subdue our flesh, our minds control; <br> may guile depart and discord cease, <br> and all within be joy and peace. <br> <br>4 O hallowed be the approaching day; <br> let meekness be our morning ray, <br> and faithful love our noonday light, <br> and hope our sunset calm and bright. <br> <br>5 O Christ, with each returning morn, <br> thine image to our hearts is borne; <br> oh may we ever clearly see <br> our Saviour and our God in thee. <br> Hallelujah. <br>  <br> Source: The Book of Praise #<br>818</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
