{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 We sing the praise of him who died, <br> of him who died upon the cross; <br> the sinner's hope let men deride, <br> for this we count the world but loss. <br> <br>2 Inscribed upon the cross we see <br> in shining letters, 'God is love'; <br> he bears our sins upon the tree; <br> he brings us mercy from above. <br> <br>3 The cross! It takes our guilt away: <br> it holds the fainting spirit up; <br> it cheers with hope the gloomy day, <br> and sweetens every bitter cup. <br> <br>4 It makes the coward spirit brave, <br> and nerves the feeble arm for fight; <br> it takes its terror from the grave, <br> and gilds the bed of death with light: <br> <br>5 The balm of life, the cure of woe, <br> the measure and the pledge of love, <br> the sinner's refuge here below, <br> the angels' theme in heaven above. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>156</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
