{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Thou Judge of quick and dead, <br> Before whose bar severe, <br> With holy joy, or guilty dread, <br> We all shall soon appear: <br> <br>2 Our anxious souls prepare <br> For that tremendous day; <br> And fill us now with watchful care, <br> And stir us up to pray: <br> <br>3 To pray, and wait the hour, <br> That awful hour unknown, <br> When, robed in majesty and power, <br> Thou shalt from heaven come down. <br> <br>4 Oh, may we all be found <br> Obedient to Thy Word-- <br> Attentive to the trumpets sound, <br> And looking for our Lord! <br> <br>5 Oh, may we thus ensure <br> A lot among the blest; <br> And watch a moment, to secure <br> An everlasting rest! <br> Amen, <br>  <br> Source: Book of Worship with Hymns and Tunes #<br>576</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
