{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Our blest Redeemer, ere he breathed <br> his tender, last farewell, <br> a guide, a Comforter, bequeathed <br> With us to dwell. <br> <br>2 He came sweet influence to impart, <br> a gracious, willing guest, <br> while he can find one humble heart <br> wherein to rest. <br> <br>3 And his that gentle voice we hear, <br> soft as the breath of even, <br> that checks each fault, that calms each fear, <br> and speaks of heaven. <br> <br>4 And every virtue we possess, <br> and every conquest won, <br> and every thought of holiness, <br> are his alone. <br> <br>5 Spirit of purity and grace, <br> our weakness pitying, see: <br> O make our hearts thy dwelling-place, <br> and worthier thee. <br>  <br> Source: CPWI Hymnal #<br>291</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
