{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Holy Spirit, Lord of grace, <br> eternal fount of love, <br> inflame, we pray, our inmost hearts <br> with fire from heaven above. <br> <br>2 As thou in bond of love dost join <br> the Father and the Son, <br> so fill us all with mutual love, <br> and knit our hearts in one. <br> <br>3 All glory to the Father be, <br> all glory to the Son, <br> all glory, Holy Ghost, to thee, <br> while endless ages run. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>255</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
