{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Come, gracious Spirit, heavnly Dove, <br> with light and comfort from above. <br> Come, be our guardian and our guide; <br> oer every thought and step preside, <br> Oer every thought and step preside. <br> <br>2 Lead us to Christ, the living Way, <br> nor let us from his pastures stray. <br> Lead us to holiness, the road <br> that we must take to dwell with God, <br> that we must take to dwell with God. <br> <br>3 Lead us to heavn, that we may share <br> fullness of joy forever there. <br> Lead us to our eternal rest, <br> to be with God forever blessd, <br> to be with God forever blessd. <br>  <br> Source: Voices Together #<br>371</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
