{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 The day is past and over; <br> all thanks, O Lord, to thee; <br> I pray thee that sinless <br> the hours of dark may be: <br> O Jesu, keep me in thy sight, <br> and guard me through the coming night. <br> <br>2 The joys of day are over; <br> I lift my heart to thee, <br> and ask thee that offenceless <br> the hours of dark may be: <br> O Jesu, keep me in thy sight, <br> and guard me through the coming night. <br> <br>3 The toils of day are over; <br> I lift my heart to thee, <br> and ask that free from peril <br> the hours of dark may be: <br> O Jesu, keep me in thy sight, <br> and guard me through the coming night. <br> <br>4 Be thou my soul's preserver, <br> for thou alone dost know <br> how many are the perils <br> through which I have to go: <br> O loving Jesu, hear my call, <br> and guard and save me from them all. <br>  <br> Source: CPWI Hymnal #<br>25</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
