{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Gracious Spirit, Holy Ghost, <br> taught by thee, we covet most <br> of thy gifts at Pentecost, <br> holy, heavenly love.<br>2 Love is kind, and suffers long, <br> love is meek, and thinks no wrong, <br> love than death itself more strong; <br> therefore give us love.<br>3 Prophecy will fade away, <br> melting in the light of day; <br> love will ever with us stay; <br> therefore give us love.<br>4 Faith will vanish into sight; <br> hope be emptied in delight; <br> love in heaven will shine more bright; <br> therefore give us love.<br>5 Faith and hope and love we see <br> joining hand in hand agree; <br> but the greatest of the three, <br> and the best, is love.<br>6 From the overshadowing <br> of thy gold and silver wing <br> shed on us, who to thee sing, <br> holy, heavenly love. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>245a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
