{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Holy Ghost, thy people bless <br> who long to feel thy might, <br> and fain would grow in holiness <br> as children of the light <br> <br>2 To thee we bring, who art the Lord, <br> our selves to be thy throne; <br> let every thought, and deed, and word <br> thy pure dominion own. <br> <br>3 Life-giving Spirit, oer us move, <br> as on the formless deep; <br> give life and order, light and love, <br> where now is death or sleep. <br> <br>4 Great gift of our ascended King, <br> his saving truth reveal; <br> our tongues inspire his praise to sing, <br> our hearts his love to feel. <br> <br>5 True Wind of Heaven, from south or north, <br> for joy or chastening, blow; <br> the garden-spices shall spring forth <br> if thou wilt bid them flow. <br> <br>6 O Holy Ghost, of sevenfold might, <br> all graces come from thee; <br> grant us to know and serve aright <br> one God in Persons Three. <br>  <br>  <br> Source: CPWI Hymnal #<br>283</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
