{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 To thee, O Comforter divine, <br> for all thy grace and power benign, <br> sing we alleluia! Alleluia! <br> <br>2 To thee, whose faithful love had place <br> in God's great covenant of grace, <br> sing we alleluia! Alleluia! <br> <br>3 To thee, whose faithful power doth heal, <br> enlighten, sanctify, and seal, <br> sing we alleluia! Alleluia! <br> <br>4 To thee, by Jesus Christ sent down, <br> of all his gifts the sum and crown, <br> sing we alleluia! Alleluia! <br>  <br>  <br> Source: CPWI Hymnal #<br>297</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
