{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Thy kingdom come, O God, <br> thy rule, O Christ, begin; <br> break with thine iron rod <br> the tyrannies of sin. <br> <br>2 Where is thy reign of peace <br> and purity and love? <br> When shall all hatred cease, <br> as in the realms above? <br> <br>3 When comes the promised time <br> that war shall be no more, <br> and lust, oppression, crime <br> shall flee thy face before? <br> <br>4 We pray thee, Lord, arise, <br> and come in thy great might; <br> revive our longing eyes, <br> which languish for thy sight. <br> <br>5 Men scorn thy sacred name, <br> and wolves devour thy fold; <br> by many deeds of shame <br> we learn that love grows cold. <br> <br>6 O'er lands both near and far <br> thick darkness broodeth yet: <br> arise, O Morning Star, <br> arise, and never set! <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>816a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
