{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 God of mercy, God of grace, <br> show the brightness of your face. <br> Shine upon us, Savior, shine; <br> fill your Church with light divine, <br> and your saving health extend <br> to the earth's remotest end. <br> <br>2 Let the people praise you, Lord! <br> Be by all that live adored. <br> Let the nations shout and sing <br> glory to their Savior-King; <br> at your feet their tribute pay, <br> and your holy will obey. <br> <br>3 Let the people praise you, Lord, <br> then enjoy your rich reward! <br> God to us his blessing give, <br> we to God devoted live, <br> all below and all above <br> one in joy and light and love. <br>  <br>  <br> Source: Christian Worship: Psalter #<br>67B</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
