{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 Holy Father, cheer our way <br> with Your loves perpetual ray; <br> grant us every closing day <br> light at evening time. <br> <br>2 Holy Saviour, calm our fears <br> when earths brightness disappears; <br> grant us in our latter years <br> light at evening time. <br> <br>3 Holy Spirit, from on high <br> when in mortal pains we lie; <br> grant us, as we come to die, <br> light at evening time. <br> <br>4 Holy God, no dark shall be <br> round the blessèd Trinity; <br> those You keep shall always see <br> light at evening time. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>10</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
