{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Let saints on earth in concert sing <br> with those whose work is done; <br> for all the servants of our King <br> in heaven and earth are one.<br>2 One family, we dwell in him, <br> one church, above, beneath; <br> though now divided by the stream, <br> the narrow stream of death.<br>3 One army of the living God, <br> to his command we bow: <br> part of the host have crossed the flood, <br> and part are crossing now.<br>4 E'en now to their eternal home <br> there pass some spirits blest; <br> while others to the margin come, <br> waiting their call to rest.<br>5 Jesu, be thou our constant guide; <br> then, when the word is given, <br> bid Jordan's narrow stream divide, <br> and bring us safe to heaven. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>304</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
