{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The roseate hues of early dawn, <br> The brightness of the day, <br> The crimson of the sunset sky, <br> How fast they fade away! <br> O for the pearly gates of heav'n! <br> O for the golden floor! <br> O for the Sun of Righteousness <br> That setteth nevermore! <br> <br>2 The highest hopes we cherish here, <br> How fast they tire and faint! <br> How many a spot defiles the robe <br> That wraps an earthly saint! <br> O for a heart that never sins! <br> O for a soul washed white! <br> O for a voice to praise our King, <br> Nor weary day or night! <br> <br>3 Here faith is ours, and heavenly hopes, <br> And grace to lead us higher: <br> But there are perfectness and peace <br> Beyond our great desire. <br> O by Thy love and anguish, Lord, <br> O by Thy life laid down, <br> O that we fall not from Thy grace, <br> Nor cast away our crown! <br> Amen. <br>  <br>  <br> Source: The Hymnal and Order of Service #<br>513</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
