{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Oh, what their joy and their glory must be, <br> those endless Sabbaths the blessed ones see! <br> Crowns for the valiant, to weary ones rest; <br> God shall be all, and in all, ever blest. <br> <br>2 In new Jerusalem joy shall be found, <br> blessings of peace shall forever abound; <br> wish and fulfillment are not severed there, <br> nor the things prayed for come short of the pray'r. <br> <br>3 We, where no troubles distraction can bring, <br> safely the anthems of Zion shall sing; <br> while for Your grace, Lord, their voices of praise <br> Your blessed people shall evermore raise. <br> <br>4 Now let us worship our Lord and our King, <br> joyfully raising our voices to sing: <br> Praise to the Father, and praise to the Son, <br> praise to the Spirit, to God, Three in One. <br>  <br> Source: Psalms and Hymns to the Living God #<br>422</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
