{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jerusalem, my happy home, <br> When shall I with you be? <br> When shall my sorrows have an end? <br> Your joys when shall I see? <br> <br>2 Your saints are crowned with glory great; <br> They see God face to face; <br> They triumph still, they still rejoice <br> In that most holy place. <br> <br>3 There David stands with harp in hand <br> As master of the choir: <br> Ten thousand times would we be blessed <br> Who might this music hear. <br> <br>4 Our Lady sings Magnificat <br> With tune surpassing sweet; <br> And all the virgins join the song <br> While sitting at her feet. <br> <br>5 There Magdalene has left her tears, <br> And cheerfully does sing <br> With blessed saints, whose harmony <br> In ev'ry street does ring. <br> <br>6 Jerusalem, Jerusalem, <br> God grant that I may see <br> Your endless joy, and of the same <br> Partaker ever be! <br>  <br> Source: RitualSong (<br>2nd ed.) #<br>963</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
