{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O God of hosts, the mighty Lord, <br> how lovely is the place, <br> where thou, enthroned in glory, showest <br> the brightness of thy face! <br> <br>2 My longing soul faints with desire <br> to view they blest abode; <br> my panting heart and flesh cry out <br> for thee, the living God. <br> <br>3 For in thy courts one single day <br> 'tis better to attend, <br> than, Lord, in any place besides <br> a thousand days to spend. <br> <br>4 O Lord of hosts, my King and God, <br> how highly blest are they <br> who in thy temple always dwell, <br> and there thy praise display! <br> <br>5 To Father, Son, and Holy Ghost, <br> the God whom we adore, <br> be glory, as it was, is now, <br> and shall be evermore. <br>  <br> Source: CPWI Hymnal #<br>737</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
