{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Christ is our cornerstone, <br> on him alone we build; <br> with his true saints alone <br> the courts of heavn are filled. <br> On his great love our hopes we place <br> of present grace and joys above. <br> <br>2 Here may we gain from heavn <br> the grace which we implore, <br> and may that grace, once givn, <br> be with us evermore <br> until that day when all the blest <br> to endless rest are called away. <br> <br>3 Oh, then, with hymns of praise <br> these hallowed courts shall ring; <br> our voices we will raise <br> the Three in One to sing <br> and thus proclaim in joyful song, <br> both loud and long, that glorious name. <br>  <br>  <br> Source: Christian Worship: Hymnal #<br>914</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
