{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Hosanna to the living Lord! <br> Hosanna to th'incarnate Word! <br> To Christ, Creator, Savior, King, <br> let earth, let heav'n hosanna sing. <br> <br>2 "Hosanna, Lord!" your angels cry; <br> "Hosanna, Lord!" your saints reply. <br> Throughout the earth, around your throne, <br> your people sing in sweetest tone. <br> <br>3 O Savior, with protecting care <br> abide in this your house of prayer, <br> Where we your parting promise claim, <br> assembled in your sacred name. <br> <br>4 O Spirit, all our sins forgive, <br> and come within our hearts to live. <br> Our souls shall be your temple pure <br> and you will make our faith endure. <br> <br>5 So, on that last and dreadful day, <br> when earth and heav'n shall melt away, <br> your flock, redeemed from sinful stain, <br> shall swell the sound of praise again. <br>  <br> Source: Christian Worship: Hymnal #<br>915</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
