{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord, thy word abideth, <br> and our footsteps guideth; <br> who its truth believeth <br> light and joy receiveth. <br> <br>2 When our foes are near us, <br> then thy word doth cheer us, <br> word of consolation, <br> message of salvation. <br> <br>3 When the storms are o'er us, <br> and dark clouds before us, <br> then its light directeth, <br> and our way protecteth. <br> <br>4 Who can tell the pleasure, <br> who recount the treasure <br> by thy word imparted <br> to the simple-hearted? <br> <br>5 Word of mercy, giving <br> succour to the living; <br> word of life, supplying <br> comfort to the dying. <br> <br>6 O that we discerning <br> its most holy learning, <br> Lord, may love and fear thee, <br> evermore be near thee! <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>383</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
