{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord, when we bend before thy throne, <br> and our confessions pour, <br> teach us to feel the sins we own, <br> and hate what we deplore. <br> <br>2 Our broken spirits pitying see; <br> true penitence impart; <br> then let a kindling glance from thee <br> beam hope upon the heart. <br> <br>3 When we disclose our wants in prayer, <br> may we our wills resign, <br> snd not a thought our bosom share <br> which is not wholly thine. <br> <br>4 May faith each weak petition fill, <br> and waft it to the skies, <br> and teach our hearts 'tis goodness still <br> that grants it or denies. <br>  <br> Source: CPWI Hymnal #<br>136</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
