{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 What various hindrances we meet <br> in coming to the mercy seat! <br> Yet who that knows the worth of pray'r <br> but wishes to be often there! <br> <br>2 Pray'r makes the darkened clouds withdraw; <br> pray'r climbs the ladder Jacob saw; <br> gives exercise to faith and love; <br> brings ev'ry blessing from above. <br> <br>3 Restraining pray'r, we cease to fight; <br> pray'r makes the Christians armor bright; <br> and Satan trembles when he sees <br> the weakest saint upon his knees. <br> <br>4 Have you no words? Ah, think again: <br> words flow apace when you complain, <br> and fill a fellow-creatures ear <br> with the sad tale of all your care. <br> <br>5 Were half the breath thus vainly spent <br> to heavn in supplication sent, <br> our cheerful song would oftner be, <br> "Hear what the Lord hath done for me!" <br>  <br> Source: Hymns to the Living God #<br>275</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
