{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord, teach us how to pray aright <br> with rev'rence and with fear. <br> Tho' dust and ashes in Your sight, <br> we may, we must draw near. <br> <br>2 We perish if we cease from prayer; <br> O, grant us pow'r to pray. <br> And when to meet You we prepare, <br> Lord, meet us on our way. <br> <br>3 Give deep humility; the sense <br> of godly sorrow give; <br> a strong desire with confidence, <br> to hear Your voice and live; <br> <br>4 Faith in the only sacrifice <br> that can for sin atone; <br> to cast our hopes, to fix our eyes <br> on Christ, on Christ alone. <br> <br>5 Give these, and then Your will be done; <br> thus strengthened with all might, <br> we, thro' Your Spirit and Your Son, <br> shall pray, and pray aright. <br>  <br> Source: Psalms and Hymns to the Living God #<br>375</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
