{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Thro' the day Thy love hath spared us, <br> Now we lay us down to rest: <br> Thro' the silent watches guard us, <br> Let no foe our peace molest. <br> Jesus, Thou our Guardian be; <br> Sweet it is to trust in Thee. <br> <br>2 Pilgrims here on earth and strangers, <br> Dwelling in the midst of foes, <br> Us and ours preserve from dangers; <br> In Thine arms may we repose <br> And, when life's short day is past, <br> Rest with Thee in heav'n at last. <br> Amen. <br>  <br> Source: The Lutheran Hymnal #<br>553</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
