{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Out of the deep I call <br> To Thee, O Lord, to Thee. <br> Before Thy throne of grace I fall; <br> Be merciful to me. <br> <br>2 Out of the deep I cry, <br> The woeful deep of sin, <br> Of evil done in days gone by, <br> Of evil now within; <br> <br>3 Out of the deep of fear <br> And dread of coming shame; <br> All night till morning watch is near <br> I plead the precious name. <br> <br>4 Lord, there is mercy now, <br> As ever was, with Thee. <br> Before Thy throne of grace I bow; <br> Be merciful to me. <br>  <br>  <br> Source: Evangelical Lutheran Hymnary #<br>453</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
