{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O Jesu Christ, if aught there be <br> That, more than all beside, <br> In ever painful memory <br> Must in my heart abide, <br> <br>2. It is that deep ingratitude <br> Which I to Thee have shown, <br> Who didst for me in tears and blood <br> Upon the cross atone. <br> <br>3. Alas, how with my actions all <br> Has this defect entwined; <br> How has it poisoned with its gall <br> My spirit, heart and mind! <br> <br>4. Alas, through this, how many a gem <br> Ive rudely cast away, <br> That might have formed my diadem <br> In everlasting day! <br> <br>5. Yet though the time be past and gone, <br> Though little more remains: <br> Though naught is all that can be done, <br> Een with my utmost pains; <br> <br>6. Still will I strive, O Savior mine, <br> To do what in me lies; <br> For never did Thy glance divine <br> A contrite heart despise. <br>  <br> Source: The Cyber Hymnal #<br>5011</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
