{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Blest are the pure in heart, <br> for they shall see our God; <br> the secret of the Lord is theirs, <br> their soul is Christ's abode.<br>2 The Lord, who left the heavens <br> our life and peace to bring, <br> to dwell in lowliness with men, <br> their pattern and their King;<br>3 Still to the lowly soul <br> he doth himself impart, <br> and for his dwelling and his throne <br> chooseth the pure in heart.<br>4 Lord, we thy presence seek; <br> may ours this blessing be; <br> give us a pure and lowly heart, <br> a temple meet for thee. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>602</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
