{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Take up your cross, the Savior said, <br> If you would my disciple be; <br> Deny yourself, the world forsake, <br> And humbly follow after me. <br> <br>2 Take up your cross, be not ashamed! <br> Let not disgrace your spirit fill! <br> For God himself endured to die <br> Upon a cross, on Calvary's hill. <br> <br>3 Take up your cross, which gives you strength, <br> Which makes your trembling spirit brave: <br> 'Twill guide you to a better home <br> And lead to vict'ry o'er the grave. <br> <br>4 Take up your cross, and follow Christ, <br> Nor think till death to lay it down; <br> For only they who bear the cross <br> May hope to wear the glorious crown. <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>702</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
