{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Thy way, not mine, O Lord, <br> however dark it be; <br> lead me by thine own hand, <br> choose out the path for me. <br> <br>2 Smooth let it be or rough, <br> it will be still the best; <br> winding or straight, it leads <br> right onward to thy rest. <br> <br>3 I dare not choose my lot; <br> I would not if I might: <br> choose thou for me, my God, <br> so shall I walk aright. <br> <br>4 The Kingdom that I seek <br> is thine; so let the way <br> that leads to it be thine, <br> else I must surely stray. <br> <br>5 Take thou my cup, and it <br> with joy or sorrow fill, <br> as best to thee may seem; <br> choose thou my good and ill. <br> <br>6 Choose thou for me my friends, <br> my sickness or my health; <br> choose thou my cares for me, <br> my poverty or wealth. <br> <br>7 Not mine, not mine, the choice <br> in things or great or small; <br> be thou my guide, my strength, <br> my wisdom, and my all. <br>  <br> Source: CPWI Hymnal #<br>480</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
