{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 'Christian! seek not yet repose,' <br> hear thy guardian angel say; <br> thou art in the midst of foes; <br> 'watch and pray.' <br> <br>2 Principalities and powers, <br> mustering their unseen array, <br> wait for thy unguarded hours; <br> 'watch and pray.' <br> <br>3 Gird thy heavenly armour on, <br> wear it ever night and day; <br> ambushed lies the evil one; <br> 'watch and pray.' <br> <br>4 Hear the victors who oercame; <br> still they mark each warriors way; <br> all with one sweet voice exclaim, <br> 'watch and pray.' <br> <br>5 Hear, above all, hear thy Lord, <br> him thou lovest to obey; <br> hide within thy heart his word, <br> 'watch and pray.' <br> <br>6 Watch, as if on that alone <br> hung the issue of the day; <br> pray, that help may be sent down; <br> 'watch and pray.' <br>  <br> Source: CPWI Hymnal #<br>430</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
