{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Soldiers of Christ, arise, <br> and put your armor on, <br> strong in the strength which God supplies <br> thro' His eternal Son; <br> strong in the Lord of hosts <br> and in His mighty pow'r, <br> who in the strength of Jesus trusts <br> is more than conqueror. <br> <br>2 Stand then in His great might, <br> with all His strength endued, <br> and take, to aid you in the fight, <br> the panoply of God. <br> From strength to strength go on, <br> wrestle and fight and pray; <br> tread all the pow'rs of darkness down <br> and win the well-fought day. <br> <br>3 Leave no unguarded place, <br> no weakness of the soul; <br> take every virtue, every grace, <br> and fortify the whole. <br> That, having all things done <br> and all your conflicts past, <br> ye may o'ercome thro' Christ alone <br> and stand complete at last. <br>  <br> Source: Psalms and Hymns to the Living God #<br>367</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
