{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Saviour, may we never rest <br> Till thou art formed within; <br> Till thou hast calmed our troubled breast, <br> And crushed the power of sin. <br> <br>2 O, may we gaze upon thy cross, <br> Until the wondrous sight <br> Makes earthly treasures seem but dross, <br> And earthly sorrows light! <br> <br>3 Until, released from carnal ties, <br> Our spirit upward springs, <br> And sees when earthly glory dies, <br> True joy in heavenly things. <br> <br>4 There as we gaze may we become <br> United, Lord, to thee; <br> And in a fairer, happier home <br> Thy perfect beauty see. <br>  <br> Source: The Seventh-Day Adventist Hymn and Tune Book: for use in divine worship #<br>642</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
