{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Lord, how joyful tis to see <br> The brethren join in love to Thee; <br> On Thee alone their heart relies, <br> Their only strength Thy grace supplies. <br> <br>2 How sweet within Thy holy place <br> With one accord to sing Thy grace, <br> Besieging Thine attentive ear <br> With all the force of fervent prayer! <br> <br>3 O may we love the house of God, <br> Of peace and joy the blest abode; <br> O may no angry strife destroy <br> That sacred peace, that holy joy. <br> <br>4 The world without may rage, but we <br> Will only cling more close to Thee, <br> With hearts to Thee more wholly given, <br> More weaned from earth, more fixed on heaven. <br> <br>5 Lord, shower upon us from above <br> The sacred gift of mutual love; <br> Each others wants may we supply, <br> And reign together in the sky. <br>  <br> Source: The Lutheran Hymnary #<br>412</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
