{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Father of all, from land and sea <br> The nations sing, "Thine, Lord, are we; <br> Countless in number, but in Thee <br> May we be one." <br> <br>2 O Son of God, whose love so free <br> For men did make Thee Man to be, <br> United to our God in Thee <br> May we be one. <br> <br>3 Join high with low, join young with old, <br> In love that never waxes cold; <br> Under one Shepherd, in one fold, <br> Make us all one. <br> <br>4 O Spirit blest, who from above <br> Cam'st gently gliding like a dove, <br> Calm all our strive, give faith and love; <br> O make us one! <br> Amen. <br>  <br> Source: The Hymnal #<br>426</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
