{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O for a faith that will not shrink, <br> Though pressed by every foe, <br> That will not tremble on the brink <br> Of any earthly woe. <br> <br>2 That will not murmur nor complain <br> Beneath the chastening rod, <br> But, in the hour of grief or pain, <br> Will lean upon its God; <br> <br>3 A faith that shines more bright and clear <br> When tempests rage without: <br> That when in danger knows no fear, <br> In darkness feels no doubt; <br> <br>4 That bears, unmoved, the worlds dread frown, <br> Nor heeds the scornful smile; <br> That seas of trouble cannot drown, <br> Nor Satans arts beguile; <br> <br>5 A faith that keeps the narrow way <br> Till lifes last hour is fled, <br> And with a pure and heavenly ray <br> Illumes up a dying bed: <br> <br>6 Lord, give us such a faith as this; <br> And then, what eer may come, <br> Ill taste, een now, the hallowed bliss <br> Of an eternal home. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>428</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
