{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Thine for ever! God of love, <br> hear us from thy throne above; <br> thine for ever may we be <br> here and in eternity. <br> <br>2 Thine for ever! Lord of life, <br> shield us through our earthly strife; <br> thou the Life, the Truth, the Way, <br> guide us to the realms of day. <br> <br>3 Thine for ever! O how blest <br> they who find in thee their rest! <br> Saviour, guardian, heavenly friend, <br> O defend us to the end. <br> <br>4 Thine for ever! Shepherd, keep <br> us thy frail and trembling sheep; <br> safe alone beneath thy care, <br> let us all thy goodness share. <br> <br>5 Thine for ever! Thou our guide, <br> all our wants by thee supplied, <br> all our sins by thee forgiven, <br> lead us, Lord, from earth to heaven. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>807</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
