{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O thou from whom all goodness flows, <br> I lift my soul to thee; <br> In all my sorrows, conflicts, woes, <br> Good Lord, remember me. <br> <br>2 When on my aching, burdened heart <br> My sins lie heavily, <br> Thy pardon grant, new peace impart: <br> Good Lord, remember me. <br> <br>3 When trials sore obstruct my way, <br> And ills I cannot flee, <br> O let my strength be as my day: <br> Good Lord, remember me. <br> <br>4 If, for thy sake, upon my name <br> Shame and reproach shall be, <br> All hail reproach, and welcome shame! <br> Good Lord, remember me. <br> <br>5 If worn with pain, disease, or grief, <br> This feeble frame should be, <br> Grant patience, rest, and kind relief: <br> Good Lord, remember me. <br> <br>6 When, in the solemn hour of death, <br> I wait thy just decree, <br> Be this the pray'r of my last breath: <br> Good Lord, remember me. <br> Amen. <br>  <br> Source: Trinity Hymnal #<br>457</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
