{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Far from my heavenly home, <br> Far from my Father's breast, <br> Fainting I cry, Blest Spirit, come, <br> And speed me to my rest. <br> <br>2 My spirit homeward turns, <br> And fain would thither flee: <br> My heart, O Sion, droops and yearns, <br> When I remember thee. <br> <br>3 To thee, to thee I press, <br> A dark and toilsome road: <br> When shall I pass the wilderness, <br> And reach the saints' abode? <br> <br>4 God of my life, be near; <br> On Thee my hopes I cast: <br> O guide me through the desert here, <br> And bring me home at last. <br> Hymnal: according to the use of the Protestant Episcopal Church in the United States of America, <br>1871</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
