{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Fierce raged the tempest, oer the deep, <br> anxious disciples watch did keep; <br> but you were wrapped in guileless sleep, <br> calm and still. <br> <br>2 Save, us, we perish! was their cry. <br> Save us or we will surely die! <br> Your word above the storm rose high: <br> Peace! be still. <br> <br>3 The wild winds hushed; the angry deep <br> fell, like a little child, to sleep; <br> the sullen billows ceased to leap, <br> at your will. <br> <br>4 So, when our life is clouded oer, <br> and storm-winds drift us from the shore, <br> say, lest we sink to rise no more, <br> Peace! be still. <br>  <br> Source: Voices Together #<br>286</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
