{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O let him, whose sorrow <br> No relief can find, <br> Trust in God, and borrow <br> Ease for heart and mind. <br> Where the mourner weeping <br> Sheds the secret tear, <br> God His watch is keeping, <br> Though none else is near. <br> <br>2 God will never leave thee, <br> All thy wants he knows, <br> Feels the pains that grieve thee, <br> Sees thy cares and woes: <br> Raise thine eyes to heaven <br> When thy spirits quail, <br> When, by tempests driven, <br> Heart and courage fail. <br> <br>3 All thy woe and sadness, <br> In this world below, <br> Balance not the gladness <br> Thou in heaven shalt know. <br> When thy gracious Saviour <br> In the realms above <br> Crowns thee with His favor, <br> Fills thee with His love. <br> Amen. <br>  <br> Source: The Hymnal: published by the Authority of the General Assembly of the Presbyterian Church in the U.S.A. #<br>648</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
