{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O Father, who didst all things make <br> That Heavn and earth might do Thy will, <br> Bless us this night for Jesus sake <br> And for Thy work preserve us still. <br> <br>2. O Son, who didst redeem mankind, <br> And set the captive sinner free, <br> Keep us this night with peaceful mind, <br> That we may safe abide in Thee. <br> <br>3. O Holy Ghost, who by Thy power <br> The church elect dost sanctify, <br> Seal us this night, and hour by hour <br> Our hearts and members purify. <br> <br>4. To Father, Son and Holy Ghost, <br> The God whom Heavn and earth adore, <br> From men and from the angel host <br> Be praise and glory evermore. <br>  <br> Source: The Cyber Hymnal #<br>4829</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
