{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Through all the changing scenes of life, <br> in trouble and in joy, <br> the praises of my God shall still <br> my heart and tongue employ. <br> Of his deliv'rance I will boast, <br> till all that are distressed, <br> from my example comfort take <br> and lay their griefs to rest. <br> <br>2 O magnify the LORD with me, <br> exalt his holy name; <br> when in distress to him I called, <br> he to my rescue came. <br> The hosts of God encamp around <br> the dwellings of the just; <br> deliv'rance he affords to all <br> who in his promise trust. <br> <br>3 O taste and see that he is good; <br> experience will decide <br> how blest are they, and only they <br> who in the LORD confide. <br> Fear him, you saints, and you will then <br> have nothing else to fear; <br> make serving him your sole delight, <br> your wants shall be his care. <br>  <br> Source: Christian Worship: Psalter #<br>34A</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
