{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Songs of praise the angels sang, <br> heaven with alleluias rang, <br> when creation was begun, <br> when God spake and it was done.<br>2 Songs of praise awoke the morn <br> when the Prince of peace was born; <br> songs of praise arose when he <br> captive led captivity.<br>3 Heaven and earth must pass away; <br> songs of praise shall crown that day: <br> God will make new heavens and earth; <br> songs of praise shall hail their birth.<br>4 And shall we alone be dumb <br> till that glorious kingdom come? <br> No, the church delights to raise <br> psalms and hymns and songs of praise.<br>5 Saints below, with heart and voice, <br> still in songs of praise rejoice; <br> learning here, by faith and love, <br> songs of praise to sing above.<br>6 Hymns of glory, songs of praise, <br> Father, unto thee we raise, <br> Jesu, glory unto thee, <br> with the Spirit, ever be. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>782</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
