{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Praise, my soul, the King of heaven; <br> to his feet your tribute bring. <br> Ransomed, healed, restored, forgiven, <br> evermore his praises sing. <br> Alleluia, alleluia! <br> Praise the everlasting King! <br> <br>2 Praise him for his grace and favor <br> to his people in distress. <br> Praise him, still the same as ever, <br> slow to chide, and swift to bless. <br> Alleluia, alleluia! <br> Glorious in his faithfulness! <br> <br>3 Fatherlike he tends and spares us; <br> well our feeble frame he knows. <br> In his hand he gently bears us, <br> rescues us from all our foes. <br> Alleluia, alleluia! <br> Widely yet his mercy flows! <br> <br>4 Angels, help us to adore him; <br> you behold him face to face. <br> Sun and moon, bow down before him, <br> dwellers all in time and space. <br> Alleluia, alleluia! <br> Praise with us the God of grace! <br> Psalter Hymnal, (Gray)</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
