{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The head that once was crowned with thorns <br> is crowned with glory now; <br> a royal diadem adorns <br> the mighty Victor's brow. <br> <br>2 The highest place that heav'n affords <br> is His, is His by right, <br> the King of kings and Lord of lords, <br> and heav'n's eternal Light. <br> <br>3 The joy of all who dwell above, <br> the joy of all below, <br> to whom He manifests His love, <br> and grants His name to know. <br> <br>4 To them the cross with all its shame, <br> with all its grace, is giv'n, <br> their name, an everlasting name, <br> their joy, the joy of heav'n. <br> <br>5 They suffer with their Lord below, <br> they reign with Him above, <br> their profit and their joy to know <br> the myst'ry of His love. <br> <br>6 The cross He bore is life and health, <br> tho' shame and death to Him: <br> His people's hope, His people's wealth, <br> their everlasting theme. <br>  <br> Source: Psalms and Hymns to the Living God #<br>295</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
