{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Savior, blessed Savior, listen while we sing, <br> hearts and voices raising praises to our King. <br> All we have we offer, all we hope to do, <br> body, soul, and spirit, all we yield to you. <br> Refrain: <br> Savior, blessed Savior, listen while we sing, <br> hearts and voice raising praises to our King. <br> <br>2 Great and even greater, are your mercies here, <br> true and everlasting are the glories there, <br> where no pain or sorrow, toil or care is known, <br> where the angel legions circle 'round your throne. [Refrain] <br> <br>3 Clearer still and clearer, dawns the light from heav'n, <br> in our sadness bringing news of sin forgiv'n. <br> Life has lost its shadows, pure the light within; <br> you have shed your radiance on a world of sin. [Refrain] <br>  <br> Source: Moravian Book of Worship #<br>778</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
