{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Sing praise to the Lord! Praise God in the height; <br> rejoice in his word, you angels of light; <br> O heavens, adore him by whom you were made, <br> and worship before him in brightness arrayed. <br> <br>2 Sing praise to the Lord! Praise God upon earth, <br> in tuneful accord, all you of new birth; <br> praise him who has brought you his grace from above, <br> praise him who has taught you to sing of his love. <br> <br>3 Sing praise to the Lord! All things that give sound, <br> each jubilant chord, re-echo around; <br> loud organs, his glory proclaim in deep tone, <br> and trumpets, the story of what he has done. <br> <br>4 Sing praise to the Lord! Thanksgiving and song <br> to him be outpoured all ages along; <br> for love in creation, for heaven restored, <br> for grace of salvation, sing praise to the Lord! <br>  <br> Source: Christian Worship: Hymnal #<br>610</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
