{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O saving Victim, op'ning wide <br> The gate of heav'n to us below, <br> Our foes press on from every side; <br> Thine aid supply, thy strength bestow. <br> <br>2 All praise and thanks to thee ascend <br> Forevermore, blest One in Three; <br> O grant us life that shall not end <br> In our true native land with thee. <br> LATIN - <br> <br>1 O salutaris hostia, <br> Quae caeli pandis ostium; <br> Bella premunt hostilia, <br> Da robur, fer auxilium. <br> <br>2 Uni trinoque Domino <br> Sit sempiterna gloria: <br> Qui vitam sine termino <br> Nobis donet in patria. <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>679</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
