{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Draw near and take the body of your Lord, <br> and drink the holy blood for you outpoured. <br> Saved by his body and his holy blood, <br> with souls refreshed we give our thanks to God. <br> <br>2 Christ our Redeemer, Gods eternal Son, <br> has by his cross and blood the victry won. <br> He gave his life for greatest and for least, <br> himself the offring and himself the priest. <br> <br>3 Let us approach with faithful hearts sincere <br> and take the pledges of salvation here. <br> Christ, who in this life all the saints defends, <br> gives all believers life that never ends. <br> <br>4 With heavnly bread he makes the hungry whole, <br> gives living waters to the thirsting soul. <br> Lord of the nations, to whom all must bow, <br> in this great feast of love be with us now. <br>  <br> Source: Christian Worship: Hymnal #<br>661</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
