{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 My God, and is thy table spread, <br> and doth thy cup with love o'erflow? <br> Thither be all thy children led, <br> and let them all thy sweetness know.<br>2 Hail, sacred feast which Jesus makes, <br> rich banquet of his flesh and blood! <br> Thrice happy he who here partakes <br> that sacred stream, that heavenly food.<br>3 Why are its bounties all in vain <br> before unwilling hearts displayed? <br> Was not for them the Victim slain? <br> Are they forbid the children's bread?<br>4 O let thy table honoured be, <br> and furnished well with joyful guests; <br> and may each soul salvation see, <br> that here its sacred pledges tastes. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>455</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
