{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Bread of heaven, on thee we feed, <br> for thou art our food indeed. <br> Ever may our souls be fed <br> with this true and living Bread, <br> day by day with strength supplied <br> through the life of Christ who died. <br> <br>2 Vine of heaven, thy love supplies <br> this blest cup of sacrifice. <br> 'Tis thy wounds our healing give; <br> to thy cross we look and live. <br> Thou our life! O let us be <br> rooted, grafted, built on thee. <br>  <br>  <br> Source: Glory to God: the Presbyterian Hymnal #<br>496</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
