{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O God, unseen yet ever near, <br> thy presence may we feel; <br> and, thus inspired with holy fear, <br> before thine altar kneel. <br> <br>2 Here may thy faithful people know <br> the blessings of thy love, <br> the streams that through the desert flow, <br> the manna from above. <br> <br>3 We come, obedient to thy word, <br> to feast on heavenly food; <br> our meat the body of the Lord, <br> our drink his precious blood. <br> <br>4 Thus may we all thy word obey, <br> for we, O God, are thine; <br> and go rejoicing on our way, <br> renewed with strength divine. <br>  <br> Source: CPWI Hymnal #<br>594</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
