{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Jesu, gentlest Savior, <br> Thou art in us now, <br> Fill us with Thy goodness, <br> Till our hearts oerflow. <br> <br>2. Multiply our graces, <br> Chiefly love and fear, <br> And, dear Lord, the chiefest, <br> Grace to persevere. <br> <br>3. Oh, how can we thank Thee, <br> For a gift like this, <br> Gift that truly maketh <br> Heavns eternal bliss! <br> <br>4. Ah! when wilt Thou always <br> Make our hearts Thy home? <br> We must wait for Heaven; <br> Then the day will come. <br>  <br> Source: The Cyber Hymnal #<br>3316</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
