{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Father, who hast created all <br> In wisest love, we pray, <br> Look on this babe, who at Thy call <br> Is ent'ring on life's way: <br> Bend o'er it now with blessing fraught, <br> And make Thou something out of naught. <br> <br>2 O Son, who died for us, behold, <br> We bring our child to Thee! <br> Great Shepherd, take it to Thy fold, <br> Thine own for aye to be: <br> Defend it through this earthly strife, <br> And lead it in the path of life. <br> <br>3 O Spirit, brooding o'er the wave, <br> Descend upon this child: <br> Give endless life, its spirit lave <br> With waters undefiled: <br> Grant it a child of God to be, <br> A holy temple unto Thee. <br> <br>4 O God, Thine own command is done: <br> We speak, but Thine the might: <br> This child which scarce hath seen the sun, <br> O pour on it Thy light, <br> In faith and hope, in joy and love, <br> Thou Sun of all, below, above! <br> Amen. <br>  <br>  <br> Source: The Hymnal and Order of Service #<br>227</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
