{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 We are but little children weak, <br> Nor born in any high estate; <br> What can we do for Jesus' sake, <br> Who is so high, and good, and great! <br> <br>2 When deep within our swelling heart <br> The thoughts of pride and anger rise, <br> When bitter words are on our tongues, <br> And tears of passion in our eyes <br> <br>3 Then we may stay the angry blow, <br> Then we may check the hasty word, <br> Give gentle answers back again, <br> And fight a battle for our Lord. <br> <br>4 With smiles of peace and looks of love <br> Light in our dwellings we may make, <br> Bid kind good humour brighten there, <br> And still do all for Jesus' sake. <br> <br>5 There's not a child so small and weak <br> But has his little cross to take, <br> His little work of love and praise <br> That he may do for Jesus' sake. <br>  <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>589</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
