{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Loving Shepherd of your sheep, <br> all your lambs in safety keep; <br> nothing can your power withstand, <br> none can pluck them from your hand. <br> <br>2 May they praise you ev'ry day, <br> gladly all your will obey, <br> like your blessed ones above, <br> happy in your precious love. <br> <br>3 Loving Shepherd, ever near, <br> teach your lambs your voice to hear; <br> suffer not their steps to stray <br> from the straight and narrow way. <br> <br>4 Where you lead them may they go, <br> walking in your steps below; <br> then, before your Father's throne, <br> Savior, claim them for your own. <br>  <br> Source: Trinity Psalter Hymnal #<br>527</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
