{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Around the throne of God a band <br> of glorious angels ever stand; <br> bright things they see, sweet harps they hold, <br> and on their heads are crowns of gold.<br>2 Some wait around him, ready still <br> to sing his praise and do his will; <br> and some, when he commands them, go <br> to guard his servants here below.<br>3 Lord, give thy angels every day <br> command to guide us on our way, <br> and bid them every evening keep <br> their watch around us while we sleep.<br>4 So shall no wicked thing draw near, <br> to do us harm or cause us fear; <br> and we shall dwell, when life is past, <br> with angels round thy throne at last. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>322</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
