{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Heavenly Father, send thy blessing <br> on thy children gathered here, <br> may they all, thy name confessing, <br> be to thee for ever dear; <br> may they be, like Joseph, loving, <br> dutiful, and chaste, and pure; <br> and their faith, like David, proving, <br> steadfast unto death endure. <br> <br>2 Holy Saviour, who in meekness <br> didst vouchsafe a child to be, <br> guide their steps, and help their weakness, <br> bless and make them like to thee; <br> bear thy lambs, when they are weary, <br> in thine arms and at thy breast; <br> through lifes desert, dry and dreary, <br> bring them to thy heavenly rest. <br> <br>3 Spread thy golden pinions oer them, <br> Holy Spirit, from above, <br> guide them, lead them, go before them, <br> give them peace, and joy, and love; <br> thy true temples, Holy Spirit, <br> may they with thy glory shine, <br> and immortal bliss inherit, <br> and for evermore be thine. <br>  <br> Source: CPWI Hymnal #<br>648</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
