{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Fair waved the golden corn <br> in Canaan's pleasant land, <br> when full of joy, some shining morn, <br> went forth the reaper-band. <br> <br>2 To God so good and great <br> their cheerful thanks they pour; <br> then carry to his temple-gate <br> the choicest of their store. <br> <br>3 Like Israel, Lord, we give <br> our earliest fruits to thee, <br> and pray that, long as we shall live, <br> we may thy children be. <br> <br>4 Thine is our youthful prime, <br> and life and all its powers; <br> be with us in our morning time, <br> and bless our evening hours. <br> <br>5 In wisdom let us grow, <br> as years and strength are given, <br> that we may serve thy church below, <br> and join thy saints in heaven. <br>  <br> Source: CPWI Hymnal #<br>709</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
