{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 On this day, the first of days, <br> God the Father's name we praise; <br> Who, creations Lord and Spring, <br> Did the world from darkness bring. <br> <br>2 On this day th'eternal Son <br> Over death his triumph won. <br> On this day the Spirit came <br> With his gifts of living flame. <br> <br>3 Father, Who did fashion me <br> Image of thyself to be, <br> Fill us with that love divine, <br> And conform our wills to thine. <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>698</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
