{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Hosanna we sing, like the children dear, <br> In the olden days when the Lord lived here, <br> He bless'd little children, and smiled on them, <br> While they chanted His praise in Jerusalem. <br> Hallelujah we sing like the children bright, <br> With their harps of gold and their raiment white, <br> As they follow their Shepherd with loving eyes <br> Through the beautiful valleys of Paradise. <br> <br>2 Hosanna we sing, for He bends His ear, <br> And rejoices the hymns of His own to hear; <br> We know that His heart will never wax cold <br> To the lambs that He feeds in His earthly fold. <br> Hallelujah we sing in the church we love, <br> Hallelujah resounds in the church above; <br> To Thy little ones, Lord, may such grace be given, <br> That we lose not our part in the song of heaven. <br>  <br>  <br> Source: Wartburg Hymnal: for church, school and home #<br>174</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
