{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 God eternal, mighty King, <br> Unto Thee our praise we bring; <br> All the earth doth worship Thee, <br> We amid the throng would be. <br> <br>2 Holy, Holy, Holy! cry <br> Angels round Thy Throne on high; <br> Lord of all the heavenly powers, <br> Be the same loud anthem ours. <br> <br>3 Glorified Apostles raise <br> Night and day continual praise; <br> Hast Thou not a mission too <br> For Thy children here to do? <br> <br>4 With the Prophets' goodly line <br> We in mystic bond combine; <br> For Thou hast to babes revealed <br> Things that to the wise were sealed. <br> <br>5 Martyrs, in a noble host, <br> Of the cross are heard to boast; <br> O that we our cross may bear, <br> And a crown of glory wear. <br> <br>6 All Thy Church in heaven and earth, <br> Jesus, hail Thy spotless birth; <br> Own the God who all has made, <br> And the Spirit's soothing aid. <br> Amen. <br>  <br> Source: Voices of Praise: for school and church and home #<br>161</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
