{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Lord Jesus, God and man, <br> For love of man a child, <br> The very God, yet born on earth <br> Of Mary undefiled. <br> <br>2. Lord Jesus, God and man, <br> In this our festal day <br> To Thee for precious gifts of grace <br> Thy ransomed people pray. <br> <br>3. We pray for childlike hearts, <br> For gentle, holy love, <br> For strength to do Thy will below <br> As angels do above. <br> <br>4. We pray for simple faith, <br> For hope that never fails, <br> For true communion evermore <br> With all Thy blessèd saints. <br> <br>5. On friends around us here <br> O let Thy blessing fall; <br> We pray for grace to love them well, <br> But Thee beyond them all. <br> <br>6. O joy to live for Thee! <br> O joy in Thee to die! <br> O very joy of joys to see <br> Thy face eternally! <br> <br>7. Lord Jesus, God and man, <br> We praise Thee and adore, <br> Who art with God the Father One, <br> And Spirit evermore. <br>  <br> Source: The Cyber Hymnal #<br>3837</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
