{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 How welcome was the call, <br> And sweet the festal lay, <br> When Jesus deign'd in Cana's hall <br> To bless the marriage-day. <br> <br>2 And happy was the bride, <br> And glad the bridegroom's heart, <br> For he who tarried at their side <br> Bade grief and ill depart. <br> <br>3 O Lord of life and love, <br> Come thou again to-day; <br> And bring a blessing from above <br> That ne'er shall pass away. <br> <br>4 O bless, as erst of old, <br> The bridegroom and the bride; <br> Bless with the holier stream that flow'd <br> Forth from thy pierced side. <br> <br>5 Before thine altar throne <br> This mercy we implore; <br> As thou dost knit them, Lord, in one, <br> So bless them evermore. <br>  <br> Source: Hymnal: according to the use of the Protestant Episcopal Church in the United States of America #<br>246</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
