{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Christ is gone up; yet ere He passed <br> From earth, in Heavn to reign, <br> He formed one holy Church to last <br> Till He should come again. <br> <br>2. His twelve Apostles first He made <br> His ministers of grace; <br> And they their hands on others laid, <br> To fill in turn their place. <br> <br>3. So age by age, and year by year, <br> His grace was handed on; <br> And still the holy Church is here, <br> Although her Lord is gone. <br> <br>4. Let those find pardon, Lord, from Thee, <br> Whose love to her is cold: <br> Bring wanderers in, and let there be <br> One Shepherd and one fold. <br> <br>5. And now we haste with thankful feet <br> To seek our Saviors face; <br> And in the holy Church to meet, <br> His chosen dwelling place. <br>  <br> Source: The Cyber Hymnal #<br>864</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
