{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The earth, O Lord, is one wide field <br> of all thy chosen seed; <br> the crop prepared its fruit to yield; <br> the labourers are few indeed. <br> <br>2 We therefore come before thee now <br> with fasting, and with prayer, <br> beseeching of thy love that thou <br> wouldst send more labourers there. <br> <br>3 Not for our land alone we pray, <br> though that above the rest; <br> the realms and islands far away, <br> O let them all be blest. <br> <br>4 Endue the bishops of thy flock <br> with wisdom and with grace, <br> against false doctrine, like a rock, <br> to set the heart and face. <br> <br>5 To all thy priests thy truth reveal, <br> and make thy judgments clear; <br> make thou thy deacons full of zeal, <br> and humble, and sincere: <br> <br>6 and give their flocks a lowly mind <br> to hear and to obey; <br> that each and all may mercy find <br> at thine appearing-day. <br>  <br> Source: CPWI Hymnal #<br>703</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
