{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord, pour thy Spirit from on high, <br> and thine ordainèd servants bless; <br> graces and gifts to each supply, <br> and clothe thy priests with righteousness. <br> <br>2 Within thy temple when they stand, <br> to teach the truth as taught by thee, <br> Saviour, like stars in thy right hand, <br> let all thy churchs pastors be. <br> <br>3 Wisdom, and zeal, and faith impart, <br> firmness with meekness, from above, <br> to bear thy people in their heart, <br> and love the souls whom thou dost love. <br> <br>4 To watch, and pray, and never faint, <br> by day and night their guard to keep, <br> to warn the sinner, cheer the saint, <br> to feed thy lambs, and tend thy sheep. <br> <br>5 So, when their work is finished here, <br> may they in hope their charge resign; <br> so, when their Master shall appear, <br> may they with crowns of glory shine. <br>  <br> Source: CPWI Hymnal #<br>700</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
