{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Your hand, O Lord, in days of old <br> was strong to heal and save; <br> it triumphed over pain and death, <br> o'er darkness and the grave. <br> To you they came, the blind, the mute, <br> the paralyzed and lame, <br> the lepers in their misery, <br> the sick with fevered frame. <br> <br>2 Your touch then, Lord, brought life and health, <br> gave speech and strength and sight; <br> and youth renewed and frenzy calmed <br> revealed you, Lord of light. <br> And now, O Lord, be near to bless, <br> almighty as before, <br> in crowded street, by beds of pain, <br> as by Gennes'ret's shore. <br> <br>3 O be our great deliv'rer still, <br> the Lord of life and death; <br> restore and quicken, soothe and bless, <br> with your life-giving breath. <br> To hands that work and eyes that see <br> give wisdom's healing pow'r <br> that whole and sick and weak and strong <br> may praise you evermore. <br>  <br> Source: Christian Worship: Hymnal #<br>769</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
