{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Almighty Father, hear our cry, <br> As o'er the trackless deep we roam; <br> Be Thou our haven always nigh, <br> On homeless waters, Thou our home. <br> <br>2 O Jesus, Saviour, at Whose voice <br> The tempest sunk to perfect rest, <br> Bid Thou the fearful heart rejoice, <br> And cleanse and calm the trouble breast. <br> <br>3 O Holy Ghost, beneath Whose power <br> The ocean woke to life and light, <br> Command Thy blessing in this hour, <br> Thy fostering warmth, Thy quickening might. <br> <br>4 Great God of our salvation, Thee <br> We love, we worship, we adore; <br> Our refuge on times's changeful sea, <br> Our joy on heaven's eternal shore. <br> Amen. <br> The Hymnal: revised and enlarged as adopted by the General Convention of the Protestant Episcopal Church in the United States of America in the year of our Lord <br>1892</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
