{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. On the waters dark and drear, <br> Jesus, Savior, Thou art near, <br> With our ship whereer it roam, <br> As with loving friends at home. <br> <br>2. Thou hast walked the heaving wave; <br> Thou art mighty still to save; <br> With one gentle word of peace <br> Thou canst bid the tempest cease. <br> <br>3. Safely from the boisterous main <br> Bring us back to port again; <br> In our haven we shall be, <br> Jesu, if we have but Thee. <br> <br>4. Only by Thy power and love <br> Fit us for the port above; <br> Still the deadly storm within, <br> Gusts of passion, waves of sin. <br> <br>5. So, when breaks the glorious dawn <br> Of the resurrection morn, <br> When the night of toil is oer, <br> We shall see Thee on the shore. <br> <br>6. Holy Father, Holy Son, <br> Holy Spirit, Three in One, <br> Praise unending unto Thee, <br> Now and evermore shall be. <br>  <br> Source: The Cyber Hymnal #<br>5504</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
