{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 God of our life, to thee we call, <br> afflicted at thy feet we fall; <br> when the great water-floods prevail, <br> leave not our trembling hearts to fail. <br> <br>2 Friend of the friendless and the saint, <br> Where should we lodge our deep complaint? <br> Where but with thee, whose open door <br> invites the helpless and the poor? <br> <br>3 Did ever mourner plead with thee, <br> and thou refuse that mourners plea? <br> Does not the Word still fixed remain, <br> that none shall seek thy face in vain? <br> <br>4 Then hear, O Lord, our humble cry, <br> and bend on us thy pitying eye: <br> to thee their prayer thy people make, <br> hear us for our Redeemer's sake. <br>  <br> Source: CPWI Hymnal #<br>468</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
