{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Great King of nations, hear our prayer, <br> while at your feet we fall, <br> and humbly, with united cry, <br> to you for mercy call. <br> <br>2 The guilt is ours, but grace is yours, <br> O turn us not away; <br> but hear us from your lofty throne, <br> and help us when we pray. <br> <br>3 Our fathers' sins were manifold, <br> and ours no less we own, <br> yet wondrously from age to age <br> your goodness has been shown. <br> <br>4 When dangers, like a stormy sea, <br> beset our country round, <br> to you we looked, to you we cried, <br> and help in you was found. <br> <br>5 With one consent we meekly bow <br> beneath your chast'ning hand, <br> and, pouring forth confession meet, <br> mourn with our mourning land. <br> <br>6 With pitying eye behold our need, <br> as thus we lift our pray'r; <br> correct us with your judgments, Lord, <br> then let your mercy spare. <br>  <br>  <br> Source: Trinity Psalter Hymnal #<br>557</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
