{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. In grief and fear, to thee, O Lord, <br> We now for succor fly; <br> Thine awful judgments are abroad, <br> O shield us, lest we die. <br> <br>2. O look with pity on the scene <br> Of sadness and of dread; <br> And let thine angel stand between <br> The living and the dead. <br> <br>3. With contrite hearts to thee, our King, <br> We turn who oft have strayed; <br> Accept the sacrifice we bring, <br> And let the plague be stayed. <br>  <br>  <br> Source: Christ in Song: for all religious services nearly one thousand best gospel hymns, new and old with responsive scripture readings (Rev. and Enl.) #<br>808</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
