{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Now thank we all our God <br> with heart and hands and voices, <br> who wondrous things has done, <br> in whom his world rejoices; <br> who from our mothers' arms <br> has blessed us on our way <br> with countless gifts of love, <br> and still is ours today. <br> <br>2 O may this bounteous God <br> through all our life be near us, <br> with ever joyful hearts <br> and blessed peace to cheer us, <br> to keep us in his grace, <br> and guide us when perplexed, <br> and free us from all ills <br> of this world in the next. <br> <br>3 All praise and thanks to God <br> the Father now be given, <br> the Son and Spirit blest, <br> who reign in highest heaven <br> the one eternal God, <br> whom heaven and earth adore; <br> for thus it was, is now, <br> and shall be evermore. <br> Psalter Hymnal (Gray), <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
