{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O praise our God to-day, <br> His constant mercy bless, <br> Whose love hath helped me on our way, <br> And granted us success. <br> <br>2 His arm the strength imparts <br> Our daily toil to bear; <br> His grace alone inspires our hearts <br> Each other's load to share. <br> <br>3 O happiest work below, <br> Earnest of joy above, <br> To sweeten a cup of woe <br> By deeds of holy love! <br> <br>4 Lord, may it be our choice <br> This blessed rule to keep, <br> "Rejoice with them that do rejoice, <br> And week with them that weep." <br> <br>5 O praise our God to-day, <br> His constant mercy bless, <br> Whose love has helped us on our way, <br> And granted us success. <br>  <br>  <br> Source: The Church Hymnal: containing hymns approved and set forth by the general conventions of <br>1892 and <br>1916; together with hymns for the use of guilds and brotherhoods, and for special occasions (Rev. ed) #<br>525</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
