{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Praise, O praise our God and King; <br> hymns of adoration sing:Refrain: <br> For his mercies still endure <br> ever faithful, ever sure.<br>2 Praise him that he made the sun <br> day by day his course to run: [Refrain]<br>3 And the silver moon by night, <br> shining with her gentle light: [Refrain]<br>4 Praise him that he gave the rain <br> to mature the swelling grain: [Refrain]<br>5 And hath bid the fruitful field <br> crops of precious increase yield: [Refrain]<br>6 Praise him for our harvest-store; <br> he hath filled the garner-floor: [Refrain]<br>7 And for richer food than this, <br> pledge of everlasting bliss: [Refrain]<br>8 Glory to our bounteous King; <br> glory let creation sing: <br> Glory to the Father, Son, <br> and blest Spirit, Three in One. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>286</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
