{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord of the harvest, once again, <br> we thank You for the ripened grain; <br> for crops safe carried, sent to cheer <br> Your servants through another year; <br> for all sweet holy thoughts, supplied <br> by seed-time, and by harvest-tide. <br> <br>2 The bare dead grain, in autumn sown, <br> its robe of vernal green puts on; <br> glad from its wintry grave it springs, <br> fresh garnished by the King of kings; <br> so, Lord, to those who sleep in You <br> shall bodies glorious be and new. <br> <br>3 Daily, O Lord, our prayers be said, <br> as You hav taught, for daily bread, <br> but not alone our bodies feed, <br> supply our fainting spirits need. <br> O Bread of Life, from day to day <br> be all their comfort, food and stay! <br>  <br> Source: The Irish Presbyterian Hymbook #<br>57</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
