{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Sing we the glory of our God, <br> Who on the second day <br> Spread out the firmament above, <br> His wonders to display. <br> <br>2. There, floating in the blue expanse <br> The watery clouds we view, <br> Whence fruitful showers at His command <br> The thirsty soil bedew. <br> <br>3. How fair an image of the grace <br> Which Thou, Lord, dost impart, <br> Like morning dew or gentle rain, <br> To gladden every heart. <br> <br>4. And when the faithful soul drinks in <br> Those showers with blessings rife, <br> A well of water springeth up <br> To everlasting life. <br> <br>5. O happy saints, on whom are poured, <br> Such treasures from above! <br> Lord, may they neer forgetful be, <br> But render love for love. <br> <br>6. To God, who freely loved us first, <br> All might, all glory be; <br> To Father, Son, and Holy Ghost, <br> Through all eternity. <br>  <br> Source: The Cyber Hymnal #<br>6093</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
