{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Rejoice, O pure in heart, <br> rejoice, give thanks, and sing; <br> your festal banner wave on high, <br> the cross of Christ your King. <br> Refrain: <br> Rejoice, rejoice, rejoice, give thanks, and sing! <br> <br>2 Bright youth and snow-crowned age, <br> both men and women, raise <br> on high your free, exulting song, <br> declare God's wondrous praise. [Refrain] <br> <br>3 Still lift your standard high, <br> still chanting as you go, <br> from youth to age, by night and day, <br> in gladness and in woe. [Refrain] <br> <br>4 At last the march shall end; <br> the wearied ones shall rest, <br> the pilgrims reach their home at last, <br> Jerusalem the blest. [Refrain] <br> <br>5 Praise God, who reigns on high, <br> the Lord whom we adore: <br> the Father, Son, and Holy Ghost, <br> one God forevermore. [Refrain] <br> Psalter Hymnal, <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
