{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Lord of hosts, whose glory fills <br> The bounds of the eternal hills, <br> And yet vouchsafes, in Christian lands, <br> To dwell in temples made with hands. <br> <br>2 Grant that all we, who here today <br> Rejoicing this foundation lay, <br> May be in very deed Thine own, <br> Built on the precious Corner Stone. <br> <br>3 Endue the creatures with Thy grace <br> That shall adorn Thy dwelling place; <br> The beauty of the oak and pine, <br> The gold and silver, make them Thine. <br> <br>4 To thee they all belong, to thee <br> The treasures of the earth and sea; <br> And when we bring them to thy throne <br> We but present thee with thine own. <br> <br>5 The heads that guide endue with skill; <br> The hands that work preserve from ill; <br> That we, who these foundations lay, <br> May raise the topstone in its day. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>375</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
