{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 New every morning is the love <br> our wakening and uprising prove; <br> through sleep and darkness safely brought, <br> restored to life and power and thought.<br>2 New mercies, each returning day, <br> hover around us while we pray; <br> new perils past, new sins forgiven, <br> new thoughts of God, new hopes of heaven.<br>3 If on our daily course our mind <br> be set to hallow all we find, <br> new treasures still, of countless price, <br> God will provide for sacrifice.<br>4 The trivial round, the common task, <br> will furnish all we need to ask, <br> room to deny ourselves, a road <br> to bring us daily nearer God.<br>5 Only, O Lord, in thy dear love <br> fit us for perfect rest above; <br> and help us, this and every day, <br> to live more nearly as we pray. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>4</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
