{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p>Christ will gather in His own <br> To the place where He is gone, <br> Where their heart and treasure lie, <br> Where our life is hid on high. <br> Day by day the voice saith, "Come, <br> Enter thine eternal home;" <br> Asking not if we can spare <br> This dear soul it summons there. <br> Had he ask'd us, well we know <br> We should cry, oh spare this blow! <br> Yes, with streaming tears should pray, <br> "Lord, we love him, let him stay!" <br> But the Lord doth nought amiss, <br> And since He hath order'd this, <br> We have nought to do but still <br> Rest in silence on His will. <br> Many a heart no longer here, <br> Ah! was all too inly dear; <br> Yet, O Love, 't is Thou doat call, <br> Thou wilt be our All in all. <br>  <br>  <br> Source: Chorale Book for England, The #<br>99</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
