{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Tender Shepherd, Thou hast stilled <br> Now Thy little lambs brief weeping. <br> Ah, how peaceful and how mild <br> In its narrow bed tis sleeping! <br> And no sigh of anguish sore <br> Heaves that little bosom more. <br> <br>2 In this world of pain and care, <br> Lord, Thou wouldst no longer leave it; <br> To Thy heav'nly meadows fair <br> Lovingly Thou dost receive it. <br> Clothed in robes of spotless white, <br> Now it dwells with Thee in light. <br> <br>3 O Lord Jesus, grant that we <br> There may live where it is living, <br> And the blissful pastures see <br> That its heav'nly food are giving. <br> Lost awhile our treasured love, <br> Gained forever, safe above. <br> Amen. <br>  <br> Source: The Lutheran Hymnal #<br>595</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
