{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. How oft, O Lord, thy face hath shone <br> on doubting souls whose wills were true! <br> Thou Christ of Peter and of John, <br> thou art the Christ of Thomas too. <br> <br>2. He loved thee well, and calmly said, <br> "Come, let us go, and die with him"; <br> yet when thine Easter-news was spread, <br> mid all its light his eyes were dim. <br> <br>3. His brethren's word he would not take, <br> but craved to touch those hands of thine: <br> when thou didst thine appearance make, <br> he saw, and hailed his Lord Divine. <br> <br>4. He saw thee risen; at once he rose <br> to full belief's unclouded height; <br> and still through his confession flows <br> to Christian souls thy life and light. <br> <br>5. O Savior, make thy presence known <br> to all who doubt thy Word and thee; <br> and teach us in that Word alone <br> to find the truth that sets us free. <br>  <br>  <br> Source: The Hymnal <br>1982: according to the use of the Episcopal Church #<br>242</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
