{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Bishop of the souls of men, <br> when the foemans step is nigh, <br> when the wolf lays wait by night <br> for the lambs continually, <br> watch, O Lord, about us keep, <br> guard us, Shepherd of the sheep. <br> <br>2 When the hireling flees away, <br> caring only for his gold, <br> and the gate unguarded stands <br> at the entrance to the fold, <br> stand, O Lord, thy flock before, <br> thou the guardian, thou the door. <br> <br>3 Lord, whose guiding finger ruled <br> in the casting of the lot, <br> that thy church might fill the throne <br> of the lost Iscariot, <br> in our trouble ever thus <br> stand, good Master, nigh to us. <br> <br>4 When the saints their order take <br> in the New Jerusalem, <br> and Matthias stands elect, <br> give us part and lot with him, <br> where in thine own dwelling-place <br> we may witness face to face. <br>  <br> Source: CPWI Hymnal #<br>801</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
