{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Praise we the Lord this day, <br> This day so long foretold, <br> Whose promise shone with cheering ray <br> On waiting saints of old. <br> <br>2 The prophet gave the sign <br> For faithful folk to read: <br> A virgin, born of David's line, <br> Shall bear the promised seed. <br> <br>3 Ask not how this should be, <br> But worship and adore <br> Like her whom God's own majesty <br> Came down to shadow o'er. <br> <br>4 She meekly bowed her head <br> To hear the gracious word: <br> Hail, Mary, pure and lowly maid, <br> The favored of the Lord. <br> <br>5 How blest shall be her name <br> In all the Church on earth! <br> Through her that wondrous myst'ry came, <br> The incarnate Savior's birth. <br> <br>6 Praise Christ, the Virgin's Son, <br> Whom earth and heav'n adore, <br> With Father, Spirit, Three in One <br> Both now and evermore. <br>  <br>  <br> Source: RitualSong (<br>2nd ed.) #<br>973</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
