{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. New wonders of Thy mighty hand, <br> Lord, we today admire, <br> Writ on the firmament above <br> In glittering orbs of fire. <br> <br>2. The sun is ruler of the day, <br> The silver moon of night, <br> The starry hosts adorn the sky <br> In ordered ranks of light. <br> <br>3. But een that glorious sun must set, <br> And knows his going down, <br> That silver moon must wax and wane, <br> The stars their courses own. <br> <br>4. Still in an ever changing round <br> The daylight comes and goes; <br> But Thou art evermore the same, <br> No change Thy mercy knows. <br> <br>5. Why waver then our troubled hearts? <br> Thine is a Fathers care; <br> And they, eternal life who seek, <br> Eternal life shall share. <br> <br>6. All praise, all glory be ascribed <br> To God the One in Three, <br> Who bids us cast our care on Him, <br> To Him for comfort flee. <br>  <br> Source: The Cyber Hymnal #<br>4670</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
