{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 From out the cloud of amber light, <br> borne on the whirlwind from the north, <br> four living creatures winged and bright <br> before the Prophets eyes came forth. <br> <br>2 The voice of God was in the Four <br> beneath that awful crystal mist, <br> and every wondrous form they wore <br> foreshadowed an Evangelist. <br> <br>3 The lion-faced, he told abroad <br> the strength of love, the strength of faith; <br> he showed the Almighty Son of God, <br> the Man Divine who won by death. <br> <br>4 O Lion of the Royal Tribe, <br> strong Son of God, and strong to save, <br> all power and honour we ascribe <br> to thee who only makest brave. <br> <br>5 For strength to love, for will to speak, <br> for fiery crowns by martyrs won, <br> for suffering patience, strong and meek, <br> we praise thee, Lord, and thee alone. <br>  <br> Source: CPWI Hymnal #<br>811</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
