{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 There is one way, and only one, <br> out of our gloom, and sin, and care, <br> to that fair land where shines no sun <br> because the face of God is there. <br> <br>2 There is one truth, the truth of God, <br> that Christ came down from heaven to show, <br> one Life that his redeeming blood <br> has won for all his saints below. <br> <br>3 The lore from Philip once concealed, <br> we know its fullness now in Christ; <br> in him the Father is revealed, <br> and all our longing is sufficed. <br> <br>4 And still unwavering faith holds sure <br> the words that James wrote sternly down; <br> except we labour and endure, <br> we cannot win the heavenly crown. <br> <br>5 O Way Divine, through gloom and strife, <br> bring us thy Father's face to see; <br> O heavenly Truth, O precious Life, <br> at last, at last, to rest in thee. <br>  <br> Source: CPWI Hymnal #<br>802</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
