{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Brightly did the light divine <br> from his words and actions shine, <br> whom the twelve, with love unblamed, <br> 'Son of Consolation,' named. <br> <br>2 Full of peace and lively joy <br> sped he on his high employ, <br> by his mild exhorting word <br> adding many to the Lord. <br> <br>3 Blessèd Spirit, who didst call <br> Barnabas and holy Paul, <br> and didst them with gifts endue, <br> mighty words and wisdom true, <br> <br>4 Grant us, Lord of life, to be <br> by their pattern full of thee; <br> that beside them we may stand <br> in that day on Christs right hand. <br>  <br>  <br> Source: CPWI Hymnal #<br>773</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
