{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The great forerunner of the morn, <br> The herald of the Word, is born; <br> And faithful hearts shall never fail <br> With thanks and praise his light to hail. <br> <br>2 With heav'nly message Gabriel came, <br> That John should be that herald's name, <br> And with prophetic utt'rance told <br> His actions great and manifold. <br> <br>3 Though not yet born, John gave aright <br> His witness to the coming Light; <br> And Christ, the Sun of all the earth, <br> Fulfilled that witness at his birth. <br> <br>4 John's mighty deeds exalt his fame <br> To greater than a prophet's name; <br> Of woman born shall never be <br> A greater prophet than was he. <br>  <br> Source: RitualSong (<br>2nd ed.) #<br>974</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
