{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 For all thy saints, a noble throng, <br> who fell by fire and sword, <br> who soon were called, or waited long, <br> we praise thy name, O Lord; <br> <br>2 for him who left his fathers side, <br> nor lingered by the shore, <br> when, softer than the weltering tide, <br> thy summons glided oer; <br> <br>3 who stood beside the maiden dead, <br> who climbed the mount with thee, <br> and saw the glory round thy head, <br> one of thy chosen three; <br> <br>4 Who knelt beneath the olive shade, <br> who drank thy cup of pain, <br> and passed from Herods flashing blade <br> to see thy face again. <br> <br>5 Lord, give us grace, and give us love, <br> like him to leave behind <br> earths cares and joys, and look above <br> with true and earnest mind. <br> <br>6 So shall we learn to drink thy cup, <br> so meek and firm be found, <br> when thou shalt come to take us up <br> where thine elect are crowned. <br>  <br> Source: CPWI Hymnal #<br>833</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
