{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Dear Lord, on this Thy servants day, <br> Who left for Thee the gold and mart, <br> Who heard Thee whisper, Come away, <br> And followed with a single heart, <br> <br>2. Give us, amid earths weary moil, <br> And wealth for which men cark and care, <br> Mid fortunes pride, and needs wild toil, <br> And broken hearts in purple rare, <br> <br>3. Give us Thy grace to rise above <br> The glare of this worlds smelting fires; <br> Let Gods great love put out the love <br> Of gold, and gain, and low desires. <br> <br>4. Still, like a breath from scented lime <br> Borne into rooms where sick men faint, <br> His voice comes floating through all time, <br> Thine own evangelist and saint. <br> <br>5. Still sweetly rings the Gospel strain <br> Of golden store that knows not rust: <br> The love of Christ is more than gain, <br> And heavenly crowns than yellow dust. <br>  <br> Source: The Cyber Hymnal #<br>1239</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
