{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Stars of the morning, so gloriously bright, <br> angels in heaven, resplendent in light, <br> these, where no darkness the glory can dim, <br> praise the Thrice Holy One, serving but him. <br> <br>2 These are your ministers, these are your own, <br> God of great majesty, nearest your throne; <br> these are your messengers, these whom you send, <br> helping your helpless ones, Helper and Friend. <br> <br>3 Then, when the earth was first poised in mid-space, <br> then, when the planets first sped on their race, <br> then, when were ended the six days' employ, <br> then all the sons of God shouted for joy. <br> <br>4 Still let them aid us and still let them fight, <br> Lord God of hosts, as they battle for right, <br> till, where their anthems they ceaselessly pour, <br> we with the angels may bow and adore. <br>  <br> Source: Christian Worship: Hymnal #<br>498</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
