{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 They come, Gods messengers of love, <br> They come from realms of peace above, <br> From homes of never-fading light, <br> From blissful mansions ever bright. <br> <br>2 They come to watch around us here, <br> To soothe our sorrow, calm our fear: <br> But chiefly, at our journey's end, <br> 'Tis theirs the spirit to defend. <br> <br>3 Blest Jesus, Thou Whose groans and tears <br> Have sanctified frail natures fears, <br> To earth in bitter sorrow weighed, <br> Thou didst not scorn Thine angels aid. <br> <br>4 An angel guard to us supply, <br> When on the bed of death we lie; <br> And by Thine own almighty power, <br> O shield us in that final hour. <br> Amen. <br>  <br> Source: Common Service Book of the Lutheran Church #<br>253</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
