{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p>O Heavenly Jerusalem, <br> Of everlasting halls, <br> Thrice blessèd are the people <br> Thou storest in thy walls. <br> Thou art the golden mansion, <br> Where saints forever sing, <br> The seat of God's own chosen, <br> The palace of the King. <br> There God forever sitteth, <br> Himself of all the crown; <br> The Lamb, the Light that shineth, <br> And never goeth down. <br> Naught to this seat approacheth <br> Their sweet peace to molest; <br> They sing their God forever, <br> Nor day nor night they rest. <br> Sure hope doth thither lead us; <br> Our longings thither tend; <br> May shortlived toil ne'er daunt us <br> For joys that cannot end. <br> To Christ, the Sun that lightens <br> His Church above, below; <br> To Father, and to Spirit <br> All things created bow.</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
