{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Today, O Lord, a holier work <br> Thy secret counsels frame, <br> A king to rule Thy new made world, <br> To praise Thy glorious name. <br> <br>2. Thou formest man: Thy Spirit breathes <br> Life into dust of earth: <br> Man, in Thine own true image made, <br> From Thee receives his birth. <br> <br>3. And henceforth he dominion holds <br> Oer all in earth and sea; <br> Yet mindful whence his being came <br> Must humbly walk with Thee. <br> <br>4. Alas! his willful heart rebels <br> Against Thy gentle sway; <br> Proud dust of earth would fain be like <br> The God whom all obey. <br> <br>5. O griefs and sorrows numberless, <br> Which hence the world oerspread; <br> Jesu, Thy mercy succored us, <br> Or hope itself had fled. <br> <br>6. O praise the Father, and the Son <br> Who saved us by His death, <br> And Holy Ghost who quickens us <br> With His life giving breath. <br>  <br> Source: The Cyber Hymnal #<br>6857</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
