{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Th'eternal gifts of Christ the King, <br> th'apostles' glory, let us sing; <br> and all, with hearts of gladness, raise <br> due hymns of thankful love and praise. <br> <br>2 Theirs is the steadfast faith of saints, <br> and hope that never yields nor faints, <br> and love of Christ in perfect glow <br> that lays the prince of this world low. <br> <br>3 In them the Father's glory shone, <br> in them the will of God the Son, <br> in them exults the Holy Ghost, <br> through them rejoice the heav'nly host. <br> <br>4 To thee, Redeemer, now we cry, <br> that thou wouldst join to them on high <br> thy servants, who this grace implore, <br> for ever and for evermore. <br>  <br> Source: Complete Anglican Hymns Old and New #<br>639</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
