{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Captains of the saintly band, <br> lights who lighten every land, <br> princes who with Jesus dwell, <br> judges of his Israel; <br> <br>2 on the nations sunk in night <br> ye have shed the gospel light; <br> sin and error flee away, <br> truth reveals the promised day. <br> <br>3 Not by warriors spear and sword, <br> not by art of human word, <br> preaching but the cross of shame, <br> rebel hearts for Christ ye tame. <br> <br>4 Earth, that long in sin and pain <br> groaned in Satans deadly chain, <br> now to serve its God is free <br> in the law of liberty. <br> <br>5 Distant lands with one acclaim <br> tell the honour of your name, <br> who, wherever man has trod, <br> teach the mysteries of God. <br> <br>6 Glory to the Three in One <br> while eternal ages run, <br> who from deepest shades of night <br> called us to his glorious light. <br>  <br> Source: CPWI Hymnal #<br>830</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
