{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Behold the messengers of Christ, <br> Who bear to every place, <br> The unveiled mysteries of God, <br> The Gospel of His grace. <br> <br>2. The things through mists and shadows dim <br> By holy prophets seen, <br> In the full light of day they saw <br> With not a cloud between. <br> <br>3. What Christ, true Man, divinely wrought, <br> What God in manhood bore, <br> They wrote, as God inspired, in words <br> That live forevermore. <br> <br>4. Although in space and time apart, <br> One Spirit ruled them all; <br> And in their sacred pages still <br> We hear that Spirits call. <br> <br>5. To God, the blessèd Three in One, <br> Be glory, praise, and might, <br> Who called us from the shades of death <br> To His own glorious light. <br>  <br> Source: The Cyber Hymnal #<br>593</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
