{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lo, round the throne, a glorious band, <br> the saints in countless myriads stand, <br> of every tongue redeemed to God, <br> arrayed in garments washed in blood.<br>2 Through tribulation great they came; <br> they bore the cross, despised the shame; <br> from all their labours now they rest, <br> in God's eternal glory blest.<br>3 They see their Saviour face to face, <br> and sing the triumphs of his grace; <br> him day and night they ceaseless praise, <br> to him the loud thanksgiving raise:<br>4 'Worthy the Lamb, for sinners slain, <br> through endless years to live and reign; <br> thou hast redeemed us by thy blood, <br> and made us kings and priests to God.'<br>5 O may we tread the sacred road <br> that saints and holy martyrs trod; <br> wage to the end the glorious strife, <br> and win, like them, a crown of life. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>305</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
