{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Six days of labor now are past; <br> Thou restest, Holy God; <br> And of Thy finished work has said, <br> That all is very good. <br> <br>2. Yet while the seventh day is blessed, <br> Hallowed for rest divine, <br> Behold, a new creation needs <br> That mighty power of Thine. <br> <br>3. Ten thousands voices praise Thy name <br> In earth and sea and sky; <br> One sinner by his sin has marred <br> The blissful harmony. <br> <br>4. O Lord, create mans heart anew, <br> The heart of stone remove: <br> Then hymns of praise again shall rise, <br> The fruits of holy love. <br> <br>5. O for the songs that Thou wilt bless, <br> Where heart and voice agree; <br> O for the prayers that plead aright <br> With Thy dread majesty. <br> <br>6. All praise to God, the Three in One, <br> Who high in glory reigns; <br> Who by His Word hath all things made, <br> And by His Word sustains. <br>  <br> Source: The Cyber Hymnal #<br>5948</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
