{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Blessed feasts of blessed martyrs, <br> Holy women, holy men, <br> With our love and admiration, <br> Greet we your return again. <br> Worthy deeds they wrought, and wonders, <br> Worthy of the name they bore; <br> We, with joyful praise and singing, <br> Honor them for evermore. <br> <br>2 Faith prevailing, hope unfailing, <br> Loving Christ with single heart, <br> Thus they, glorious and victorious, <br> Bravely bore the martyr's part, <br> By contempt of ev'ry anguish, <br> By unyielding battle done; <br> Victors at the last, they triumph, <br> With the host of angels one. <br> <br>3 Therefore, all that reign in glory, <br> Faithful heirs with Christ on high, <br> Join to ours your supplication <br> When before Christ we draw nigh, <br> Praying that, this life completed, <br> All its fleeting moments past, <br> By Christ's grace we may be worthy <br> Of eternal bliss at last. <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>711</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
