{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O God, Thy soldiers great reward, <br> Their portion, crown, and faithful Lord, <br> From all transgressions set us free <br> Who sing Thy martyrs victory. <br> <br>2. By wisdom taught he learned to know <br> The vanity of all below, <br> The fleeting joys of earth disdained, <br> And everlasting glory gained. <br> <br>3. Right manfully his cross he bore, <br> And ran his race of torments sore; <br> For Thee he poured his life away, <br> With Thee he lives in endless day. <br> <br>4. We therefore pray Thee, Lord of love, <br> Regard us from Thy throne above; <br> On this Thy martyrs triumph day <br> Wash every stain of sin away. <br> <br>5. All praise to God the Father be, <br> All praise, eternal Son, to Thee, <br> Whom with the Spirit we adore <br> Forever and forevermore. <br>  <br> Source: The Cyber Hymnal #<br>4926</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
