{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Ye servants of our glorious king, <br> To Him your thankful praises bring; <br> And tell the deeds that grace has done, <br> The triumphs by His martyrs won. <br> <br>2. Since they were faithful to the last, <br> Their holy struggles now are past; <br> The bitterness of death is oer, <br> And theirs is bliss forevermore. <br> <br>3. The flame might scorch, the knife lay bare, <br> And cruel beasts their members tear; <br> No powers of earth, no powers of hell <br> The souls that loved their Lord could quell. <br> <br>4. Forever broken is the chain <br> That sought to bind them, but in vain; <br> O let us strive like them to win <br> Our freedom from the bonds of sin. <br> <br>5. O Savior, may our portion be <br> With those who gave themselves to Thee, <br> Through all eternity to sing <br> All praise to Thee, the martyrs king. <br>  <br> Source: The Cyber Hymnal #<br>7813</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
