{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Palms of glory, raiment bright, <br> crowns that never fade away, <br> gird and deck the saints in light: <br> priests and kings and conquerors they.<br>2 Yet the conquerors bring their palms <br> to the Lamb amidst the throne, <br> and proclaim in joyful psalms <br> victory through his cross alone.<br>3 Kings for harps their crowns resign, <br> crying, as they strike the chords, <br> 'Take the kingdom, it is thine, <br> King of kings and Lord of lords.'<br>4 Round the altar priests confess, <br> if their robes are white as snow, <br> 'twas the Saviour's righteousness, <br> and his blood, that made them so.<br>5 They were mortal too like us: <br> O, when we like them must die, <br> may our souls translated thus <br> triumph, reign, and shine on high. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>307</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
