{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Soldiers, who are Christ's below, <br> strong in faith resist the foe: <br> boundless is the pledged reward <br> unto them who serve the Lord. <br> Alleluia.<br>2 For the souls that overcome <br> waits the beauteous heavenly home, <br> where the blessed evermore <br> tread on high the starry floor. <br> Alleluia.<br>3 'Tis no palm of fading leaves <br> that the conqueror's hand receives; <br> joys are there, serene and pure, <br> light that ever shall endure. <br> Alleluia.<br>4 Passing soon and little worth <br> are the things that tempt on earth; <br> heavenward lift thy soul's regard: <br> God himself is thy reward. <br> Alleluia.<br>5 Father, who the crown dost give, <br> Saviour, by whose death we live, <br> Spirit, who our hearts dost raise, <br> Three in One, thy name we praise. <br> Alleluia. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>309</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
