{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The God whom earth and sea and sky <br> adore and laud and magnify, <br> whose might they own, whose praise they tell, <br> in Mary's body deigned to dwell.<br>2 O Mother blest, the chosen shrine <br> wherein the Architect divine, <br> whose hand contains the earth and sky, <br> vouchsafed in hidden guise to lie:<br>3 Blest in the message Gabriel brought; <br> blest in the work the Spirit wrought; <br> most blest, to bring to human birth <br> the long-desired of all the earth.<br>4 O Lord, the Virgin-born, to thee <br> eternal praise and glory be, <br> whom with the Father we adore <br> and Holy Ghost for evermore. Amen. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>316</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
