{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Creator of the stars of night, <br> your peoples everlasting light, <br> O Christ, Redeemer of us all, <br> we pray you, hear us when we call. <br> <br>2 In sorrow that the ancient curse <br> should doom to death a universe, <br> you came to save a ruined race <br> with healing gifts of heav'nly grace. <br> <br>3 When earth drew on to darkest night, <br> you came, but not in splendor bright, <br> not as a king, but the child <br> of Mary, virgin mother mild. <br> <br>4 At your great name, majestic now, <br> all knees must bend, all hearts must bow; <br> all things on earth with one accord <br> join those in heavn to call you Lord. <br> <br>5 To God the Father, God the Son, <br> and God the Spirit, Three in One, <br> praise, honor, might, and glory be <br> from age to age eternally. <br> Amen. <br>  <br> Source: Christian Worship: Hymnal #<br>323</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
