{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Not by the martyrs death alone <br> The saint his crown in Heavn has won; <br> There is a triumph robe on high <br> For bloodless fields of victory. <br> <br>2. What though he was not called to feel <br> The cross, or flame, or torturing wheel, <br> Yet daily to the world he died; <br> His flesh, through grace, he crucified. <br> <br>3. What though nor chains, nor scourges sore, <br> Nor cruel beasts his members tore, <br> Enough if perfect love arise <br> For Christ a grateful sacrifice. <br> <br>4. Lord, grant us so to Thee to turn <br> That we through life to die may learn, <br> And thus, when lifes brief day is oer, <br> May live with Thee forevermore. <br> <br>5. O Fount of sanctity and love, <br> O perfect Rest of saints above, <br> All praise, all glory be to Thee <br> Both now and through eternity. <br>  <br> Source: The Cyber Hymnal #<br>4495</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
