{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O Thou whose all redeeming might <br> Crowns every chief in faiths true fight, <br> On this commemoration day <br> Hear us, good Jesu, while we pray. <br> <br>2. In faithful strife for Thy dear name <br> Thy servant earned the saintly fame, <br> Which pious hearts with praise revere <br> In constant memory year by year. <br> <br>3. Earths fleeting joys he counted naught, <br> For higher, truer joys he sought, <br> And now, with angels round the Thy throne, <br> Unfading treasures are his own. <br> <br>4. O grant that we, most gracious God, <br> May follow in the steps he trod; <br> And, freed from every stain of sin, <br> As he hath won may also win. <br> <br>5. To Thee, O Christ, our loving king, <br> All glory, praise, and thanks we bring; <br> Whom with the Father we adore <br> And Holy Ghost forevermore. <br>  <br> Source: The Cyber Hymnal #<br>5420</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
