{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Shepherd of the sheep, <br> High-Priest of things to come, <br> Who didst in grace Thy servant keep, <br> And take him safely home; <br> <br>2 Accept our song of praise <br> For all his holy care, <br> His zeal unquench'd, through length of days, <br> The trials that he bare. <br> <br>3 On all our Pastors pour <br> The Spirit of Thy grace; <br> That, as he won the palm of yore, <br> So they may run their race: <br> <br>4 That, when this life is done, <br> They may with him adore <br> The ever blesséd Three in One <br> In bliss forevermore. <br>  <br> Source: Book of Worship (Rev. ed.) #<br>563</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
