{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Jesu, for the beacon-light <br> By Thy holy Doctors given, <br> When the mists of errors night, <br> Gathered oer the path to Heavn; <br> For the witness that they bare <br> To the truth they learned of Thee, <br> For the glory that they share, <br> Let our praise accepted be. <br> <br>2. In Jerusalem below <br> They were workmen at Thy call, <br> Each with one hand met the foe, <br> With the other built the wall; <br> Watchmen on the mountain set, <br> Scribes instructed in Thy Word, <br> Fishers with the Gospel net, <br> Drawing souls to Thee their Lord. <br> <br>3. Like Thy learnèd sons of yore, <br> Jesu, may Thy Pastors still <br> Know and teach Thy sacred lore <br> With brave heart and patient skill; <br> In these latter days of strife <br> Keep, O keep them true to Thee, <br> Till beside the well of life <br> Light in Thine own light they see. <br>  <br> Source: The Cyber Hymnal #<br>3214</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
