{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Jesu, the virgins crown, do Thou <br> Accept us as in prayer we bow, <br> Born of that virgin whom alone <br> The mother and the maid we own. <br> <br>2. Amongst the lilies Thou dost feed, <br> And thither choirs of virgins lead, <br> Adorning all Thy chosen brides <br> With glorious gifts Thy love provides. <br> <br>3. And whither, Lord, Thy footsteps wend, <br> The virgins still with praise attend; <br> For Thee they pour their sweetest song, <br> And after Thee rejoicing throng. <br> <br>4. O gracious Lord, we Thee implore <br> Thy grace on every sense to pour; <br> From all pollution keep us free, <br> And make us pure in heart for Thee. <br> <br>5. All praise to God the Father be, <br> All praise, eternal Son, to Thee, <br> Whom with the Spirit we adore <br> For ever and for evermore. <br>  <br> Source: The Cyber Hymnal #<br>3294</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
