{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. How blest the matron, who, endued <br> With holy zeal and fortitude, <br> Has won through grace a saintly fame, <br> And owns a dear and honored name. <br> <br>2. Such holy love inflamed her breast <br> She would not seek on earth her rest, <br> But, strong in faith and patience, trod <br> The narrow way that leads to God. <br> <br>3. She learned, through fasting, to control <br> The flesh that weigheth down the soul, <br> And then, by prayers sweet food sustained, <br> To seek the joys she now has gained. <br> <br>4. O Christ, from whom all virtue springs, <br> Who only doest wondrous things, <br> To Thee, the King of saints, we pray, <br> Accept and bless Thy flock today. <br> <br>5. All praise to God the Father be, <br> All praise, eternal Son, to Thee, <br> Whom with the Spirit we adore <br> For ever and for evermore. <br>  <br> Source: The Cyber Hymnal #<br>2199</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
