{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Son of the Highest, deign to cast <br> On us a pitying eye, <br> Thou who repentant Magdalene <br> Didst call to joys on high. <br> <br>2. Thy long lost coin is stored at length <br> In treasure house divine, <br> The jewel from pollution cleansed <br> Doth now the stars outshine. <br> <br>3. Jesu, the balm of every wound, <br> The sinners only stay, <br> Grant us, like Magdalene, to weep <br> In this Thy mercys day. <br> <br>4. Absolve us by Thy gracious Word, <br> Fulfill us with Thy love, <br> And guide us through the storms of life <br> To perfect rest above. <br> <br>5. All praise, all glory be to Thee, <br> O everlasting Lord, <br> Whose mercy doth our souls forgive, <br> Whose bounty doth reward. <br>  <br> Source: The Cyber Hymnal #<br>6036</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
