{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Heavenly Word, Eternal Light, <br> Begotten of the Father's might, <br> Who, in these latter days, art born <br> For succor to a world forlorn; <br> <br>2 Our hearts enlighten from above, <br> And kindle with Thine own true love; <br> That we, who hear Thy call to-day, <br> May cast earth's vanities away. <br> <br>3 And when as Judge Thou drawest nigh, <br> The secrets of all hearts to try; <br> When sinners meet their awful doom, <br> And saints attain their heavenly home; <br> <br>4 O let us not, for evil past, <br> Be driven from Thy face at last; <br> But with the blessed evermore <br> Behold Thee, love Thee, and adore. <br>  <br> Source: The College Hymnal: for divine service at Yale College in the Battell Chapel #<br>122</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
