{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 In days of old on Sinai <br> the Lord Almighty came <br> in majesty of terror, <br> in thunder-cloud and flame: <br> on Tabor, with the glory <br> of sunniest light for vest, <br> the excellence of beauty <br> in Jesus was expressed. <br> <br>2 All light created paled there, <br> and did him worship meet; <br> the sun itself adored him, <br> and bowed before his feet; <br> while Moses and Elias, <br> upon the holy mount, <br> the co-eternal glory <br> of Christ our God recount. <br> <br>3 O holy, wondrous vision! <br> But what when, this life past, <br> the beauty of Mount Tabor <br> shall end in heaven at last? <br> But what when all the glory <br> of uncreated light <br> shall be the promised guerdon <br> of them that win the fight? <br>  <br> Source: CPWI Hymnal #<br>786</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
