{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. For ever we would gaze on Thee, <br> O Lord, upon the Mount; <br> With Moses and Elias see <br> That light from lights own fount; <br> <br>2. For ever with the chosen three <br> Would stand upon that height, <br> And in that blessèd company <br> Be plunged in pure delight. <br> <br>3. For ever would we train the ear <br> To that celestial Voice; <br> In Thee, the Son of God, so near <br> For evermore rejoice. <br> <br>4. Here would we pitch our constant tent, <br> For ever here abide; <br> And dwell in peace and full content, <br> Dear Master, at Thy side. <br> <br>5. But no! not yet to man tis given <br> To rest upon that height; <br> Tis but a passing glimpse of Heavn; <br> We must descend and fight. <br> <br>6. Beneath the mount is toil and pain; <br> O Christ, Thy strength impart; <br> Till we, transfigured, too, shall reign <br> For ever where Thou art. <br>  <br> Source: The Cyber Hymnal #<br>1508</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
