{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Herald, in the wilderness, <br> Breaking up the road, <br> Sinking mountains, raising plains, <br> For the path of God; <br> <br>2. Prophet, to the multitudes <br> Calling to repent, <br> In the way of righteousness <br> Unto Israel sent; <br> <br>3. Messenger, Gods chosen one <br> Foremost to proclaim, <br> Proffered titles passing by, <br> Pointing to the Lamb. <br> <br>4. Captive, for the word of truth <br> Boldly witnessing; <br> Then in Herods dungeon cave, <br> Faint and languishing; <br> <br>5. Martyr, sacrificed to sin <br> At that feast of shame; <br> As his life foreshowed the Lord, <br> In his death the same <br> <br>6. Holy Jesus, when He heard, <br> Went apart to pray: <br> Thus may we our lesson take <br> From his saint today. <br>  <br> Source: The Cyber Hymnal #<br>2318</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
