{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Hark! A thrilling voice is sounding! <br> "Christ is near," we hear it say. <br> "Cast away the works of darkness, <br> all you children of the day!" <br> <br>2 See, the Lamb, so long expected, <br> comes with pardon down from heav'n. <br> Let us haste, with tears of sorrow, <br> one and all, to be forgiv'n; <br> <br>3 So, when next he comes in glory <br> and the world is wrapped in fear, <br> he will shield us with his mercy <br> and with words of love draw near. <br> <br>4 Honor, glory, might, dominion <br> to the Father and the Son <br> with the everlasting Spirit <br> while eternal ages run! <br>  <br>  <br> Source: Christian Worship: Hymnal #<br>318</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
