{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 This is the day the Lord has made; <br> he calls the hours his own. <br> Let heav'n rejoice, let earth be glad <br> and praise surround the throne. <br> <br>2 Today he rose and left the dead, <br> and Satan's empire fell; <br> today the saints his triumphs spread <br> and all his wonders tell. <br> <br>3 Hosanna to th'anointed King, <br> to David's holy Son! <br> Help us, O Lord; descend and bring <br> salvation from the throne. <br> <br>4 Blessed is Jesus Christ, who came <br> with messages of grace, <br> who came in God the Father's name <br> to save our sinful race. <br> <br>5 Hosanna in the highest strains <br> the Church on earth can raise; <br> the highest heav'ns, in which he reigns, <br> shall give him nobler praise. <br>  <br> Source: Christian Worship: Hymnal #<br>922</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
