{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The advent of our King <br> our prayers must now employ, <br> and we must hymns of welcome sing <br> in strains of holy joy. <br> <br>2 The everlasting Son, <br> in flesh content to be, <br> himself a servant's form puts on <br> to set his servants free. <br> <br>3 O Zion's daughter, rise <br> to meet your lowly King, <br> nor let a faithless heart despise <br> the peace he comes to bring. <br> <br>4 As judge, on clouds of light, <br> he soon will come again <br> and his true members all unite <br> with him in heav'n to reign. <br> <br>5 Before the dawning day <br> let sin's dark deeds be gone, <br> the old self all be put away, <br> the new self now put on. <br> <br>6 All glory to the Son, <br> who comes to set us free, <br> with Father, Spirit, ever one, <br> through all eternity. <br>  <br> Source: Christian Worship: Hymnal #<br>309</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
