{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Now the busy week is done, <br> Now the rest-time is begun; <br> Thou hast brought us on our way, <br> Kept and led us day by day; <br> Now there comes the first and best, <br> Day of worship, light and rest. <br> <br>2. Hallow, Lord, the coming day! <br> When we meet to praise and pray, <br> Hear Thy Word, Thy feast attend, <br> Hours of happy service spend; <br> To our hearts be manifest, <br> Lord of labor and of rest. <br> <br>3. For Thy children gone before <br> We can trust Thee and adore; <br> All their earthly week is past, <br> Sabbath-time is theirs at last; <br> Fold them, Father, to Thy breast, <br> Give them everlasting rest. <br> <br>4. Guide us all the days to come, <br> Till Thy mercy call us home: <br> All our powers do Thou employ, <br> Be Thy work our chiefest joy; <br> Then, the promised land possessed, <br> Bid us enter into rest. <br>  <br> Source: The Cyber Hymnal #<br>4500</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
