{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 From east to west, from shore to shore <br> Let ev'ry heart awake and sing <br> The holy child whom Mary bore, <br> The Christ, the everlasting king. <br> <br>2 Behold, the world's creator wears <br> The form and fashion of a slave; <br> Our very flesh our maker shares, <br> His fallen creatures all to save. <br> <br>3 For this how wondrously He wrought! <br> A maiden, in her lowly place, <br> Became, in ways beyond all thought, <br> The chosen vessel of His grace. <br> <br>4 And while the angels in the sky <br> Sang praise above the silent field, <br> To shepherds poor the Lord Most High, <br> the one great Shepherd, was revealed. <br> <br>5 All glory for this blessed morn <br> To God the Father ever be; <br> All praise to You, O Virgin-born, <br> And Holy Ghost eternally. <br>  <br> Source: Lutheran Service Book #<br>385</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
