{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Within the Father's house <br> The Son has found his home, <br> And to his temple suddenly <br> The Lord of life has come. <br> <br>2 The doctors of the Law <br> Gaze on the wondrous child <br> And marvel at his gracious words <br> Of wisdom undefiled. <br> <br>3 Yet not to them is giv'n <br> The mighty truth to know, <br> To lift the earthly veil which hides <br> Incarnate God below. <br> <br>4 The secret of the Lord <br> Escapes each human eye, <br> And faithful, pond'ring hearts await <br> The full epiphany. <br> <br>5 Lord, enter now our souls <br> And teach us by your grace <br> Each dim revealing of yourself <br> With loving awe to trace, <br> <br>6 Till we behold your face <br> And know, as we are known, <br> You, Holy Spirit, Father, Son, <br> Co-equal Three in One. <br>  <br> Source: Worship (<br>4th ed.) #<br>443</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
