{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Fain would I, Lord of grace, <br> With penitential tears <br> The record of my sins efface, <br> That in Thy book appears: <br> <br>2. Fain would I journey hence, <br> In garb of stainless white, <br> And made by mine own penitence <br> Well pleasing in Thy sight. <br> <br>3. Fond idle dream! the foe <br> But lures and fools my soul; <br> Not all my tears can peace bestow <br> Thou only makest whole. <br> <br>4. Hath ever sailor tossed, <br> Or sufferer racked in pain, <br> Within Thine anchorage been lost, <br> Or found Thy Gilead vain? <br> <br>5. Maker and Hope of all! <br> Wounded and sick am I: <br> Great Healer, save me, lest I fall <br> And perish utterly. <br> <br>6. Can boundless love reject? <br> Shall mercy say me nay, <br> Who cry with all Thine own elect <br> Before Thee, night and day? <br>  <br> Source: The Cyber Hymnal #<br>1674</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
