{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O scorned and outcast Lord, beneath <br> Thy burden meekly bending, <br> Thou, our true Isaac, to Thy death <br> Art wearily ascending. <br> <br>2. And soon, with nail pierced feet and hands <br> Upon the cross they raise Thee; <br> The cross, which there uplifted stands, <br> To all the earth displays Thee. <br> <br>3. Oh! wondrous love of God on high <br> The sinful thus to cherish! <br> He gave His guiltless Son to die <br> Lest guilty man should perish. <br> <br>4. Our sins pollution to remove <br> His blood was freely given; <br> So mighty was the Saviors love <br> So just the wrath of heaven. <br> <br>5. Yes! tis the cross the breaks the rod <br> And chain of condemnation, <br> And makes a league twixt man and God <br> For our entire salvation. <br> <br>6. O praise the Father, praise the Son, <br> The Lamb for sinners given, <br> And Holy Ghost, through whom alone <br> Our hearts are raised to Heaven. <br>  <br> Source: The Cyber Hymnal #<br>5300</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
