{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 On Jordan's bank the Baptist's cry <br> announces that the Lord is nigh. <br> Awake and harken, for he brings <br> glad tidings of the King of kings! <br> <br>2 Then cleansed be every life from sin: <br> make straight the way for God within, <br> and let us all our hearts prepare <br> for Christ to come and enter there. <br> <br>3 We hail you as our Savior, Lord, <br> our refuge and our great reward. <br> Without your grace we waste away <br> like flowers that wither and decay. <br> <br>4 Stretch forth your hand, our health restore, <br> and make us rise to fall no more. <br> O let your face upon us shine <br> and fill the world with love divine. <br> <br>5 All praise to you, eternal Son, <br> whose advent has our freedom won, <br> whom with the Father we adore, <br> and Holy Spirit, evermore. <br> Psalter Hymnal, (Gray)</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
