{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Be near us, Holy Trinity, <br> One Light, one only Deity! <br> All things are Thine, on Thee depend, <br> Who art Beginning without end. <br> <br>2. The myriad armies of the sky <br> Praise, bless, adore Thy majesty: <br> Earths triple frameland, air, and sea <br> Upraise their canticle to Thee. <br> <br>3. We, too, Thy suppliant servants all, <br> Before Thy feet adoring fall: <br> To Thee our vows and prayers we bring <br> With hymns that saints and angels sing. <br> <br>4. One we believe Thee, Light divine, <br> And worship in a glorious Trine: <br> O First and Last, we humbly cry, <br> And all things having breath reply. <br> <br>5. Praise to the Father, made of none, <br> Praise to the sole-begotten Son, <br> Praise to the Holy Spirit be <br> Mysterious Godhead, One in Three! <br>  <br> Source: The Cyber Hymnal #<br>599</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
