{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Hail, Father, whose creating Call <br> Unnumber'd Worlds attend; <br> Jehovah, comprehending all, <br> Whom none can comprehend! <br> <br>2 In Light unsearchable inthron'd, <br> Which Angels dimly see; <br> The Fountain of the God-head own'd, <br> And foremost of the Three. <br> <br>3 From thee thro' an eternal Now, <br> The Son, thine Offspring, flow'd; <br> An everlasting Father thou, <br> An everlasting God. <br> <br>4 Nor quite display'd to Worlds above, <br> Nor quite on Earth conceal'd; <br> By wondrous, unexhausted :ove, <br> To mortal Man reveal'd. <br> <br>5 Supreme and all sufficient God, <br> When Nature shall expire, <br> And Worlds created by thy Nod <br> Shall perish by thy Fire. <br> <br>6 Thy Name Jehovah be ador'd <br> By Creatures without End, <br> Whom none but Thy essential Word <br> And Spirit comprehend. <br>  <br>  <br> Source: A Collection of Psalms and Hymns #XI</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
