{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O God of truth, whose living word <br> upholds whateer hath breath, <br> look down on thy creation, Lord, <br> enslaved by sin and death. <br> <br>2 Set up thy standard, Lord, that we, <br> who claim a heavenly birth, <br> may march with thee to smite the lies <br> that vex thy groaning earth. <br> <br>3 Ah, would we join that blest array, <br> and follow in the might <br> of him, the Faithful and the True, <br> in raiment clean and white? <br> <br>4 We fight for truth? We fight for God? <br> Poor slaves of lies and sin! <br> He who would fight for thee on earth <br> must first be true within. <br> <br>5 Then, God of truth, for whom we long, <br> thou who wilt hear our prayer, <br> do thine own battle in our hearts, <br> and slay the falsehood there. <br> <br>6 Yea, come! Then, tried as in the fire, <br> from every lie set free, <br> thy perfect truth shall dwell in us, <br> and we shall live in thee. <br>  <br> Source: CPWI Hymnal #<br>434a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
