{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Father, whateer of earthly bliss <br> Thy sov'reign will denies, <br> Accepted at Thy throne of grace, <br> Let this petition rise. <br> <br>2 Give me a calm, a thankful heart, <br> From every murmur free; <br> The blessing of Thy grace impart, <br> And let me live to Thee. <br> <br>3 Let the sweet hope that Thou art mine <br> My life and death attend; <br> Thy presence thro' my journey shine, <br> And crown my journeys end. <br> Amen. <br>  <br>  <br> Source: Hymns for the Living Church #<br>419</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
