{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Come to our poor nature's night, <br> With thy blessed inward light, <br> Holy Ghost, the Infinite, <br> Comforter Divine. <br> <br>2 We are sinful - cleanse us, Lord; <br> Sick and fain -thy strength afford; <br> Lost - until by thee restored, <br> Comforter Divine. <br> <br>3 Like the dew thy peace distil; <br> Guide, subdue our wayward will, <br> Things of Christ unfolding still, <br> Comforter Divine. <br> <br>4 With us, for us, intercede, <br> And, with voiceless groanings, plead <br> Our unutterable need, <br> Comforter Divine. <br> <br>5 In us Abba, Father! cry, <br> Earnest of the bliss on high, <br> Seal of immortality, <br> Comforter Divine. <br> <br>6 Search for us the depths of God; <br> Upwards by the starry road, <br> Bear us to thy high abode, <br> Comforter Divine. <br> Amen. <br>  <br> Source: Trinity Hymnal #<br>248</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
