{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord God the Holy Ghost, <br> in this accepted hour, <br> as on the day of Pentecost, <br> descend in all tThy power. <br> <br>2 We meet with one accord <br> in our appointed place, <br> and wait the promise of our Lord, <br> the Spirit of all grace. <br> <br>3 Like mighty rushing wind <br> upon the waves beneath, <br> move with one impulse every mind, <br> one soul, one feeling breathe: <br> <br>4 the young, the old inspire <br> with wisdom from above; <br> and give us hearts and tongues of fire, <br> to pray and praise and love. <br> <br>5 Spirit of light, explore, <br> and chase our gloom away, <br> with lustre shining more and more <br> unto the perfect day. <br> <br>6 Spirit of truth, be thou <br> in life and death our Guide; <br> O Spirit of adoption, now <br> may we be sanctified. <br>  <br> Source: CPWI Hymnal #<br>281</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
