{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lo! God is here; let us adore, <br> and own how dreadful is this place; <br> let all within us feel His pow'r, <br> and humbly bow before His face. <br> Who knows His pow'r, His grace who proves, <br> serve Him with awe, with rev'rence love. <br> <br>2 Lo! God is here, whom day and night <br> united choirs of angels praise; <br> to Him, enthroned above all height, <br> the host of heav'n their anthems raise. <br> Disdain not, Lord, our meaner song, <br> who praise Thee with a stamm'ring tongue. <br> <br>3 Almighty Father, may our praise <br> Thy courts with grateful fragrance fill; <br> still may we stand before Thy face, <br> still hear and do Thy sov'reign will. <br> To God whom earth and heav'n adore, <br> be praise and glory evermore. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>164</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
