{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesus, where'er your people meet, <br> there they behold your mercy seat; <br> where'er they seek you, you are found, <br> and ev'ry place is hallowed ground. <br> <br>2 For you, within no walls confined, <br> are dwelling in the humble mind; <br> such ever bring you where they come, <br> and going, take you to their home. <br> <br>3 Dear Shepherd of your chosen few, <br> your former mercies here renew; <br> here to our waiting hearts proclaim <br> the sweetness of your saving name. <br> <br>4 Here may we prove the pow'r of pray'r <br> to strengthen faith and sweeten care, <br> to teach our faint desires to rise, <br> and bring all heav'n before our eyes. <br> <br>5 Lord, we are few, but you are near; <br> nor short your arm, nor deaf your ear; <br> O rend the heav'ns, come quickly down, <br> and make a thousand hearts your own. <br>  <br> Source: Trinity Psalter Hymnal #<br>167</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
