{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Hark, the glad sound! The Savior comes, <br> the Savior promised long! <br> Let every heart prepare a throne, <br> and every voice a song. <br> <br>2 He comes the pris'ners to release, <br> in Satans bondage held; <br> the gates of brass before Him burst, <br> the iron fetters yield. <br> <br>3 He comes the broken heart to bind, <br> the bleeding soul to cure, <br> and with the riches of His grace, <br> to enrich the humbled poor. <br> <br>4 Our glad Hosannas, Prince of Peace, <br> Thy welcome shall proclaim; <br> and heav'ns eternal arches ring, <br> with Thy beloved Name. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>215</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
