{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Father of mercies, in Thy word, <br> What endless glory shines! <br> Forever be Thy name adored <br> For these celestial lines. <br> <br>2 Here may the wretched sons of want <br> Exhaustless riches find: <br> Riches above what earth can grant <br> And lasting as the mind. <br> <br>3 Here the fair tree of knowledge grows, <br> And yields a free repast; <br> Sublimer sweets than nature knows <br> Invites the longing taste. <br> <br>4 Here the Redeemer's welcome voice <br> Spreads heavenly peace around; <br> And life and everlasting joys <br> Attend the blissful sound. <br> <br>5 O may these heavenly pages be <br> My ever dear delight. <br> And still new beauties may I see, <br> And still increasing light. <br> <br>6 Divine Instructor, gracious Lord, <br> Be Thou forever near: <br> Teach me to love Thy sacred word <br> And view my Savior there. <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>202</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
