{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Oh how fair that morning broke, <br> When in Eden man awoke! <br> Beast and bird and insect bright <br> Reveled in the gladsome light; <br> God looked down from Heavn above, <br> All was life and joy and love. <br> <br>2. Ah! the doleful change when sin <br> Darkly, subtly entered in! <br> War and pestilence and dearth <br> Mar and sadden Gods fair earth; <br> Human sorrow fills the air; <br> Death is reigning everywhere. <br> <br>3. Yet rejoice; for God on high <br> Hath not left His world to die! <br> Gods dear Son, with dying breath, <br> Broke the power of sin and death; <br> Christ the Tempter overthrew, <br> Christ is making all things new. <br> <br>4. Lord, in me be sin subdued, <br> So may I with heart renewed, <br> Fight the fight and run the race, <br> Work in my appointed place, <br> Waiting for the glad new birth <br> Of Thy perfect Heavn and earth. <br>  <br> Source: The Cyber Hymnal #<br>4960</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
