{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Far down the ages now, <br> Much of her journey done, <br> The pilgrim church pursues her way, <br> Until her crown be won. <br> <br>2 No wider is the gate, <br> No broader is the way, <br> No smoother is the ancient path <br> That leads to life and day. <br> <br>3 No sweeter is the cup, <br> Nor less our lot of ill; <br> 'T was tribulation ages since, <br> 'T is tribulation still. <br> <br>4 No slacker grows the fight, <br> No feebler is the foe, <br> Nor less the need of armor tried, <br> Of shield, and spear, and bow. <br> <br>5 Thus onward still we press, <br> Through evil and through good <br> Thro' pain, and poverty, and want, <br> Thro' peril and thro' blood. <br> <br>6 Still faithful to our God, <br> And to our Captain true, <br> We follow where he leads the way; <br> The Kingdom in our view. <br>  <br> Source: The Christian Hymnary. Bks. <br>1-<br>4 #<br>402</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
