{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 There is a land of pure delight, <br> where saints immortal reign; <br> infinite day excludes the night, <br> and pleasures banish pain.<br>2 There everlasting spring abides, <br> and never-withering flowers; <br> death, like a narrow sea, divides <br> that heavenly land from ours.<br>3 Sweet fields beyond the swelling flood <br> stand dressed in living green; <br> so to the Jews old Canaan stood, <br> while Jordan rolled between.<br>4 But timorous mortals start and shrink <br> to cross the narrow sea, <br> and linger shivering on the brink, <br> and fear to launch away.<br>5 O could we make our doubts remove, <br> those gloomy doubts that rise, <br> and see the Canaan that we love <br> with unbeclouded eyes;<br>6 Could we but climb where Moses stood, <br> and view the landscape o'er, <br> not Jordan's stream, nor death's cold flood, <br> should fright us from the shore! <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>804</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
