{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Peace, perfect peace, in this dark world of sin? <br> The blood of Jesus whispers peace within.<br>2 Peace, perfect peace, by thronging duties pressed? <br> To do the will of Jesus, this is rest.<br>3 Peace, perfect peace, death shadowing us and ours? <br> Jesus has vanquished death and all its powers.<br>4 Peace, perfect peace, our future all unknown? <br> Jesus we know, and he is on the throne.<br>5 It is enough: earth's struggles soon shall cease, <br> and Jesus call to heaven's perfect peace. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>764</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
