{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Take not thought for food or raiment, <br> Careful one, so anxiously; <br> For the king Himself provideth <br> Food and clothes for thee. <br> <br>2. He who daily feeds the sparrows, <br> He Who clothes the lilies bright, <br> More than birds and flowers holds thee <br> Precious in His sight. <br> <br>3. Wouldst thou give a stone, a serpent, <br> To thy pleading child for food? <br> And shall not thy heavenly Father <br> Give thee what is good? <br> <br>4. On the heart that careth for thee <br> Rest thou then from sorrow free; <br> For of all most tender fathers <br> None so good as He. <br> <br>5. Seek thou first His gracious promise, <br> Treasure stored in Heavn above; <br> So thou mayst entrust all other <br> Safely to His love. <br> <br>6. Unto Thee, O bounteous Father, <br> Glory, honor, praise be done; <br> With the Son and Holy Spirit, <br> God for ever One. <br>  <br> Source: The Cyber Hymnal #<br>6839</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
