{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. When shades of night around us close, <br> And weary limbs in sleep repose, <br> The faithful soul awake may be, <br> And longing sigh, O Lord, to Thee. <br> <br>2. Thou true Desire of nations, hear, <br> Thou Word of God, Thou Savior dear; <br> In pity heed our humble cries, <br> And bid at length the fallen rise. <br> <br>3. O come, Redeemer, come and free <br> Thine own from guilt and misery; <br> The gates of Heavn again unfold, <br> Which Adams sin had closed of old. <br> <br>4. All praise, eternal Son, to Thee, <br> Whose advent sets Thy people free, <br> Whom with the Father we adore <br> And Holy Ghost forevermore. <br>  <br> Source: The Cyber Hymnal #<br>7382</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
