{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Praise the Lord! Gods glories show, Alleluia! <br> saints within God's courts below, Alleluia! <br> angels round the throne above, Alleluia! <br> all who see and share God's love. Alleluia! <br> <br>2 Earth to heaven exalt the strain, Alleluia! <br> Send it, heaven, to earth again, Alleluia! <br> Age to age, Gods mercies trace, Alleluia! <br> Praise Gods providence and grace! Alleluia! <br> <br>3 Strings and voices, hands and hearts, Alleluia! <br> in the concert, bear your parts, Alleluia! <br> All that breathes, your Lord adore, Alleluia! <br> singing praise forevermore, Alleluia! <br>  <br>  <br> Source: Glory to God: the Presbyterian Hymnal #<br>33</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
