{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Thou, before the world began <br> Ordained a sacrifice for man, <br> And by th'eternal Spirit made <br> An offering in the sinner's stead; <br> Our everlasting Priest art Thou, <br> Pleading Thy death for sinners now. <br> <br>2 Thy offering still continues new <br> Before the righteous Father's view; <br> Thyself the Lamb forever slain, <br> Thy priesthood doth unchanged remain; <br> Thy years, O God, can never fail, <br> Nor Thy blest work within the veil. <br> <br>3 Oh, that our faith may never move, <br> But stand unshaken as Thy love! <br> Sure evidence of things unseen, <br> Now let it pass the years between, <br> And view Thee bleeding on the tree, <br> My Lord, my God, Who dies for me. <br> Amen. <br> The Hymnal: revised and enlarged as adopted by the General Convention of the Protestant Episcopal Church in the United States of America in the year of our Lord <br>1892</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
