{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. With weary feet and saddened heart, <br> From toil and care we flee, <br> And come, O dearest Lord, apart, <br> To rest awhile with Thee. <br> <br>2. The courts of Heavn were lost to view, <br> The world had come between; <br> But here the veil is rent in two; <br> We see the things unseen. <br> <br>3. Our sins, in Thy pure light descried, <br> Stand out in dread array; <br> But here in loves absolving tide <br> Their guilt is washed away. <br> <br>4. With strife of tongues distraught and worn <br> Our troublous way we trod; <br> But cast ourselves, this holy morn, <br> Into the peace of God. <br> <br>5. And oh! what depth of joy, as thus <br> We bend the trembling knee, <br> To know that Thou art one with us, <br> And we are one with Thee. <br>  <br> Source: The Cyber Hymnal #<br>7716</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
