{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 With Christ we share a mystic grave, <br> With Christ we buried lie; <br> But not within the darksome cave <br> By mournful Calvary. <br> <br>2 The pure and bright baptismal flood <br> Entombs our natures stain: <br> New creatures from the cleansing wave <br> With Christ we rise again. <br> <br>3 Thrice blest, if through this world of sin, <br> And lust and selfish care, <br> Our resurrection robe of white <br> And undefiled we wear. <br> <br>4 Thrice blest, if through the gates of death, <br> Glorious at last and free, <br> We to our joyful rising pass, <br> O risen Lord with thee. <br> <br>5 And now to thy thrice holy Name, <br> The God whom we adore, <br> To Father, Son, and Spirit blest, <br> Be glory evermore. Amen. <br>  <br> Source: The New English Hymnal #<br>317</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
