{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. And now this holy day <br> Is drawing to its end, <br> Once more, to Thee, O Lord, <br> Our thanks and prayers we send. <br> <br>2. We thank Thee for this rest <br> From earthly care and strife; <br> We thank Thee for this help <br> To higher, holier life. <br> <br>3. We thank Thee for Thy house; <br> It is Thy palace-gate <br> Where Thou, upon Thy throne <br> Of mercy, still dost wait. <br> <br>4. We thank Thee for Thy Word, <br> Thy Gospels joyful sound; <br> Oh, may its holy fruits <br> Within our hearts abound! <br> <br>5. Yet, ere we go to rest, <br> Father, to Thee we pray, <br> Forgive the sins that stain <br> Een this Thy holy day. <br> <br>6. Through Jesus let the past <br> Be blotted from Thy sight, <br> And let us all now sleep <br> At peace with Thee this night. <br> <br>7. To God the Father, Son, <br> And Spirit glory be, <br> From all in earth and Heavn, <br> Through all eternity. <br>  <br> Source: The Cyber Hymnal #<br>199</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
