{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Up in heaven, up in heaven, <br> In the bright place far away, <br> He whom bad men crucified <br> Sitteth at His Father's side, <br> Till the Judgment Day. <br> <br>2 And He loves His little children, <br> And He pleads for children there, <br> Asking the great God of heaven <br> That their sins may be forgiven, <br> And He hears their prayers. <br> <br>3 Nevermore a helpless Baby, <br> Born in poverty and pain; <br> But with awful glory crowned, <br> With His Angels standing round, <br> He shall come again. <br> <br>4 Then the wicked souls shall tremble, <br> And the good souls shall rejoice; <br> Parents, children, every one, <br> Then shall stand before His Throne, <br> And shall hear His voice. <br> <br>5 And all faithful, holy Christians, <br> Who their Master's work have done, <br> Shall appear at His right hand, <br> And inherit the fair land <br> That His love has won. <br> Amen. <br>  <br> Source: Voices of Praise: for school and church and home #<br>39</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
