{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O my God, I fear Thee! Thou art very high, <br> Yet to us, Thy children, Thou art always nigh, <br> Far removed from mortal sight, <br> Dwelling in eternal light. <br> <br>2. O my God, I fear Thee! Yet I come in prayer, <br> For my Savior tells me I need not despair; <br> Tells me of a Fathers love, <br> And a home prepared above. <br> <br>3. Never earthly father Loveth like to Thee; <br> Thou dost guide and pardon Guilty ones like me; <br> Sending down Thy holy Son <br> That all sinners might be won. <br> <br>4. O my God, I fear Thee! Holy, just, and true; <br> But, my heavenly Father, I will love Thee, too; <br> Guide me till this life be past, <br> Take me to Thyself at last. <br>  <br> Source: The Cyber Hymnal #<br>5170</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
