{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lamb of God, I look to Thee: <br> Thou shalt my example be; <br> Thou art gentle, meek, and mild; <br> thou wast once a little child. <br> <br>2 Fain I would be as Thou art; <br> Give me Thy obedient heart; <br> Thou art pitiful and kind, <br> Let me have Thy loving mind. <br> <br>3 Let me, above all, fulfill <br> God my heavenly Father's will, <br> Never His good Spirit grieve, <br> Only to His glory live. <br> <br>4 Loving Jesus, gentle Lamb, <br> In Thy gracious hands I am; <br> Make me, Savior, what Thou art, <br> Live Thyself within my heart. <br> <br>5 I shall then show forth Thy praise, <br> Serve Thee all my happy days; <br> Then the world shall always see <br> Christ the holy Child in me.</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
