{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Do no sinful action, <br> speak no angry word; <br> ye belong to Jesus, <br> children of the Lord. <br> <br>2 Christ is kind and gentle, <br> Christ is pure and true; <br> and his little children <br> must be holy too. <br> <br>3 Theres a wicked spirit <br> watching round you still, <br> and he tries to tempt you <br> to all harm and ill. <br> <br>4 But ye must not hear him, <br> though tis hard for you <br> to resist the evil, <br> and the good to do. <br> <br>5 For ye promised truly, <br> in your infant days, <br> to renounce him wholly, <br> and forsake his ways. <br> <br>6 Ye are new-born Christians <br> ye must learn to fight <br> with the bad within you, <br> and to do the right. <br> <br>7 Christ is your own Master, <br> he is good and true, <br> and his little children <br> must be holy too. <br>  <br> Source: CPWI Hymnal #<br>645a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
