{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Sing to the Lord the childrens hymn, <br> His gentle love declare, <br> Who bends amid the seraphim <br> To hear the childrens prayer. <br> <br>2 He at a mothers breast was fed, <br> Though Gods own Son was he; <br> He learnt the first small words he said <br> At a meek mothers knee. A-men. <br> <br>3 He held us to his mighty breast, <br> The children of the earth; <br> He lifted up his hands and blessed <br> The babes of human birth. <br> <br>4 Lo! from the stars his face will turn <br> On us with glances mild; <br> The angels of His presence yearn <br> To bless the little child. <br> <br>5 Keep us, O Jesus Lord, for thee, <br> That so by thy dear grace <br> We, children of the font, may see <br> Our heavenly Fathers face. <br> Amen. <br>  <br> Source: Service Book and Hymnal of the Lutheran Church in America #<br>335</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
