{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lord, I would own thy tender care, <br> and all thy love to me; <br> the food I eat, the clothes I wear, <br> are all bestowed by thee. <br> <br>2 'Tis thou preservest me from death <br> and dangers every hour; <br> I cannot draw another breath <br> unless thou give me power. <br> <br>3 Kind angels guard me every night, <br> as round my bed they stay; <br> nor am I absent from thy sight <br> in darkness or by day. <br> <br>4 My health and friends and parents dear <br> to me by God are given; <br> I have not any blessing here <br> but what is sent from heaven. <br> <br>5 Such goodness, Lord, and constant care <br> I never can repay; <br> but may it be my daily prayer, <br> to love thee and obey. <br>  <br> Source: CPWI Hymnal #<br>657</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
