{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Lord, behold us with Thy blessing <br> Once again assembled here; <br> Onward be our footsteps pressing <br> In Thy love, and faith, and fear; <br> Still protect us <br> By Thy presence ever near. <br> <br>2. For Thy mercy we adore Thee, <br> For this rest upon our way; <br> Lord, again we bow before Thee, <br> Speed our labors day by day; <br> Mind and spirit <br> With Thy choicest gifts array. <br> <br>3. Keep the spell of home affection <br> Still alive in every heart; <br> May its power, with mild direction, <br> Draw our love from self apart, <br> Till Thy children <br> Feel that Thou their Father art. <br> <br>4. Break temptations fatal power, <br> Shielding all with guardian care, <br> Safe in every careless hour, <br> Safe from sloth and sensual snare; <br> Thou, our Savior, <br> Still our failing strength repair. <br>  <br> Source: The Cyber Hymnal #<br>3592</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
