{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Lord, dismiss us with Thy blessing, <br> Thanks for mercies past receive; <br> Pardon all, their faults confessing; <br> Time thats lost may all retrieve; <br> May Thy children <br> Neer again Thy Spirit grieve. <br> <br>2. Bless Thou all our days of leisure; <br> Help us selfish lures to flee; <br> Sanctify our every pleasure; <br> Pure and blameless may it be; <br> May our gladness <br> Draw us evermore to Thee. <br> <br>3. By Thy kindly influence cherish <br> All the good we here have gained; <br> May all taint of evil perish <br> By Thy mightier power restrained; <br> Seek we ever <br> Knowledge pure and love unfeigned. <br> <br>4. Let Thy father-hand be shielding <br> All who here shall meet no more; <br> May their seed-time past be yielding <br> Year by year a richer store; <br> Those returning, <br> Make more faithful than before. <br>  <br> Source: The Cyber Hymnal #<br>3608</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
