{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 With the sweet word of peace <br> We bid our brethren go; <br> Peace as a river to increase, <br> And ceaseless flow. <br> <br>2 With the calm word of prayer <br> We earnestly commend <br> Our brethren to Thy watchful care, <br> Eternal Friend! <br> <br>3 With the dear word of love <br> We give our brief farewell; <br> Our love below, and Thine above, <br> With them shall dwell. <br> <br>4 With the strong word of faith <br> We stay ourselves on Thee, <br> That Thou, O Lord, in life and death, <br> Their Help shalt be. <br> <br>5 Then the bright word of hope <br> Shall on our parting gleam, <br> And tell of joys beyond the scope <br> Of earth-born dream. <br> <br>6 Farewell! in hope and love, <br> In faith, and peace, and prayer; <br> Till He whose home is ours above, <br> Unite us there. <br> Amen. <br> The Hymnal: Published by the authority of the General Assembly of the Presbyterian Church in the U.S.A., <br>1895</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
