{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O come, all ye faithful, joyful and triumphant, <br> O come ye, O come ye to Bethlehem! <br> Come, and behold Him, born the King of angels! <br> Refrain: <br> O come, let us adore Him; <br> O come, let us adore Him; <br> O come, let us adore Him, Christ, the Lord! <br> <br>2 God of God, Light of Light, <br> lo, He abhors not the virgin's womb; <br> very God, begotten not created; [Refrain] <br> <br>3 Sing, choirs of angels; sing in exultation; <br> sing, all ye citizens of heav'n above! <br> Glory to God, all glory in the highest![Refrain] <br> <br>4 Yea, Lord, we greet Thee, born this happy morning; <br> Jesus, to Thee be all glory giv'n! <br> Word of the Father, now in flesh appearing! [Refrain] <br>  <br> Source: Psalms and Hymns to the Living God #<br>253</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
