{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Lord, be with us when we sail <br> Upon the lonely deep, <br> Our Guard when on the silent deck <br> The midnight watch we keep. <br> <br>2 We need not fear, though all around <br> 'Mid rising winds we hear <br> The multitude of waters surge, <br> For Thou, O God, art near. <br> <br>3 The calm, the breeze, the gale, the storm <br> That pass from land to land, <br> All, all are Thine, are held within <br> The hollow of Thy hand. <br> <br>4 Across this troubled tide of life <br> Our Pilot Thou abide <br> Until we reach that better land, <br> Beyond both time and tide. <br> <br>5 To Thee the Father, Thee the Son, <br> Whom earth and sky adore, <br> And Spirit, moving on the deep, <br> Be praise for evermore. <br> Amen. <br>  <br> Source: The Hymnal and Order of Service #<br>587</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
