{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O God, who metest in Thine hand <br> The waters of the mighty sea, <br> And barrest ocean with the sand <br> By Thy perpetual decree: <br> <br>2. What time the floods lift up their voice <br> And break in anger on the shore, <br> When deep to deep calls with the noise <br> Of waterspouts and billows roar; <br> <br>3. When they who to the sea go down, <br> And in the waters ply their toil, <br> Are lifted on the surges crown, <br> And plunged where seething eddies boil; <br> <br>4. Rule then, O Lord, the oceans wrath, <br> And bind the tempest with Thy will; <br> Tread, as of old, the waters path <br> And speak Thy bidding, Peace, be still. <br> <br>5. So with Thy mercies ever new <br> Thy servants set from peril free, <br> And bring them, Pilot wise and true, <br> Within the port where they would be. <br>  <br> Source: The Cyber Hymnal #<br>4937</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
