{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 When through the torn sail the wild tempest is streaming, <br> When o'er the dark wave the red lightning is gleaming, <br> Nor hope lends a ray the poor seaman to cherish, <br> We fly to our Maker: "Help, Lord, or we perish!" <br> <br>2 O Jesus, once rocked on the breast of the billow, <br> Aroused by the shriek of despair from Thy pillow, <br> Now seated in glory, the mariner cherish, <br> Who cries in his anguish, "Help, Lord, or we perish!" <br> <br>3 And O, when the whirlwind of passion is raging, <br> When sin in our hearts its wild warfare is waging, <br> Arise in Thy strength, Thy redeemèd to cherish; <br> Rebuke the destroyer: "Help, Lord, or we perish!" <br> Amen. <br>  <br> Source: The Hymnal and Order of Service #<br>78</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
