{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O Savior! when Thy loving hand <br> Has brought us oer the sea, <br> Through perils many, safe to land <br> The land we longed to see. <br> <br>2. Oh, help us, for Thy help we need <br> Each moment more and more <br> In perils that we scarcely heed, <br> More deadly, on the shore. <br> <br>3. Lord, save us! and the Christian name <br> Oh, help us pure to keep, <br> On sea or land, alike the same, <br> Till we in death shall sleep. <br> <br>4. Then through Thy merits, washed and clean <br> From sins polluting stain, <br> In raiment white may we be seen <br> With all Thy saints to reign. <br>  <br> Source: The Cyber Hymnal #<br>5349</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
