{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Here, Lord, we offer Thee all that is fairest, <br> Bloom from the garden, and flowers from the field, <br> Gifts for the stricken ones, knowing Thou carest <br> More for the love than the wealth that we yield. <br> <br>2 Speak, Lord, by these to the sick and the dying; <br> Speak to their hearts with a message of peace; <br> Comfort the sad, who in weakness are lying; <br> Grant the departing a gentle release. <br> <br>3 Raise, Lord, to health again those who have sickened, <br> Fair be their lives as the roses in bloom; <br> Give of Thy grace to the souls Thou hast quickened, <br> Gladness for sorrow and brightness for gloom. <br> <br>4 We, Lord, like flowers, must bloom and must wither; <br> We, like these blossoms, must fade and must die; <br> Gather us, Lord, to Thy bosom for ever, <br> Grant us a place in Thy home in the sky. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>627</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
