{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Your hand, O God, has guided <br> your flock from age to age; <br> your faithfulness is written <br> on history's open page. <br> Our fathers owned your goodness, <br> and we their deeds record; <br> and both to this bear witness: <br> one church, one faith, one Lord! <br> <br>2 Your heralds brought the gospel <br> to greatest and the least; <br> they summoned men and women <br> to share the great King's feast. <br> And this was all their teaching <br> in ev'ry deed and word, <br> to all alike proclaiming: <br> one church, one faith, one Lord! <br> <br>3 Your mercy will not fail us <br> nor leave your work undone; <br> with your right hand to help us <br> the vict'ry shall be won. <br> And then by earth and heaven <br> your name shall be adored; <br> and this shall be our anthem: <br> one church, one faith, one Lord! <br>  <br> Source: Trinity Psalter Hymnal #<br>416</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
