{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Safe Home, safe Home in port! <br> Rent cordage, shattered deck, <br> Torn sails, provisions short, <br> And only not a wreck: <br> But O the joy upon the shore <br> To tell our voyage perils oer! <br> <br>2 The prize, the prize secure! <br> The warrior nearly fell; <br> Bare all he could endure, <br> And bare not always well: <br> But he may smile at troubles gone <br> Who sets the victor-garland on! <br> <br>3 No more the foe can harm <br> No more of leaguer'd camp, <br> And cry of night alarm, <br> And need of ready lamp: <br> And yet how nearly he had fail'd, <br> How nearly had that foe prevail'd! <br> <br>4 The lamb is in the fold <br> In perfect safety penn'd: <br> The lion once had hold, <br> And thought to make an end; <br> But One came by with wounded Side, <br> And for the sheep the Shepherd died. <br>  <br>  <br> Source: Hymnal: according to the use of the Protestant Episcopal Church in the United States of America #<br>262</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
