{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. We have not seen, we cannot see, <br> The happy land above, <br> From sin and death and suffering free, <br> Where all is peace and love. <br> <br>2. We only see the path is long <br> By which we have to go; <br> We only feel the foes are strong <br> Who seek to work us woe. <br> <br>3. We have not seen, we cannot see <br> The cross our Master bore, <br> With all its pains, that we might be <br> The slaves of sin no more. <br> <br>4. We only think it hard to part <br> With every pleasant sin, <br> And give to God a perfect heart, <br> And make Him Lord within. <br> <br>5. We walk by faith, and not by sight; <br> And, blessèd saint, like thee, <br> We sometimes doubt if faith tells right, <br> Because we cannot see. <br> <br>6. Upon the promise we would lean <br> Thy doubting heart received; <br> Blessèd are they that have not seen, <br> And that have yet believed. <br>  <br> Source: The Cyber Hymnal #<br>7416</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
