{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Life and strength of all thy servants, <br> brightness of the Fathers light; <br> men with angels, earth with heaven, <br> in thy praise their songs unite. <br> <br>2 Thousand thousand warrior princes <br> in thine angel army stand; <br> flames the victor cross before them, <br> grasped in Michaels dauntless hand. <br> <br>3 Hurling back from heaven the rebels <br> with the lifting of his sword, <br> in the might of God he tramples <br> on the dragons head abhorred. <br> <br>4 Lord of Angels, Christ, we pray thee, <br> bid them aid us in our strife, <br> chase afar the hosts of evil, <br> till we reach the land of life. <br> <br>5 God the Father, God Immortal, <br> God the Son, for us who died, <br> God the Comforter, the Spirit, <br> evermore be glorified! <br>  <br> Source: CPWI Hymnal #<br>795</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
