{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Father, before Thy throne of light <br> The guardian angels bend, <br> And ever in Thy presence bright <br> Their psalms adoring blend; <br> And casting down each golden crown, <br> Beside the crystal sea, <br> With voice and lyre, in happy quire, <br> Hymn glory, Lord, to Thee. <br> <br>2. And as the rainbow luster falls <br> Athwart their glowing wings, <br> While seraph unto seraph calls, <br> And each Thy goodness sings; <br> So may we feel, as low we kneel <br> To pray Thee for Thy grace, <br> That Thou art here for all who fear <br> The brightness of Thy face. <br> <br>3. Here, where the angels see us come <br> To worship day by day, <br> Teach us to seek our heavnly home, <br> And love Thee een as they; <br> Teach us to raise our notes of praise, <br> With them Thy love to own, <br> That childhoods flower and manhoods power <br> Be Thine, and Thine alone. <br>  <br> Source: The Cyber Hymnal #<br>1493</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
