{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 While shepherds watched their flocks by night, <br> all seated on the ground, <br> an angel of the Lord came down, <br> and glory shone around. <br> <br>2 "Fear not," said he for mighty dread <br> had seized their troubled mind <br> "glad tidings of great joy I bring <br> to you and all mankind. <br> <br>3 "To you, in David's town, this day <br> is born of David's line <br> a Savior, who is Christ the Lord; <br> and this shall be the sign: <br> <br>4 "The heavenly babe you there shall find <br> to human view displayed, <br> all simply wrapped in swaddling clothes <br> and in a manger laid." <br> <br>5 Thus spoke the angel. Suddenly <br> appeared a shining throng <br> of angels praising God, who thus <br> addressed their joyful song: <br> <br>6 "All glory be to God on high, <br> and to the earth be peace; <br> to those on whom his favor rests <br> goodwill shall never cease." <br> Psalter Hymnal, <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
