{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Come sing, ye choirs exultant, <br> those messengers of God, <br> through whom the living Gospels <br> came sounding all abroad! <br> Whose voice proclaimed salvation <br> that poured upon the night, <br> and drove away the shadows, <br> and filled the world with light. <br> <br>2 In one harmonious witness <br> the chosen four combine, <br> while each his own commission <br> fulfills in every line; <br> as, in the prophet's vision <br> from out the amber flame <br> in mystic form and image <br> four living creatures came. <br> <br>3 Foursquare on this foundation <br> the church of Christ remains, <br> a house to stand unshaken <br> by floods or winds or rains. <br> How blest the habitation <br> of gospel liberty, <br> where with a holy people <br> God dwells in Unity. <br>  <br>  <br> Source: CPWI Hymnal #<br>810</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
