{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Approach, my soul, the mercy seat, <br> where Jesus answers pray'r; <br> there humbly fall before His feet, <br> for none can perish there. <br> <br>2 Thy promise is my only plea, <br> with this I venture nigh; <br> Thou callest burdened souls to Thee, <br> and such, O Lord, am I. <br> <br>3 Bowed down beneath a load of sin, <br> by Satan sorely pressed, <br> by wars without, and fears within, <br> I come to Thee for rest. <br> <br>4 Be Thou my shield and hiding place, <br> that, sheltered near Thy side, <br> I may my fierce accuser face, <br> and tell him Thou hast died. <br> <br>5 O wondrous love, to bleed and die, <br> to bear the cross and shame, <br> that guilty sinners such as I, <br> might plead Thy gracious name. <br> <br>6 "Poor tempest-tosséd soul, be still, <br> my promised grace receive"; <br> 'tis Jesus speaks; I must, I will, <br> I can, I do believe. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>373</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
