{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 God made me for himself, to serve him here <br> with loves pure service and in filial fear; <br> to show his praise, for him to labour now; <br> then see his glory where the angels bow. <br> <br>2 All needful grace was mine, through his dear Son, <br> whose life and death my full salvation won; <br> the grace that would have strengthened me, and taught; <br> grace that would crown me when my work was wrought. <br> <br>3 And I, poor sinner, cast it all away; <br> lived for the toil or pleasure of each day; <br> as if no Christ had shed his precious blood, <br> as if I owed no homage to my God. <br> <br>4 O Holy Spirit, with thy fire divine, <br> melt into tears this thankless heart of mine: <br> teach me to love what once I seemed to hate, <br> and live to God, before it be too late. <br>  <br> Source: CPWI Hymnal #<br>312a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
