{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Return, O wanderer, to thy home, <br> Thy Father calls for thee; <br> No longer now an exile roam <br> In guilt and misery: <br> Return, return. <br> <br>2 Return, O wanderer, to thy home, <br> 'Tis Jesus calls for thee; <br> The Spirit and the Bride say, "Come," <br> Oh, now for refuge flee: <br> Return, return. <br> <br>3 Return, O wanderer, to thy home, <br> 'Tis madness to delay; <br> There are no pardons in the tomb, <br> And brief is mercy's day: <br> Return, return.</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
