{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O Savior, Lord, to Thee we pray, <br> Whose love has kept us safe today, <br> Protect us through the coming night, <br> And ever save us by Thy might. <br> <br>2. Be with us now, in mercy nigh, <br> And spare Thy servants when they cry; <br> Our sins blot out, our prayers receive, <br> Thy light throughout our darkness give. <br> <br>3. Let not dull sleep the soul oppress, <br> Nor secret foe the heart possess; <br> Our flesh keep chaste, that it may be <br> A holy temple meet for Thee. <br> <br>4. To Thee, who dost our hearts renew, <br> With fervent prayer we humbly sue, <br> That pure in thought and free from stain, <br> We from our beds may rise again. <br> <br>5. All praise to God the Father be, <br> All praise, eternal Son, to Thee, <br> Whom with the Spirit we adore <br> Forever and forevermore. <br>  <br> Source: The Cyber Hymnal #<br>5319</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
