{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O for a closer walk with God, <br> a calm and heav'nly frame, <br> a light to shine upon the road <br> that leads me to the Lamb! <br> <br>2 Where is the blessedness I knew <br> when first I sought the Lord? <br> Where is the soul refreshing view <br> of Jesus and His Word? <br> <br>3 What peaceful hours I then enjoyed! <br> How sweet their mem'ry still! <br> But they have left an aching void <br> the world can never fill. <br> <br>4 Return, O holy Dove, return, <br> sweet messenger of rest; <br> I hate the sins that made Thee mourn, <br> and drove Thee from my breast. <br> <br>5 The dearest idol I have known, <br> whate'er that idol be, <br> help me to tear it from Thy throne <br> and worship only Thee. <br> <br>6 So shall my walk be close with God, <br> calm and serene my frame; <br> so purer light shall mark the road <br> that leads me to the Lamb. <br>  <br> Source: Psalms and Hymns to the Living God #<br>358</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
