{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O the bitter shame and sorrow, <br> That a time could ever be <br> When I let the Saviours pity <br> Plead in vain, and proudly answered: <br> All of self, and none of Thee! <br> <br>2 Yet He found me; I beheld Him <br> Bleeding on the accursed tree, <br> Heard Him pray, Forgive them, Father! <br> And my wistful heart said faintly, <br> Some of self, and some of Thee! <br> <br>3 Day by day His tender mercy, <br> Healing, helping, full and free, <br> Sweet and strong, and, ah! so patient, <br> Brought me lower, while I whispered: <br> Less of self, and more of Thee! <br> <br>4 Higher than the highest heaven, <br> Deeper than the deepest sea, <br> Lord, Thy love at last hath conquered; <br> Grant me now my supplication, <br> None of self and all of Thee! <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>141</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
