{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O come to the merciful Savior who calls you, <br> O come to the Lord who forgives and forgets; <br> Though dark be the fortune on earth that befalls you, <br> There's a bright home above where the sun never sets. <br> <br>2 O come then to Jesus, whose arms are extended <br> To fold His dear children in closest embrace; <br> O come, for your exile will shortly be ended, <br> And Jesus will show you His beautiful face. <br> <br>3 Yes, come to the Savior, whose mercy grows brighter <br> The longer you look at the depths of His love; <br> And fear not! tis Jesus, and lifes cares grow lighter <br> As you think of the home and the glory above. <br> <br>4 Come, come to His feet, and lay open your story <br> Of suff'ring and sorrow, of guilt and of shame; <br> For the pardon of sin is the crown of His glory, <br> And the joy of our Lord to be true to His name. <br>  <br>  <br> Source: Concordia: a collection of hymns and spiritual songs #<br>105</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
