{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p>Up to the throne of God is borne <br> The voice of praise at early morn, <br> And He accepts the reverent hymn <br> Sung as the light of day grows dim.Look up to heaven! the obedient sun <br> Already through his course hath run; <br> He cannot halt or go astray, <br> But our immortal spirits may.Lord, since his rising in the east, <br> If we have faltered or transgressed, <br> Guide, from Thy loves abundant source, <br> What yet remains of this days course.Help with Thy grace, through all lifes day, <br> Our upward and our downward way; <br> And glorify for us the west, <br> When we shall sink into our rest. <br>  <br> Source: A Book of Hymns for Public and Private Devotion (<br>15th ed.) #<br>369</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
