{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O perfect God, Thy love <br> As perfect Man did share <br> Here upon earth each form of ill <br> Thy fellow men must bear. <br> <br>2. Now from the tree of scorn <br> We hear Thy voice again; <br> Thou who didst take our mortal flesh <br> Hast felt our mortal pain. <br> <br>3. Thy body suffers thirst, <br> Parched are Thy lips and dry: <br> How poor the offering man can bring <br> Thy thirst to satisfy! <br> <br>4. O Savior, by Thy thirst <br> Borne on the cross of shame, <br> Grant us in all our sufferings leave <br> To glorify Thy name. <br> <br>5. That through each pain and grief <br> Our souls may onward move <br> To gain more likeness to Thy life, <br> More knowledge of Thy love. <br>  <br> Source: The Cyber Hymnal #<br>5280</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
