{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Praise the Lord through every nation; <br> his holy arm hath wrought salvation; <br> exalt him on his Father's throne. <br> Praise your King, ye Christian legions, <br> who now prepares in heavenly regions <br> unfailing mansions for his own: <br> with voice and minstrelsy <br> extol his majesty: <br> Alleluia! <br> His praise shall sound all nature round, <br> and hymns on every tongue abound. <br> <br>2 Jesus, Lord, our Captain glorious, <br> o'er sin, and death, and hell victorious, <br> wisdom and might to thee belong: <br> we confess, proclaim, adore thee; <br> we bow the knee, we fall before thee; <br> thy love henceforth shall be our song. <br> The cross meanwhile we bear, <br> the crown ere-long to wear: <br> Alleluia! <br> Thy reign extend world without end; <br> let praise from all to thee ascend. <br>  <br>  <br> Source: The Hymnal <br>1982: according to the use of the Episcopal Church #<br>484</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
