{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Thou, Lord, by strictest search hast known <br> My rising up and lying down; <br> My secret thoughts are known to Thee, <br> Known long before conceived by me. <br> <br>2 From Thy all-seeing Spirit, Lord, <br> What hiding-place does earth afford? <br> O where can I Thy influence shun, <br> Or whither from Thy presence run? <br> <br>3 The veil of night is no disguise, <br> No screen from thy all-searching eyes; <br> Through midnight shades Thou find'st thy way, <br> As in the blazing noon of day. <br> <br>4 Search, try, O God, my thoughts and heart, <br> If mischief lurk in any part; <br> Correct me where I go astray, <br> And guide me in Thy perfect way. <br>  <br> Source: Hymnal: according to the use of the Protestant Episcopal Church in the United States of America #<br>52</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
