{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The Lord is King! lift up thy voice, <br> O earth, and all ye heavens, rejoice; <br> from world to world the joy shall ring, <br> 'The Lord omnipotent is King!' <br> <br>2 The Lord is King! who then shall dare <br> resist his will, distrust his care, <br> or murmur at his wise decrees, <br> or doubt his royal promises? <br> <br>3 He reigns! ye saints, exalt your strains; <br> your God is King, your Father reigns; <br> and he is at the Father's side, <br> the Man of love, the Crucified. <br> <br>4 Alike pervaded by his eye <br> all parts of his dominion lie: <br> this world of ours and worlds unseen, <br> and thin the boundary between! <br> <br>5 One Lord one empire all secures; <br> he reigns, and life and death are yours; <br> through earth and heaven one song shall ring, <br> 'The Lord omnipotent is King!' <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>796a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
