{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The life, which Gods Incarnate Word <br> lived here below with men, <br> three blest evangelists record <br> with heaven-inspirèd pen: <br> <br>2 John soars on high, beyond the three, <br> to God the Fathers throne; <br> and shows in what deep mystery <br> the Word with God is One. <br> <br>3 Upon the Saviours loving breast <br> invited to recline, <br> twas thence he drew, in moments blest, <br> rich stores of truth divine. <br> <br>4 And thence did that angelic love <br> his inmost spirit fill, <br> which, once enkindled from above, <br> breathes in his pages still. <br> <br>5 Jesu, the virgins Holy Son, <br> we praise thee and adore, <br> who art with God the Father One <br> and Spirit evermore. <br>  <br> Source: CPWI Hymnal #<br>780a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
