{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 For the beauty of the earth, <br> for the glory of the skies, <br> for the love which from our birth <br> over and around us lies. <br> Refrain: <br> Christ, our Lord, to you we raise <br> this, our hymn of grateful praise. <br> <br>2 For the wonder of each hour <br> of the day and of the night, <br> hill and vale and tree and flower, <br> sun and moon and stars of light, [Refrain ] <br> <br>3 For the joy of human love, <br> brother, sister, parent, child, <br> friends on earth, and friends above, <br> for all gentle thoughts and mild, [Refrain] <br> <br>4 For yourself, best gift divine, <br> to the world so freely given, <br> agent of God's grand design: <br> peace on earth and joy in heaven. [Refrain] <br> Psalter Hymnal, <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
