{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O God, our maker, throned on high, <br> The earth is Thine, and Thine the sky, <br> Thadoring sun obeys Thy will, <br> And countless stars Thy laws fulfill. <br> <br>2. The lengthening light of summer day, <br> The winter frost, Thy power display, <br> Nature proclaims Thy sovereign skill; <br> Man, and man only, spurns Thy will. <br> <br>3. The wicked sit on earths high seat, <br> And tread the holy neath their feet; <br> Good goes so crookedly astray, <br> Bright deeds lie hidden oft away. <br> <br>4. Great God! Who seest from above, <br> Regard us with Thy pitying love, <br> Perplexed by doubts, with toil and strife, <br> We ask more lightwe long for life. <br>  <br> Source: The Cyber Hymnal #<br>4902</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
