{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 King of glory, King of peace, <br> I will love Thee; <br> and that love may never cease, <br> I will move Thee. <br> Thou hast granted my request, <br> Thou hast heard me; <br> Thou didst note my working breast, <br> Thou hast spared me. <br> <br>2 Wherefore with my utmost art <br> I will sing Thee, <br> and the cream of all my heart <br> I will bring Thee. <br> Though my sins against me cried, <br> Thou didst clear me; <br> and alone, when they replied, <br> Thou didst hear me. <br> <br>3 Sev'n whole days, not one in sev'n, <br> I will praise Thee; <br> in my heart, though not in heav'n, <br> I can raise Thee. <br> Small it is, in this poor sort <br> to enroll Thee: <br> e'en eternity's too short <br> to extol Thee. <br>  <br> Source: Psalms and Hymns to the Living God #<br>195</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
