{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesus, still lead on <br> till our rest be won. <br> And, although the way be cheerless, <br> we will follow, calm and fearless; <br> guide us by Your hand <br> to our Fatherland. <br> <br>2 If the way be drear, <br> if the foe be near, <br> let not faithless fears o'ertake us, <br> let not faith and hope forsake us; <br> for, thro' many a woe, <br> to our home we go. <br> <br>3 When we seek relief <br> from a long-felt grief <br> when oppressed by new temptations, <br> Lord, increase and perfect patience. <br> Show us that bright shore <br> where we weep no more. <br> <br>4 Jesus, still lead on <br> till our rest be won; <br> Heav'nly Leader, still direct us, <br> still support, console, protect us, <br> till we safely stand <br> in our Fatherland. <br>  <br> Source: Psalms and Hymns to the Living God #<br>370</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
