{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Come, Holy Spirit, come; <br> Let thy bright beams arise; <br> Dispel the darkness from our minds, <br> And open all our eyes. <br> <br>2 Cheer our desponding hearts, <br> Thou heav'nly Paraclete; <br> Give us to lie with humble hope <br> At our Redeemer's feet. <br> <br>3 Revive our drooping faith; <br> Our doubts and fears remove; <br> And kindle in our breasts the flames <br> Of never-dying love. <br> <br>4 Convince us of our sin; <br> Then lead to Jesus' blood, <br> And to our wond'ring view, reveal <br> The secret love of God. <br> <br>5 'Tis thine to cleanse the heart, <br> To sanctify the soul, <br> To pour fresh life in ev'ry part, <br> And new create the whole. <br> <br>6 Dwell, therefore, in our hearts; <br> Our minds from bondage free; <br> Then we shall know and praise and love <br> The Father, Son, and Thee. <br> Amen. <br>  <br> Source: Trinity Hymnal #<br>254</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
