{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The church of God a kingdom is, <br> where Christ in power doth reign; <br> where spirits yearn till, seen in bliss, <br> their Lord shall come again. <br> <br>2 Glad companies of saints possess <br> this church below, above; <br> and Gods perpetual calm doth bless <br> their paradise of love. <br> <br>3 An altar stands within the shrine <br> whereon, once sacrificed, <br> is set, immaculate, divine, <br> the Lamb of God, the Christ. <br> <br>4 There rich and poor, from countless lands, <br> praise God on mystic Rood; <br> there nations reach forth holy hands <br> to take Gods holy food. <br> <br>5 There pure life-giving streams oerflow <br> the sowers garden-ground; <br> and faith and hope fair blossoms show, <br> and fruits of love abound. <br> <br>6 O King, O Christ, this endless grace <br> to us and all men bring, <br> to see the vision of your face <br> in joy, O Christ, our King. <br>  <br> Source: CPWI Hymnal #<br>347</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
