{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Brothers, joining hand to hand, <br> in one bond united, <br> pressing onward to that land <br> where all wrongs are righted: <br> let your words and actions be <br> worthy your vocation; <br> chosen of the Lord, and free, <br> heirs of Christs salvation. <br> <br>2 Christ, the Way, the Truth, the Life, <br> Who hath gone before you <br> through the turmoil and the strife, <br> holds his banner oer you; <br> all who see the sacred sign <br> press towards heaven's portal, <br> fired by hope that is divine, <br> love that is immortal. <br> <br>3 They who follow fear no foe, <br> care not who assail them; <br> where the Master leads they go, <br> he will never fail them; <br> courage, brothers! We are one, <br> in the love that sought us; <br> soon the warfare shall be done, <br> through the grace he brought us. <br>  <br> Source: CPWI Hymnal #<br>410</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
