{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Sweet flow'rets of the martyr band, <br> Plucked by the tyrant's ruthless hand <br> Upon the threshold of the morn, <br> Like rosebuds by a tempest torn; <br> <br>2 First victims for th'incarnate Lord, <br> A tender flock to feel the sword; <br> Beside the altar's ruddy ray, <br> With palm and crown, you seemed to play. <br> <br>3 Ah, what availed King Herod's wrath? <br> He could not stop the Savior's path. <br> Alone, while others murdered lay, <br> In safety Christ is borne away. <br> <br>4 O Lord, the virgin-born, we sing <br> Eternal praise to you, our King, <br> Whom with the Father we adore <br> And Holy Spirit evermore. <br>  <br> Source: Lutheran Worship #<br>188</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
