{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Rise at the cry of battle, <br> Arm for the coming strife, <br> By night and day you must fight your way <br> Till you pass through death to life. <br> Ready to face the danger, <br> Ready to right the wrong, <br> There is many a foe on the way you go, <br> Quit you like men, be strong! <br> <br>2. Fiery and fierce the conflict, <br> Daring and swift the foe; <br> His hosts are found on the battle ground, <br> Where they wait to lay you low; <br> Sharp are his darts and deadly, <br> Keen is the strife and long, <br> Then arm for the fight in the armor of light, <br> Quit you like men, be strong! <br> <br>3. Strive till the strife is over, <br> Fight till the fight is won, <br> Though sore oppressed, seek not for rest, <br> Until the day is done; <br> After the well fought battle <br> Join in the victors song, <br> Your trophies bring to Christ your King, <br> Quit you like men, be strong! <br>  <br> Source: The Cyber Hymnal #<br>5810</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
