{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Still throned in heaven, to men in unbelief <br> Christ spreads his hands all day; <br> They scan his claims, give judgement cold and brief, <br> And fearless turn away. <br> <br>2 Once more, O peerless mystery of grace, <br> Thy sweet appeal renew; <br> Light up dark minds, win souls to thine embrace, <br> High forts of doubt subdue. <br> <br>3 Speak, till the sons of men with hearts unseared, <br> Led by that voice of thine, <br> Find thee each day more glorious, more endeared, <br> Christ human, Christ divine. <br>  <br> Source: The New English Hymnal #<br>454</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
