{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. From the depths of sin and failure, <br> From despair as black as night, <br> Lord, we hear our brothers calling <br> For deliverance and for light. <br> Refrain <br> Use us, Lord, to speed Thy kingdom; <br> Through us may Thy will be done; <br> Give us eyes to see the vision <br> Of a world redeemed and won. <br> <br>2. By the love that bore in silence <br> Mans contempt and Satans dart; <br> By the longing for the lost ones <br> That consumes the Saviors heart; [Refrain] <br> <br>3. By the Saviors blood that bought us, <br> By the peace His merits bring, <br> By the Spirit that constrains us <br> Now on earth to crown Him King; [Refrain] <br>  <br> Source: The Cyber Hymnal #<br>1501</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
