{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Great Shepherd of thy people, hear, <br> thy presence now display; <br> as thou hast given a place for prayer, <br> so give us hearts to pray.<br>2 Within these walls let holy peace <br> and love and concord dwell; <br> here give the troubled conscience ease, <br> the wounded spirit heal.<br>3 May we in faith receive thy word, <br> in faith present our prayers, <br> and in the presence of our Lord <br> unbosom all our cares.<br>4 The hearing ear, the seeing eye, <br> the contrite heart, bestow; <br> and shine upon us from on high, <br> that we in grace may grow. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>651</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
