{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Put thou thy trust in God, <br> in duty's path go on; <br> walk in his strength with faith and hope, <br> so shall thy work be done.<br>2 Commit thy ways to him, <br> thy works into his hands, <br> and rest on his unchanging word, <br> who heaven and earth commands.<br>3 Though years on years roll on, <br> his covenant shall endure; <br> though clouds and darkness hide his path, <br> the promised grace is sure.<br>4 Give to the winds thy fears; <br> hope, and be undismayed: <br> God hears thy sighs and counts thy tears; <br> God shall lift up thy head.<br>5 Through waves and clouds and storms <br> his power will clear thy way: <br> wait thou his time; the darkest night <br> shall end in brightest day.<br>6 Leave to his sovereign sway <br> to choose and to command; <br> so shalt thou, wondering, own his way, <br> how wise, how strong his hand. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>768a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
