{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Eternal God, we look to Thee <br> to Thee for help we fly; <br> Thine eye alone our wants can see, <br> Thy hand alone supply. <br> <br>2 Lord, let Thy fear within us dwell, <br> Thy love our footsteps guide: <br> That love will all vain love expel; <br> That fear all fear beside. <br> <br>3 Not what we wish, but what we want, <br> Oh, let thy grace supply! <br> The good unasked in mercy grant; <br> The ill, though asked, deny. <br> The Hymnal: revised and enlarged as adopted by the General Convention of the Protestant Episcopal Church in the United States of America in the year of our Lord <br>1892</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
