{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Awake, O Lord, as in the time of old! <br> Come, Holy Spirit, in Thy power and might; <br> For lack of Thee our hearts are strangely cold, <br> Our minds but blindly groping towards the light. <br> <br>2. Doubts are abroad: make Thou these doubts to cease! <br> Fears are within: set Thou these fears at rest! <br> Strife is among us: melt that strife to peace! <br> Change marches onward: may all change blest! <br> <br>3. Make us to be what we profess to be; <br> Let prayer be prayer, and praise be heartfelt praise; <br> From unreality, O set us free, <br> And let our words be echoed by our ways. <br> <br>4. Turn us, good Lord, and so shall we be turned: <br> Let every passion grieving Thee be stilled: <br> Then shall our race be won, our guerdon earned, <br> Our Master looked on, and our joy fulfilled. <br>  <br> Source: The Cyber Hymnal #<br>205</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
