{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Rise in the strength of God, <br> And face lifes uphill way, <br> The steps which other feet have trod <br> You tread today. <br> <br>2. Press onward, upward still, <br> To win your way at last, <br> With better hope and stronger will <br> Than in the past. <br> <br>3. Lifes work more nobly wrought, <br> Lifes race more bravely run, <br> Lifes daily conflict faced and fought, <br> Lifes duty done. <br>  <br> Source: The Cyber Hymnal #<br>5812</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
