{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The ancient Law departs, <br> And all its fears remove, <br> For Jesus makes with faithful hearts <br> A covenant of love. <br> <br>2 The Light of Light devine, <br> True brightness undefiled, <br> He bears for us the pain of sin, <br> A holy, spotless child. <br> <br>3 His infant body now <br> Begins the cross to feel; <br> Those precious drops of blood that flow <br> For death the victim seal. <br> <br>4 Today the name is Thine <br> At which we bend the knee. <br> They call Thee Jesus, child divine; <br> Our Jesus deign to be. <br> <br>5 All praise, eternal Son, <br> For Thy redeeming love, <br> With Father, Spirit, ever one <br> In glorious might above. <br>  <br>  <br> Source: Lutheran Service Book #<br>898</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
