{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 A charge to keep I have, <br> a God to glorify, <br> a never-dying soul to save, <br> and fit it for the sky. <br> <br>2 To serve the present age, <br> my calling to fulfill, <br> O may it all my pow'rs engage <br> to do my Master's will! <br> <br>3 Arm me with watchful care <br> as in Thy sight to live, <br> and now Thy servant, Lord, prepare <br> a strict account to give! <br> <br>4 Help me to watch and pray, <br> and still on Thee rely, <br> O let me not my trust betray, <br> but press to realms on high. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>391</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
