{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Belovèd, let us love: for love is of God; <br> in God alone love has its true abode. <br> <br>2 Belovèd, let us love: for those who love, <br> they only, are his sons, born from above. <br> <br>3 Belovèd, let us love: for love is rest, <br> and he who loveth not abides unblest. <br> <br>4 Belovèd, let us love: for love is light, <br> and he who loveth not dwelleth in night. <br> <br>5 Belovèd, let us love: for only thus <br> shall we behold that God who loveth us. <br>  <br> Source: CPWI Hymnal #<br>298</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
