{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Thou framer of the light and dark, <br> Steer through the tempest Thine own ark; <br> Amid the howling wintry sea, <br> We are in port if we have Thee. <br> <br>2. The rulers of this Christian land, <br> Twixt Thee and us ordained to stand, <br> Guide Thou their course, O Lord, aright; <br> Let all do all as in Thy sight. <br> <br>3. O God the Father, God the Son, <br> And God the Spirit, Three in One, <br> Hear Thou in Heavn Thy childrens cry, <br> And in our hour of need be nigh. <br>  <br> Source: The Cyber Hymnal #<br>6559</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
