{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Almighty Father, Lord most high, <br> Who madest all, who fillest all, <br> Thy name we praise and magnify, <br> For all our needs on Thee we call. <br> <br>2. We offer to Thee of Thine own <br> Ourselves and all that we can bring, <br> In bread and cup before Thee shown, <br> Our universal offering. <br> <br>3. All that we have we bring to Thee, <br> Yet all is naught when all is done, <br> Save that in it Thy love can see <br> The sacrifice of Thy dear Son. <br> <br>4. By His command in bread and cup <br> His body and His blood we plead; <br> What on the cross He offered up <br> Is here our sacrifice indeed. <br> <br>5. For all Thy gifts of life and grace, <br> Here we Thy servants humbly pray <br> That Thou wouldst look upon the face <br> Of Thine anointed Son today. <br>  <br> Source: The Cyber Hymnal #<br>41</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
