{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Dearest Jesu, we are here, <br> at thy call, thy presence owning; <br> pleading now in holy fear <br> that great sacrifice atoning: <br> Word incarnate, much in wonder <br> on this mystery deep we ponder.<br>2 Jesu, strong to save  the same <br> yesterday, today, for ever  <br> make us fear and love thy name, <br> serving thee with best endeavour: <br> in this life, O ne'er forsake us, <br> but to bliss hereafter take us. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>439</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
