{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 I hunger and I thirst: <br> Jesu, my manna be; <br> ye living waters, burst <br> out of the rock for me.<br>2 Thou bruised and broken Bread, <br> my life-long wants supply; <br> as living souls are fed, <br> O feed me, or I die.<br>3 Thou true life-giving Vine, <br> let me thy sweetness prove; <br> renew my life with thine, <br> refresh my soul with love.<br>4 Rough paths my feet have trod <br> since first their course began: <br> feed me, thou Bread of God; <br> help me, thou Son of Man.<br>5 For still the desert lies <br> my thirsting soul before: <br> O living waters, rise <br> within me evermore. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>449a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
