{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Not a thought of earthly things! <br> Every head in awe be bended: <br> Christ our God, the King of kings, <br> comes by angel troops attended. <br> <br>2 Forth he comes, a Victim he <br> for the wide worlds need availing, <br> and his peoples food to be, <br> with himself their souls regaling. <br> <br>3 Cherubim with watchful eyes, <br> seraphim their brows concealing, <br> powers and principalities, <br> cry aloud, like thunder pealing. <br> alleluia, alleluia, alleluia. <br>  <br> Source: CPWI Hymnal #<br>609</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
