{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Be still, my soul! For God is near! <br> The great High Priest is with thee now; <br> the Lord of Life himself is near, <br> before whose face the angels bow. <br> <br>2 To make thy heart his lowly throne <br> thy Saviour God in love draws nigh; <br> he gives himself unto his own, <br> for whom he once came down to die. <br> <br>3 He pleads before the mercy-seat; <br> he pleads with God; he pleads for thee; <br> he gives thee bread from heaven to eat, <br> his flesh and blood in mystery. <br> <br>4 I come, O Lord! For thou dost call  <br> to blend my pleading prayer with thine; <br> to thee I give myself  my all, <br> and feed on thee and make thee mine. <br>  <br> Source: CPWI Hymnal #<br>572</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
