{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 With solemn faith we offer up, <br> And spread before thy glorious eyes <br> That only ground of all our hope, <br> That all-sufficient sacrifice, <br> Which brings thy grace on sinners down, <br> And perfects all our souls in one. <br> <br>2 Father, behold thy dying Son, <br> And hear the blood that speaks above; <br> On us let us all thy grace be shown, <br> Peace, righteousness and joy and love: <br> Thy kingdom come to every heart, <br> And all thou hast, and all thou art. <br>  <br>  <br> Source: The New English Hymnal #<br>314</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
