{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 How glorious is the life above, <br> which in this ordinance we taste; <br> that fullness of celestial love, <br> that joy which shall for ever last. <br> <br>2 That heavenly life in Christ concealed <br> these earthen vessels could not bear; <br> the part which now we find revealed <br> no tongue of angels can declare. <br> <br>3 The light of life eternal darts <br> into our souls a dazzling ray; <br> a drop of heaven oerflows our hearts, <br> and deluges the house of clay. <br> <br>4 Sure pledge of ecstasies unknown <br> shall this divine Communion be: <br> the ray shall rise into a sun, <br> the drop shall swell into a sea. <br>  <br> Source: CPWI Hymnal #<br>591</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
