{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 I became a Christian <br> when my name was given, <br> one of God's dear children, <br> and an heir of heaven. <br> In the name of Christian <br> I will glory now, <br> evermore remember <br> my baptismal vow. <br> <br>2 I must, like a Christian, <br> shun all evil ways, <br> keep the faith of Jesus, <br> serve him all my days. <br> Called to be a Christian, <br> I will praise the Lord, <br> seek for his assistance <br> so to keep my word. <br> <br>3 All a Christians blessings <br> I will claim for mine; <br> holy work and worship, <br> fellowship divine. <br> Father, Son, and Spirit, <br> give me grace, that I <br> still may live a Christian, <br> and a Christian die. <br>  <br> Source: CPWI Hymnal #<br>650</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
