{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. As now Thy children lowly kneel, <br> And all for mercy pray, <br> O Father, make us truly feel <br> The solemn words we say. <br> <br>2. Teach us to hate the power of sin, <br> Which parts our souls from Thee; <br> Help us to make our life within <br> What Thou wilt love to see. <br> <br>3. Teach us to trust the Lamb of God, <br> Who takes our sins away; <br> Help us to choose the path He trod, <br> And so Thy will obey. <br> <br>4. Teach us to keep Thy holy laws <br> Because we trust Thy love; <br> Help us to rise, when Jesus draws <br> To better joys above. <br> <br>5. O teach us more our sins to fear <br> And more Thy Word to love: <br> Help us on earth the cross to bear <br> And win the crown above. <br>  <br> Source: The Cyber Hymnal #<br>260</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
