{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 For thy mercy and thy grace, <br> faithful through another year, <br> hear our song of thankfulness; <br> Jesus, our Redeemer, hear. <br> <br>2 In our weakness and distress, <br> rock of strength, be thou our stay; <br> in the pathless wilderness <br> be our true and living Way. <br> <br>3 Who of us death's awful road <br> in the coming year shall tread? <br> With thy rod and staff, O God, <br> comfort thou his dying bed. <br> <br>4 Make us faithful, keep us pure, <br> keep us evermore thine own, <br> help, O help us to endure, <br> fit us for thy promised crown. <br> <br>5 So within thy palace gate <br> we shall praise, on golden strings, <br> thee the only Potentate, <br> Lord of lords, and King of kings. <br>  <br> Source: CPWI Hymnal #<br>93</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
