{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Faithful Shepherd, feed me <br> in the pastures green; <br> faithful Shepherd, lead me <br> where thy steps are seen. <br> <br>2 Hold me fast, and guide me <br> in the narrow way; <br> so, with thee beside me, <br> I shall never stray. <br> <br>3 Daily bring me nearer <br> to the heavenly shore; <br> may my faith grow clearer, <br> may I love thee more. <br> <br>4 Hallow every pleasure, <br> every gift and pain; <br> be thyself my treasure, <br> though none else I gain. <br> <br>5 Day by day prepare me <br> as thou seest best, <br> then let angels bear me <br> to thy promised rest. <br>  <br> Source: CPWI Hymnal #<br>583</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
