{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Our God of love, who reigns above, <br> Comes down to us below; <br> Tis sweet to tell He loves so well, <br> And tis enough to know. <br> <br>2. So deep, so highlike air and sky, <br> Beyond us, yet around; <br> He whom our mind can never find <br> Can in our heart be found. <br> <br>3. Lord God, so far, past sun and star, <br> Yet close to all our ways! <br> In love so near, be pleased to hear <br> Thy little childrens praise. <br> <br>4. O may that sign that we are Thine <br> Our Father, Savior, friend <br> Which sealed our brow, be on us now, <br> And with us to the end. <br> <br>5. Through all our way, and every day <br> Believed, beloved, adored; <br> Be this our grace, to see Thy face <br> In Jesus Christ our Lord. <br>  <br> Source: The Cyber Hymnal #<br>4898</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
