{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Trumpet of God, sound high, <br> Till the hearts of the heathen shake, <br> And the souls that in slumber lie <br> At the voice of the Lord awake. <br> Till the fencèd cities fall <br> At the blast of the Gospel call, <br> Trumpet of God, sound high! <br> <br>2. Hosts of the Lord, go forth: <br> Go, strong in the power of His rest, <br> Till the south be at one with the north, <br> And peace upon east and west; <br> Till the far-off lands shall thrill <br> With the gladness of Gods Goodwill, <br> Hosts of the Lord, go forth. <br> <br>3. Come, as of old, like fire; <br> O force of the Lord, descend, <br> Till with love of the worlds desire <br> Earth burn to its utmost end; <br> Till the ransomed people sing <br> To the glory of Christ the king, <br> Come, as of old, like fire. <br>  <br> Source: The Cyber Hymnal #<br>6911</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
