{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Come, labor on. <br> Who dares stand idle on the harvest plain <br> while all around us waves the golden grain? <br> And to each servant does the Master say, <br> "Go work today." <br> <br>2 Come, labor on. <br> Claim the high calling angels cannot share; <br> to young and old the gospel gladness bear. <br> Redeem the time; its hours too swiftly fly. <br> The night draws nigh. <br> <br>3 Come, labor on. <br> Cast off all gloomy doubt and faithless fear! <br> No arm so weak but may do service here. <br> Though feeble agents, may we all fulfill <br> God's righteous will. <br> <br>4 Come, labor on. <br> No time for rest, till glows the western sky, <br> till the long shadows o'er our pathway lie, <br> and a glad sound comes with the setting sun, <br> "Well done, well done!" <br>  <br> Source: Glory to God: the Presbyterian Hymnal #<br>719</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
