{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O, it is hard to work for God, <br> To rise and take his part <br> Upon this battle-field of earth, <br> And not sometimes lose heart! <br> <br>2 He hides himself so wondrously, <br> As though there were no God; <br> He is least seen when all the powers <br> Of ill are most abroad; <br> <br>3 Or he deserts us in the hour <br> The fight is all but lost, <br> And seems to leave us to ourselves <br> Just when we need him most. <br> <br>4 It is not so, but so it looks; <br> And we lose courage then; <br> And doubts will come though God hath kept <br> His promises to men. <br> <br>5 But right is right, since God is God; <br> And right the day must win; <br> To doubt would be disloyalty, <br> To falter would be sin! <br>  <br> Source: The Seventh-Day Adventist Hymn and Tune Book: for use in divine worship #<br>600</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
