{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. For the dear ones parted from us <br> We would raise our hymns of prayer; <br> By the tender love which watcheth <br> Round Thy children everywhere, <br> Holy Father, Holy Father, <br> Keep them ever in Thy care. <br> <br>2. Through each trial and temptation, <br> Dangers faced by night and day, <br> By the infinite compassion <br> Pleading for souls that stray, <br> Loving Savior, Loving Savior, <br> Keep them in the narrow way. <br> <br>3. In their hours of doubt and sorrow, <br> When their faith is sorely tried, <br> By the grace divine which strengthens, <br> Souls for whom the Savior died, <br> Gracious Spirit, Gracious Spirit, <br> Be Thou evermore their Guide. <br> <br>4. In their joys, by friends surrounded, <br> In their strife, by foes oppressed, <br> May Thy blessing still be with them, <br> May Thy presence give them rest, <br> God Almighty, God Almighty, <br> Father, Son, and Spirit blest. <br>  <br> Source: The Cyber Hymnal #<br>1496</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
