{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Two brothers freely cast their lot <br> With Davids royal Son; <br> The cost of conquest counting not, <br> They deem the battle won. <br> <br>2. Brothers in heart, they hope to gain <br> An undivided joy, <br> That man may one with man remain, <br> As boy was one with boy. <br> <br>3. Christ heard; and willed that James should fall <br> First prey of Satans rage; <br> John linger out his fellows all, <br> And die in bloodless age. <br> <br>4. Now they join hands once more above <br> Before the Conquerors throne! <br> Thus God grants prayer; but in His love <br> Makes times and ways His own. <br> <br>5. All glory to the Father be, <br> All glory to the Son, <br> All glory, Holy Ghost, to Thee <br> While endless ages run. <br>  <br> Source: The Cyber Hymnal #<br>6504</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
