{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 'Tis good, Lord, to be here! <br> Your glory fills the night; <br> Your face and garments, like the sun, <br> Shine with unborrowed light. <br> <br>2 'Tis good, Lord, to be here, <br> Your beauty to behold, <br> Where Moses and Elijah stand, <br> Your messengers of old. <br> <br>3 Fulfiller of the past! <br> Promise of things to be! <br> We hail your body glorified, <br> And our redemption see. <br> <br>4 Before we taste of death, <br> We see your kingdom come; <br> We long to hold the vision bright, <br> And make this hill our home. <br> <br>5 'Tis good, Lord, to be here! <br> Yet we may not remain; <br> But since you bid us leave the mount, <br> Come with us to the plain. <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>122</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
