{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O wondrous type! O vision fair <br> of glory that the Church may share, <br> which Christ upon the mountain shows, <br> where brighter than the sun he glows! <br> <br>2 With Moses and Elijah nigh <br> th'incarnate Lord holds converse high, <br> and from the cloud the Holy One <br> bears record to the only Son. <br> <br>3 With shining face and bright array <br> Christ deigns to manifest today <br> what glory shall be theirs above <br> who joy in God with perfect love. <br> <br>4 And faithful hearts are raised on high <br> by this great vision's mystery, <br> for which in joyful strains we raise <br> the voice of prayer, the hymn of praise. <br> <br>5 O Father, with th'eternal Son <br> and Holy Spirit ever one, <br> we pray you, bring us by your grace <br> to see your glory face to face. <br>  <br> Source: Christian Worship: Hymnal #<br>391</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
