{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 What star is this, with beams so bright, <br> More lovely than the noonday light? <br> Tis sent to announce a newborn king, <br> Glad tidings of our God to bring. <br> <br>2 Tis now fulfilled what God decreed, <br> From Jacob shall a star proceed; <br> And lo! the eastern sages stand <br> To read in heav'n the Lords command. <br> <br>3 O Jesus, while the star of grace <br> Impels us on to seek thy face, <br> Let not our slothful hearts refuse <br> The guidance of thy light to use. <br> <br>4 To God the Father, heav'nly Light, <br> To Christ, revealed in earthly night, <br> To God the Holy Spirit raise <br> An endless song of thankful praise! <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>103</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
