{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p>I wandered sore distressed, <br> All weary and forlorn; <br> I had no place to rest, <br> Of all my pleasures shorn-- <br> My thirsting spirit sighed, <br> And in the desert cried.The Shepherd heard my cry, <br> Who came His flock to find, <br> And drew in mercy nigh, <br> For He is wondrous kind; <br> His winning voice awoke <br> My spirit as He spoke.He bade my wandering cease, <br> And gave my heart a home, <br> That, from the bliss of peace, <br> I might no longer roam; <br> He gave me hope for fears, <br> And lasting joy for tears. <br>  <br> Source: Hymns of the Early Church: translated from Greek and Latin sources; together with translations from a later period; centos and suggestions from the Greek; and several original pieces #<br>167</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
