{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 I need thee, precious Jesus, <br> for I am full of sin; <br> my soul is dark and guilty, <br> my heart is dead within. <br> I need the cleansing fountain <br> where I can always flee, <br> the blood of Christ most precious, <br> the sinner's perfect plea. <br> <br>2 I need thee, precious Jesus, <br> for I am very poor; <br> a stranger and a pilgrim, <br> I have no earthly store. <br> I need the love of Jesus <br> to cheer me on my way, <br> to guide my doubting footsteps, <br> to be my strength and stay. <br> <br>3 I need thee, precious Jesus, <br> and hope to see thee soon, <br> encircled with the rainbow <br> and seated on thy throne. <br> There, with thy blood-bought children, <br> my joy shall ever be, <br> to sing my Jesus' praises, <br> to gaze, O Lord, on thee. <br>  <br>  <br> Source: Trinity Psalter Hymnal #<br>455</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
