{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O my Saviour, lifted <br> from the earth for me, <br> draw me, in thy mercy, <br> nearer unto thee. <br> <br>2 Lift my earth-bound longings, <br> fix them, Lord, above; <br> draw me with the magnet <br> of thy mighty love. <br> <br>3 Lord, thine arms are stretching <br> ever far and wide, <br> to enfold thy children <br> to thy loving side. <br> <br>4 And I come, O Jesus  <br> dare I turn away? <br> No! Thy love hath conquered, <br> and I come today; <br> <br>5 bringing all my burdens, <br> sorrow, sin, and care, <br> at thy feet I lay them, <br> and I leave them there. <br>  <br> Source: CPWI Hymnal #<br>354</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
