{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Jesus, name all names above, <br> Jesus, best and dearest, <br> Jesus, Fount of perfect love, <br> holiest, tend'rest, nearest: <br> Jesus, source of grace completest, <br> Jesus, purest, Jesus, sweetest, <br> Jesus, well of pow'r divine, <br> make me, keep me, seal me thine! <br> <br>2 Thou didst call the prodigal; <br> thou didst pardon Mary, <br> thou whose words can never fall, <br> love can never vary, <br> Lord, to heal my lost condeition <br> give (for thou canst give) contrition; <br> thou canst pardon all my ill <br> if thou wilt; O say, "I will!" <br> <br>3 Jesus, open me the gate <br> that the robber enter'd, <br> who in that most lost estate <br> wholly on thee ventured. <br> Thou whose wounds are ever pleading, <br> and thy Passion interceding, <br> from my sins, O let me rise <br> to a home in paradise! <br>  <br> Source: Rejoice in the Lord #<br>308</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
