{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 Forth in your name, O Lord, I go, <br> my daily labor to pursue, <br> determined only you to know <br> in all I think or speak or do. <br> <br>2 The task your wisdom has assigned, <br> O let me cheerfully fulfill; <br> in all my works your presence find, <br> and prove your good and perfect will. <br> <br>3 May I find you at my right hand; <br> your eyes see truly what I do. <br> I labor on at your command <br> and offer all my works to you. <br> <br>4 Give me to bear your easy yoke <br> and ev'ry moment watch and pray <br> and still to things eternal look, <br> and hasten to your glorious day. <br> <br>5 For you I joyously employ <br> whateer you in grace have givn: <br> I run my daily course with joy <br> and closely walk with you to heavn. <br>  <br> Source: Christian Worship: Hymnal #<br>739</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
