{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 The people who in darkness walked <br> have seen a glorious light; <br> the heav'nly dawn broke forth on those <br> who dwelt in death and night, <br> who dwelt in death and night. <br> <br>2 To us a child of hope is born, <br> to us a son is giv'n, <br> and on his shoulders ever rests <br> all pow'r in earth and heav'n, <br> all pow'r in earth and heav'n. <br> <br>3 His name shall be the Prince of Peace, <br> the Everlasting Lord, <br> the Wonderful, the Counselor, <br> the God by all adored, <br> the God by all adored. <br> <br>4 His righteous government and pow'r <br> shall over all extend; <br> on judgment and on justice based, <br> his reign shall have no end, <br> his reign shall have no end. <br> <br>5 Lord Jesus, reign in us, we pray, <br> and make us yours alone, <br> for you are with the Father and <br> the Spirit ever one, <br> the Spirit ever one. <br>  <br> Source: Christian Worship: Hymnal #<br>381</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
