{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Creator of the world, to thee <br> an endless rest of joy belongs; <br> and heavenly choirs are ever free <br> to sing on high their festal songs. <br> <br>2 But we are fallen creatures here, <br> where pain and sorrow daily come; <br> and how can we in exile drear <br> sing out, as they, sweet songs of home? <br> <br>3 O Father, who dost promise still <br> that they who mourn shall blessèd be, <br> grant us to weep for deeds of ill <br> that banish us so long from thee: <br> <br>4 but, weeping, grant us faith to rest <br> in hope upon thy loving care; <br> till thou restore us, with the blest, <br> their songs of praise in heaven to share. <br> <br>5 To Father, Son, and Holy Ghost, <br> the God whom heaven and earth adore, <br> from men and from the angel-host <br> be praise and glory evermore. <br>  <br> Source: CPWI Hymnal #<br>113</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
