{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. O merciful Creator, hear; <br> In tender pity bow Thine ear: <br> Accept the tearful prayer we raise <br> In this our fast of forty days. <br> <br>2. Each heart is manifest to Thee; <br> Thou knowest our infirmity: <br> Repentant now we seek Thy face; <br> Impart to us Thy pardoning grace. <br> <br>3. Our sins are manifold and sore, <br> But spare Thou them who sin deplore; <br> And for Thine own names sake make whole <br> The fainting and the weary soul. <br> <br>4. Grant us to mortify each sense <br> By means of outward abstinence, <br> That so from every stain of sin <br> The soul may keep her fast within. <br> <br>5. Blest Three in One, and One in Three <br> Almighty God, we pray to Thee, <br> That Thou wouldst now vouchsafe to bless <br> Our fast with fruits of righteousness. <br>  <br> Source: The Cyber Hymnal #<br>5180</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
