{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Lo! now is our accepted day, <br> the time for purging sins away, <br> the sins of thought, and deed, and word, <br> that we have done against the Lord. <br> <br>2 For he the merciful and true <br> hath spared His people hitherto; <br> not willing that the soul should die, <br> though great its past iniquity. <br> <br>3 Then let us all with earnest care, <br> and contrite fast, and tear, and prayer, <br> and works of mercy and of love, <br> entreat for pardon from above; <br> <br>4 that he may all our sins efface, <br> adorn us with the gifts of grace, <br> and join us to the angel band, <br> for ever in the heavenly land. <br> <br>5 Blest Three in One and One in Three, <br> almighty God, we pray to thee, <br> that thou wouldst now vouchsafe to bless <br> our fast with fruits of righteousness. <br>  <br> Source: CPWI Hymnal #<br>117</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
