{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Good it is to keep the fast <br> shadowed forth in ages past, <br> which our own Almighty Lord <br> hallowed by his deed and word. <br> <br>2 Moses, while he fasted, saw <br> God who gave by him the law; <br> to Elijah angels came, <br> steeds of fire and car of flame. <br> <br>3 So was Daniel meet to gaze <br> on the sight of latter days <br> and the Baptist to proclaim <br> blessings through the Bridegrooms name. <br> <br>4 Grant us, Lord, like them to be <br> oft in prayer and fast with thee; <br> fill us with thy heavenly might, <br> be our joy and true delight. <br> <br>5 Father, hear us through thy Son, <br> and the Spirit, with thee One, <br> whom our thankful hearts adore <br> ever and for evermore. <br>  <br> Source: CPWI Hymnal #<br>115</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
