{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

    <p><br>1 Come, Holy Ghost, Who ever One <br> Art with the Father and the Son; <br> Come, Holy Ghost, our souls possess <br> With Thy full flood of holiness. <br> <br>2 In will and deed, by heart and tongue, <br> With all our powers, Thy praise be sung; <br> And love light up our mortal frame, <br> Till others catch the living flame. <br> <br>3 Almighty Father, hear our cry <br> Through Jesus Christ our Lord most high, <br> Who with the Holy Ghost and Thee <br> Doth live and reign eternally. <br>  <br> Source: The Church Hymnal: containing hymns approved and set forth by the general conventions of <br>1892 and <br>1916; together with hymns for the use of guilds and brotherhoods, and for special occasions (Rev. ed) #<br>370</p>
    <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
