{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1. Jesu, our Lenten fast of Thee <br> We duteous learn to keep, <br> A healing time, by Thy decree, <br> For all Thy wounded sheep. <br> <br>2. A time in which towards paradise, <br> Once lost by carnal sense, <br> The souls redeemed by Thee may rise <br> Through chastening abstinence. <br> <br>3. Now with Thy Church be present, Lord, <br> In all Thy saving grace, <br> And hear us as with one accord <br> Mourning, we seek Thy face. <br> <br>4. Most Merciful, forgive the past, <br> The sins which we deplore; <br> Thy sheltering arms around us cast, <br> That we may sin no more. <br> <br>5. To Thee our sacrifice we bring <br> Of Lenten fast and prayer, <br> Till, cleansed by Thee, our God and King, <br> Thy Paschal joy we share. <br> <br>6. Grant this, O Father, through Thy Son, <br> And through the Spirit blest, <br> Who art with Them forever One, <br> Eternally confessed. <br>  <br> Source: The Cyber Hymnal #<br>3392</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
