{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 O Lord, turn not thy face from me, <br> who lie in woeful state, <br> lamenting all my sinful life <br> before thy mercy-gate. <br> <br>2 A gate which opens wide to those <br> that do lament their sin; <br> shut not that gate against me, Lord, <br> but let me enter in. <br> <br>3 And call me not to strict account <br> how I have sojourned here; <br> for then my guilty conscience knows <br> how vile I shall appear. <br> <br>4 Mercy, good Lord, mercy I ask; <br> this is my humble prayer; <br> for mercy, Lord is all my suit: <br> O let thy mercy spare. <br>  <br> Source: CPWI Hymnal #<br>111</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
