{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 All glory, laud, and honor <br> to you, Redeemer, King, <br> to whom the lips of children <br> made sweet hosannas ring. <br> You are the King of Israel <br> and David's royal Son, <br> now in the Lord's name coming, <br> the King and Blessed One. <br> <br>2 The company of angels <br> is praising you on high; <br> and we with all creation <br> in chorus make reply. <br> The people of the Hebrews <br> with palms before you went; <br> our praise and prayer and anthems <br> before you we present. <br> <br>3 To you before your passion <br> they sang their hymns of praise; <br> to you, now high exalted, <br> our melody we raise. <br> As you received their praises, <br> accept the prayers we bring, <br> for you delight in goodness, <br> O good and gracious King! <br> Psalter Hymnal, (Gray)</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
