{% extends 'jot.html' %}
{% block content %}
<br><br>
HYMN {{ clicked_value }}

        <p><br>1 Ride on, ride on in majesty! <br> Hear all the tribes hosanna cry; <br> O Savior meek, pursue Your road <br> with palms and scattered garments strowed. <br> <br>2 Ride on, ride on in majesty! <br> In lowly pomp ride on to die. <br> O Christ, Your triumphs now begin <br> oer captive death and conquered sin. <br> <br>3 Ride on, ride on in majesty! <br> The host of angels in the sky <br> look down with sad and wond'ring eyes <br> to see th'approaching Sacrifice. <br> <br>4 Ride on, ride on in majesty! <br> Your last and fiercest strife is nigh. <br> The Father on His sapphire throne <br> awaits His own anointed Son. <br> <br>5 Ride on, ride on in majesty! <br> In lowly pomp ride on to die, <br> bow Your meek head to mortal pain, <br> then take, O Christ, Your pow'r and reign. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>259</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
        {% endblock %}
