{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/><br/>1 O Lord and Master of us all, <br/> whateÂer our name or sign, <br/> we own thy sway, we hear thy call, <br/> we test our lives by Thine. <br/> <br/><br/>2 Thou judgest us; thy purity <br/> doth all our lusts condemn; <br/> the love that draws us nearer thee <br/> is hot with wrath to them. <br/> <br/><br/>3 Yet weak and blinded though we be, <br/> thou dost our service own; <br/> we bring our varying gifts to thee, <br/> and thou rejectest none. <br/> <br/><br/>4 Apart from thee all gain is loss, <br/> all labor vainly done; <br/> the solemn shadow of the cross <br/> is better than the sun. <br/> <br/><br/>5 We faintly hear, we dimly see, <br/> in diff'ring phrase we pray; <br/> but, dim or clear, we own in thee <br/> the Life, the Truth, the Way. <br/> <br/> <br/> Source: Rejoice in the Lord #<br/><br/>358</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
