{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Hark! the herald angels sing, <br> "Glory to the newborn King: <br> peace on earth, and mercy mild, <br> God and sinners reconciled!" <br> Joyful, all ye nations, rise, <br> join the triumph of the skies; <br> with th'angelic hosts proclaim, <br> "Christ is born in Bethlehem!" <br> Refrain: <br> Hark! the herald angels sing, <br> "Glory to the newborn King" <br> <br>2 Christ, by highest heaven adored, <br> Christ, the everlasting Lord, <br> late in time behold him come, <br> offspring of the Virgin's womb: <br> veiled in flesh the Godhead see; <br> hail th'incarnate Deity, <br> pleased with us in flesh to dwell, <br> Jesus, our Immanuel. [Refrain] <br> <br>3 Hail the heaven-born Prince of Peace! <br> Hail the Sun of Righteousness! <br> Light and life to all he brings, <br> risen with healing in his wings. <br> Mild he lays his glory by, <br> born that we no more may die, <br> born to raise us from the earth, <br> born to give us second birth. [Refrain]</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
