{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Angels from the realms of glory, <br> wing your flight o'er all the earth; <br> ye who sang creation's story <br> now proclaim Messiah's birth: <br> Refrain: <br> Come and worship, come and worship, <br> worship Christ, the newborn king. <br> <br>2 Shepherds, in the field abiding, <br> watching o'er your flocks by night, <br> God with us is now residing; <br> yonder shines the infant light: [Refrain] <br> <br>3 Sages, leave your contemplations, <br> brighter visions beam afar; <br> seek the great Desire of nations; <br> ye have seen his natal star: [Refrain] <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
