{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Love came down at Christmas, <br> Love all lovely, Love divine; <br> Love was born at Christmas; <br> star and angels gave the sign. <br> <br>2 Worship we the Godhead, <br> Love incarnate, Love divine; <br> worship we our Jesus, <br> but wherewith for sacred sign? <br> <br>3 Love shall be our token; <br> love be yours and love be mine; <br> love to God and others, <br> love for plea and gift and sign. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>234</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
