{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Praise the LORD who reigns above <br> and keeps His courts below; <br> praise the holy God of love, <br> and all His greatness show. <br> Praise Him for His noble deeds, <br> praise Him for His matchless pow'r; <br> Him from whom all good proceeds <br> let earth and heav'n adore. <br> <br>2 Celebrate th'eternal God <br> with harp and psaltery; <br> timbrels soft and cymbals loud <br> in His high praise agree. <br> Praise Him, every tuneful string, <br> all the reach of heav'nly art; <br> all the pow'rs of music bring, <br> the music of the heart. <br> <br>3 Him, in whom they move and live, <br> let every creature sing, <br> glory to their Maker give, <br> and homage to their King. <br> Hallowed be His name beneath, <br> as in heav'n, on earth adored; <br> praise the LORD in every breath, <br> let all things praise the LORD! <br>  <br> Source: Psalms and Hymns to the Living God #<br>150</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
