{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Good Christian friends, rejoice <br> with heart and soul and voice; <br> give ye heed to what we say: <br> Jesus Christ was born today. <br> Ox and ass before him bow, <br> and he is in the manger now. <br> Christ is born today! <br> Christ is born today! <br> <br>2 Good Christian friends, rejoice <br> with heart and soul and voice; <br> now ye hear of endless bliss: <br> Jesus Christ was born for this! <br> He has opened heaven's door, <br> and we are blest forevermore. <br> Christ was born for this! <br> Christ was born for this! <br> <br>3 Good Christian friends, rejoice <br> with heart and soul and voice; <br> now ye need not fear the grave: <br> Jesus Christ was born to save! <br> Calls you one and calls you all <br> to gain his everlasting hall. <br> Christ was born to save! <br> Christ was born to save! <br> Psalter Hymnal, (Gray)</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
