{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 What grace, O Lord, and beauty shone <br> around Your steps below! <br> What patient love was seen in all <br> Your life and death of woe! <br> <br>2 For ever on Your burdened heart <br> a weight of sorrow hung, <br> yet no ungentle, murmuring word <br> escaped Your silent tongue. <br> <br>3 Your foes might hate, despise, revile, <br> Your friends unfaithful prove; <br> unwearied in forgiveness still, <br> Your heart could only love. <br> <br>4 O give us hearts to love like You, <br> like You, O Lord, to grieve <br> far more for others' sins than all <br> the wrongs that we receive. <br> <br>5 One with Yourself, may every eye <br> in all of humankind <br> behold that grace and gentleness <br> which, Lord, in You we find. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>528</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
