{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Who is he born in the stall, <br> at whose feet the shepherds fall? <br> Who is he in deep distress, <br> fasting in the wilderness? <br> Refrain: <br> 'Tis the Lord, O wondrous story! <br> 'Tis the Lord, the King of glory! <br> At his feet we humbly fall, <br> crown him, crown him, Lord of all! <br> <br>2 Who is he the people bless <br> for his words of gentleness? <br> Who is he to whom they bring <br> all the sick and sorrowing? [Refrain] <br> <br>3 Who is he that stands and weeps <br> at the grave where Lazarus sleeps? <br> Who is he the gath'ring throng <br> greet with loud triumphant song? [Refrain] <br> <br>4 Lo! at midnight, who is he <br> prays in dark Gethsemane? <br> Who is he upon the tree <br> dies in grief and agony? [Refrain] <br> <br>5 Who is he that from the grave <br> comes to heal and help and save? <br> Who is he that from his throne <br> rules thro' all the world alone? [Refrain] <br>  <br> Source: Trinity Psalter Hymnal #<br>331</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
