{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Heal us, Emmanuel, hear our prayer; <br> we wait to feel thy touch; <br> deep-wounded souls to thee repair, <br> and Savior, we are such. <br> <br>2. Our faith is feeble, we confess <br> we faintly trust thy word; <br> but wilt thou pity us the less? <br> Be that far from thee, Lord! <br> <br>3. Remember him who once applied <br> with trembling for relief; <br> "Lord, I believe," with tears he cried; <br> "O help my unbelief!" <br> <br>4. She, too, who touched thee in the press <br> and healing virtue stole, <br> was answered, "Daughter, go in peace: <br> thy faith hath made thee whole." <br> <br>5. Like her, with hopes and fears we come <br> to touch thee if we may; <br> O send us not despairing home; <br> send none unhealed away.</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
