{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus calls us o'er the tumult <br> of our life's wild, restless sea; <br> day by day His sweet voice soundeth, <br> saying, "Christian, follow me." <br> Jesus calls us from the worship <br> of the vain world's golden store, <br> from each idol that would keep us, <br> saying, "Christian, love me more." <br> <br>2 In our joys and in our sorrows, <br> days of toil and hours of ease, <br> still He calls, in cares and pleasures, <br> "Christian, love me more than these." <br> Jesus calls us- by Thy mercies, <br> Savior, may we hear Thy call; <br> give our hearts to Thine obedience, <br> serve and love Thee best of all. <br>  <br> Source: Psalms and Hymns to the Living God #<br>363</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
