{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Forty days and forty nights <br> You were fasting in the wild; <br> Forty days and forty nights <br> Tempted, and yet undefiled. <br> <br>2 Shall not we your sorrow share <br> And from worldly joys abstain, <br> Fasting with unceasing prayer, <br> Strong with you to suffer pain? <br> <br>3 Then if Satan on us press, <br> Flesh or spirit to assail, <br> Victor in the wilderness, <br> Grant we may not faint nor fail! <br> <br>4 So shall we have peace divine; <br> Holier gladness ours shall be; <br> Round us, too, shall angels shine, <br> Such as served You faithfully. <br> <br>5 Keep, O keep us, Savior dear, <br> Ever constant by your side, <br> That with you we may appear <br> At th'eternal Eastertide. <br>  <br> Source: Breaking Bread (Vol. <br>39) #<br>127</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
