{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Meet and right it is to sing, <br> In every time and place, <br> Glory to our heavenly King, <br> The God of truth and grace. <br> Join we then with sweet accord, <br> All in one thanksgiving join! <br> Holy, holy, holy Lord, <br> Eternal praise be thine! <br> <br>2 Thee, the first-born sons of light, <br> In choral symphonies, <br> Praise by day, day without night, <br> And never, never cease; <br> Angels and archangels, all <br> Praise the mystic Three in One; <br> Sing, and stop, and gaze, and fall, <br> O'erwhelmed before thy throne! <br> <br>3 Father, God, thy love we praise, <br> Which gave thy Son to die; <br> Jesus, full of truth and grace, <br> Alike we glorify; <br> Spirit, Comforter divine. <br> Praise by all to thee be given, <br> Till we in full chorus join, <br> And earth is turned to heaven. <br>  <br> Source: The Voice of Praise: a collection of hymns for the use of the Methodist Church #<br>106</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
