{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, I will trust Thee, <br> Trust Thee with my soul, <br> Guilty, lost and helpless, <br> Thou canst make me whole: <br> There is none in heaven <br> Or on earth like Thee: <br> Thou hast died for sinners, <br> Therefore, Lord, for me. <br> Refrain: <br> Jesus, I will trust Thee, <br> Trust Thee with my soul, <br> Guilty, lost and helpless, <br> Thou canst make me whole. <br> <br>2 Jesus, I must trust Thee, <br> Pondering Thy ways, <br> Full of love and mercy <br> All Thine earthly days; <br> Sinners gathered round Thee, <br> Lepers sought Thy face: <br> None too vile or loathsome <br> For a Savior's grace. (Refrain) <br> <br>3 Jesus, I do trust Thee, <br> Trust without a doubt, <br> Whosoever cometh, <br> Thou wilt not cast out: <br> Faithful is Thy promise, <br> Precious is Thy blood: <br> These my soul's salvation, <br> Thou my Savior God! (Refrain) <br>  <br>  <br> Source: Hymns for the Living Church #<br>244</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
