{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I met the good shepherd <br> Just now on the plain, <br> As homeward he carried <br> His lost one again; <br> I marvelled how gently <br> His burden he bore, <br> And as he passed by me <br> I knelt to adore. <br> <br>2 O Shepherd, good shepherd, <br> Thy wounds they are deep; <br> The wolves have sore hurt thee <br> In saving thy sheep. <br> Thy raiment all over <br> With crimson is dyed; <br> And what is this wound <br> They have made in thy side? <br> <br>3 O Shepherd, good shepherd, <br> And is it for me <br> This grievous affliction <br> Has fallen on thee? <br> Thy wounds make me love thee, <br> My heart shall be thine; <br> With thee I will journey, <br> My shepherd divine. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>111</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
