{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Ah, holy Jesus, how hast thou offended, <br> that we to judge thee have in hate pretended? <br> By foes derided, by thine own rejected, <br> O most afflicted! <br> <br>2 Who was the guilty? Who brought this upon thee? <br> Alas, my treason, Jesus, hath undone thee! <br> 'Twas I, Lord Jesus, I it was denied thee; <br> I crucified thee. <br> <br>3 Lo, the Good Shepherd for the sheep is offered; <br> the slave hath sinned, and the Son hath suffered. <br> For our atonement, while we nothing heeded, <br> God interceded. <br> <br>4 For me, kind Jesus, was thy incarnation, <br> thy mortal sorrow, and thy life's oblation; <br> thy death of anguish and thy bitter passion, <br> for my salvation. <br> <br>5 Therefore, kind Jesus, since I cannot pay thee, <br> I do adore thee, and will ever pray thee, <br> think on thy pity and thy love unswerving, <br> not my deserving. <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
