{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 When my love to Christ grows weak, <br> When for deeper faith I seek, <br> Then in thought I go to thee, <br> Garden of Gethsemane. <br> <br>2 When my love for man grows weak, <br> When for stronger faith I seek, <br> Hill of Calvary, I go <br> To the scenes of fear and woe. <br> <br>3 There behold His agony, <br> Suffered on the bitter tree; <br> See His anguish, see His faith, <br> Love triumphant still in death. <br> <br>4 Then to life I turn again, <br> Learning all the worth of pain, <br> Learning all the might that lies <br> In a full self-sacrifice. <br>  <br> Source: Hymnal and Liturgies of the Moravian Church #<br>120</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
