{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 There is a green hill far away, <br> Outside a city wall, <br> Where the dear Lord was crucified, <br> Who died to save us all. <br> <br>2 We may not know, we cannot tell <br> What pains He had to bear, <br> But we believe it was for us <br> He hung and suffered there. <br> <br>3 He died that we might be forgiv'n, <br> He died to make us good, <br> That we might go at last to heav'n, <br> Saved by His precious blood. <br> <br>4 There was no other good enough <br> To pay the price of sin, <br> He only could unlock the gate <br> Of heav'n and let us in. <br> <br>5 Oh, dearly, dearly has He loved! <br> And we must love Him too <br> And trust in His redeeming blood <br> And try His works to do. <br>  <br>  <br> Source: One and All Rejoice #<br>204</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
