{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Behold the Savior of mankind <br> Nailed to the shameful tree! <br> How vast the love that Him inclined <br> To bleed and die for thee! <br> <br>2 Hark, how He groans, while nature shakes, <br> And earth's strong pillars bend! <br> The temple's veil in sunder breaks; <br> The solid marbles rend. <br> <br>3 'Tis done! the precious ransom's paid! <br> "Receive my soul!" He cries; <br> See where He bows His sacred head! <br> He bows His head and dies! <br> <br>4 But soon He'll break death's envious chain, <br> And in full glory shine; <br> O Lamb of God, was ever pain, <br> Was ever love, like Thine? <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>144</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
