{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Go to dark Gethsemane, <br> You who feel the tempter's pow'r; <br> Your Redeemer's conflict see; <br> Watch with Him one bitter hour; <br> Turn not from His griefs away; <br> Learn of Jesus Christ to pray. <br> <br>2 Follow to the judgment hall; <br> View the Lord of life arraigned; <br> O the worm-wood and the gall! <br> O the pangs His soul sustained! <br> Shun not suff'ring, shame, or loss; <br> Learn of Him to bear the cross. <br> <br>3 Calv'ry's mournful mountain climb <br> There' adoring at His feet, <br> Mark the miracle of time, <br> God's own sacrifice complete: <br> "It is finished!" Hear the cry; <br> Learn of Jesus Christ to die. <br> <br>4 Early hasten to the tomb <br> Where they laid his breathless clay; <br> All is solitude and gloom; <br> Who hath taken Him away? <br> Christ is ris'n! He meets our eyes: <br> Savior, teach us so to rise. <br> Baptist Hymnal, <br>1991</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
