{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 He dies, the Friend of sinners dies! <br> Lo! Salem's daughters weep around. <br> A solemn darkness veils the skies; <br> a sudden trembling shakes the ground. <br> <br>2 Here's love and grief beyond degree: <br> the Lord of glory dies for men; <br> but lo, what sudden joys we see! <br> Jesus, the dead, revives again. <br> <br>3 The rising God forsakes the tomb! <br> The tomb in vain forbids His rise: <br> cherubic legions guard Him home, <br> And shout Him welcome to the skies. <br> <br>4 Break off your tears, ye saints, and tell <br> how high your great Deliv'rer reigns. <br> Sing how He spoiled the hosts of hell, <br> and led the monster, Death, in chains. <br> <br>5 Say: "Live forever, wondrous King, <br> born to redeem, and strong to save!" <br> Then ask the monster: "Where's thy sting? <br> And where's thy vict'ry, boasting grave?" <br>  <br> Source: Psalms and Hymns to the Living God #<br>275</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
