{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O for a thousand tongues to sing <br> my great Redeemer's praise, <br> the glories of my God and King, <br> the triumphs of his grace! <br> <br>2 My gracious Master and my God, <br> assist me to proclaim, <br> to spread thro' all the earth abroad <br> the honors of your name. <br> <br>3 Jesus! the name that charms our fears, <br> that bids our sorrows cease, <br> 'tis music in the sinner's ears, <br> 'tis life and health and peace. <br> <br>4 He breaks the power of cancelled sin, <br> he sets the prisoner free; <br> his blood can make the foulest clean; <br> his blood availed for me. <br> <br>5 To God all glory, praise, and love <br> be now and ever given <br> by saints below and saints above, <br> the Church in earth and heaven. <br> Worship & Rejoice, <br>2003</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}


