{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 All people that on earth do dwell, <br> sing to the LORD with cheerful voice; <br> Him serve with mirth, His praise forth-tell; <br> come ye before Him and rejoice! <br> <br>2 Know that the LORD is God indeed; <br> without our aid He did us make; <br> we are His flock, He doth us feed, <br> and for His sheep He doth us take. <br> <br>3 O enter then His gates with praise, <br> approach with joy His courts unto; <br> praise, laud, and bless His name always, <br> for it is seemly so to do. <br> <br>4 Because the LORD our God is good; <br> His mercy is forever sure; <br> His truth at all times firmly stood, <br> and shall from age to age endure. <br> <br>5 Praise God, from whom all blessings flow; <br> praise Him, all creatures here below; <br> praise Him above, ye heav'nly host; <br> praise Father, Son, and Holy Ghost! <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>100</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
