{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus Christ is ris'n today, alleluia! <br> our triumphant holy day, alleluia! <br> who did once, upon the cross, alleluia! <br> suffer to redeem our loss, alleluia! <br> <br>2 Hymns of praise then let us sing, alleluia! <br> unto Christ, our heav'nly King, alleluia! <br> who endured the cross and grave, alleluia! <br> sinners to redeem and save, alleluia! <br> <br>3 But the pains which He endured, alleluia! <br> our salvation have procured; alleluia! <br> now above the sky He's King, alleluia! <br> where the angels ever sing: alleluia! <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>282</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
