{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The day of resurrection! <br> Earth, tell it out abroad; <br> the passover of gladness, <br> the passover of God. <br> From death to life eternal, <br> from earth unto the sky, <br> our Christ hath brought us over, <br> with hymns of victory. <br> <br>2 Our hearts be pure from evil, <br> that we may see aright <br> the Lord in rays eternal <br> of resurrection light; <br> and listening to his accents, <br> may hear, so calm and plain, <br> his own "All hail!" and, hearing, <br> may raise the victor strain. <br> <br>3 Now let the heavens be joyful! <br> Let earth the song begin! <br> Let the round world keep triumph, <br> and all that is therein! <br> Let all things seen and unseen <br> their notes in gladness blend, <br> for Christ the Lord hath risen, <br> our joy that hath no end. <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
