{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 On wings of living light, <br> At earliest dawn of day, <br> Came down the angel bright <br> And rolled the stone away. <br> Refrain: <br> Your voices raise with one accord <br> To bless and praise your risen Lord, <br> To bless and praise your risen Lord. <br> <br>2 The keepers watching near, <br> At that dread sight and sound, <br> Fell down with sudden fear <br> Like dead men to the ground. [Refrain] <br> <br>3 Then rose from death's dark gloom, <br> Unseen by mortal eye, <br> Triumphant o'er the tomb, <br> The Lord of earth and sky. [Refrain] <br>  <br>  <br> Source: The Children's Hymnbook #<br>126</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
