{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Thine be the glory, risen, conqu'ring Son; <br> endless is the vict'ry Thou o'er death hast won. <br> Angels in bright raiment rolled the stone away, <br> kept the folded grave-clothes where Thy body lay. <br> Refrain: <br> Thine be the glory, risen, conqu'ring Son; <br> endless is the vict'ry Thou o'er death hast won. <br> <br>2 Lo! Jesus meets us, risen from the tomb. <br> Lovingly He greets us, scatters fear and gloom; <br> let His church with gladness hymns of triumph sing, <br> for the Lord now liveth; death hath lost its sting. [Refrain] <br> <br>3 No more we doubt Thee, glorious Prince of life!! <br> Life is nought without Thee; aid us in our strife; <br> make us more than conqu'rors, through Thy deathless love; <br> bring us safe through Jordan to Thy home above. [Refrain] <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>283</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
