{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Ye humble souls, that seek the Lord, <br> Chase all your fears away; <br> And bow with rapture down to see <br> The place where Jesus lay. <br> <br>2 Thus low the Lord of Life was brought, <br> Such wonders love can do; <br> Thus cold in death that bosom lay, <br> Which throbbed and bled for you. <br> <br>3 But raise your eyes, and tune your songs, <br> The Saviour lives again; <br> Not all the bolts and bars of death <br> The Conqueror could detain. <br> <br>4 High o'er the angelic bands He rears <br> His once dishonoured head; <br> And through unnumbered years He reigns, <br> Who dwelt among the dead. <br> <br>5 With joy like His shall every saint <br> His vacant tomb survey; <br> Then rise with his ascending Lord <br> To realms of endless day. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>139</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
