{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Our Lord is risen from the dead; <br> Our Savior is gone up on high; <br> The pow'rs of hell are captive led, <br> Dragged to the portals of the sky. <br> <br>2 There His triumphal chariot waits, <br> And angels chant the solemn lay: <br> "Lift up your heads, ye heavenly gates, <br> Ye everlasting doors, give way!" <br> <br>3 Loose all your bars of massy light, <br> And wide unfold the radiant scene; <br> He claims those mansions as His right; <br> Receive the King of glory in. <br> <br>4 Who is the King of glory, who? <br> The Lord of glorious pow'r possessed, <br> The King of saints and angels too, <br> God over all, forever blessed. <br>  <br> Source: Hymnal for Church and Home (<br>2nd ed.) #<br>119</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
