{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 See, the Conqu'ror mounts in triumph; <br> see the King in royal state, <br> riding on the clouds, his chariot, <br> to his heav'nly palace gate. <br> Hear the choir of angel voices <br> joyful alleluias sing, <br> and the gates on high are opened <br> to receive their heav'nly King. <br> <br>2 Who is this that comes in glory, <br> trumpets sound with jubilee? <br> Lord of battles, God of armies, <br> he has gained the victory. <br> He who on the cross did suffer, <br> he who from the grave arose, <br> he has conquered sin and Satan, <br> he by death has beat his foes. <br> <br>3 You have raised our human nature <br> on the clouds to God's right hand; <br> there we'll sit in heav'nly places, <br> there with you in glory stand. <br> Jesus reigns, adored by angels, <br> man with God is on the throne; <br> mighty Lord, in your ascension <br> we by faith behold our own. <br>  <br> Source: Trinity Psalter Hymnal #<br>373</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
