{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Entered the holy place above, <br> covered with meritorious scars, <br> the tokens of his dying love <br> our great high-priest in glory bears, <br> he pleads his passion on the tree, <br> he shows himself to God for me. <br> <br>2 Before the throne my Saviour stands, <br> my friend and advocate appears; <br> my name is graven on his hands, <br> and him the Father always hears; <br> while low at Jesus' cross I bow, <br> he hears the blood of sprinkling now. <br> <br>3 This instant now I may receive <br> the answer of his powerful prayer; <br> this instant now by him I live, <br> his prevalence with God declare; <br> and soon my spirit, in his hands, <br> shall stand where my forerunner stands. <br>  <br>  <br> Source: Together in Song: Australian hymn book II #<br>374</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
