{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Not all the blood of beasts <br> on Jewish altars slain <br> could give the guilty conscience peace <br> or wash away the stain. <br> <br>2 But Christ, the heav'nly Lamb, <br> takes all our sins away; <br> a Sacrifice of nobler name <br> and richer blood than they. <br> <br>3 My faith would lay her hand <br> on that dear head of Thine, <br> while like a penitent I stand, <br> and there confess my sin. <br> <br>4 My soul looks back to see <br> the burden Thou didst bear <br> when hanging on the cursed tree; <br> I know my guilt was there. <br> <br>5 Believing, we rejoice <br> to see the curse remove; <br> we bless the Lamb with cheerful voice <br> and sing His bleeding love. <br>  <br> Source: Psalms and Hymns to the Living God #<br>344</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
