{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 There is no sorrow, Lord, too light <br> To bring in pray'r to thee; <br> There is no anxious care too slight <br> To wake thy sympathy. <br> <br>2 Thou, who hast trod the thorny road, <br> Wilt share each small distress; <br> The love, which bore the greater load, <br> Will not refuse the less. <br> <br>3 There is no secret sigh we breathe, <br> But meets thine ear divine; <br> And ev'ry cross grows light beneath <br> The shadow, Lord, of thine. <br> <br>4 Life's ills without, sin's strife within, <br> The heart would overflow, <br> But for that love which died for sin, <br> That love which wept with woe. <br> Amen. <br>  <br> Source: Trinity Hymnal #<br>517</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
