{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 My faith looks up to Thee, <br> Thou Lamb of Calvary, <br> Savior divine! <br> Now hear me while I pray, <br> take all my guilt away; <br> O let me from this day <br> be wholly Thine. <br> <br>2 May Thy rich grace impart <br> strength to my fainting heart, <br> my zeal inspire; <br> as Thou hast died for me, <br> O may my love to Thee <br> pure, warm, and changeless be, <br> a living fire. <br> <br>3 While life's dark maze I tread, <br> and griefs around me spread, <br> be Thou my Guide; <br> bid darkness turn to day, <br> wipe sorrow's tears away, <br> nor let me ever stray <br> from Thee aside. <br> <br>4 When ends life's transient dream, <br> when death's cold, sullen stream <br> shall o'er me roll, <br> blest Savior, then in love, <br> fear and distrust remove; <br> O bear me safe above, <br> a ransomed soul. <br>  <br> Source: Psalms and Hymns to the Living God #<br>371</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
