{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O God, my strength and fortitude, <br> of force I must love thee; <br> thou art my castle and defense <br> in my necessity. <br> <br>2 When I sing praise unto the Lord, <br> most worthy to be served, <br> then from my foes I am right sure <br> that I shall be preserved. <br> <br>3 The Lord shall light my candle so <br> that it shall shine full bright: <br> the Lord my God will make also <br> my darkness to be light. <br> <br>4 Unspotted are the ways of God; <br> his Word is purely tried; <br> he is a sure defense to such <br> as in his faith abide. <br> <br>5 Now blessed be the living God, <br> most worthy of all praise; <br> he is my rock and saving health: <br> so praised be he always. <br>  <br> Source: Rejoice in the Lord #<br>86</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
