{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1. O word of pity, for our pardon pleading, <br> Breathed in the hour of loneliness and pain; <br> O voice, which through the ages interceding, <br> Calls us to fellowship with God again. <br> <br><br>2. O word of comfort, through the silence stealing, <br> As the dread act of sacrifice began; <br> O infinite compassion, still revealing <br> The infinite forgiveness won for man. <br> <br><br>3. O word of hope to raise us nearer Heaven, <br> When courage fails us and when faith is dim; <br> The souls for whom Christ prays to Christ are given, <br> To find their pardon and their joy in Him. <br> <br><br>4. O Intercessor, who art ever living <br> To plead for dying souls that they may live, <br> Teach us to know our sin which needs forgiving, <br> Teach us to know the love which can forgive. <br>  <br> Source: The Cyber Hymnal #<br><br>5533</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
