{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, the Conqueror, reigns, <br> In glorious strength arrayed; <br> His kingdom over all maintains, <br> And bids the earth be glad. <br> <br>2 Ye sons of men, rejoice <br> In Jesus' mighty love; <br> Lift up your heart, lift up your voice, <br> To Him who rules above. <br> <br>3 Extol His kingly power; <br> Kiss the exalted Son, <br> Who died, and lives to die no more, <br> High on His Father's throne: <br> <br>4 Our Advocate with God, <br> He undertakes our cause, <br> And spreads through all the earth abroad <br> The victory of His cross. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>203</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
