{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, the word bestow, <br> The true immortal seed; <br> Thy gospel then shall greatly grow, <br> And all our land o'er-spread; <br> <br>2 Through earth extended wide <br> Shall mightily prevail, <br> Destroy the works of self and pride, <br> And shake the gates of hell. <br> <br>3 Its energy exert <br> In the believing soul; <br> Diffuse Thy grace through every part, <br> And sanctify the whole; <br> <br>4 Its utmost virtue show <br> In pure consummate love, <br> And fill with all Thy life below, <br> And give us thrones above. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>353</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
