{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God is with us, God is with us, <br> So our brave forefathers sang, <br> Far across the field of battle <br> Loud their holy war cry rang; <br> Though at times they feared and faltered, <br> Never once they ceased to sing: <br> Refrain: <br> God is with us, God is with us, <br> Christ our Lord shall reign as King! <br> <br>2 Great the heritage they left us, <br> Great the conquests to be won, <br> Armed hosts to meet and scatter, <br> Larger duties to be done. <br> Raise the sang they nobly taught us, <br> Round the wide world let it ring: <br> <br>3 Speed the cross through all the nations, <br> Speed the victories of love, <br> Preach the gospel of redemption <br> Wheresoever men may move; <br> Make the future in the present, <br> Strong of heart, toil on and sing: <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>158</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
