{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Break, day of God, Oh break, <br> Sweet light of heavenly skies! <br> I all for Thee forsake, <br> And from my dead self rise; <br> O Lamb of God, whose love is light, <br> Shine on my soul, and all is bright. <br> <br>2. Break, day of God, Oh break! <br> The night has lingered long; <br> Our hearts with sighing wake, <br> We weep for sin and wrong: <br> O bright and morning star, draw near; <br> O Sun of Righteousness, appear. <br> <br>3. Break, day of God, Oh break! <br> The earth with strife is worn; <br> The hills with thunder shake, <br> Hearts of the people mourn; <br> Break, day of God, sweet day of peace, <br> And bid the shout of warriors cease! <br> <br>4. Break, day of God, Oh break, <br> Like to the days above! <br> Let purity awake, <br> And faith, and hope, and love: <br> But lo! we see the brightening sky; <br> The golden morn is drawing nigh. <br>  <br> Source: The Cyber Hymnal #<br>616</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
