{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 And art Thou come with us to dwell, <br> Our Prince, our Guide, our Love, our Lord? <br> And is Thy name Emmanuel, <br> God present with His world restored? <br> <br>2 The heart is glad for Thee! it knows <br> None now shall bid it err or mourn; <br> And o'er its desert breaks the rose <br> In triumph o'er the grieving thorn. <br> <br>3 Thou bringest all again; with Thee <br> Is light, is space, is breadth and room <br> For each thing fair, beloved, and free <br> To have its hour of life and bloom. <br> <br>4 The world is glad for Thee! the heart <br> Is glad for Thee! and all is well, <br> And fixed and sure, because Thou art, <br> Whose name is called Emmanuel! <br> Amen. <br>  <br> Source: The Hymnal #<br>134</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
