{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Light of those whose dreary dwelling <br> Borders on the shades of death, <br> Jesus, now Thyself revealing, <br> Scatter every cloud beneath. <br> <br><br>2 Still we wait for Thine appearing; <br> Life and joy Thy beams impart, <br> Chasing all our doubts, and cheering <br> Every meek and contrite heart. <br> <br><br>3 Show Thy power in every nation, <br> O Thou Prince of Peace and Love! <br> Give the knowledge of salvation, <br> Fix our hearts on things above. <br> <br><br>4 By Thine all-sufficient merit, <br> Every burdened soul release; <br> By the presence of Thy Spirit, <br> Guide us into perfect peace. <br>  <br> Source: The Church Hymnal: containing hymns approved and set forth by the general conventions of <br><br>1892 and <br><br>1916; together with hymns for the use of guilds and brotherhoods, and for special occasions (Rev. ed) #<br><br>319</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
