{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come down, O Love divine, <br> seek thou this soul of mine, <br> and visit it with thine own ardor glowing; <br> O Comforter, draw near, <br> within my heart appear, <br> and kindle it, thy holy flame bestowing. <br> <br>2 O let it freely burn, <br> till earthly passions turn <br> to dust and ashes in its heat consuming; <br> and let thy glorious light <br> shine ever on my sight, <br> and clothe me round, the while my path illuming. <br> <br>3 And so the yearning strong, <br> with which the soul will long, <br> shall far outpass the power of human telling; <br> for none can guess its grace, <br> till Love create a place <br> wherein the Holy Spirit makes a dwelling. <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
