{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, we believe to us and ours <br> Thy precious promises were given; <br> We wait the pentecostal powers, <br> The Holy Ghost sent down from Heaven. <br> <br>2 Assembled here with one accord, <br> Calmly we wait the promised grace, <br> The purchase of our dying Lord; <br> Come, Holy Ghost, and fill the place. <br> <br>3 If every one that asks may find, <br> If still thou dost on sinners fall, <br> Come as a mighty rushing wind; <br> Great grace be now upon us all. <br> <br>4 Behold, to thee our souls aspire, <br> And languish thy descent to meet; <br> Kindle in each the living fire, <br> And fix in every heart thy seat. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>216</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
