{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>I Want the spirit of power within, <br> Of love, and of a healthful mind: <br> Of power to conquer every sin; <br> Of love to God and all mankind; <br> Of health that pain and death defies, <br> Most vigorous when the body dies.O, that the Comforter would come, <br> Nor visit as a transient guest, <br> But fix in me his constant home, <br> And keep possession of my breast; <br> And make my soul his loved abode, <br> The temple of indwelling God! <br>  <br> Source: A Book of Hymns for Public and Private Devotion (<br>15th ed.) #<br>223</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
