{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Holy Spirit, hear us; <br> help us while we sing; <br> breathe into the music <br> of the praise we bring. <br> <br>2 Holy Spirit, prompt us <br> when we try to pray; <br> nearer come, and teach us <br> what we ought to say. <br> <br>3 Holy Spirit, teach us <br> through the words we read; <br> bring to life the Bible <br> with the light we need. <br> <br>4 Holy Spirit, give us <br> each a lively mind; <br> make us more like Jesus, <br> gracious, pure and kind. <br> <br>5 Holy Spirit, help us <br> daily, by your might, <br> what is wrong to conquer, <br> and to choose the right. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>248</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
