{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Holy Spirit, Truth divine, <br> dawn upon this soul of mine. <br> Voice of God, and inward Light, <br> wake my spirit, clear my sight. <br> <br>2 Holy Spirit, Love divine, <br> glow within this heart of mine. <br> Kindle ev'ry high desire, <br> purify me with your fire. <br> <br>3 Holy Spirit, Pow'r divine, <br> fill and nerve this will of mine. <br> Boldly may I always live, <br> bravely serve and gladly give. <br> <br>4 Holy Spirit, Law divine, <br> reign within this soul of mine. <br> Be my law and I shall be <br> firmly bound, forever free. <br> <br>5 Holy Spirit, Peace divine, <br> still this restless heart of mine. <br> Speak to calm this tossing sea, <br> grant me your tranquility. <br> <br>6 Holy Spirit, Joy divine, <br> gladden now this heart of mine. <br> In the desert ways I sing, <br> spring, O living Water, spring! <br>  <br> Source: Voices Together #<br>46</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
