{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Spirit divine, attend our prayer, <br> And make this house your home; <br> Descend with all your gracious pow'r; <br> O come, great Spirit, come! <br> <br>2 Come as the light; to us reveal <br> Our emptiness and woe, <br> And lead us in those paths of life <br> Where all the righteous go. <br> <br>3 Come as the fire and purge our hearts <br> Like sacrificial flame; <br> Let our whole soul an off'ring be <br> To our Redeemer's name. <br> <br>4 Come as the dove, and spread your wings, <br> The wings of peaceful love; <br> And let your Church on earth become <br> Blest as the Church above. <br> <br>5 Spirit divine, attend our prayer; <br> Make a lost world your home; <br> Descend with all your gracious pow'r; <br> O come, great Spirit, come! <br>  <br> Source: One in Faith #<br>654</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
