{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Gracious Spirit, dwell with me: <br> I myself would gracious be; <br> and with words that help and heal <br> would thy life in mine reveal; <br> and with actions bold and meek <br> would for Christ my Savior speak. <br> <br>2 Truthful Spirit, dwell with me: <br> I myself would truthful be; <br> and with wisdom kind and clear <br> let thy life in mine appear; <br> and with actions brotherly <br> speak my Lord's sincerity. <br> <br>3 Mighty Spirit, dwell with me: <br> I myself would mighty be; <br> mighty so as to prevail <br> where unaided man must fail; <br> ever by a mighty hope <br> pressing on and bearing up. <br> <br>4 Holy Spirit, dwell with me: <br> I myself would holy be; <br> separate from sin, I would <br> choose and cherish all things good, <br> and whatever I can be, <br> give to him who gave me thee! <br>  <br> Source: Trinity Psalter Hymnal #<br>400</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
