{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, Holy Spirit, heav'nly Dove, <br> with all Thy quick'ning pow'rs; <br> kindle a flame of sacred love <br> in these cold hearts of ours. <br> <br>2 O raise our thoughts from things below, <br> from vanities and toys; <br> then shall we with fresh courage go <br> to reach eternal joys. <br> <br>3 Awake our souls to joyful songs; <br> let pure devotion rise, <br> till praise employs our thankful tongues, <br> and doubt forever dies. <br> <br>4 Come, Holy Spirit, heav'nly Dove, <br> with all Thy quick'ning pow'rs; <br> come, shed abroad a Savior's love, <br> and that shall kindle ours. <br>  <br> Source: Psalms and Hymns to the Living God #<br>311</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
