{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 From glory to glory advancing, we praise thee, O Lord; <br> thy name with the Father and Spirit be ever adored. <br> From strength unto strength we go forward on Sion's highway, <br> to appear before God in the city of infinite day.<br>2 Thanksgiving and glory and worship and blessing and love, <br> one heart and one song have the saints upon earth and above. <br> Evermore, O Lord, to thy servants thy presence be nigh; <br> ever fit us by service on earth for thy service on high. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>444</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
