{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 FATHER of mercies, in Thy Word <br> What endless glory shines! <br> For ever be Thy name adored <br> For these celestial lines, <br> <br>2 Here may the wretched sons of want <br> Exhaustless riches find; <br> Riches, above what earth can grant, <br> And lasting as the mind. <br> <br>3 Here the fair tree of knowledge grows, <br> And yields a free repast; <br> Sublimer sweets than nature knows <br> Invite the longing taste. <br> <br>4 Here the Redeemer's welcome voice <br> Spreads heavenly peace around; <br> And life and everlasting joys <br> Attend the blissful sound. <br> <br>5 Divine instructor, gracious Lord, <br> Be Thou for ever near; <br> Teach me to love Thy sacred Word, <br> And view my Saviour there. <br>  <br> Source: Redemption Hymnal #<br>273</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
