{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>Come, divine Interpreter, <br> bring me eyes thy book to read, <br> ears the mystic words to hear, <br> words which did from thee proceed, <br> words that endless bliss impart, <br> kept in an obedient heart. <br> All who read, or hear, are blessed, <br> if thy plain commands we do; <br> of thy kingdom here possessed, <br> thee we shall in glory view <br> when thou comest on earth to abide, <br> reign triumphant at thy side. <br>  <br> Source: The United Methodist Hymnal #<br>594</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
