{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 LORD, Thy Word abideth, <br> And our footsteps guideth, <br> Who its truth believeth, <br> Light and joy receiveth. <br> <br>2 When our foes are near us, <br> Then Thy Word doth cheer us, <br> Word of consolation, <br> Message of salvation. <br> <br>3 When the storms are o'er us, <br> And dark clouds before us, <br> Then its light directeth, <br> And our way protecteth. <br> <br>4 Who can tell the pleasure, <br> Who recount the treasure, <br> By Thy Word imparted <br> To the simple-hearted? <br> <br>5 Word of mercy, giving <br> Succour to the living; <br> Word of life, supplying <br> Comfort to the dying! <br> <br>6 O that we, discerning <br> Its most holy learning, <br> Lord, may love and fear Thee. <br> Evermore be near Thee! <br>  <br> Source: Redemption Hymnal #<br>262a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
