{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Break now the bread of life, dear Lord, to me, <br> as once you broke the loaves beside the sea. <br> Beyond the sacred page I seek you, Lord; <br> my spirit waits for you, O living Word. <br> <br>2 Bless your own word of truth, dear Lord, to me, <br> as when you blessed the bread by Galilee. <br> Then shall all bondage cease, all fetters fall; <br> and I shall find my peace, my All in all! <br> <br>3 You are the bread of life, dear Lord, to me, <br> your holy word the truth that rescues me. <br> Give me to eat and live with you above; <br> teach me to love your truth, for you are love. <br> <br>4 O send your Spirit now, dear Lord, to me, <br> that he may touch my eyes and make me see. <br> Show me the truth made plain within your Word, <br> for in your book revealed I see you, Lord. <br> Psalter Hymnal, <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
