{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 To God be the glory, great things he has done! <br> So loved he the world that he gave us his Son, <br> who yielded his life an atonement for sin, <br> and opened the life-gate that all may go in. <br> Refrain: <br> Praise the Lord! Praise the Lord, <br> Let the earth hear his voice! <br> Praise the Lord! Praise the Lord! <br> Let the people rejoice! <br> O come to the Father through Jesus the Son <br> and give him the glory, great things he has done! <br> <br>2 Great things he has taught us, great things he has done, <br> and great our rejoicing through Jesus the Son, <br> but purer and higher and greater will be <br> our joy and our wonder, when Jesus we see. [Refrain] <br>  <br> Source: Christian Worship: Hymnal #<br>627</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
