{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, let us sing of a wonderful love, <br> tender and true, <br> out of the heart of the Father above, <br> streaming to me and to you: <br> wonderful love <br> dwells in the heart of the Father above. <br> <br>2 Jesus, the Saviour, this gospel to tell, <br> joyfully came, <br> came with the helpless and hopeless to dwell, <br> sharing their sorrow and shame; <br> seeking the lost, <br> saving, redeeming at measureless cost. <br> <br>3 Jesus is seeking the wanderers yet; <br> why do they roam, <br> Love only waits to forgive and forget; <br> home, weary wanderers, home! <br> Wonderful love <br> dwells in the heart of the Father above. <br> <br>4 Come to my heart, O thou wonderful Love, <br> come and abide, <br> lifting my life till it rises above <br> envy and falsehood and pride; <br> seeking to be <br> lowly and humble, a learner of thee. <br>  <br> Source: CPWI Hymnal #<br>514</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
