{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Hark! the gospel news is sounding, <br> Christ has suffered on the tree; <br> Streams of mercy are abounding, <br> Grace for all is rich and free; <br> Now poor sinner, <br> Look to him who died for thee. <br> <br>2 O escape to yonder mountain, <br> Refuge find in him today! <br> Christ invites you to the fountain, <br> Come and wash your sins away; <br> Do not tarry, <br> Come to Jesus while you may. <br> <br>3 Grace is flowing like a river, <br> Millions there have been supplied; <br> Still it flows as fresh as ever <br> From the Saviour's wounded side; <br> None need perish, <br> All may live for Christ hath died. <br> <br>4 Christ alone shall be our portion; <br> Soon we hope to meet above; <br> Then we'll bathe in the full ocean <br> Of the great redeemer's love; <br> All his fulness <br> We shall then for ever prove. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>239</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
