{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Weary souls, that wander wide <br> From the central point of bliss, <br> Turn to Jesus crucified, <br> Fly to those dear wounds of His: <br> Sink into the purple flood; <br> Rise into the life of God. <br> <br>2 Find in Christ the way of peace, <br> Peace unspeakable, unknown; <br> By His pain He gives you ease, <br> Life by His expiring groan: <br> Rise, exalted by His fall; <br> Find in Christ your all in all. <br> <br>3 O believe the record true, <br> God to you His Son hath given! <br> Ye may now be happy too, <br> Find on earth the life of heaven: <br> Live the life of heaven above, <br> All the life of glorious love. <br> <br>4 This the universal bliss, <br> Bliss for every soul designed; <br> God's original promise this, <br> God's great gift to all mankind <br> Blest in Christ this moment be! <br> Blest to all eternity! <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>324</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
