{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Art thou weary, art thou languid, <br> art thou sore distrest? <br> 'Come to me,' saith One, 'and coming, <br> be at rest!" <br> <br><br>2 Hath he marks to lead me to him, <br> if he be my guide? <br> In his feet and hands are wound-prints, <br> and his side. <br> <br><br>3 Hath he diadem as monarch <br> that his brow adorns? <br> Yea, a crown, in very surety, <br> but of thorns. <br> <br><br>4 If I find him, if I follow, <br> what his guerdon here? <br> Many a sorrow, many a labour, <br> many a tear. <br> <br><br>5 If I still hold closely to him, <br> what has he at last? <br> Sorrow vanquished, labour ended, <br> Jordan past. <br> <br><br>6 If I ask him to receive me, <br> will he say me nay? <br> Not till earth, and not till heaven <br> pass away. <br> <br><br>7 Finding, following, keeping, struggling, <br> is he sure to bless? <br> Angels, martyrs, prophets, virgins, <br> answer, yes! <br>  <br> Source: CPWI Hymnal #<br><br>510</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
