{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 COME, sinners, to the gospel feast, <br> Let every soul be Jesus' guest; <br> Ye need not one be left behind, <br> For God hath bidden all mankind. <br> <br>2 Sent by my Lord, on you I call; <br> The invitation is to all: <br> Come, all the world; come, sinner, thou! <br> All things in Christ are ready now. <br> <br>3 Come, all ye souls by sin oppressed, <br> Ye restless wanderers after rest, <br> Ye poor, and maimed, and halt, and blind, <br> In Christ a hearty welcome find. <br> <br>4 His love is mighty to compel; <br> His conquering love consent to feel, <br> Yield to His love's resistless power, <br> And fight against your God no more. <br> <br>5 This is the time; no more delay! <br> This is the Lord's accepted day; <br> Come in, this moment, at His call, <br> And live for Him who died for all. <br>  <br> Source: Redemption Hymnal #<br>285</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
