{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Sinners, turn: why will ye die? <br> God, your Maker, asks you Why; <br> God, who did your being give, <br> Made you with Himself to live. <br> <br>2 Sinners, turn: why will ye die? <br> God, your Savior, asks you why; <br> Will ye not in Him believe? <br> He has died that ye might live. <br> <br>3 Will you let Him die in vain? <br> Crucify your Lord again? <br> Why, ye ransomed sinners, why <br> Will you slight His grace and die? <br> <br>4 Sinners, turn: why will ye die? <br> God, the Spirit, asks you why; <br> Often with you has He strove, <br> Wooed you to embrace His love. <br> <br>5 Will ye not His grace receive? <br> Will ye still refuse to live? <br> O ye dying sinners, why, <br> Why will you forever die? <br>  <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>266</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
