{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Behold a Stranger at the door! <br> He gently knocks, has knocked before, <br> Has waited long, is waiting still: <br> You treat no other friend so ill. <br> <br>2 O lovely attitude! He stands <br> With melting heart and laden hands: <br> O matchless kindness! and He shows <br> This matchless kindness to His foes. <br> <br>3 But will He prove a friend indeed? <br> He will; the very friend you need; <br> The Friend of sinners--yea, 'tis He, <br> With garments dyed on Calvary. <br> <br>4 Rise, touched with gratitude divine; <br> Turn out His enemy and thine, <br> That soul-destroying monster, sin, <br> And let the heavenly Stranger in. <br> Amen. <br>  <br>  <br> Source: Worship and Service Hymnal: For Church, School, and Home #<br>207</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
