{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, let us, who in Christ believe, <br> Our common Saviour praise, <br> To Him with joyful voices give <br> The glory of His grace. <br> <br>2 He now stands knocking at the door <br> Of every sinner's heart; <br> The worst need keep Him out no more, <br> Or force Him to depart. <br> <br>3 Through grace we hearken to Thy voice, <br> Yield to be saved from sin; <br> In sure and certain hope rejoice <br> That Thou wilt enter in. <br> <br>4 Come quickly in, Thou heavenly Guest, <br> Nor ever hence remove; <br> But sup with us, and let the feast <br> Be everlasting love. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>425</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
