{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Pass me not, O gentle Savior, <br> Hear my humble cry, <br> While on others Thou art calling, <br> Do not pass me by. <br> Refrain: <br> Savior, Savior, <br> Hear my humble cry; <br> While on others Thou art calling, <br> Do not pass me by. <br> <br>2 Let me at a throne of mercy <br> Find a sweet relief; <br> Kneeling there in deep contrition, <br> Help my unbelief. [Refrain] <br> <br>3 Trusting only in Thy merit, <br> Would I seek Thy face; <br> Heal my wounded, broken spirit, <br> Save me by Thy grace. [Refrain] <br> <br>4 Thou the Spring of all my comfort, <br> More than life to me, <br> Whom have I on earth beside Thee? <br> Whom in heav'n but Thee? [Refrain] <br>  <br> Source: One Lord, One Faith, One Baptism: an African American ecumenical hymnal #<br>140</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
