{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Immortal, invisible, God only wise, <br> in light inaccessible hid from our eyes, <br> most blessed, most glorious, the Ancient of Days, <br> almighty, victorious, thy great name we praise. <br> <br>2 Unresting, unhasting, and silent as light, <br> nor wanting, nor wasting, thou rulest in might; <br> thy justice like mountains high soaring above <br> thy clouds, which are fountains of goodness and love. <br> <br>3 To all life thou givest, to both great and small; <br> in all life thou livest, the true life of all; <br> we blossom and flourish as leaves on the tree, <br> and wither and perish but naught changeth thee. <br> <br>4 Great Father of glory, pure Father of light, <br> thine angels adore thee, all veiling their sight; <br> all praise we would render, O help us to see <br> 'tis only the splendor of light hideth thee. <br> Worship and Rejoice, <br>2003</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
