{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 When shall thy love constrain <br> And force me to thy breast? <br> When shall my soul return again <br> To her eternal rest? <br> <br>2 Thy condescending grace <br> To me did freely move; <br> It calls me still to seek thy face, <br> And stoops to ask my love. <br> <br>3 Lord, at thy feet I fall, <br> I long to be set free, <br> I fain would now obey the call <br> And give up all to thee. <br> <br>4 Nay, but I yield, I yield! <br> I can hold out no more, <br> I sink, by dying love compelled, <br> And own thee conqueror. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>307</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
