{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, let us to the Lord our God <br> with contrite hearts return; <br> our God is gracious, nor will leave <br> the desolate to mourn.<br>2 His voice commands the tempest forth, <br> and stills the stormy wave; <br> and though his arm be strong to smite, <br> 'tis also strong to save.<br>3 Long has the night of sorrow reigned; <br> the dawn shall bring us light; <br> God shall appear, and we shall rise <br> with gladness in his sight.<br>4 Our hearts, if God we seek to know, <br> shall know him and rejoice; <br> his coming like the morn shall be, <br> like morning songs his voice.<br>5 As dew upon the tender herb, <br> diffusing fragrance round; <br> as showers that usher in the spring, <br> and cheer the thirsty ground:<br>6 So shall his presence bless our souls, <br> and shed a joyful light; <br> that hallowed morn shall chase away <br> the sorrows of the night. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>117a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
