{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Wherewith, O Lord, shall I draw near, <br> Or bow myself before thy face? <br> How in thy purer eyes appear? <br> What shall I bring to gain thy grace? <br> <br>2 Will gifts delight the Lord most high? <br> Will multiply'd oblations please? <br> Thousands of rams his favor buy, <br> Or slaughter'd hecatombs appease? <br> <br>3 Can these assuage the wrath of God? <br> Can these wash out my guilty stain? <br> Rives of oil, or seas of blood, <br> Alas! they all must flow in vain. <br> <br>4 Guilty, I stand before thy face; <br> My sole desert is hell and wrath; <br> 'Twere just the sentence should take place; <br> But Oh, I plead my Saviour's death! <br> <br>5 I plead the merits of thy son <br> Who dy'd for sinners on the tree; <br> I plead his righteousness alone, <br> O put the spotless robe on me. <br>  <br> Source: The Hartford Selection of Hymns: from the most approved authors: to which are added a number never before published (<br>2nd ed.) #LXII</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
