{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Drawn to the cross, which you have blessed <br> with healing gifts for souls distressed, <br> to find in you my life, my rest, <br> Christ crucified, I come. <br> <br>2 How well you know my griefs and fears, <br> your grace abused, my misspent years; <br> so now to you with contrite tears, <br> Christ crucified, I come. <br> <br>3 Wash me and take away each stain; <br> let nothing of my sin remain. <br> For cleansing through your cross and pain, <br> Christ crucified, I come. <br> <br>4 To pledge my labor willingly, <br> which shall so sweet a service be <br> that angels well might envy me, <br> Christ crucified, I come. <br>  <br> Source: Christian Worship: Hymnal #<br>808</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
