{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Just as I am, without one plea, <br> but that thy blood was shed for me, <br> and that thou bidd'st me come to thee, <br> O Lamb of God, I come, I come. <br> <br>2 Just as I am, and waiting not <br> to rid my soul of one dark blot, <br> to thee, whose blood can cleanse each spot, <br> O Lamb of God, I come, I come. <br> <br>3 Just as I am, though tossed about <br> with many a conflict, many a doubt, <br> fightings and fears within, without, <br> O Lamb of God, I come, I come. <br> <br>4 Just as I am, thou wilt receive, <br> wilt welcome, pardon, cleanse, relieve; <br> because thy promise I believe, <br> O Lamb of God, I come, I come. <br> Psalter Hymnal, (Gray)</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
