{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Great God of wonders! all thy ways <br> are matchless, godlike and divine; <br> but the fair glories of thy grace <br> more godlike and unrivaled shine, <br> more godlike and unrivaled shine. <br> Refrain: <br> Who is a pard'ning God like thee? <br> Or who has grace so rich and free? <br> Or who has grace so rich and free? <br> <br>2 In wonder lost, with trembling joy <br> we take the pardon of our God; <br> pardon for crimes of deepest dye, <br> a pardon bought with Jesus' blood, <br> a pardon bought with Jesus' blood. [Refrain] <br> <br>3 O may this strange, this matchless grace, <br> this God-like miracle of love, <br> fill the whole earth with grateful praise, <br> and all th'angelic choirs above, <br> and all th'angelic choirs above. [Refrain] <br>  <br> Source: Trinity Hymnal (Rev. ed.) #<br>82</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
