{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Depth of mercy! Can there be <br> mercy still reserved for me? <br> Can my God His wrath forbear? <br> me, the chief of sinners, spare? <br> <br>2 I have long withstood His grace, <br> long provoked Him to His face; <br> would not hearken to His calls, <br> grieved Him by a thousand falls. <br> <br>3 I my Master have denied; <br> I afresh have crucified, <br> oft profaned His hallowed name, <br> put Him to an open shame. <br> <br>4 There for me the Savior stands, <br> shows His wounds and spreads His hands. <br> God is love! I know, I feel; <br> Jesus weeps, but loves me still! <br> <br>5 Now incline me to repent, <br> let me now my fall lament; <br> now my foul revolt deplore! <br> weep, believe, and sin no more. <br>  <br> Source: Psalms and Hymns to the Living God #<br>205</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
