{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Holy, holy, holy! Lord God Almighty! <br> Early in the morning our song shall rise to Thee; <br> Holy, holy, holy! merciful and mighty! <br> God in three Persons, blessed Trinity! <br> <br>2 Holy, holy, holy! all the saints adore Thee, <br> casting down their golden crowns around the glassy sea; <br> cherubim and seraphim, falling down before Thee, <br> which wert and art and evermore shalt be. <br> <br>3 Holy, holy, holy! though the darkness hide Thee, <br> though the eye of sinful man Thy glory may not see; <br> only Thou art holy, there is none beside Thee, <br> perfect in pow'r, in love, and purity. <br> <br>4 Holy, holy, holy! Lord God Almighty! <br> All Thy works shall praise Thy name, in earth and sky and sea; <br> Holy, holy, holy! merciful and mighty! <br> God in three Persons, blessed Trinity! <br>  <br> Source: Psalms and Hymns to the Living God #<br>153</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
