{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Happy the man who finds the grace, <br> The blessing of God's chosen race, <br> The wisdom coming from above, <br> The faith that sweetly works by love. <br> <br>2 Wisdom divine! who tells the price <br> Of wisdom's costly merchandise? <br> Wisdom to silver we prefer, <br> And gold is dross compared to her. <br> <br>3 Her hands are filled with length of days, <br> True riches, and immortal praise, <br> Riches of Christ on all bestowed, <br> And honour that descends from God. <br> <br>4 To purest joys she all invites, <br> Chaste, holy, spiritual delights; <br> Her ways are ways of pleasantness, <br> And all her flowery paths are peace. <br> <br>5 Happy the man who wisdom gains; <br> Thrice happy, who his guest retains; <br> He owns, and shall for ever own, <br> Wisdom, and Christ, and heaven, are one. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>494</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
