{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Ah! whither should I go, <br> Burdened, and sick, and faint? <br> To whom should I my troubles show <br> And pour out my complaint? <br> <br>2 My Savior bids me come; <br> Ah! why do I delay? <br> He calls the weary sinner home, <br> And yet from Him I stay. <br> <br>3 What is it keeps me back <br> From which I cannot part, <br> Which will not let the Savior take <br> Possession of my heart? <br> <br>4 Some cursed thing unknown <br> Must surely lurk within: <br> Some idol which I will not own, <br> Some secret bosom sin. <br> <br>5 I now believe in Thee; <br> Compassion reigns alone; <br> According to my faith, to me <br> O let it, Lord, be done. <br>  <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>368</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
