{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God of my salvation, hear, <br> And help me to believe; <br> Simply do I now draw near, <br> Thy blessing to receive: <br> Full of guilt alas! I am, <br> But to Thy wounds for refuge flee: <br> Friend of sinners, spotless Lamb, <br> Thy blood was shed for me. <br> <br>2 Nothing have I, Lord, to pay, <br> Nor can Thy grace procure; <br> Empty send me not away, <br> For I, Thou know'st, am poor: <br> Dust and ashes is my name, <br> My all is sin and misery: <br> Friend of sinners, spotless Lamb, <br> Thy blood was shed for me. <br> Amen. <br>  <br> Source: Book of Worship with Hymns and Tunes #<br>397</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
