{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, I was blind: I could not see <br> in thy marred visage any grace; <br> but now the beauty of thy face <br> in radiant vision dawns on me. <br> <br>2 Lord, I was deaf: I could not hear <br> the thrilling music of thy voice; <br> but now I hear thee and rejoice, <br> and all thine uttered words are dear. <br> <br>3 Lord, I was dumb: I could not speak <br> the grace and glory of thy name; <br> but now, as touched with living flame, <br> my lips thine eager praises wake. <br> <br>4 Lord, I was dead: I could not stir <br> my lifeless soul to come to thee; <br> but now, since thou hast quickened me, <br> I rise from sin's dark sepulcher. <br> <br>5 Lord, thou hast made the blind to see, <br> the deaf to hear, the dumb to speak, <br> the dead to live; and lo, I break <br> the chains of my captivity! <br>  <br>  <br> Source: Trinity Hymnal (Rev. ed.) #<br>555</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
