{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O Father, Thou whose love profound <br> a ransom for our souls hath found, <br> before Thy throne we sinners bend; <br> to us Thy pard'ning love extend. <br> <br>2 Almighty Son, Incarnate Word, <br> our Prophet, Priest, Redeemer, Lord, <br> before Thy throne we sinners bend; <br> to us Thy saving grace extend. <br> <br>3 Eternal Spirit, by whose breath <br> the soul is raised from sin and death, <br> before Thy throne we sinners bend; <br> to us Thy quick'ning pow'r extend. <br> <br>4 Jehovah! Father, Spirit, Son, <br> mysterious Godhead, Three in One, <br> before Thy throne we sinners bend; <br> grace, pardon, life, to us extend. <br>  <br> Source: Psalms and Hymns to the Living God #<br>182</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
