{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 My Saviour, how shall I proclaim, <br> How pay the mighty debt I owe? <br> Let all I have, and all I am, <br> Ceaseless to all thy glory show. <br> <br>2 Too much to thee I can not give; <br> Too much I can not do for thee; <br> Let all thy love, and all thy grief, <br> Graven on my heart for ever be. <br> <br>3 The meek, the still, the lowly mind, <br> Oh, may I learn from thee, my God! <br> And love, with softest pity joined, <br> For those that trample on thy blood! <br> <br>4 Still let thy tears, thy groans, thy sighs <br> O'erflow my eyes, and heave my breast; <br> Till, loose from flesh and earth, I rise, <br> And ever in thy bosom rest. <br>  <br> Source: The Voice of Praise: a collection of hymns for the use of the Methodist Church #<br>815</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
