{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Just as I am, Thine own to be, <br> Friend of the young, who lovest me, <br> To consecrate myself to Thee, <br> O Jesus Christ, I come. <br> <br>2 In the glad morning of my day, <br> My life to give, my vows o pay, <br> With no reserve and no delay, <br> With all my heart I come. <br> <br>3 I would live ever in the light, <br> I would work ever for the right, <br> I would serve Thee with all my might; <br> Therefore to Thee I come. <br> <br>4 Just as I am, young, strong, and free, <br> To be the best that I can be <br> For truth, and righteousness and Thee, <br> Lord of my life, I come. <br> Amen. <br>  <br> Source: Worship and Service Hymnal: For Church, School, and Home #<br>505</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
