{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Saviour, while my heart is tender, <br> I would yield that heart to thee, <br> all my powers to thee surrender, <br> thine, and only thine, to be. <br> <br>2 Take me now, Lord Jesus, take me; <br> let my youthful heart be thine; <br> thy devoted servant make me; <br> fill my soul with love divine. <br> <br>3 Send me, Lord, where thou wilt send me, <br> only do thou guide my way; <br> may thy grace through life attend me, <br> gladly then shall I obey. <br> <br>4 Let me do thy will or bear it; <br> I would know no will but thine; <br> should'st thou take my life or spare it, <br> I that life to thee resign. <br> <br>5 Thine I am, O Lord, forever, <br> to thy service set apart; <br> suffer me to leave thee never; <br> seal thine image on my heart. <br>  <br> Source: CPWI Hymnal #<br>674</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
