{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord of life and King of glory, <br> Who didst deign a child to be, <br> Cradled on a motherÂs bosom, <br> Throned upon a motherÂs knee: <br> For the children Thou hast given <br> We must answer unto Thee. <br> <br>2 Grant us then pure hearts and patient, <br> That in all we do or say <br> Little souls our deeds may copy, <br> And be never led astray; <br> Little feet our steps may follow <br> In a safe and narrow way. <br> <br>3 When our growing sons and daughters <br> Look on life with eager eyes, <br> Grant us then a deeper insight <br> And new pow'rs of sacrifice: <br> Hope to trust them, faith to guide them, <br> Love that nothing good denies. <br> <br>4 May we keep our holy calling <br> Stainless in its fair renown, <br> That, when all the work is over <br> And we lay the burdens down, <br> Then the children Thou hast given <br> Still may be our joy and crown. <br>  <br>  <br> Source: Hymns for a Pilgrim People: a congregational hymnal #<br>513</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
