{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 What shall I render to my God <br> For all His mercyÂs store? <br> IÂll take the gifts He hath bestowed, <br> And humbly ask for more. <br> <br>2 My vows I will to His great name <br> Before His people pay, <br> And all I have, and all I am, <br> Upon His altar lay. <br> <br>3 Thy lawful servant, Lord, I owe <br> To Thee whateÂer is mine, <br> Born in Thy family below, <br> And by redemption Thine. <br> <br>4 The God of all-redeeming grace <br> My God I will proclaim, <br> Offer the sacrifice of praise, <br> And call upon His name. <br> <br>5 Praise Him, ye saints, the God of love, <br> Who hath my sins forgiven, <br> Till, gathered to the Church above, <br> We sing the songs of heaven. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>479</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
