{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 GodÂs trumpet wakes the slumbÂring world, <br> Now each man to his post! <br> The red-cross banner is unfurledÂ <br> Who join the glorious host? <br> He who is fealty to the truth, <br> And counting all the cost, <br> Doth consecrate his genÂrous youth,Â <br> He joins the noble host. <br> <br>2 He who, no anger on his tongue, <br> Nor any idle boast, <br> Bears steadfast witness Âgainst the wrong,Â <br> He joins the sacred host. <br> He who, with calm, undaunted will, <br> NeÂer counts the battle lost, <br> But, thoÂ defeated, battles still,Â <br> He joins the faithful host. <br> <br>3 He who is ready for the cross, <br> The cause despised loves most, <br> And shuns not pain, or shame, or loss,Â <br> He joins the martyr-host. <br> GodÂs trumpet wakes the slumbÂring world, <br> Now each man to his post! <br> The red-cross banner is unfurled; <br> We join the glorious host. <br>  <br> Source: Williston Hymns #<br>36</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
