{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 *Faith of the martyrs, living still <br> in spite of dungeon, fire, and sword; <br> oh, how our hearts beat high with joy <br> wheneÂer we hear that glorious word! <br> Refrain: <br> Faith of the martyrs, holy faith, <br> we will be true to thee till death. <br> <br>2 The martyrs chained in prison cells <br> were still in heart and conscience free, <br> and blessÂd would be their childrenÂs fate <br> if they, like them, should die for thee! [Refrain] <br> <br>3 Faith of the martyrs, we will love <br> both friend and foe in all our strife, <br> and preach thee, too, as love knows how, <br> by saving word and faithful life! [Refrain] <br> *Alternate phrases: ÂFaith of our fathersÂ or ÂFaith of our mothersÂ <br>  <br> Source: Voices Together #<br>575</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
