{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 MY God, the spring of all my joys, <br> The life of my delights, <br> The glory of my brightest days, <br> And comfort of my nights!<br>2 In darkest shades, if Thou appear, <br> My dawning is begun: <br> Thou art my soulÂs bright morning star, <br> And Thou my rising sun.<br>3 The opening heavens around me shine, <br> With beams of sacred bliss, <br> If Jesus shows His mercy mine, <br> And whispers I am His.<br>4 My soul would leave this heavy clay, <br> At that transporting word; <br> Run up with joy the shining way, <br> To meet my dearest Lord. <br>  <br> Source: Redemption Hymnal #<br>72</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
