{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The glory of the spring, how sweet! <br> The new-born life, how glad! <br> What joy the happy earth to greet <br> In spring's bright raiment clad! <br> <br>2 Divine Redeemer, Thee we bless <br> For Thy great love and power, <br> And greet Thee for Thy loveliness <br> Expressed in leaf and flower. <br> <br>3 Oh may we be, by Thy great power, <br> Renewed these spring-tide days; <br> And so reflect Thee in each hour <br> That all shall give Thee praise. <br> <br>4 Still let new life and strength upspring, <br> Still let new joy be given; <br> And grant the glad new song to ring <br> Throughout the earth and heaven. <br> Amen. <br>  <br> Source: The Hymnal of The Evangelical United Brethren Church #<br>420</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
