{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, we that love the Lord, <br> and let our joys be known; <br> join in a song with sweet accord, <br> and thus surround the throne. <br> <br>2 Let those refuse to sing <br> who never knew our God; <br> but children of the heav'nly King <br> may speak their joys abroad. <br> <br>3 The hill of Zion yields <br> a thousand sacred sweets <br> before we reach the heav'nly fields, <br> or walk the golden streets. <br> <br>4 Then let our songs abound, <br> and every tear be dry; <br> we're marching through Emmanuel's ground <br> to fairer worlds on high. <br>  <br> Source: Psalms and Hymns to the Living God #<br>162</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
