{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Happy are they, they that love God, <br> whose hearts have Christ confest, <br> who by his cross have found their life, <br> and 'neath his yoke their rest.<br>2 Glad is the praise, sweet are the songs, <br> when they together sing; <br> and strong the prayers that bow the ear <br> of heaven's eternal King.<br>3 Christ to their homes giveth his peace, <br> and makes their loves his own: <br> but ah, what tares the evil one <br> hath in his garden sown!<br>4 Sad were our lot, evil this earth, <br> did not its sorrows prove <br> the path whereby the sheep may find <br> the fold of Jesus' love.<br>5 Then shall they know, they that love him, <br> how all their pain is good; <br> and death itself cannot unbind <br> their happy brotherhood. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>653</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
