{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O what shall I do my Saviour to praise, <br> So faithful and true, so plenteous in grace, <br> So strong to deliver, so good to redeem <br> The weakest believer that hangs upon him? <br> <br>2 How happy the man whose heart is set free, <br> The people that can be joyful in thee; <br> Their joy is to walk in the light of thy face, <br> And still they are talking of JesusÂ grace. <br> <br>3 Their daily delight shall be in thy name, <br> They shall as their right thy righteousness claim; <br> Thy righteousness wearing, and cleansed by thy blood, <br> Bold shall they appear in the presence of God. <br> <br>4 Yes, Lord, I shall see the bliss of thine own, <br> Thy secret to me shall soon be made known; <br> For sorrow and sadness I joy shall receive, <br> And share in the gladness of all that believe. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>372</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
