{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I am so glad that our Father in heaven <br> Tells of His love in the Book He has given; <br> Wonderful things in the Bible I see, <br> This is the dearest, that Jesus loves me. <br> Refrain: <br> I am so glad that Jesus loves me, <br> Jesus loves me, Jesus loves me; <br> I am so glad that Jesus loves me, <br> Jesus loves even me. <br> <br>2 Though I forget Him and wander away, <br> Kindly He follows wherever I stray; <br> Back to His dear loving arms would I flee, <br> When I remember that Jesus loves me. [Refrain] <br> <br>3 O, if there's only one song I can sing, <br> When in His beauty I see the great King, <br> This shall my song in eternity be: <br> O, what a wonder that Jesus loves me! [Refrain] <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>554</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
