{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Blessed assurance, Jesus is mine! <br> Oh, what a foretaste of glory divine! <br> Heir of salvation, purchase of God, <br> born of his Spirit, washed in his blood. <br> Refrain: <br> This is my story, this is my song, <br> praising my Savior all the day long. <br> This is my story, this is my song, <br> praising my Savior all the day long. <br> <br>2 Perfect communion, perfect delight, <br> visions of rapture now burst on my sight. <br> Angels descending bring from above <br> echoes of mercy, whispers of love. [Refrain] <br> <br>3 Perfect submission, all is at rest. <br> I in my Savior am happy and blessÂd, <br> watching and waiting, looking above, <br> filled with his goodness, lost in his love. [Refrain] <br>  <br> Source: Voices Together #<br>435</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
