{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. My God, my King, Thy praise I sing, <br> My heart is all Thine own; <br> My highest powers, my choicest hours, <br> I yield to Thee alone. <br> <br>2. My voice awake, thy part to take; <br> My soul, the concert join; <br> Till all around shall catch the sound, <br> And mix their hymns with mine. <br> <br>3. But man is weak Thy praise to speak; <br> Your God, ye angels, sing; <br> ÂTis yours to see, more near than we, <br> The glories of our King. <br> <br>4. His truth and grace fill time and space; <br> As large His honors be <br> Till all that live their homage give <br> And praise my God with me. <br>  <br> Source: The Cyber Hymnal #<br>4230</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
