{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God of my life, through all my days <br> I'll tune the grateful notes of praise; <br> The song shall wake with opening light, <br> And warble to the silent night. <br> <br>2 When anxious care would break my rest, <br> And grief would tear my throbbing breast, <br> The notes of praise ascending high <br> Shall check the murmur of the sigh. <br> <br>3 When death o'er nature shall prevail, <br> And all the powers of language fail, <br> Joy through my swimming eyes shall break, <br> And mean the thanks I cannot speak. <br> <br>4 But, O, when that last conflict's o'er, <br> And I am chained to earth no more, <br> With what glad accents shall I rise <br> To join the glad music of the skies! <br> <br>5 Then shall I learn th'exalted strains <br> That echo through the heavenly plains, <br> And emulate with joy unknown <br> The glowing seraph 'round Thy throne. <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>13</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
