{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 There is a book that all may read, <br> Which heavenly truth imparts; <br> And all the lore its scholars need, <br> And all the lore its scholars need, <br> Pure eyes and Christian hearts. <br> <br>2 The works of God above, below, <br> Within us, and around, <br> Are pages in that book, to show <br> How God himself is found. <br> <br>3 The glorious sky, embracing all, <br> Is like the Maker's love, <br> Wherewith encompassed, great and small, <br> In peace and order move. <br> <br>4 The dew of heaven is like thy grace, <br> It steals in silence down; <br> But where it falls, the favored place <br> By richest fruits is known. <br> <br>5 Thou who has given me eyes to see, <br> And love for what is fair, <br> Give me a heart to find out thee, <br> And read thee everywhere. <br>  <br> Source: The Seventh-Day Adventist Hymn and Tune Book: for use in divine worship #<br>80</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
