{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br><br>1 Jesus, my Lord, my God, my all, <br> hear me, blest Savior, when I call; <br> hear me, and from thy dwelling place <br> pour down the riches of thy grace. <br> Refrain: <br> Jesus, my Lord, I thee adore; <br> O make me love thee more and more. <br> <br><br><br>2 Jesus, too late I thee have sought; <br> how can I love thee as I ought? <br> And how extol thy matchless fame, <br> the glorious beauty of thy name? [Refrain] <br> <br><br><br>3 Jesus, what didst thou find in me <br> that thou hast dealt so lovingly? <br> How great the joy that thou hast brought, <br> so far exceeding hope or thought! [Refrain] <br> <br><br><br>4 Jesus, of thee shall be my song; <br> to thee my heart and soul belong; <br> all that I have or am is thine, <br> and thou, blest Savior, thou art mine. [Refrain] <br>  <br> Source: Trinity Psalter Hymnal #<br><br><br>495</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
