{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Happy the heart where graces reign, <br> Where love inspires the breast; <br> Love is the brightest of the train, <br> And strengthens all the rest. <br> <br>2 Knowledge, alas! 'tis all in vain, <br> And all in vain our fear; <br> Our stubborn sins will fight and reign, <br> If love be absent there. <br> <br>3 'Tis love that makes our cheerful feet <br> In swift obedience move; <br> The devils know, and tremble too; <br> But devils do not love. <br> <br>4 This is the grace that lives and sings <br> When faith and hope shall cease; <br> 'Tis this shall strike our joyful strings <br> In the sweet, realms of bliss. <br> Amen. <br>  <br>  <br> Source: Book of Worship with Hymns and Tunes #<br>454</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
