{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O Love that will not let me go, <br> I rest my weary soul in thee. <br> I give thee back the life I owe, <br> that in thine ocean depths its flow <br> may richer, fuller be. <br> <br>2 O Light that follows all my way, <br> I yield my flickÂring torch to thee. <br> My heart restores its borrowed ray, <br> that in thy sunshineÂs blaze its day <br> may brighter, fairer be. <br> <br>3 O Joy that seekest me through pain, <br> I cannot close my heart to thee. <br> I trace the rainbow through the rain, <br> and feel the promise is not vain, <br> that morn shall tearless be. <br> <br>4 O Cross that liftest up my head, <br> I dare not ask to fly from thee. <br> I lay in dust, lifeÂs glory dead, <br> and from the ground there blossoms red, <br> life that shall endless be. <br>  <br> Source: Voices Together #<br>608</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
