{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 What shall I do my God to love, <br> my loving God to praise? <br> the length, and breadth, and height to prove, <br> and depth of sovereign grace? <br> <br>2 Your sovereign grace to all extends, <br> immense and unconfined; <br> from age to age it never ends, <br> to reach all humankind. <br> <br>3 Throughout the world its breadth is known, <br> wide as infinity; <br> so wide it never passed by one, <br> or it had passed by me. <br> <br>4 My trespass was grown up to heav'n; <br> but far above the skies, <br> in Christ abundantly forgiv'n, <br> I see your mercies rise. <br> <br>5 The depth of all-redeeming love, <br> what angel tongue can tell? <br> O may I to the utmost prove <br> the gift unspeakable. <br> <br>6 Come quickly, gracious Lord, and take <br> possession of your own; <br> my longing heart be pleased to make <br> your everlasting throne. <br>  <br>  <br> Source: Together in Song: Australian hymn book II #<br>122</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
