{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 As pants the hart for cooling streams <br> when heated in the chase, <br> so longs my soul, O God, for thee, <br> and thy refreshing grace. <br> <br>2 For thee, my God, the living God, <br> my thirsty soul doth pine: <br> O when shall I behold thy face, <br> thou majesty divine? <br> <br>3 Why restless, why cast down, my soul? <br> Hope still, and thou shalt sing <br> the praise of him who is thy God, <br> thy health's eternal spring. <br> <br>4 To Father, Son, and Holy Ghost, <br> the God whom we adore, <br> be glory, as it was, is now, <br> and shall be evermore. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>591</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
