{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Forever here my rest shall be, <br> Close to Thy bleeding side. <br> This all my hope, and all my plea. <br> "For me the Saviour died." <br> <br>2 My dying Saviour, and my God, <br> Fountain for guilt and sin, <br> Sprinkle me ever with Thy blood, <br> And cleanse, and keep me clean. <br> <br>3 Wash me, and make me thus Thine own; <br> Wash me, and mine Thou art; <br> Wash me, but not my feet aloneÂ- <br> My hands, my head, my heart. <br> <br>4 The atonement of Thy blood apply, <br> Till faith to sight improve; <br> Till hope in full fruition die, <br> And all my soul be love. <br>  <br> Source: Praise and Worship: hymnal #<br>51</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
