{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Now to the haven of thy breast, <br> O Son of man, I fly; <br> Be thou my refuge and my rest, <br> For oh! the storm is high. <br> <br>3 Protect me from the furious blast; <br> My shield and shelter be; <br> Hide me, my Saviour, till o'erpast <br> The storm of sin I see. <br> <br>3 As welcome as the water-spring <br> Is to a barren place, <br> Jesus, descend on me, and bring <br> Thy sweet, refreshing grace. <br> <br>4 As o'er a parched and weary land <br> A rock extends its shade, <br> So hide me, Saviour, with thy hand, <br> And screen my naked head. <br> <br>5 How swift to save me didst thou move <br> In every trying hour! <br> O still protect me with thy love, <br> And shield me with thy power. <br>  <br> Source: The Seventh-Day Adventist Hymn and Tune Book: for use in divine worship #<br>756</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
