{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 We sing the mighty power of God <br> that made the mountains rise, <br> that spread the flowing seas abroad <br> and built the lofty skies. <br> We sing the wisdom that ordained <br> the sun to rule the day; <br> the moon shines full at his command, <br> and all the stars obey. <br> <br>2 We sing the goodness of the Lord <br> that filled the earth with food; <br> he formed the creatures with his word <br> and then pronounced them good. <br> Lord, how your wonders are displayed, <br> where'er we turn our eyes, <br> if we survey the ground we tread <br> or gaze upon the skies. <br> <br>3 There's not a plant or flower below <br> but makes your glories known, <br> and clouds arise and tempests blow <br> by order from your throne; <br> while all that borrows life from you <br> is ever in your care, <br> and everywhere that we can be, <br> you, God, are present there. <br> Psalter Hymnal, <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
