{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, the all sustaining Word, <br> My fallen spirit's hope, <br> After thy lovely likeness, Lord, <br> O when shall I wake up? <br> <br>2 Thou, O my God, thou only art <br> The life, the truth, the way; <br> Quicken my soul, instruct my heart, <br> My sinking footsteps stay. <br> <br>3 Of all thou hast in earth below, <br> In heav'n above to give, <br> Give me thine only self to know, <br> In thee to walk and live. <br> <br>4 Fill me with all the life of love, <br> In mystic union join <br> Me to thyself, and let me prove <br> The fellowship divine. <br> <br>5 Open the intercourse between <br> My longing soul and thee, <br> Never to be broke off again <br> Through all eternity. <br>  <br> Source: Christian's Duty, exhibited in a series of hymns: collected from various authors, designed for the worship of God, and for the edification of Christians, recommended to the serious..(<br>4th ed. improved) #S<br>65</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
