{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Still with Thee, O my God, <br> I would desire to be, <br> By day, by night, at home, abroad, <br> I would be still with Thee. <br> <br>2 With Thee when dawn comes in <br> And calls me back to care, <br> Each day returning to begin <br> With Thee, my God, in prayer. <br> <br>3 With Thee amid the crowd <br> That throngs the busy mart, <br> To hear Thy voice, where time's is loud, <br> Speak softly to my heart. <br> <br>4 With Thee when darkness brings <br> The signal of repose, <br> Calm in the shadow of Thy wings, <br> Mine eyelids I would close. <br> <br>5 With Thee, in Thee, by faith <br> Abiding, I would be; <br> By day, by night, in life, in death, <br> I would be still with Thee. <br> Amen. <br>  <br> Source: The Hymnal #<br>100</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
