{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Hark, how the watchmen cry! <br> Attend the trumpet's sound! <br> Stand to your arms, the foe is nigh! <br> The powers of hell surround. <br> <br>2 Who bow to Christ's command, <br> Your arms and hearts prepare; <br> The day of battle is at hand; <br> Go forth to glorious war! <br> <br>3 See, on the mountain top, <br> The standard of your God. <br> In Jesus' name I left it up, <br> All stained with hallowed blood. <br> <br>4 His standard-bearer, I <br> To all the nations call: <br> Let all to Jesus' cross draw nigh, <br> He bore the cross for all. <br> <br>5 All power to Him is given! <br> He ever reigns the same. <br> Salvation happiness, and heaven <br> Are all in Jesus' name. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>223</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
