{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I'm not ashamed to own my Lord, <br> or to defend his cause, <br> maintain the honor of his Word, <br> the glory of his cross. <br> <br>2 Jesus, my God! I know his name, <br> his name is all my trust; <br> nor will he put my soul to shame, <br> nor let my hope be lost. <br> <br>3 Firm as his throne his promise stands, <br> and he can well secure <br> what I've committed to his hands <br> 'til the decisive hour. <br> <br>4 Then will he own my worthless name <br> before his Father's face, <br> and in the new Jerusalem <br> appoint my soul a place. <br>  <br> Source: Trinity Psalter Hymnal #<br>186</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
