{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Arm of the Lord, awake, awake! <br> thine own immortal strength put on; <br> with terror clothed, hell's kingdom shake <br> and cast thy foes forever down. <br> <br>2 As in the ancient times appear; <br> the sacred annals speak thy fame: <br> be now omnipotently near, <br> to endless ages still the same. <br> <br>3 Thy arm, Lord, is not shortened now; <br> it lacks not now the pow'r to save; <br> still present with thy people, thou <br> bear'st them through life's disparted wave. <br> <br>4 By death and hell pursued in vain, <br> to thee the ransomed seed shall come, <br> shouting their heav'nly Zion gain, <br> and pass through death triumphant home. <br> <br>5 Where pure essential joy is found, <br> the Lord's redeemed their heads shall raise, <br> with everlasting gladness crowned, <br> and filled with love, and lost in praise. <br>  <br>  <br> Source: Rejoice in the Lord #<br>52</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
