{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Oft in danger, oft in woe, <br> onward, Christians, onward go; <br> bear the toil, maintain the strife, <br> strengthened with the bread of life.<br>2 Onward, Christians, onward go, <br> join the war, and face the foe; <br> will ye flee in danger's hour? <br> Know ye not your Captain's power?<br>3 Let not sorrow dim your eye; <br> soon shall every tear be dry: <br> let not fears your course impede; <br> great your strength, if great your need.<br>4 Let your drooping hearts be glad; <br> march in heavenly armour clad; <br> fight, nor think the battle long: <br> soon shall victory wake your song.<br>5 Onward then in battle move; <br> more than conquerors ye shall prove: <br> though opposed by many a foe, <br> Christian soldiers, onward go. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>755</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
