{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Workman of God! O lose not heart, <br> But learn what God is like; <br> And in the darkest battlefield <br> Thou shalt know where to strike. <br> <br>2 Thrice blest is he to whom is given <br> The instinct that can tell <br> That God is on the field, when He <br> Is most invisible. <br> <br>3 Blest too is he who can divine <br> Where real right doth lie, <br> And dares to take the side that seems <br> Wrong to manÂs blindfold eye. <br> <br>4 Then learn to scorn the praise of men, <br> And learn to lose with God; <br> For Jesus won the world through shame, <br> And beckons thee His road. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>367</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
