{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Fight the good fight with all your might, <br> Christ is your strength and Christ your right. <br> Lay hold on life, and it shall be <br> your joy and crown eternally. <br> <br>2 Run the straight race through God's good grace; <br> lift up your eyes, and seek his face. <br> Life with its way before us lies; <br> Christ is the path and Christ the prize. <br> <br>3 Cast care aside, lean on your guide; <br> his boundless mercy will provide. <br> Lean, and the trusting soul shall prove <br> Christ is its life and Christ its love. <br> <br>4 Faint not, nor fear, his arms are near; <br> he changes not, and you are dear. <br> Only believe, and you will see <br> that Christ is Lord eternally. <br>  <br> Source: Christian Worship: Hymnal #<br>876</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
