{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 I the good fight have fought-- <br> Oh, when shall I declare! <br> The vict'ry by my Saviour got, <br> I long with Paul to share. <br> <br><br>2 Oh, may I triumph so, <br> When all my warfare's past; <br> And, dying, find my latest foe <br> Under my feet at last! <br> <br><br>3 This blessed word be mine, <br> Just as the port is gained-- <br> Kept by the power of grace divine, <br> I have the faith maintained. <br> <br><br>4 The apostles of my Lord, <br> To whom it first was given, <br> They could not speak a greater word, <br> Nor all the saints in heaven. <br>  <br> Source: The Voice of Praise: a collection of hymns for the use of the Methodist Church #<br><br>644</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
