{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Rock of Ages, cleft for me, <br> let me hide myself in thee; <br> let the water and the blood, <br> from thy wounded side which flowed, <br> be of sin the double cure; <br> save from wrath and make me pure. <br> <br>2 Not the labors of my hands <br> can fulfill thy law's demands; <br> could my zeal no respite know, <br> could my tears forever flow, <br> all for sin could not atone; <br> thou must save, and thou alone. <br> <br>3 Nothing in my hand I bring, <br> simply to the cross I cling; <br> naked, come to thee for dress; <br> helpless, look to thee for grace; <br> foul, I to the fountain fly; <br> wash me, Savior, or I die. <br> <br>4 While I draw this fleeting breath, <br> when mine eyes shall close in death, <br> when I soar to worlds unknown, <br> see thee on thy judgment throne, <br> Rock of Ages, cleft for me, <br> let me hide myself in thee. <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
