{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Leave God to order all thy ways, <br> And hope in him whateÂer betide; <br> ThouÂlt find him in the evil days <br> Thy all-sufficient strength and guide; <br> Who trusts in GodÂs unchanging love <br> Builds on the rock that naught can move. <br> <br>2 Only thy restless heart keep still, <br> And wait in cheerful hope, content <br> To take whateÂer his gracious will, <br> His all-discerning love, hath sent; <br> Nor doubt our inmost wants are known <br> To him who chose us for his own. <br> <br>3 Sing, pray, and swerve not from his ways, <br> But do thine own part faithfully; <br> Trust his rich promises of grace, <br> So shall they be fulfilled in thee; <br> God never yet forsook at need <br> The soul that trusted him indeed. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>738</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
