{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O thou to whose all-searching sight <br> The darkness shineth as the light, <br> Search, prove my heart, it pants for thee; <br> O burst these bonds and set it free! <br> <br>2 Wash out its stain, refine its dross, <br> Nail my affections to the cross: <br> Hallow each thought, let all within <br> Be clean, as thou, my Lord, art clean. <br> <br>3 Saviour, whereÂer thy steps I see, <br> Dauntless, untired, IÂll follow thee; <br> O let thy hand support me still <br> And lead me to thy holy hill! <br> <br>4 If rough and thorny be the way, <br> My strength proportion to my day, <br> Till toil and grief and pain shall cease, <br> Where all is calm and joy and peace. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>453</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
