{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Commit thou all thy griefs <br> And ways into His hands, <br> To His sure truth and tender care, <br> Who earth and heaven commands. <br> <br>2 Who points the clouds their course, <br> Whom winds and seas obey, <br> He shall direct thy wandering feet, <br> He shall prepare thy way. <br> <br>3 Thou on the Lord rely, <br> So safe, shalt thou go on; <br> Fix on His work thy steadfast eye, <br> So shall thy work be done. <br> <br>4 No profit canst thou gain <br> By self-consuming care; <br> To Him commend thy cause, His ear <br> Attends the softest prayer. <br> <br>5 Thy everlasting truth, <br> Father, Thy ceaseless love, <br> Sees all Thy children's wants, and knows <br> What best for each will prove. <br> <br>6 Thou everywhere hast sway, <br> And all things serve Thy might, <br> Thy every act pure blessing is, <br> Thy path unsullied light. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>79</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
