{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The God of love my shepherd is, <br> and he that doth me feed; <br> while he is mine and I am his, <br> what can I want or need? <br> <br>2 He leads me to the tender grass, <br> where I both feed and rest; <br> then to the streams that gently pass: <br> in both I have the best. <br> <br>3 Or if I stray, he doth convert, <br> and bring my mind in frame, <br> and all this not for my desert, <br> but for his holy name. <br> <br>4 Yea, in death's shady black abode <br> well may I walk, not fear; <br> for thou art with me, and thy rod <br> to guide, thy staff to bear. <br> <br>5 Surely thy sweet and wondrous love <br> shall measure all my days; <br> and, as it never shall remove, <br> so neither shall my praise. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>792</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
