{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Away, my needless fears <br> And doubts no longer mine! <br> A ray of heavenly light appears, <br> A messenger divine. <br> <br>2 Thrice comfortable hope, <br> That calms my stormy breast; <br> My Father's hand prepares the cup, <br> And what He wills is best. <br> <br>3 He knows whate'er I want; <br> He sees my helplessness, <br> And always readier is to grant <br> Than I to ask His grace. <br> <br>4 My fearful heart He reads, <br> Secures my soul from harms, <br> And underneath His mercy spreads <br> Its everlasting arms. <br> <br>5 Here is firm footing; here, <br> My soul, is solid rock, <br> To break the waves of grief and fear, <br> And trouble's rudest shock: <br> <br>6 This only can sustain <br> When earth and heaven remove: <br> O turn thee to thy Rest again, <br> Thy God's eternal Love! <br>  <br> Source: Church Book: for the use of Evangelical Lutheran congregations #<br>432</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
