{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, as to thy dear cross we flee, <br> and plead to be forgiven, <br> so let thy life our pattern be, <br> and form our souls for heaven. <br> <br>2 Help us, through good report and ill, <br> our daily cross to bear: <br> like thee, to do our FatherÂs will, <br> our brethrenÂs grief to share. <br> <br>3 Let grace our selfishness expel, <br> our earthliness refine; <br> and kindness in our bosoms dwell, <br> as free and true as thine. <br> <br>4 If joy shall at thy bidding fly, <br> and griefÂs dark day come on, <br> we in our turn would meekly cry, <br> 'Father, thy will be done.' <br> <br>5 Kept peaceful in the midst of strife, <br> forgiving and forgiven, <br> O may we lead the pilgrimÂs life <br> and follow thee to heaven. <br>  <br> Source: CPWI Hymnal #<br>505</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
