{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Who fathoms the eternal thought? <br> Who talks of scheme and plan? <br> The Lord is God! He needeth not <br> The poor device of man. <br> <br>2 Here in the maddening maze of things, <br> When tossed by storm and flood, <br> To one fixed ground my spirit clings; <br> I know that God is good! <br> <br>3 I know not what the future hath <br> Of marvel or surprise, <br> Assured alone that life and death <br> His mercy underlies. <br> <br>4 And if my heart and flesh are weak <br> To bear an untried pain, <br> The bruised reed he will not break, <br> But strengthen and sustain. <br> <br>5 No offering of my own I have, <br> Nor works my faith to prove; <br> I can but give the gifts He gave, <br> And plead His love for love. <br> <br>6 I know not where His islands lift <br> Their fronded palms in air; <br> I only know I cannot drift <br> Beyond His love and care. <br>  <br> Source: Churches of Christ Hymn Book #<br>321</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
