{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 He that is down needs fear no fall, <br> he that is low no pride; <br> he that is humble ever shall <br> have God to be his guide. <br> <br>2 I am content with what I have, <br> little be it or much: <br> and, Lord, contentment still I crave, <br> because thou savest such. <br> <br>3 Fullness to such a burden is <br> that go on pilgrimage: <br> here little, and hereafter bliss, <br> is best from age to age. <br>  <br> Source: CPWI Hymnal #<br>405</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
