{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Simply trusting every day, <br> Trusting through a stormy way; <br> Even when my faith is small, <br> Trusting Jesus, that is all. <br> Refrain: <br> Trusting as the moments fly, <br> Trusting as the days go by; <br> Trusting Him whateÂer befall, <br> Trusting Jesus, that is all. <br> <br>2. Brightly doth His Spirit shine <br> Into this poor heart of mine; <br> While He leads I cannot fall; <br> Trusting Jesus, that is all. <br> <br>3. Singing if my way is clear, <br> Praying if the path be drear; <br> If in danger for Him call; <br> Trusting Jesus, that is all. <br> <br>4. Trusting Him while life shall last, <br> Trusting Him till earth be past; <br> Till within the jasper wall, <br> Trusting Jesus, that is all. <br>  <br> Source: <br>50 Favorites: and July <br>2013 index of supplement to Evening Light Songs #<br>44</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
