{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I am trusting you, Lord Jesus, <br> trusting only you; <br> trusting you for full salvation, <br> free and true. <br> <br>2 I am trusting you for pardon; <br> at your feet I bow, <br> for your grace and tender mercy <br> trusting now. <br> <br>3 I am trusting you for cleansing <br> in the crimson flood; <br> trusting you who made me holy <br> by your blood. <br> <br>4 I am trusting you to guide me; <br> you alone shall lead, <br> ev'ry day and hour supplying <br> all my need. <br> <br>5 I am trusting you for power; <br> you can never fail. <br> Words which you yourself shall give me <br> must prevail. <br> <br>6 I am trusting you, Lord Jesus; <br> never let me fall. <br> I am trusting you forever <br> and for all. <br>  <br> Source: Christian Worship: Hymnal #<br>816</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
