{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Through the love of God our Saviour, <br> all will be well. <br> Free and changeless is his favour, <br> all, all is well. <br> Precious is the blood that healed us, <br> perfect is the grace that sealed us, <br> strong the hand stretched forth to shield us, <br> all must be well. <br> <br>2 Though we pass through tribulation, <br> all will be well. <br> Ours is such a full salvation, <br> all, all is well. <br> Happy, still in God confiding, <br> fruitful, if in Christ abiding, <br> holy, through the SpiritÂs guiding, <br> all must be well. <br> <br>3 We expect a bright tomorrow, <br> all will be well. <br> Faith can sing through days of sorrow, <br> 'All, all is well.' <br> On our FatherÂs love relying, <br> Jesus every need supplying, <br> in our living, in our dying, <br> all must be well. <br>  <br> Source: Hymns of Glory, Songs of Praise #<br>562</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
