{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 In heavenly love abiding, <br> no change my heart shall fear; <br> and safe is such confiding, <br> for nothing changes here: <br> the storm may roar without me, <br> my heart may low be laid; <br> but God is round about me, <br> and can I be dismayed?<br>2 Wherever he may guide me, <br> no want shall turn me back; <br> my Shepherd is beside me, <br> and nothing can I lack: <br> his wisdom ever waketh, <br> his sight is never dim, <br> he knows the way he taketh, <br> and I will walk with him.<br>3 Green pastures are before me, <br> which yet I have not seen; <br> bright skies will soon be o'er me, <br> where darkest clouds have been; <br> my hope I cannot measure, <br> my path to life is free; <br> my Saviour has my treasure, <br> and he will walk with me. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>681</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
