{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Oft I in my heart have said, <br> Who shall ascend on high, <br> Mount to Christ my glorious head, <br> And bring him from the sky? <br> Borne on contemplation's wing, <br> Surely I should find him there, <br> Where the angels praise their King, <br> And gain the morning-star. <br> <br>2 Oft I in my heart have said, <br> Who to the deep shall stoop, <br> Sink with Christ among the dead <br> From thence to bring him up? <br> Could I but my heart prepare <br> By unfeign'd humility, <br> Christ would quickly enter there, <br> And ever dwell with me. <br> <br>3 But the righteousness of faith <br> Hath taught me better things: <br> "Inward turn thine eyes," (it saith, <br> While Christ to me it brings) <br> "Christ is ready to impart <br> "Life to all, for life who sigh; <br> "In thy mouth and in thy heart <br> "The word is ever nigh. <br>  <br> Source: A Pocket Hymn Book: designed as a constant companion for the pious, collected from various authors (<br>9th ed.) #HXIV</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
