{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Let everlasting glories crown <br> Thy head, my Saviour and my Lord; <br> Thy hands have brought salvation down, <br> And writ the blessing in Thy Word. <br> <br>2 In vain our trembling conscience seeks <br> Some solid ground to rest upon; <br> With long despair our spirit breaks, <br> Till we apply to Thee alone. <br> <br>3 How well Thy blessed truths agree! <br> How wise and holy Thy commands! <br> Thy promises, how firm they be! <br> How firm our hope and comfort stands! <br> <br>4 Should all the forms that men devise <br> Assault my faith with treacherous art, <br> I'd call them vanity and lies, <br> And bind Thy Gospel to my heart. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>184</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
