{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 From every stormy wind that blows, <br> From every swelling tide of woes, <br> There is a calm, a sure retreat: <br> 'Tis found beneath the mercy seat. <br> <br>2 There is a place where Jesus sheds <br> The oil of gladness on our heads; <br> A place than all beside more sweet: <br> It is the blood-bought mercy seat. <br> <br>3 There is a scene where spirits blend, <br> Where friend holds fellowship with friend; <br> Though sundered far, by faith they meet <br> Around one common mercy seat. <br> <br>4 Ah! there on eagle wings we soar, <br> Where sin and sense molest no more; <br> And heaven comes down our souls to greet, <br> And glory crowns the mercy seat. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>419</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
