{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 My God, is any hour so sweet <br> From blush of morn to evening star, <br> As that which calls me to Thy feet, <br> The hour of prayer? <br> <br><br>2 Then is my strength by Thee renewed; <br> Then are my sins by Thee forgivÂn; <br> Then dost Thou cheer my solitude <br> With hopes of heavÂn. <br> <br><br>3 No words can tell what sweet relief <br> There for my ev'ry want I find. <br> What strength for warfare, balm for grief, <br> What peace of mind! <br> <br><br>4 Hushed is each doubt, gone ev'ry fear; <br> My spirit seems in heavÂn to stay; <br> And eÂen the penitential tear <br> Is wiped away. <br> <br><br>5 Lord, till I reach yon blissful shore, <br> No privilege so dear shall be <br> As thus my inmost soul to pour <br> In prayer to thee. <br> Amen. <br>  <br> Source: Revival Hymns and Choruses #<br><br>360</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
