{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>God, I'll sing out your praise! <br> Your mercies are so great, <br> your anger is so slow to rise, <br> so ready to abate! <br> The pity that you show <br> to those that love your word, <br> is such as tender parents feel: <br> you love your children, Lord. <br> Your power subdues all sins <br> with your forgiving love; <br> as far the east is from the west <br> is all our guilt removed. <br> Your great compassions, God, <br> endure through timeless years; <br> and children's children ever find <br> your promise ends their fears. <br>  <br>  <br> Source: In Melody and Songs: hymns from the Psalm versions of Isaac Watts #<br>58</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
