{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 ETERNAL Light! Eternal Light! <br> How pure the soul must be, <br> When, placed within Thy searching sight, <br> It shrinks not, but, with calm delight, <br> Can live, and look on Thee!<br>2 The spirits that surround Thy throne <br> May bear the burning bliss; <br> But that is surely theirs alone, <br> Since they have never, never known <br> A fallen world like this.<br>3 Oh, how shall I, whose native sphere <br> Is dark, whose mind is dim, <br> Before the Ineffable appear, <br> And on my naked spirit bear <br> The uncreated beam?<br>4 There is a way for man to rise <br> To that sublime abode: <br> An offering and a sacrifice, <br> A Holy SpiritÂs energies, <br> An advocate with God,Â<br>5 These, these prepare us for the sight <br> Of Holiness above: <br> The sons of ignorance and night <br> May dwell in the Eternal Light, <br> Through the Eternal Love! <br>  <br> Source: Redemption Hymnal #<br>60</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
