{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The things my God doth hate, <br> That I no more may do, <br> Thy creature, Lord, again create, <br> And all my soul renew; <br> My soul shall then, like thine, <br> Abhor the thing unclean, <br> And sanctify'd thy love divine, <br> For ever cease from sin. <br> <br>2 That blessed law of thine, <br> Jesu, to me impart; <br> Thy spirit's law of life divine, <br> Oh write it in my heart! <br> Implant it deep within, <br> Whence it may ne'er remove, <br> The law of liberty from sin, <br> The perfect law of love. <br> <br>3 Thy nature be my law, <br> Thy spotless sanctity, <br> And sweetly ev'ry moment draw <br> My happy soul to thee; <br> Soul of my soul remain, <br> Who didst for all fulfil, <br> In me, O Lord fulfil again <br> Thy heav'nly father's will. <br>  <br> Source: A Pocket Hymn Book: designed as a constant companion for the pious, collected from various authors (<br>9th ed.) #LXIX</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
