{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. O come and dwell in me, <br> Spirit of power within, <br> and bring the glorious liberty <br> from sorrow, fear, and sin. <br> <br>2. Hasten the joyful day <br> which shall my sins consume, <br> when old things shall be done away, <br> and all things new become. <br> <br>3. I want the witness, Lord, <br> that all I do is right, <br> according to thy mind and word, <br> well-pleasing in thy sight. <br> <br>4. I ask no higher state; <br> indulge me but in this, <br> and soon or later then translate <br> to thine eternal bliss. <br>  <br>  <br> Source: The United Methodist Hymnal #<br>388</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
