{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Sweet is the memory of Thy grace, <br> My God, my heavenly King! <br> Let age to age Thy righteousness <br> In sounds of glory sing. <br> <br>2 God reigns on high, but ne'er confines <br> His goodness to the skies; <br> Through the whole earth His bounty shines, <br> And every want supplies. <br> <br>3 With longing eyes Thy creatures wait <br> On Thee for daily food; <br> Thy liberal hand provides their meat, <br> And fills their mouths with good. <br> <br>4 How kind are Thy compassions, Lord! <br> How slow Thine anger moves! <br> But soon He sends His pardoning word, <br> To cheer the souls He loves. <br> <br>5 Creatures with all their endless race, <br> Thy power and praise proclaim; <br> But saints, who taste Thy richer grace, <br> Delight to bless Thy Name. <br>  <br> Source: Church Book: for the use of Evangelical Lutheran congregations #<br>75</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
