{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Lord, I believe a rest remains, <br> To all Thy people known, <br> A rest where pure enjoyment reigns, <br> And Thou art loved alone: <br> <br><br>2 A rest, where all our soul's desire <br> Is fixed on things above; <br> Where fear, and sin, and grief expire, <br> Cast out by perfect love. <br> <br><br>3 O that I now the rest might know, <br> Believe, and enter in! <br> Now, Saviour, now the power bestow, <br> And let me cease from sin. <br> <br><br>4 Remove this hardness from my heart, <br> This unbelief remove; <br> To me the rest of faith impart, <br> The Sabbath of Thy love. <br> <br><br>5 I would be Thine, Thou know'st I would, <br> And have Thee all my own; <br> Thee, O my all-sufficient Good! <br> I want, and Thee alone. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br><br>480</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
