{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 In full and glad surrender <br> I give myself to thee, <br> thine utterly and only, <br> and evermore to be. <br> <br><br>2 O Son of God, who lov'st me, <br> I will be thine alone; <br> and all I have and am, Lord, <br> shall henceforth be thine own! <br> <br><br>3 Reign over me, Lord Jesus, <br> O make my heart thy throne; <br> it shall be thine, dear Saviour, <br> it shall be thine alone. <br> <br><br>4 O come and reign, Lord Jesus, <br> rule over ev'rything! <br> and keep me always loyal <br> and true to thee, my King. <br>  <br> Source: Complete Anglican Hymns Old and New #<br><br>322</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
