{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 In all my vast concerns with Thee, <br> In vain my soul would try <br> To shun Thy presence, Lord, or flee <br> The notice of Thine eye. <br> <br>2 My thoughts lie open to the Lord <br> Before they're formed within; <br> And ere my lips pronounce the word, <br> He knows the sense I mean. <br> <br>3 O wondrous knowledge, deep and high, <br> Where can a creature hide? <br> Within Thy circling arms I lie, <br> Enclosed on every side. <br> <br>4 So let Thy grace surround me still, <br> And like a bulwark prove <br> To guard my soul from every ill, <br> Secured by Sovereign love. <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>85</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
