{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Servant of all, to toil for man <br> Thou didst not, Lord, refuse; <br> Thy majesty did not disdain <br> To be employed for us. <br> <br>2. Son of the carpenter, receive <br> This humble work of mine; <br> Worth to my meanest labor give, <br> By joining it to Thine. <br> <br>3. End of my every action Thou, <br> In all things Thee I see; <br> Accept my hallowed labor now, <br> I do it unto Thee. <br> <br>4. Thy bright example I pursue, <br> To Thee in all things rise; <br> And all I think or speak or do <br> Is one great sacrifice. <br> <br>5. Careless through outward cares I go, <br> From all distraction free; <br> My hands are but engaged below, <br> My heart is still with Thee. <br>  <br> Source: The Cyber Hymnal #<br>6169</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
