{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Be it my only wisdom here, <br> To serve the Lord with filial fear, <br> With loving gratitude; <br> Superior sense may I display, <br> By shunning every evil way, <br> And walking in the good. <br> <br>2 O may I still from sin depart! <br> A wise and understanding heart, <br> Jesus, to me be given; <br> And let me through Thy Spirit know <br> To glorify my God below, <br> And find my way to heaven. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>462a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
