{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O loving Lord, who art for ever seeking <br> men of Thy mind, intent to do Thy will, <br> Strong in Thy strength, Thy power and grace bespeaking: <br> Faithful to Thee, through good report and ill... <br> <br>2 To Thee we come, and humbly make confession, <br> Faithless so oft in thought and word and deed, <br> Asking that we may have, in true possession, <br> Thy free forgiveness in the hour of need. <br> <br>3 In duties small, be Thou our inspiration, <br> In large affairs endue with us Thy might, <br> To faithful servants cometh full salvation, <br> So may we serve, Thy will our chief delight. <br> <br>4 Not disobedient to the heavenly vision, <br> Faithful in all things, seeking not reward, <br> Then, following Thee, may we fulfil our mission, <br> True to ourselves, our brethren, and our Lord. <br>  <br> Source: Churches of Christ Hymn Book #<br>388</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
