{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Dismiss me not thy service, Lord, <br> But train me for thy will; <br> For even I, in fields so broad, <br> Some duties may fulfill; <br> And I will ask for no reward, <br> Except to serve thee still. <br> <br>2 How many serve, how many more <br> May to the service come! <br> To tend the vines, the grapes to store, <br> Thou dost appoint for some: <br> Thou hast thy young men at the war, <br> Thy little ones at home. <br> <br>3 All works are good, and each is best <br> As most it pleases thee; <br> Each worker pleases when the rest <br> He serves in charity; <br> And neither man nor work unblest, <br> Wilt thou permit to be. <br> <br>4 Our Master all the work hath done <br> He asks of us to-day; <br> Sharing his service, every one <br> Share too his sonship may; <br> Lord, I would serve and be a son: <br> Dismiss me not, I pray. <br>  <br> Source: Laudes Domini: a selection of spiritual songs, ancient and modern for use in the prayer-meeting #<br>446</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
