{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Ye servants of the Lord, <br> each in his office wait, <br> observant of his heavenly word, <br> and watchful at his gate. <br> <br>2 Let all your lamps be bright, <br> and trim the golden flame; <br> gird up your loins as in his sight, <br> for aweful is his name. <br> <br>3 Watch! 'tis your Lord's command, <br> and while we speak, he's near; <br> mark the first signal of his hand, <br> and ready all appear. <br> <br>4 O happy servant he <br> in such a posture found! <br> he shall his Lord with rapture see, <br> and be with honour crowned. <br> <br>5 Christ shall the banquet spread <br> with his own royal hand, <br> and raise that faithful servant's head <br> amid the angelic band. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>57</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
