{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Rise up, O saints of God! <br> Have done with lesser things; <br> Give heart and soul and mind and strength <br> To serve the King of kings. <br> <br>2 Rise up, O saints of God! <br> The kingdom tarries long; <br> Bring in the day of Christlike love <br> And end the night of wrong. <br> <br>3 Lift high the cross of Christ! <br> Tread where his feet have trod; <br> Led onward by the Son of Man, <br> Rise up, O saints of God! <br>  <br>  <br> Source: One in Faith #<br>718</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
