{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Teach me, my God and King, <br> in all things Thee to see, <br> and what I do in anything, <br> to do it as for Thee. <br> <br>2 To scorn the sensesÂ sway, <br> while still to Thee I tend; <br> in all I do be Thou the Way, <br> in all be Thou the End. <br> <br>3 All may of Thee partake; <br> nothing so small can be, <br> but draws, when acted for Thy sake, <br> greatness and worth from Thee. <br> <br>4 If done t'obey Thy laws, <br> eÂen servile labors shine; <br> hallowed is toil, if this the cause, <br> the meanest work divine. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>359</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
