{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Sow in the morn thy seed, <br> At eve hold not thy hand; <br> To doubt and fear give thou no heed, <br> Broadcast it o'er the land. <br> <br>2 Thou know'st not which may thrive, <br> The late or early sown, <br> God keeps his precious seed alive, <br> When and wherever strown. <br> <br>3 Thou canst not toil in vain; <br> Cold, heat, and moist, and dry, <br> Shall foster and mature the grain <br> For garners in the sky. <br> <br>4 Thence, when the glorious end, <br> The day of God is come, <br> The angel reapers shall descend, <br> And heav'n cry "Harvest Home." <br> Amen. <br>  <br> Source: Trinity Hymnal #<br>299</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
