{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Eternal Power, whose high abode <br> Becomes the grandeur of a God, <br> Infinite lengths beyond the bounds <br> Where stars revolve their little rounds: <br> <br>2 Thee while the first archangel sings, <br> He hides his face behind his wings; <br> And ranks of shining ones around <br> Fall worshipping and spread the ground. <br> <br>3 Lord, what shall earth and ashes do? <br> We would adore our Maker too! <br> From sin and dust to thee we cry, <br> The great, the holy, and the high! <br>  <br>  <br> Source: The New English Hymnal #<br>207</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
