{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father, I know that all my life <br> is portioned out for me; <br> the changes that are sure to come <br> I do not fear to see: <br> I ask thee for a present mind, <br> intent on pleasing thee. <br> <br>2 I would not have the restless will <br> that hurries to and fro, <br> seeking for some great thing to do <br> or secret thing to know; <br> I would be treated as a child, <br> and guided where to go. <br> <br>3 I ask thee for the daily strength, <br> to none that ask denied, <br> a mind to blend with outward life, <br> while keeping at thy side, <br> content to fill a little space, <br> if thou be glorified. <br> <br>4 In service which thy will appoints <br> there are no bonds for me; <br> my secret heart is taught the truth <br> that makes thy children free; <br> a life of self-renouncing love <br> is one of liberty. <br>  <br> Source: Trinity Psalter Hymnal #<br>500</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
