{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Jesus, let all Thy lovers shine, <br> Illustrious as the sun; <br> And, bright with borrowed rays divine, <br> Their glorious circuit run. <br> <br>2. Beyond the reach of mortals, spread <br> Their light whereÂer they go; <br> And heavenly influences shed <br> On all the world below. <br> <br>3. As giants may they run their race, <br> Exulting in their might; <br> As burning luminaries, chase <br> The gloom of hellish night. <br> <br>4. As the great sun of righteousness, <br> Their healing wings display; <br> And let their luster still increase <br> Unto the perfect day. <br>  <br>  <br> Source: The Cyber Hymnal #<br>3354</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
