{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Fill thou my life, O Lord my God, <br> in ev'ry part with praise, <br> that my whole being may proclaim <br> thy being and thy ways. <br> Not for the lip of praise alone, <br> nor e'en the praising heart, <br> I ask, but for a life made up <br> of praise in ev'ry part: <br> <br>2 Praise in the common words I speak, <br> life's common looks and tones, <br> in fellowship enjoyed at home <br> with my beloved ones, <br> enduring wrong, reproach, or loss <br> with sweet and steadfast will, <br> forgiving freely those who hate, <br> returning good for ill. <br> <br>3 So shall each fear, each fret, each care <br> be turned into a song, <br> and ev'ry winding of the way <br> the echo shall prolong. <br> So shall no part of day or night <br> from sacredness be free, <br> but all my life, in ev'ry step, <br> be fellowship with thee. <br>  <br>  <br> Source: Trinity Psalter Hymnal #<br>534</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
