{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Jesus, the gift divine I know; <br> The gift divine I ask of thee; <br> That living water now bestow, <br> Thy Spirit and thyself, on me; <br> Thou, Lord, of life the fountain art, <br> Now let me find thee in my heart. <br> <br><br>2 Thee let me drink, and thirst no more <br> For drops of finite happiness; <br> Spring up, O Well, in heavenly power, <br> In streams of pure perennial peace, <br> In joy that none can take away, <br> In life which shall for ever stay. <br> <br><br>3 Father, on me the grace bestow, <br> And make me blameless in thy sight, <br> Whence all the streams of mercy flow; <br> Mercy, thine own supreme delight, <br> To me, for JesusÂ sake impart, <br> And plant thy nature in my heart. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br><br>601</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
