{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lead us, heavenly Father, lead us <br> o'er the world's tempestuous sea; <br> guard us, guide us, keep us, feed us, <br> for we have no help but thee; <br> yet possessing every blessing, <br> if our God our Father be.<br>2 Saviour, breathe forgiveness o'er us: <br> all our weakness thou dost know; <br> thou didst tread this earth before us, <br> thou didst feel its keenest woe; <br> lone and dreary, faint and weary, <br> through the desert thou didst go.<br>3 Spirit of our God, descending, <br> fill our hearts with heavenly joy, <br> love with every passion blending, <br> pleasure that can never cloy: <br> thus provided, pardoned, guided, <br> nothing can our peace destroy. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>702</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
