{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Guide me, O my great Redeemer, <br> pilgrim through this barren land; <br> I am weak, but you are mighty; <br> hold me with your powerful hand. <br> Bread of heaven, bread of heaven, <br> feed me now and evermore, <br> feed me now and evermore. <br> <br>2 Open now the crystal fountain, <br> where the healing waters flow. <br> Let the fire and cloudy pillar <br> lead me all my journey through. <br> Strong Deliverer, strong Deliverer, <br> ever be my strength and shield, <br> ever be my strength and shield. <br> <br>3 When I tread the verge of Jordan, <br> bid my anxious fears subside. <br> Death of death, and hell's Destruction, <br> land me safe on Canaan's side. <br> Songs of praises, songs of praises <br> I will ever sing to you, <br> I will ever sing to you. <br> Psalter Hymnal, (Gray)</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
