{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Brightly gleams our banner, <br> Pointing to the sky, <br> Waving on Christ's soldiers <br> To their home on high. <br> Marching through the desert, <br> Gladly thus we pray, <br> Still with hearts united, <br> Singing on our way. <br> Refrain: <br> Brightly gleams our banner, <br> Pointing to the sky, <br> Waving on Christ's soldiers <br> To their home on high. <br> <br>2 Jesus, Lord and Master, <br> At Thy sacred feet, <br> Here, with hearts rejoicing <br> See Thy children meet. <br> Often have we left Thee, <br> Often gone astray; <br> Keep us, mighty Saviour, <br> In the narrow way. [Refrain] <br> <br>3 Pattern of our childhood, <br> Once Thyself a child, <br> Make our childhood holy, <br> Pure, and meek, and mild. <br> In the hour of danger <br> Whither can we flee, <br> Save to Thee, dear Saviour, <br> Only unto Thee? [Refrain] <br> Amen. <br>  <br> Source: The Hymnal #<br>457</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
