{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 He who would valiant be <br> 'gainst all disaster, <br> let him in constancy <br> follow the Master. <br> There's no discouragement <br> shall make him once relent <br> his first avowed intent <br> to be a pilgrim. <br> <br>2 Who so beset him round <br> with dismal stories, <br> do but themselves confoundÂ <br> his strength the more is. <br> No foes shall stay his might, <br> though he with giants fight; <br> he will make good his right <br> to be a pilgrim. <br> <br>3 Since, Lord, Thou dost defend <br> us with Thy Spirit, <br> we know we at the end <br> shall life inherit. <br> Then, fancies, flee away! <br> I'll fear not what men say, <br> I'll labor night and day <br> to be a pilgrim. <br>  <br> Source: Psalms and Hymns to the Living God #<br>368</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
