{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Show me Thy way, O Lord, <br> And make it plain: <br> I would obey Thy word, - <br> Speak yet again. <br> I would not take one step until I know <br> Which way it is that you want me to go. <br> <br>2 O Lord,I cannot see; <br> Grant me Thy light; <br> Darkness bewilders me, <br> Clouding my sight; <br> Hold Thou my hand, and keep close by my side: <br> I dare not go alone; be Thou my guide. <br> <br>3 I cannot see Thy face, <br> Yet Thou art here; <br> When will the morning chase <br> My doubt and fear? <br> When shall I see the place where day and night <br> Shall come not, for Thy glory is its light? <br> <br>4 I will be patient, Lord, <br> And do Thy will; <br> I will not doubt Thy word, <br> My hope fulfil. <br> How can I perish, if in Thee I hide; <br> Jesus, my Comforter, my Hope and Guide! <br>  <br> Source: Revival Hymns and Choruses #<br>338</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
