{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. I dared not hope that Thou wouldst deign to come <br> And make this lowly heart of mine Thy home, <br> That Thou wouldst deign, O King of kings, to be <br> EÂen for one hour a sojourner in me; <br> Yet art Thou always here to help, and bless, <br> And lift the load of my great sinfulness. <br> <br>2. I dared not ever hope for such a Guide <br> To walk with me my faltering steps beside, <br> To help me when I fall, and when I stray <br> Constrain me gently to the better way; <br> Yet art Thou always at my side to be <br> A Counselor and a Comforter to me. <br> <br>3. I do not always go where Thou dost lead, <br> I do not always Thy soft whispers heed; <br> I follow other lights, and, in my sin, <br> I vex with many a slight my Friend within: <br> Yet Thou dost not, though grieved, from me depart, <br> But guardest still Thy place within my heart. <br>  <br> Source: The Cyber Hymnal #<br>2762</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
