{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I to the hills will lift mine eyes; <br> from whence doth come mine aid? <br> My safety cometh from the LORD, <br> who heaven and earth hath made. <br> <br>2 Thy foot He'll not let slide, nor will <br> He slumber that thee keeps. <br> Behold, He that keeps Israel, <br> He slumbers not, nor sleeps. <br> <br>3 The LORD thee keeps, the LORD thy shade <br> on thy right hand doth stay: <br> the moon by night thee shall not smite, <br> nor yet the sun by day. <br> <br>4 The Lord shall keep thy soul; he shall <br> preserve thee from all ill. <br> Henceforth thy going out and in <br> God keep for ever will. <br>  <br> Source: Psalms and Hymns to the Living God #<br>121</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
