{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 How happy every child of grace, <br> Who knows his sins forgiven! <br> "This earth," he cries, is not my place, <br> I seek my place in heaven: <br> A country far from mortal sight, <br> Which yet by faith I see, <br> The land of rest, the saintsÂ delight, <br> The heaven prepared for me." <br> <br><br>2 O what a blessed hope is ours! <br> While here on earth we stay: <br> We more than taste the heavenly powers, <br> And antedate that day, <br> We feel the resurrection near, <br> Our life in Christ concealed, <br> And with His glorious presence here <br> Our earthen vessels filled. <br> AMEN. <br>  <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br><br>572</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
