{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. All as God wills, who wisely heeds <br> To give or to withhold, <br> And knoweth more of all my needs, <br> Than all my prayers have told. <br> <br>2. Enough that blessings undeserved <br> Have marked my erring track; <br> That, wheresoeÂer my feet have swerved, <br> His chastening turned me back. <br> <br>3. That more and more a providence <br> Of love is understood, <br> Making the springs of time and sense <br> Sweet with eternal good. <br> <br>4. That death seems but a covered way <br> Which opens into light, <br> Wherein no blinded child can stray <br> Beyond the FatherÂs sight. <br> <br>5. And so the shadows fall apart. <br> And so the west winds play; <br> And all the windows of my heart <br> I open to the day. <br>  <br> Source: The Cyber Hymnal #<br>88</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
