{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Walk in the light! so shalt thou know <br> That fellowship of love <br> His Spirit only can bestow, <br> Who reigns in light above. <br> <br>2 Walk in the light! and thou shalt find <br> Thy heart made truly His, <br> Who dwells in cloudless light enshrined, <br> In whom no darkness is. <br> <br>3 Walk in the light! and thou shalt own <br> Thy darkness passed away, <br> Because that light hath on thee shone, <br> In which is perfect day. <br> <br>4 Walk in the light! and thine shall be <br> A path, though thorny, bright: <br> For God, by grace, shall dwell in thee, <br> And God Himself is light. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>524</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
