{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 To God the only wise, <br> our Savior and our King, <br> let all the saints below the skies <br> their humble praises bring. <br> <br>2 ÂTis His almighty love, <br> His counsel and His care, <br> preserves us safe from sin and death, <br> and ev'ry hurtful snare. <br> <br>3 He will present our souls <br> unblemished and complete, <br> before the glory of His face, <br> with joys divinely great. <br> <br>4 Then all the chosen seed <br> shall meet around the throne, <br> shall bless the conduct of His grace, <br> And make His wonders known. <br> <br>5 To our Redeemer God <br> wisdom and pow'r belongs, <br> immortal crowns of majesty, <br> and everlasting songs. <br>  <br> Source: Hymns to the Living God #<br>59</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
