{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Sunset and ev'ning star, <br> And one clear call for me! <br> And may there be no moaning bar <br> When I put out to sea, <br> And may there be no moaning bar <br> When I put out to sea. <br> <br>2 Twilight and ev'ning bell, <br> And after that the dark! <br> And may there be no sad farewell <br> When I at last embark, <br> And may there be no sad farewell <br> When I at last embark. <br> <br>3 For tho' from time and place <br> The flood may bear me far, <br> I hope to see my Pilot's face <br> When I have crossed the bar, <br> I hope to see my Pilot's face <br> When I have crossed the bar. <br>  <br> Source: The Christian Hymnary. Bks. <br>1-<br>4 #<br>975</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
