{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 That day of wrath, that dreadful day <br> When heav'n and earth shall pass away! <br> What pow'r shall be the sinner's stay? <br> How shall he meet that dreadful day? <br> <br>2 When, shriveling like a parched scroll, <br> The flaming heav'ns together roll; <br> When louder yet, and yet more dread, <br> Swells the high trump that wakes the dead; <br> <br>3 O on that day, that wrathful day <br> When man to judgment wakes from clay, <br> Be thou the trembling sinner's stay, <br> Though heav'n and earth shall pass away. <br> Amen. <br>  <br> Source: Trinity Hymnal #<br>242</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
