{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Brief life is here our portion; <br> Brief sorrow, short-lived care: <br> The life that knows no ending, <br> The tearless life is there. <br> <br>2 And now we fight the battle, <br> But then shall wear the crown <br> Of full, and everlasting, <br> And passionless renown. <br> <br>3 The morning shall awaken, <br> The shadows shall decay, <br> And each true-hearted servant <br> Shall shine as doth the day. <br> <br>4 There God, our King and Portion, <br> In fullness of His grace, <br> Shall we behold for ever, <br> And worship face to face. <br>  <br> Source: Praise for the Lord (Expanded Edition) #<br>81</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
