{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jerusalem, my happy home, <br> when shall I come to thee? <br> When will my sorrows have an end? <br> Thy joys, when shall I see? <br> <br>2 O happy harbor of the saints, <br> O sweet and pleasant soil! <br> In thee no sorrow may be found, <br> no grief, no care, no toil. <br> <br>3 Thy saints are crowned with glory great; <br> they see God face to face; <br> they triumph still, they still rejoice; <br> most happy is their case. <br> <br>4 Jerusalem, Jerusalem, <br> God grant that I may see <br> thine endless joy, and of the same <br> partaker ever be! <br>  <br> Source: Psalms and Hymns to the Living God #<br>420</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
