{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 For those we love within the veil, <br> Who once were comrades of our way, <br> We thank thee, Lord; for they have won <br> To cloudless day. <br> <br>2 And life for them is life indeed, <br> The splendid goal of earths strait race; <br> And where no shadows intervene <br> They see thy face. <br> <br>3 Free from the fret of mortal years, <br> And knowing now thy perfect will, <br> With quickened sense and heightened joy <br> They serve thee still. <br> <br>4 O fuller, sweeter is that life, <br> And larger, ampler is the air; <br> Eye cannot see nor heart conceive <br> The glory there! <br> <br>5 There are no tears within their eyes; <br> With love they keep perpetual tryst; <br> And praise and work and rest are one <br> With thee, O Christ. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>878</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
