{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 This is the day of light: <br> let there be light today; <br> O day-spring, rise upon our night <br> and chase its gloom away. <br> <br>2 This is the day of rest: <br> our failing strength renew; <br> on weary brain and troubled breast <br> shed thou thy freshening dew. <br> <br>3 This is the day of peace: <br> thy peace our spirits fill; <br> bid thou the blasts of discord cease, <br> the waves of strife be still. <br> <br>4 This is the day of prayer: <br> let earth to heaven draw near; <br> lift up our hearts to seek thee there, <br> come down to meet us here. <br> <br>5 This is the first of days; <br> send forth thy quickening breath, <br> and wake dead souls to love and praise, <br> O Vanquisher of death. <br>  <br> Source: CPWI Hymnal #<br>32</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
