{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, let us with our Lord arise, <br> our Lord, who made both earth and skies; <br> who died to save the world he made, <br> and rose triumphant from the dead; <br> he rose, the Prince of life and peace, <br> and stamped the day forever his. <br> <br>2 This is the day the Lord has made, <br> that all may see his love displayed, <br> may feel his resurrection's power, <br> and rise again, to fall no more, <br> in perfect righteousness renewed, <br> and filled with all the life of God. <br> <br>3 Then let us render him his own, <br> with solemn prayer approach his throne, <br> with meekness hear the gospel word, <br> with thanks his dying love record, <br> our joyful hearts and voices raise, <br> and fill his courts with songs of praise. <br>  <br>  <br> Source: Sing the Faith #<br>2084</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
