{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Sweet is the sunlight after rain, <br> And sweet the sleep which follows pain; <br> And sweetly steals the Sabbath rest <br> Upon the world's work-wearied breast. <br> <br>2 Of heaven the sign, of earth the calm; <br> The poor man's birthright and his balm; <br> God's witness of celestial things; <br> A sun with healing in its wings. <br> <br>3 New rising in this gospel time, <br> And in its sevenfold light sublime, <br> Blest day of God! we hail its dawn, <br> To gratitude and worship drawn. <br> <br>4 O nought of gloom and nought of pride <br> Should with the sacred hours abide; <br> At work for God, in loved employ, <br> We lose the duty in the joy. <br> <br>5 Breathe on us, Lord! our sins forgive, <br> And make us strong in faith to live; <br> Our utmost, sorest need supply, <br> And make us strong in faith to die. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>249</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
