{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 SWEET is the work, my God, my King <br> To praise Thy name, give thanks and sing; <br> To show Thy love by morning light, <br> And talk of all Thy truth at night.<br>2 Sweet is the day of sacred rest, <br> No mortal cares disturb my breast, <br> O may my heart in tune be found, <br> Like Davids harp of solemn sound!<br>3 My heart shall triumph in the Lord, <br> And bless His works and bless His word: <br> Thy works of grace, how bright they shine! <br> How deep Thy counsels, how divine!<br>4 And I shall share a glorious part, <br> When grace has well refined my heart, <br> And fresh supplies of joy are shed, <br> Like holy oil, to cheer my head.<br>5 Then shall I see, and hear, and know, <br> All I desired or wished below; <br> And every power find sweet employ <br> In that eternal world of joy. <br>  <br> Source: Redemption Hymnal #<br>105</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
