{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The day you gave us, Lord, is ended, <br> the darkness falls at your request; <br> to you our morning hymns ascended, <br> your praise shall sanctify our rest. <br> <br>2 We thank you that your Church, unsleeping <br> while earth rolls onward into light, <br> through all the world her watch is keeping <br> and never rests by day or night. <br> <br>3 As over continent and island <br> each dawn leads to another day, <br> the voice of prayer is never silent, <br> nor do the praises die away. <br> <br>4 So be it, Lord! Your throne shall never, <br> like earths proud empires, pass away; <br> your kingdom stands and grows forever <br> until there dawns your glorious day. <br>  <br> Source: Christian Worship: Hymnal #<br>795</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
