{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 SUMMER suns are glowing <br> Over land and sea; <br> Happy light is flowing, <br> Bountiful and free. <br> Everything rejoices <br> In the mellow rays; <br> All earths thousand voices <br> Swell the psalm of praise.<br>2 Gods free mercy streameth <br> Over all the world, <br> And His banner gleameth, <br> Everywhere unfurled. <br> Broad, and deep, and glorious, <br> As the heavn above, <br> Shines in might victorious, <br> His eternal love,<br>3 Lord, upon our blindness <br> Thy pure radiance pour; <br> For Thy loving-kindness <br> Make us love Thee more. <br> And when clouds are drifting <br> Dark across our sky, <br> Then, the veil uplifting, <br> Father, be Thou nigh,<br>4 We will never doubt Thee, <br> Though Thou veil Thy light; <br> Life is dark without Thee, <br> Death with Thee is bright. <br> Light of Light, shine oer us <br> On our pilgrim way; <br> Go Thou still before us <br> To the endless day. <br>  <br> Source: Redemption Hymnal #<br>121</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
