{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Glad was my heart to hear <br> My old companions say, <br> Come, in the house of God appear, <br> For 'tis an holy day. <br> <br>2 Thither the tribes repair, <br> Where all are wont to meet, <br> And joyful in the house of prayer <br> Bend at the mercy-seat. <br> <br>3 Pray for Jerusalem, <br> The city of our God; <br> The Lord from heaven be kind to them <br> That love the dear abode. <br> <br>4 Within these walls may peace <br> And harmony be found; <br> Zion, in all thy palaces <br> Prosperity abound! <br> <br>5 For friends and brethren dear, <br> Our prayers shall never cease; <br> Oft as they meet for worship here, <br> God send His people peace! <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>214a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
