{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God of pity, God of grace, <br> When we humbly seek thy face, <br> Bend from heav'n, thy dwelling-place; <br> Hear, forgive, and save. <br> <br>2 When we in thy temple meet, <br> Spread our wants before thy feet, <br> Pleading at thy mercy-seat, <br> Look from heav'n and save. <br> <br>3 When thy love our hearts shall fill, <br> And we long to do thy will, <br> Turning to thy holy hill, <br> Lord, accept and save. <br> <br>4 Should we wander from thy fold, <br> And our love to thee grow cold, <br> With a pitying eye behold; <br> Lord, forgive and save. <br> <br>5 Should the hand of sorrow press, <br> Earthly care and want distress, <br> May our souls thy peace possess; <br> Jesus, hear and save. <br> <br>6 And, whate'er our cry may be, <br> When we lift our hearts to thee, <br> From our burden set us free; <br> Hear, forgive, and save. <br> Amen. <br>  <br> Source: Trinity Hymnal #<br>466</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
