{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Savior, again to thy dear name we raise <br> with one accord our parting hymn of praise. <br> Once more we bless thee ere our worship cease, <br> then, lowly bending, wait thy word of peace. <br> <br>2 Grant us thy peace upon our homeward way; <br> with thee began, with thee shall end the day. <br> Guard thou the lips from sin, the hearts from shame, <br> that in this house have called upon thy name. <br> <br>3 Grant us thy peace, Lord, through the coming night; <br> turn thou for us its darkness into light. <br> From harm and danger keep thy children free, <br> for dark and light are both alike to thee. <br> <br>4 Grant us thy peace throughout our earthly life, <br> our balm in sorrow and our stay in strife. <br> Then, when thy voice shall bid our conflict cease, <br> call us, O Lord, to thine eternal peace. <br>  <br> Source: Christian Worship: Hymnal #<br>931</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
