{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, dismiss us with your blessing; <br> fill our hearts with joy and peace. <br> Let us each, your love possessing, <br> triumph in redeeming grace. <br> O refresh us, O refresh us, <br> trav'ling through this wilderness. <br> <br>2 Thanks we give and adoration <br> for the gospel's joyful sound: <br> may the fruits of your salvation <br> in our hearts and lives abound! <br> Ever faithful, ever faithful <br> to your truth may we be found. <br> <br>3 So whene'er the signal's given <br> us from earth to call away, <br> borne on angels' wings to heaven, <br> glad the summons to obey, <br> may we ever, may we ever <br> reign with Christ in endless day. <br>  <br>  <br> Source: Christian Worship: Hymnal #<br>927</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
