{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Abide among us with Thy grace, <br> Lord Jesus, evermore, <br> Nor let us e'er to sin give place, <br> Nor grieve Him we adore. <br> <br>2 Abide among us with Thy word, <br> Redeemer, whom we love, <br> Thy help and mercy here afford, <br> And life with Thee above. <br> <br>3 Abide among us with Thy ray, <br> O Light that lighten'st all, <br> And let Thy truth preserve our way, <br> Nor suffer us to fall. <br> <br>4 Abide with us to bless us still, <br> O bounteous Lord of peace; <br> With grace and power our souls fulfill, <br> Our faith and love increase. <br> <br>5 Abide among us as our shield, <br> O Captain of Thy host; <br> That to the world we may not yield, <br> Nor e'er forsake our post. <br> <br>6 Abide with us in faithful love, <br> Our God and Saviour be, <br> Thy help at need, oh, let us prove, <br> And keep us true to Thee. <br>  <br> Source: Hymn Book: for the use of Evangelical Lutheran schools and congregations #<br>6</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
