{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 City of God, how broad and far <br> outspread thy walls sublime! <br> The true thy chartered freemen are <br> of every age and clime:<br>2 One holy church, one army strong, <br> one steadfast, high intent; <br> one working band, one harvest-song, <br> one King omnipotent.<br>3 How purely hath thy speech come down <br> from man's primaeval youth! <br> How grandly hath thine empire grown <br> of freedom, love, and truth!<br>4 How gleam thy watch-fires through the night <br> with never-fainting ray! <br> How rise thy towers, serene and bright, <br> to meet the dawning day!<br>5 In vain the surge's angry shock, <br> in vain the drifting sands: <br> unharmed upon the eternal Rock <br> the eternal city stands. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>613</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
