{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 I love thy kingdom, Lord, <br> the house of thine abode, <br> the church our blest Redeemer saved <br> with his own precious blood. <br> <br>2 I love thy church, O God: <br> her walls before thee stand, <br> dear as the apple of thine eye <br> and graven on thy hand. <br> <br>3 For her my tears shall fall, <br> for her my prayers ascend; <br> to her my cares and toils be giv'n, <br> 'til toils and cares shall end. <br> <br>4 Beyond my highest joy <br> I prize her heav'nly ways, <br> her sweet communion, solemn vows, <br> her hymns of love and praise. <br> <br>5 Jesus, thou Friend divine, <br> our Savior and our King, <br> thy hand from ev'ry snare and foe <br> shall great deliv'rance bring. <br> <br>6 Sure as thy truth shall last, <br> to Zion shall be giv'n <br> the brightest glories earth can yield, <br> and brighter bliss of heav'n. <br>  <br> Source: Trinity Psalter Hymnal #<br>405</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
