{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 And are we yet alive, <br> And see each other's face? <br> Glory and praise to Jesus give <br> For His redeeming grace. <br> <br>2 Preserved by power divine <br> To full salvation here, <br> Again in Jesus' praise we join, <br> And in His sight appear. <br> <br>3 What troubles have we seen, <br> What conflicts have we passed, <br> Fightings without, and fears within, <br> Since we assembled last. <br> <br>4 But out of all the Lord <br> Hath brought us by His love; <br> And still He doth His help afford, <br> And hides our life above. <br> <br>5 Then let us make our boast <br> Of His redeeming power, <br> Which saves us to the uttermost, <br> Till we can sin no more. <br> <br>6 Let us take up the cross <br> Till we the crown obtain; <br> And gladly reckon all things loss, <br> So we may Jesus gain. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>304</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
