{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Help us to help each other, Lord, <br> each other's cross to bear; <br> let each his friendly aid afford, <br> and feel another's care.<br>2 Up into thee, our living head, <br> let us in all things grow, <br> and by thy sacrifice be led <br> the fruits of love to show.<br>3 Touched by the lodestone of thy love <br> let all our hearts agree; <br> and ever towards each other move, <br> and ever move towards thee.<br>4 This is the bond of perfectness, <br> thy spotless charity. <br> O let us still, we pray, possess <br> the mind that was in thee. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>657</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
