{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, we look to Thee, <br> Thy promised presence claim; <br> Thou in the midst of us shalt be, <br> Assembled in Thy Name. <br> <br>2 Thy Name salvation is, <br> Which here we come to prove; <br> Thy Name is life, and health, and peace, <br> And everlasting love. <br> <br>3 Not in the name of pride <br> Or selfishness we meet; <br> From nature's paths we turn aside, <br> And worldly thoughts forget. <br> <br>4 We meet, the grace to take <br> Which Thou hast freely given; <br> We meet on earth for Thy dear sake <br> That we may meet in heaven. <br> <br>5 Present we know Thou art; <br> But, O, Thyself reveal! <br> Now Lord, let every bounding heart <br> Thy mighty comfort feel. <br> <br>6 O may Thy quickening voice <br> The death of sin remove; <br> And bid our inmost souls rejoice <br> In hope of perfect love. <br> Amen. <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>421</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
