{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 See, Jesus, Thy disciples see, <br> The promised blessing give! <br> Met in Thy name, we look to Thee, <br> Expecting to receive. <br> <br>2 Thee we expect, our faithful Lord, <br> Who in Thy name are joined; <br> We wait, according to Thy word, <br> Thee in the midst to find. <br> <br>3 With us Thou art assembled here, <br> But O Thyself reveal! <br> Son of the living God, appear! <br> Let us Thy presence feel. <br> <br>4 Whom now we seek, O may we meet! <br> Jesus, the Crucified, <br> Show us Thy bleeding hands and feet <br> Thou who for us hast died. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>527</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
