{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, united by your grace, <br> and each to each endeared, <br> with confidence we seek your face, <br> and know our prayer is heard. <br> <br>2 Help us to see in each a friend, <br> each other's cross to bear, <br> let all their friendly aid extend, <br> and feel the other's care. <br> <br>3 Up into you, our living head, <br> let us in all things grow, <br> till you have made us free indeed <br> and faithful here below. <br> <br>4 Drawn by the lodestone of your love, <br> let all our hearts unite; <br> let us toward each other move, <br> and move toward your light. <br>  <br> Source: Voices United: The Hymn and Worship Book of The United Church of Canada #<br>591</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
