{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, in this thy mercy's day, <br> ere it pass for aye away, <br> on our knees we fall and pray. <br> <br>2 Holy Jesu, grant us tears, <br> fill us with heart-searching fears, <br> ere that awful doom appears. <br> <br>3 Lord, on us thy Spirit pour, <br> kneeling lowly at the door, <br> ere it close for evermore. <br> <br>4 By thy night of agony, <br> by thy supplicating cry, <br> by thy willingness to die; <br> <br>5 by thy tears of bitter woe, <br> for Jerusalem below, <br> let us not thy love forgo. <br> <br>6 Grant us 'neath thy wings a place, <br> lest we lose the day of grace <br> ere we shall behold thy face. <br>  <br> Source: CPWI Hymnal #<br>118</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
