{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord of our life, and God of our salvation, <br> star of our night, and hope of every nation, <br> hear and receive thy church's supplication, <br> Lord God Almighty. <br> <br>2 See round thine ark the hungry billows curling, <br> see how thy foes their banners are unfurling; <br> Lord, while their darts envenomed they are hurling, <br> thou canst preserve us. <br> <br>3 Lord, thou canst help when earthly armour faileth, <br> Lord, thou canst save when deadly sin assaileth; <br> Lord, o'er thy church nor death nor hell prevaileth: <br> Grant us thy peace, Lord. <br> <br>4 Grant us thy help till foes are backward driven, <br> grant them thy truth, that they may be forgiven, <br> grant peace on earth, and, after we have striven, <br> peace in thy heaven. <br>  <br> Source: CPWI Hymnal #<br>326</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
