{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 When the weary, seeking rest, <br> to thy goodness flee; <br> when the heavy-laden cast <br> all their load on thee; <br> when the troubled, seeking peace, <br> on thy name shall call; <br> when the sinner, seeking life, <br> at thy feet shall fall: <br> Refrain: <br> hear then in love, O Lord, the cry <br> in heav'n, thy dwelling place on high. <br> <br>2 When the stranger asks a home, <br> all his toils to end; <br> when the hungry craveth food, <br> and the poor a friend; <br> when the widow weeps to thee, <br> sad and lone and low; <br> when the orphan brings to thee <br> all his orphan woe: [Refrain] <br> <br>3 When the worldling, sick at heart, <br> lifts his soul above; <br> when the prodigal looks back <br> to his Father's love; <br> when the proud man, in his pride, <br> stoops to seek thy face; <br> when the burdened brings his guilt <br> to thy throne of grace: [Refrain] <br>  <br>  <br> Source: Trinity Hymnal (Rev. ed.) #<br>632</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
