{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Shepherd Divine, our wants relieve <br> in this our evil day; <br> to all thy tempted followers give <br> the power to watch and pray. <br> <br>2 Long as our fiery trials last, <br> long as the cross we bear, <br> O let our souls on thee be cast <br> in never-ceasing prayer. <br> <br>3 The Spirit of interceding grace <br> give us in faith to claim; <br> to wrestle till we see thy face, <br> and know thy hidden name. <br> <br>4 Till thou thy perfect love impart, <br> till thou thyself bestow, <br> be this the cry of every heart: <br> 'I will not let thee go.' <br> <br>5 I will not let thee go, unless <br> thou tell thy name to me; <br> with all thy great Salvation bless, <br> and make me all like thee. <br> <br>6 Then let me on the mountain-top <br> behold thine open face; <br> where faith in sight is swallowed up, <br> and prayer in endless praise. <br>  <br> Source: CPWI Hymnal #<br>489</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
