{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Revive thy work, O Lord, <br> thy mighty arm make bare; <br> speak with the voice that wakes the dead, <br> and make thy people hear. <br> <br><br>2 Revive thy work, O Lord, <br> disturb this sleep of death; <br> quicken the smould'ring embers now <br> by thine almighty breath. <br> <br><br>3 Revive thy work, O Lord, <br> create soul-thirst for thee; <br> and hung'ring for the Bread of Life <br> O may our spirits be. <br> <br><br>4 Revive thy work, O Lord, <br> exalt thy precious name; <br> and, by the Holy Ghost, our love <br> for thee and thine inflame. <br> <br><br>5 Revive thy work, O Lord, <br> give Pentecostal show'rs; <br> the glory shall be all thine own, <br> the blessing, Lord, be ours. <br>  <br> Source: Trinity Psalter Hymnal #<br><br>413</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
