{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Thy kingdom come! On bended knee <br> the passing ages pray; <br> and faithful souls have yearned to see <br> on earth that kingdom's day.<br>2 But the slow watches of the night <br> not less to God belong; <br> and for the everlasting right <br> the silent stars are strong.<br>3 And lo, already on the hills <br> the flags of dawn appear; <br> gird up your loins, ye prophet souls, <br> proclaim the day is near:<br>4 The day in whose clear-shining light <br> all wrong shall stand revealed, <br> when justice shall be throned in might, <br> and every hurt be healed;<br>5 When knowledge, hand in hand with peace, <br> shall walk the earth abroad: <br> the day of perfect righteousness, <br> the promised day of God. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>815</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
