{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Come, let us use the grace divine, <br> and all with one accord, <br> in a perpetual covenant <br> join ourselves to Christ the Lord; <br> Give up ourselves, thru Jesus' power, <br> his name to glorify; <br> and promise, in this sacred hour, <br> for God to live and die. <br> <br>2. The covenant we this moment make <br> be ever kept in mind; <br> we will no more our God forsake, <br> or cast these words behind. <br> We never will throw off the fear <br> of God who hears our vow; <br> and if thou art well pleased to hear, <br> come down and meet us now. <br> <br>3. Thee, Father, Son, and Holy Ghost, <br> let all our hearts receive, <br> present with thy celestial host <br> the peaceful answer give; <br> to each covenant the blood apply <br> which takes our sins away, <br> and register our names on high <br> and keep us to that day! <br>  <br>  <br> Source: The United Methodist Hymnal #<br>606</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
