{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Father, whose everlasting love <br> thy only Son for sinners gave, <br> whose grace to all did freely move, <br> and sent him down the world to save; <br> <br>2 Help us thy mercy to extol, <br> immense, unfathomed, unconfined; <br> to praise the Lamb who died for all, <br> the general Saviour of mankind. <br> <br>3 Thy undistinguishing regard <br> was cast on Adam's fallen race; <br> for all thou hast in Christ prepared <br> sufficient, sovereign, saving grace. <br> <br>4 The world he suffered to redeem; <br> for all he hath th'atonement made; <br> for those that will not come to him <br> the ransom of his life was paid. <br> <br>5 Arise, O God, maintain thy cause, <br> the fullness of the nations call; <br> lift up the standard of thy cross <br> and all shall own thou diedst for all. <br>  <br> Source: Common Praise: A new edition of Hymns Ancient and Modern #<br>107</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
