{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 See Israel's gentle Shepherd stand <br> With all-engaging charms; <br> Hark, how He calls the tender lambs, <br> And folds them in His arms! <br> <br>2 "Permit them to approach," He cries, <br> "Nor scorn their humble name; <br> For 'twas to bless such souls as these <br> The Lord of angels came." <br> <br>3 We bring them, Lord, in thankful hands, <br> And yield them up to Thee; <br> Joyful that we ourselves are Thine, <br> Thine let our offspring be. <br> Amen. <br>  <br> Source: Worship and Service Hymnal: For Church, School, and Home #<br>174</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
