{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Stand, soldier of the cross, <br> Your high allegiance claim, <br> And vow to hold the world but loss <br> For your Redeemer's name. <br> <br>2 Arise and be baptized <br> And wash your sins away; <br> Your league with God be solemnized, <br> Thy faith confessed today. <br> <br>3 No more your own, but Christ's, <br> With all the saints of old, <br> Apostles, seers, evangelists, <br> And martyr throngs enrolled. <br> <br>4 O bright the conqueror's crown, <br> The song of triumph sweet, <br> When faith casts every trophy down <br> At our great Captain's feet. <br> <br>5 All glory to the Son, <br> Who comes to set us free, <br> With Father, Spirit, ever One, <br> Through all eternity. Amen. <br>  <br> Source: Worship Supplement #<br>762</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
