{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Lord Jesus Christ, our Lord most dear, <br> as thou wast once an infant here, <br> so give this child of thine, we pray, <br> thy grace and blessing day by day. <br> Refrain: <br> O holy Jesus, Lord divine, <br> we pray thee guard this child of thine. <br> <br><br>2 As in thy heav'nly kingdom, Lord, <br> all things obey thy sacred word, <br> do thou thy mighty succor give, <br> and shield this child by morn and eve. [Refrain] <br> <br><br>3 Their watch let angels round him keep, <br> where'er he be, awake, asleep; <br> thy saving grace on him bestow, <br> that he in thee may live and grow. [Refrain] <br>  <br>  <br> Source: Trinity Psalter Hymnal #<br><br>189</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
