{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Spread the table of the Lord, <br> Break the bread and pour the wine; <br> Gathered at the sacred board, <br> We would taste the feast divine. <br> <br>2 Saints and martyrs of the faith <br> To the Cross have turned their eyes, <br> Sharing, in their life and death, <br> That eternal sacrifice. <br> <br>3 Humbly now our place we claim <br> In that glorious company, <br> Proud confessors of the name, <br> Breaking bread, O Christ, with Thee. <br> <br>4 By the memory of Thy love, <br> To the glory of the Lord, <br> Here we raise Thy Cross above, <br> Gird us with Thy Spirit's sword. <br> <br>5 Guided by Thy mighty hand, <br> All Thy mind we would fulfil, <br> Loyal to Thy least command, <br> Serving Thee with steadfast will. <br>  <br> Source: The Methodist Hymn-Book with Tunes #<br>757</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
