{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesu, we thus obey <br> thy last and kindest word; <br> here in thine own appointed way <br> we come to meet thee, Lord. <br> <br>2 Our hearts we open wide, <br> to make the Saviour room; <br> and lo, the Lamb, the Crucified, <br> the sinner's friend is come! <br> <br>3 Thy presence makes the feast; <br> now let our spirits feel <br> the glory not to be expressed, <br> the joy unspeakable. <br> <br>4 With high and heavenly bliss <br> thou dost our spirits cheer; <br> thy house of banqueting is this <br> and thou hast brought us here. <br> <br>5 Now let our souls be fed <br> with manna from above, <br> and over us your banner spread <br> of everlasting love. <br>  <br> Source: Common Praise: A new edition of Hymns Ancient and Modern #<br>307b</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
