{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 In memory of the Saviour's love, <br> We keep the sacred feast. <br> Where every humble, contrite heart <br> Is made a welcome guest. <br> <br>2 By faith we take the bread of life <br> Withy which our souls are fed, <br> The cup in token of His blood <br> That was for sinners shed. <br> <br>3 In faith and memory thus we sing <br> The wonders of His love, <br> And thus anticipate by faith <br> The heavenly feast above. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>331</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
