{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 According to thy gracious word, <br> in meek humility, <br> this will I do, my dying Lord, <br> I will remember thee. <br> <br>2 Thy body, broken for my sake, <br> my bread from heav'n shall be; <br> thy testamental cup I take, <br> and thus remember thee. <br> <br>3 Gethsemane can I forget? <br> Or there thy conflict see, <br> thine agony and bloody sweat, <br> and not remember thee? <br> <br>4 When to the cross I turn mine eyes, <br> and rest on Calvary, <br> O Lamb of God, my sacrifice, <br> I must remember thee. <br> <br>5 Remember thee, and all thy pains, <br> and all thy love to me: <br> when thou shalt in thy kingdom come, <br> Jesus, remember me. <br>  <br> Source: Trinity Psalter Hymnal #<br>203</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
