{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Author of life divine, <br> who hast a table spread, <br> furnished with mystic wine <br> and everlasting bread, <br> preserve the life Thyself hast giv'n, <br> preserve the life Thyself hast given, <br> and feed and train us up for heav'n. <br> <br>2 Our needy souls sustain <br> with fresh supplies of love, <br> till all Thy life we gain <br> and all Thy fullness prove, <br> and strengthened by Thy perfect grace, <br> and strengthened by Thy perfect grace, <br> behold without a veil Thy face. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>383</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
