{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O Bread to pilgrims given, <br> O Food that angels eat, <br> O Manna sent from heaven, <br> For heav'n-bom natures meet: <br> Give us, for thee long pining, <br> To eat till richly filled; <br> Till, earth's delights resigning, <br> Our every wish is stilled. <br> <br>2 O Fountain, purely flowing <br> Forth from that sacred heart, <br> Our Saviour's grace bestowing, <br> True wine of life thou art. <br> O let us, freely tasting, <br> Our spirits' thirst assuage; <br> Thy goodness, never wasting, <br> Avails from age to age. <br> <br>3 Jesus, this feast receiving, <br> We thee unseen adore; <br> Thy faithful word believing, <br> We take, and doubt no more: <br> Give us, thou true and loving, <br> On earth to live in thee; <br> Then, death the veil removing, <br> Thy glorious face to see. <br>  <br> Source: Hymns for Celebration: a supplement for use at holy communion today #<br>20</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
