{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The King of love my shepherd is, <br> whose goodness faileth never. <br> I nothing lack if I am his, <br> and he is mine forever. <br> <br>2 Where streams of living water flow, <br> my ransomed soul he leadeth; <br> and where the verdant pastures grow, <br> with food celestial feedeth. <br> <br>3 Perverse and foolish, oft I strayed, <br> but yet in love he sought me; <br> and on his shoulder gently laid, <br> and home, rejoicing, brought me. <br> <br>4 In death's dark vale I fear no ill, <br> with thee, dear Lord, beside me; <br> thy rod and staff my comfort still, <br> thy cross before to guide me. <br> <br>5 Thou spreadst a table in my sight; <br> thy unction grace bestoweth; <br> and oh, what transport of delight <br> from thy pure chalice floweth! <br> <br>6 And so through all the length of days, <br> thy goodness faileth never; <br> Good Shepherd, may I sing thy praise <br> within thy house forever. <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
