{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, to Thy table led, <br> Now let every heart be fed <br> With the true and living Bread. <br> <br>2 While in penitence we kneel, <br> Thy sweet presence let us feel, <br> All Thy wondrous love reveal. <br> <br>3 While on Thy dear cross we gaze, <br> Mourning o'er our sinful ways, <br> Turn our sadness into praise. <br> <br>4 When we taste the mystic wine, <br> Of Thine out-poured blood the sign, <br> Fill our hearts with love Divine. <br> <br>5 From the bonds of sin release, <br> Cold and wavering faith increase; <br> Lamb of God, grant us thy peace. <br> Amen. <br>  <br> Source: The Hymnal #<br>361</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
