{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 By Christ redeemed, in Christ restored, <br> we keep the memory adored, <br> and show the death of our dear Lord <br> until he come. <br> <br>2 His body, broken in our stead, <br> is here in this memorial bread, <br> and so our feeble love is fed <br> until he come. <br> <br>3 The drops of his dread agony, <br> his life-blood shed for us, we see; <br> the wine shall tell the mystery <br> until he come. <br> <br>4 And thus that dark betrayal night <br> with the last advent we unite, <br> by one blest chain of loving rite, <br> until he come. <br> <br>5 O blessèd hope! With this elate, <br> let not our hearts be desolate, <br> but, strong in faith, in patience wait <br> until he come. <br>  <br> Source: CPWI Hymnal #<br>576</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
