{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O perfect Love, all human thought transcending, <br> lowly we kneel in prayer before thy throne, <br> that theirs may be the love which knows no ending, <br> whom thou in sacred vow dost join in one. <br> <br>2 O perfect Life, be thou their full assurance <br> of tender charity and steadfast faith, <br> of patient hope and quiet, brave endurance, <br> with childlike trust that fears no pain or death. <br> <br>3 Grant them the joy which brightens earthly sorrow; <br> grant them the peace which calms all earthly strife; <br> grant them the vision of the glorious morrow <br> that will reveal eternal love and life. <br> Psalter Hymnal, <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
