{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, Holy Ghost, our souls inspire <br> and lighten with celestial fire; <br> thou the anointing Spirit art, <br> who dost thy sevenfold gifts impart. <br> <br>2 Thy blessed unction from above <br> is comfort, life, and fire of love; <br> enable with perpetual light <br> the dullness of our mortal sight. <br> <br>3 Teach us to know the Father, Son, <br> and thee, of both, to be but one; <br> that through the ages all along <br> this may be our endless song: <br> <br>4 Praise to thine eternal merit, <br> Father, Son and Holy Spirit. <br> Amen. <br>  <br> Source: Lift Up Your Hearts: psalms, hymns, and spiritual songs #<br>231</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
