{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Master, speak! thy servant heareth, <br> waiting for thy gracious word, <br> longing for thy voice that cheereth, <br> Master, let it now be heard. <br> I am list'ning, Lord, for thee; <br> what hast thou to say to me? <br> <br>2 Speak to me by name, O Master, <br> let me know it is to me; <br> speak, that I may follow faster, <br> with a step more firm and free, <br> where the Shepherd leads the flock, <br> in the shadow of the Rock! <br> <br>3 Master, speak! tho' least and lowest, <br> let me not unheard depart; <br> Master, speak! for oh, thou knowest <br> all the yearning of my heart, <br> knowest all its truest need; <br> speak! and make me blest indeed. <br> <br>4 Master, speak! and make me ready, <br> when thy voice is truly heard, <br> with obedience glad and steady, <br> still to follow ev'ry word. <br> I am listening, Lord, for thee: <br> Master, speak, oh speak to me! <br>  <br> Source: Trinity Psalter Hymnal #<br>169</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
