{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O shine upon these, Lord, <br> the men ordained today, <br> that through the written Word, <br> Christ Jesus they display. <br> And from their hearts which burn <br> with gazing on your face, <br> that we, your people, learn <br> the wonders of your grace. <br> <br>2 O breathe upon them, Lord, <br> your Spirit's living flame, <br> so that with one accord <br> their lips may tell your name. <br> Give them the hearing ear, <br> direct their ev'ry thought, <br> that those they serve may hear <br> the great things you have wrought. <br> <br>3 O live within them, Lord, <br> your mind and will be theirs. <br> You, the Belov'd, adored, <br> and served with all their pow'rs, <br> that so your lambs may know <br> the one true Shepherd's voice. <br> Where Christ leads, may they go, <br> and in your call rejoice. <br>  <br>  <br> Source: Trinity Psalter Hymnal #<br>547</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
