{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Shall I for fear of feeble man, <br> The Spirit's course in me restrain? <br> Or undismayed in deed and word, <br> Be a true witness for the Lord? <br> <br>2 My life, my blood, I here present, <br> If for Thy truth they may be spent, <br> Fulfill Thy sovereign counsel, Lord; <br> Thy will be done, Thy name adored. <br> <br>3 Give of Thy strength, O God of pow'r, <br> Then let winds blow, or thunders roar, <br> Thy faithful witness will I be: <br> 'Tis fixed, I can do all through Thee. <br>  <br> Source: The Christian Hymnary. Bks. <br>1-<br>4 #<br>250</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
