{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord of the harvest, hear <br> Thy needy servants cry; <br> Answer our faiths effectual prayer, <br> And all our needs supply. <br> <br>2 On Thee we humbly wait, <br> Our wants are in Thy view, <br> The harvest, truly, Lord, is great, <br> The laborers are few. <br> <br>3 Anoint and send forth more <br> Into Thy Church abroad <br> And let them speak Thy Word of Pow'r <br> As workers with their God. <br> <br>4 Oh, let them spread Thy name, <br> Their mission fully prove, <br> Thy universal grace proclaim, <br> Thine all-redeeming love! <br> Amen. <br>  <br> Source: The Lutheran Hymnal #<br>488</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
