{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Look from your sphere of endless day, <br> O God of mercy and of might; <br> In pity look on those who stray <br> So blindly in this land of light. <br> <br>2 Send us, your people, Lord, to call <br> The thoughtless, hardened young and old, <br> A scattered homeless flock, till all <br> Are gathered in your peaceful fold. <br> <br>3 Give us your mighty Word, to speak <br> Till faith is born and doubts depart, <br> To awe the bold, to stay the weak, <br> And bind and heal the broken heart. <br> <br>4 Then all these wastes, a dreary scene <br> That makes us sadden as we gaze, <br> Shall bloom with living waters green <br> And lift to heav'n the voice of praise. <br> Amen <br>  <br> Source: Lutheran Book of Worship #<br>402</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
