{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord, if at Thy command <br> The word of life we sow, <br> Watered by Thine almighty hand <br> The seed shall surely grow: <br> The virtue of Thy grace <br> A large increase shall give, <br> And multiply the faithful race <br> Who to Thy glory live. <br> <br>2 Now then the ceaseless shower <br> Of gospel blessings send, <br> And let the soul-converting power <br> Thy ministers attend. <br> On multitudes confer <br> The heart-renewing love, <br> And by the joy of grace prepare <br> For fuller joys above. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>279</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
