{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lord of the living harvest <br> That whitens o'er the plain, <br> Where angels soon shall gather <br> Their sheaves of golden grain; <br> Accept these hands to labor, <br> These hearts to trust and love, <br> And deign with them to hasten <br> Thy kingdom from above. <br> <br>2 As laborers in Thy vineyard, <br> Send us, O Christ, to be <br> Content to bear the burden <br> Of weary days for Thee; <br> We ask no other wages, <br> When Thou shalt call us home, <br> But to have shared the travail <br> Which makes Thy kingdom come. <br> <br>3 Be with us, God the Father, <br> Be with us, God the Son, <br> And God the Holy Spirit, <br> Eternal Three in One! <br> Make us a royal priesthood, <br> Thee rightly to adore, <br> And fill us with Thy fullness <br> Now and for evermore. <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>364</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
