{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Once again, dear Lord, we pray <br> For the children far away, <br> Children who have never heard <br> Jesus' name, sweetest word. <br> <br>2 Little lips that Thou hast made, <br> 'Neath the far-off temple's shade <br> Give to gods of wood and stone <br> {raise that should be all Thine own. <br> <br>3 Little hands, whose wondrous skill <br> Thou hast given to do Thy will, <br> Offerings bring, and serve with fear <br> Gods that cannot see or hear. <br> <br>4 Teach them, O Thou heavenly King, <br> All their gifts and praise to bring <br> To Thy Son, who died to prove <br> Thy forgiving, saving love. <br>  <br> Source: The Children's Hymnbook #<br>150</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
