{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Spread, O spread, almighty word, <br> spread the kingdom of the Lord, <br> where the breath of God has given <br> life to people meant for heaven. <br> <br>2 Tell them how the Father's will <br> made the world, and keeps it still; <br> how his only Son he gave <br> all from sin and death to save. <br> <br>3 Tell of our Redeemer's love, <br> who, for ever to remove <br> all the guilt that on us lies, <br> gave himself as sacrifice. <br> <br>4 Tell them of the Spirit given <br> now to guide us on to heaven, <br> strong and holy, just and true, <br> working both to will and do. <br> <br>5 Up! the ripening fields you see, <br> mighty will the harvest be; <br> but the reapers still are few, <br> great the work they have to do. <br> <br>6 Lord of harvest, kind and true, <br> give us strength to work for you, <br> till the nations everywhere <br> see your light, and know your care. <br>  <br> Source: Together in Song: Australian hymn book II #<br>450</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
