{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 And let our bodies part, <br> To different climes repair; <br> Inseparably joined in heart <br> The friends of Jesus are. <br> <br>2 Jesus, the cornerstone, <br> Did first our hearts unite; <br> And still He keeps our spirits one <br> Who walk with Him in white. <br> <br>3 O let us still proceed <br> In Jesus work below, <br> And, following our triumphant Head, <br> To further conquest go. <br> <br>4 O let our heart and mind <br> Continually ascend, <br> That heaven of repose to find, <br> Where all our labors end! <br>  <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>528</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
