{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The Lord will come and not be slow, <br> his footsteps cannot err; <br> before him righteousness shall go, <br> his royal harbinger. <br> <br>2 Truth from the earth, like to a flow'r, <br> shall bud and blossom then, <br> and justice, from her heav'nly bow'r, <br> look down on mortal men. <br> <br>3 Rise, God, and judge the earth in might, <br> this wicked earth redress; <br> for you are he who shall by right <br> the nations all possess. <br> <br>4 For great you are, and wonders great <br> by your strong hand are done: <br> you, in your everlasting seat, <br> remain the Lord alone. <br>  <br> Source: Trinity Psalter Hymnal #<br>385</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
