{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Head of Thy church, whose Spirit fills <br> And flows through every faithful soul, <br> Unites in mystic love, and seals <br> Them one, and sanctifies the whole; <br> <br>2. Come, Lord, Thy glorious Spirit cries, <br> And souls beneath the altar groan; <br> Come, Lord, the bride on earth replies, <br> And perfect all our souls in one. <br> <br>3. Pour out the promised gift on all, <br> Answer the universal Come! <br> The fullness of the Gentiles call, <br> And take thine ancient people home. <br> <br>4. To Thee let all the nations flow, <br> Let all obey the Gospel word; <br> Let all their bleeding Savior know, <br> Filled with the glory of the Lord. <br> <br>5. O for Thy truth and mercys sake <br> The purchase of Thy passion claim! <br> Thine heritage the Gentiles take, <br> And cause the world to know Thy name. <br>  <br> Source: The Cyber Hymnal #<br>2223</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
