{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Happy the souls to Jesus joined, <br> And saved by grace alone; <br> Walking in all His ways, they find <br> Their heaven on earth begun. <br> <br>2 The Church triumphant in Thy love, <br> Their mighty joys we know; <br> They sing the Lamb in hymns above, <br> And we in hymns below. <br> <br>3 Thee in Thy glorious realm they praise, <br> And bow before Thy throne; <br> We in the kingdom of Thy grace: <br> The kingdoms are but one. <br> <br>4 The holy to the holiest leads, <br> From thence our spirits rise; <br> And he that in Thy statutes treads, <br> Shall meet Thee in the skies. <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>192</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
