{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O God, in whom the happy dead <br> Still live united to their Head, <br> Their Lord and ours the same: <br> For all Thy saints, to memory dear, <br> Departed in thy faith and fear, <br> We bless Thy holy Name. <br> <br>2 By the same grace upheld, may we <br> So follow those who followed Thee, <br> As with them to partake <br> The free reward of heavenly bliss. <br> Merciful Father! grant us this, <br> For our Redeemer's sake. <br>  <br> Source: Church Book: for the use of Evangelical Lutheran congregations #<br>283</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
