{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Who are these arrayed in white, <br> Brighter than the noonday sun, <br> Foremost of the sons of light, <br> Nearest the eternal throne? <br> These are they that bare the cross, <br> Nobly for their Master stood, <br> Sufferers in his righteous cause, <br> Followers of the dying God. <br> <br>2 Out of great distress they came, <br> Washed their robes by faith below <br> In the blood of yonder Lamb, <br> Blood that washes white as snow; <br> Therefore are they next the throne, <br> Serve their Master day and night; <br> God resides among his own, <br> God doth in his saints delight. <br> <br>3 He that on the throne doth reign, <br> Shall his saints for ever feed, <br> With the tree of life sustain, <br> To the living fountains lead; <br> He shall all their sorrows chase, <br> All their wants at once remove, <br> Wipe the tears from every face, <br> Fill up every soul with love. <br>  <br>  <br> Source: The Song Book of the Salvation Army #<br>909</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
