{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, friend of little children, <br> be a friend to me; <br> take my hand and ever keep me <br> close to thee. <br> <br>2 Teach me how to grow in goodness <br> daily as I grow; <br> thou hast been a child, and surely <br> thou dost know. <br> <br>3 Step by step, O lead me onward, <br> upward into youth; <br> wiser, stronger, still becoming <br> in thy truth. <br> <br>4 Never leave me nor forsake me, <br> ever be my friend, <br> for I need thee from lifes dawning <br> to its end. <br>  <br> Source: CPWI Hymnal #<br>654a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
