{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus, tender Shepherd, hear me; <br> bless Your little lamb tonight; <br> through the darkness please be near me; <br> watch my sleep till morning light. <br> <br>2 All this day Your hand has led me, <br> and I thank You for Your care; <br> You have clothed me, warmed and fed me, <br> listen to my evening prayer. <br> <br>3 Let my sins be all forgiven; <br> bless the friends I love so well; <br> take me, when I die, to heaven, <br> happy there with You to dwell. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>11</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
