{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. Lord, when we have not any light, <br> And mothers are asleep; <br> Then through the stillness of the night, <br> Thy little children keep. <br> <br>2. When shadows haunt the quiet room, <br> Help us to understand <br> That Thou art with us through the gloom, <br> To hold us by the hand. <br> <br>3. And though we do not always see <br> The holy angels near, <br> O may we trust ourselves to Thee, <br> Nor have one foolish fear. <br> <br>4. So in the morning may we wake, <br> When wakes the kindly sun, <br> More loving for our Fathers sake <br> To each unloving one. <br>  <br> Source: The Cyber Hymnal #<br>4118</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
