{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>Refrain: <br> All things bright and beautiful, <br> all creatures great and small, <br> all things wise and wonderful, <br> the Lord God made them all. <br> <br>1 Each little flow'r that opens, <br> each little bird that sings, <br> He made their glowing colors, <br> He made their tiny wings. [Refrain] <br> <br>2 The purple-headed mountain, <br> the river running by, <br> the sunset and the morning <br> that brightens up the sky. [Refrain] <br> <br>3 The cold wind in the winter, <br> the pleasant summer sun, <br> the ripe fruits in the garden: <br> He made them every one. [Refrain] <br> <br>4 He gave us eyes to see them, <br> and lips that we might tell <br> how great is God Almighty, <br> who has made all things well. [Refrain] <br>  <br> Source: Psalms and Hymns to the Living God #<br>184</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
