{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 A little child may know <br> our Father's name of Love; <br> 'tis written on the earth below, <br> and on the sky above. <br> <br>2 Around me when I look, <br> His handiwork I see; <br> this world is like a picture-book <br> to teach His name to me. <br> <br>3 The thousand little flowers <br> within our garden found, <br> the rainbow and the soft spring showers, <br> and every pleasant sound; <br> <br>4 The birds that sweetly sing, <br> the moon that shines by night, <br> with every tiny living thing <br> rejoicing in the light; <br> <br>5 And every star above, <br> set in the deep blue sky, <br> all tell me that our God is love, <br> and tell me He is nigh. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>109</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
