{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>I love to hear the story <br> which angel voices tell, <br> how once the King of Glory <br> came down on earth to dwell. <br> I am both weak and sinful, <br> but this I surely know, <br> the Lord came down to save me, <br> because He loved me so. <br> <br>2 Im glad my blessèd Saviour <br> was once a child like me, <br> to show how pure and holy <br> His little ones might be; <br> and, if I try to follow <br> His footsteps here below, <br> He never will forget me, <br> because He loves me so. <br> <br>3 To sing His love and mercy <br> my sweetest songs Ill raise; <br> and, though I cannot see Him, <br> I know He hears my praise; <br> For He has kindly promised <br> that even I may go <br> to sing among His angels, <br> because He loves me so. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>346</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
