{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Once in royal Davids city <br> stood a lowly cattle shed, <br> where a mother laid her baby <br> in a manger for His bed: <br> Mary was that mother mild, <br> Jesus Christ her little Child. <br> <br>2 He came down to earth from heaven <br> who is God and Lord of all, <br> and His shelter was a stable, <br> and His cradle was a stall: <br> with the poor, and meek, and lowly, <br> lived on earth our Savior holy. <br> <br>3 And our eyes at last shall see Him, <br> through His own redeeming love; <br> for that Child so dear and gentle <br> is our Lord in heav'n above, <br> and He leads His children on <br> to the place where He is gone. <br> <br>4 Not in that poor lowly stable, <br> with the oxen standing by, <br> we shall see Him, but in heaven, <br> set at Gods right hand on high; <br> when like stars His children crowned <br> all in white shall wait around. <br>  <br> Source: Psalms and Hymns to the Living God #<br>236</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
