{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Away in a manger, no crib for a bed, <br> the little Lord Jesus laid down His sweet head; <br> the stars in the heavens looked down where He lay, <br> the little Lord Jesus asleep on the hay. <br> <br>2 The cattle are lowing, the Baby awakes, <br> but little Lord Jesus, no crying He makes. <br> I love Thee, Lord Jesus, look down from the sky <br> and stay by my side until morning is nigh. <br> <br>3 Be near me, Lord Jesus; I ask Thee to stay <br> close by me forever, and love me, I pray. <br> Bless all the dear children in Thy tender care, <br> and fit us for heaven, to live with Thee there. <br>  <br>  <br> Source: Psalms and Hymns to the Living God #<br>230</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
