{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Wise men seeking Jesus, <br> Traveled from afar, <br> Guided on their journey <br> By a beauteous star. <br> But if we desire him, <br> He is close at hand; <br> For our native country <br> Is our Holy Land. <br> <br>2 Prayerful souls may find him <br> By our quiet lakes, <br> Meet him on our hillsides <br> When the morning breaks. <br> In our fertile cornfields <br> While the sheaves are bound, <br> In our busy markets <br> Jesus may be found. <br> <br>3 Every peaceful village <br> In our land might be, <br> Made by Jesus' presence <br> Like sweet Bethany. <br> He is more than near us, <br> If we love him well; <br> For he seeketh ever <br> In our hearts to dwell. <br>  <br> Source: The Hymnal for Boys and Girls #<br>40</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
