{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 The shepherds had an angel, <br> The Wise Men had a star, <br> But what have I, a little child, <br> To guide me home from far, <br> Where glad stars sing together, <br> And singing angels are? <br> <br>2 Those shepherds, through the lonely night, <br> Sat watching by their sheep, <br> Until they saw the heavenly host <br> Who neither tire nor sleep, <br> All singing "Glory, glory" <br> In festival they keep. <br> <br>3 Lord Jesus is my Guardian, <br> So I can nothing lack; <br> The lambs lie in His bosom <br> Along life's dangerous track: <br> The willful lambs that go astray <br> He, bleeding, fetches back. <br> <br>4 Lord, bring me nearer day by day, <br> Till I my voice unite, <br> And sing my "Glory, glory," <br> With angels clad in white, <br> All "Glory, glory," given to Thee, <br> Through all the heavenly height. <br> Amen. <br>  <br> Source: The Hymnal #<br>448</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
