{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br><br>1 Lord and Saviour, true and kind, <br> Be the master of my mind; <br> Bless, and guide, and strengthen still <br> All my powers of thought and will. <br> <br><br>2 While I ply the scholar's task, <br> Jesus Christ, be near, I ask; <br> Help the memory, clear the brain, <br> Knowledge still to seek and gain. <br> <br><br>3 Here I train for life's swift race; <br> Let me do it in Thy grace: <br> Here I arm me for life's fight, <br> Let me do it in Thy might. <br> <br><br>4 Thou hast made me mind and soul; <br> I for Thee would use the whole: <br> Thou hast died that I might live; <br> All my powers to Thee I give. <br> <br><br>5 Striving, thinking, learning still, <br> Let me follow thus Thy will, <br> Till my whole glad nature be <br> Trained for duty and for Thee. <br> Amen. <br>  <br> Source: Worship and Service Hymnal: For Church, School, and Home #<br><br>512</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
