{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 In our work and in our play, <br> Jesus, ever with us stay; <br> May be always strive to be <br> True and faithful unto Thee. <br> Then we truthfully can sing, <br> We are children of the King. <br> <br>2 May we in Thy strength subdue <br> Evil tempers, words untrue, <br> Thoughts impure, and deeds unkind, <br> All things hateful to Thy mind. <br> Then we truthfully can sing, <br> We are children of the King. <br> <br>3 Children of the King are we! <br> May we loyal to Him be; <br> Try to please Him every day, <br> In our work and in our play. <br> Then we truthfully can sing, <br> We are children of the King. <br>  <br> Source: Seventh-day Adventist Hymnal #<br>591</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
