{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. We bless Thee, Lord, for all this common life <br> Can give of rest and joy amidst its strife; <br> For earth and trees and sea and clouds and springs; <br> For work, and all the lessons that it brings. <br> <br>2. For Pisgah gleams of newer, fairer truth, <br> Which ever ripening still renews our youth; <br> For fellowship with noble souls and wise, <br> Whose hearts beat time to music of the skies; <br> <br>3. For each achievement human toil can reach; <br> For all that patriots win, and poets teach; <br> For the old light that gleams on history's page, <br> For the new hope that shines on each new age. <br> <br>4. May we to these our lights be ever true, <br> Find hope and strength and joy for ever new, <br> To heavenly visions still obedient prove, <br> The Eternal Law, writ by the Almighty Love! <br>  <br> Source: Methodist Hymn and Tune Book: official hymn book of the Methodist Church #<br>46</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
