{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Omnipresent God, whose aid <br> No one ever asked in vain, <br> Be this night about my bed, <br> Every evil thought restrain: <br> <br>2 Lay Thy hand upon my soul, <br> God of my unguarded hours! <br> All my enemies control, <br> Hell, and earth, and nature's powers. <br> <br>3 Loose me from the chains of sense, <br> Set me from the body free: <br> Draw with stronger influence <br> My unfettered soul to Thee. <br> <br>4 In me, Lord, Thyself reveal, <br> Fill me with a sweet surprise; <br> Let me Thee, when waking, feel, <br> Let me in Thine image rise. <br>  <br> Source: The Book of Worship #<br>197</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
