{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 God save our gracious Queen, <br> long live our noble Queen, <br> God save the Queen. <br> Send her victorious, <br> happy and glorious, <br> long to reign over us: <br> God save the Queen.<br>2 Thy choicest gifts in store <br> on her be pleased to pour, <br> long may she reign. <br> May she defend our laws, <br> and ever give us cause <br> to sing with heart and voice, <br> God save the Queen. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>578</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
