{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Jesus comes with all his grace, <br> comes to save a fallen race, <br> object of our glorious hope, <br> Jesus comes to lift us up. <br> <br>2 Let the living stones cry out, <br> every child of Abraham shout; <br> praise we all our lowly King, <br> give him thanks, rejoice and sing. <br> <br>3 He has our salvation wrought, <br> he our captive souls has bought, <br> he has reconciled to God, <br> he has washed us in his blood. <br> <br>4 We are now his lawful right, <br> walk as children of the light; <br> we shall soon obtain the grace, <br> pure in heart, to see his face. <br> <br>5 We shall gain our calling's prize; <br> after God we all shall rise, <br> filled with joy, and love, and peace, <br> perfected in holiness. <br>  <br>  <br> Source: Together in Song: Australian hymn book II #<br>219a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
