{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 We know, by faith we know, <br> If this vile house of clay <br> This tabernacle, sink below <br> In ruinous decay; <br> We have a House above, <br> Not made with mortal hands; <br> And firm as our Redeemer's Love <br> That heavenly fabvric stands. <br> <br>2 It stand securely high, <br> Indissolubly sure; <br> Our glorious mansion in the sky <br> Shall evermore endure. <br> O may we enter there, <br> To perfect heaven restored! <br> O may we be caught up to share <br> The triumph of our Lord! <br> <br>3 O let us put on Thee <br> In perfect holiness, <br> And rise prepared Thy face to see, <br> Thy bright, unclouded face! <br> Thy grace with glory crown, <br> Who hast the earnest given; <br> And then triumphantly come down, <br> And take us up to heaven! <br>  <br>  <br> Source: Church Book: for the use of Evangelical Lutheran congregations #<br>577</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
