{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1. God bless our native land! <br> May Heaven's protecting hand <br> Still guard our shore. <br> May peace her pow'r extend, <br> Foe be transformed to friend, <br> And all our rights depend <br> On war no more. <br> <br>2. May just and righteous laws <br> Uphold the public cause, <br> And bless our name; <br> Home of the brave and free, <br> Stronghold of Liberty, <br> We pray that still on thee <br> May rest no stain. <br> <br>3. And not this land alone, <br> But be thy mercies known <br> From shore to shore; <br> O that all men would see <br> That they should brothers be, <br> And form one family, <br> The wide world o'er! <br>  <br>  <br> Source: Christ in Song: for all religious services nearly one thousand best gospel hymns, new and old with responsive scripture readings (Rev. and Enl.) #<br>818</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
