{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Rejoice, O land, in God thy might; <br> his will obey, him serve aright; <br> for thee the saints uplift their voice: <br> fear not, O land, in God rejoice. <br> <br>2 Glad shalt thou be, with blessing crowned, <br> with joy and peace thou shalt abound; <br> yea, love with thee shall make his home <br> until thou see God's kingdom come. <br> <br>3 He shall forgive thy sins untold: <br> remember thou his love of old; <br> walk in his way, his word adore, <br> and keep his truth for evermore. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>583</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
