{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Lift up your heads, ye mighty gates; <br> behold, the King of glory waits; <br> the King of kings is drawing near; <br> the Savior of the world is here! <br> <br>2 Fling wide the portals of your heart; <br> make it a temple, set apart <br> from earthly use for heaven's employ, <br> adorned with prayer and love and joy. <br> <br>3 Redeemer, come, with us abide; <br> our hearts to thee we open wide; <br> let us thy inner presence feel; <br> thy grace and love in us reveal. <br> <br>4 Thy Holy Spirit lead us on <br> until our glorious goal is won; <br> eternal praise, eternal fame <br> be offered, Savior, to thy name! <br> United Methodist Hymnal, <br>1989</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
