{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p>O filii et filiae, Alleluia. <br> <br>1 O ye who taste that love is sweet, <br> set way-marks for the doubtful feet <br> that stumble on in search of it. <br> Alleluia. <br> <br>2 Sing hymns of love; that some who hear <br> far off, in pain, may lend an ear. <br> Rise up and wonder and draw near. <br> Alleluia. <br> <br>3 Lead lives of love; that others who <br> behold your lives may kindle too <br> with love, and cast their lot with you. <br> Alleluia. <br>  <br> Source: Singing the Living Tradition #<br>296</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
