{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O God of love, O King of peace, <br> Make wars throughout the world to cease; <br> Our greed and violent ways restrain. <br> Give peace, O God, give peace again. <br> <br>2 Remember, Lord, your works of old, <br> The wonders that your people told; <br> Remember not our sins' deep stain. <br> Give peace, O God, give peace again. <br> <br>3 Whom shall we trust but you, O Lord? <br> Where rest but on your faithful word? <br> None ever called on you in vain. <br> Give peace, O God, give peace again. <br> <br>4 Where saints and angels dwell above <br> All hearts are joined in holy love; <br> Oh, bind us in that heav'nly chain. <br> Give peace, O God, give peace again. <br>  <br> Source: RitualSong (<br>2nd ed.) #<br>910</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
