{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Life of ages, richly poured, <br> love of God, unspent and free, <br> flowing in the prophets word <br> and the peoples liberty  <br> <br>2 Never was to chosen race <br> that unstinted tide confined; <br> yours is every time and place, <br> fountain sweet of heart and mind. <br> <br>3 Breathing in the thinkers creed, <br> pulsing in the heros blood, <br> nerving simplest thought and deed, <br> freshening time with truth and good, <br> <br>4 Consecrating art and song, <br> holy book and pilgrim way, <br> quelling floods of tyrant wrong, <br> widening freedoms sacred sway. <br> <br>5 Life of ages, richly poured, <br> love of God, unspent and free, <br> flow still in the prophets word <br> and the peoples liberty! <br>  <br> Source: Singing the Living Tradition #<br>111</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
