{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 When will you save the people? <br> O God of mercy, when? <br> Not states and corporations! <br> But children, women, men! <br> Flowers of your heart, O God, are they; <br> Let them not pass, like weeds, away, <br> Their heritge a sunless day; <br> God, save the people! <br> <br>2 Shall crime breed crime forever, <br> Strength aiding still the strong? <br> Is it your will, Creator, <br> That we shall toil for wrong? <br> "No," say your mountains; "no," your skies; <br> The clouded sun shall brighty rise, <br> And song be heard instead of sighs; <br> God, save the people! <br> <br>3 When will you save the people? <br> O God of merccy, when? <br> The people, Lord, the people, <br> But children, women, men! <br> God, save the people; yours we are, <br> Your children, as your angels fair, <br> From vice, oppression, and despair; <br> God, save the people! <br>  <br> Source: Worship in Song: A Friends Hymnal #<br>292</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
