{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 All hail the power of Jesus' name! <br> Let angels prostrate fall. <br> Bring forth the royal diadem, <br> and crown him Lord of all. <br> Bring forth the royal diadem, <br> and crown him Lord of all! <br> <br>2 O seed of Israel's chosen race <br> now ransomed from the fall, <br> hail him who saves you by his grace, <br> and crown him Lord of all. <br> Hail him who saves you by his grace, <br> and crown him Lord of all! <br> <br>3 Let every tongue and every tribe <br> responsive to his call, <br> to him all majesty ascribe, <br> and crown him Lord of all. <br> To him all majesty ascribe, <br> and crown him Lord of all! <br> <br>4 Oh, that with all the sacred throng <br> we at his feet may fall! <br> We'll join the everlasting song <br> and crown him Lord of all. <br> We'll join the everlasting song <br> and crown him Lord of all. <br> Psalter Hymnal (Gray), <br>1987</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
