{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 These things shall be: a loftier race <br> Than e'er the world hath known shall rise <br> With flame of freedom in their souls, <br> And light of knowledge in their eyes. <br> <br>2 They shall be gentle, brave, and strong, <br> To spill no drop of blood, but dare <br> All that may plant man's lordship firm <br> On earth, and fire, and sea, and air. <br> <br>3 Nation with nation, land with land, <br> Inarmed shall live as comrades free; <br> In every heart and brain shall throb <br> The pulse of one fraternity. <br> <br>4 New arts shall bloom of loftier mould, <br> And mightier music thrill the skies, <br> And every life shall be a song, <br> When all the earth is paradise. <br>  <br>  <br> Source: African Methodist Episcopal Church Hymnal #<br>560</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
