{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Fold to your heart your sister and your brother: <br> where pity dwells, the peace of God is there; <br> to worship rightly and to love each other, <br> each smile a hymn, each kindly deed a prayer. <br> For he whom Jesus loved has truly spoken: <br> the holier worship which He deigns to bless <br> restores the lost, and binds the spirit broken, <br> and feeds the widow and the fatherless. <br> <br>2 Follow with reverent steps the great example <br> of Him whose holy work was doing good: <br> so shall the wide earth seem our Father's temple, <br> each loving life a psalm of gratitude. <br> Then shall all shackles fall: the stormy clangour <br> of wild war music o'er the earth shall cease; <br> love shall tread out the baleful fire of anger, <br> and in its ashes plant the tree of peace. <br>  <br> Source: The Irish Presbyterian Hymbook #<br>590a</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
