{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O Love divine, that stooped to share <br> Our sharpest pang, our bitterest tear! <br> On Thee we cast each earth-born care; <br> We smile at pain while Thou art near. <br> <br>2 Though long the weary way we tread, <br> And sorrow crown each lingering year, <br> No path we shun, no darkness dread, <br> Our hearts still whispering, "Thou art near!" <br> <br>3 When drooping pleasure turns to grief, <br> And trembling faith is turned to fear, <br> The murmuring wind, the quivering leaf, <br> Shall softly tell us Thou art near! <br> <br>4 On Thee we fling our burdening woe, <br> O Love divine, for ever dear! <br> Content to suffer, while we know, <br> Living and dying, Thou art near! <br> AMEN. <br>  <br> Source: The A.M.E. Zion Hymnal: official hymnal of the African Methodist Episcopal Zion Church #<br>459</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
