{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Thou to whom the sick and dying <br> Ever came, nor came in vain, <br> Still with healing word replying <br> To the wearied cry of pain; <br> Hear us, Jesus, as we meet <br> Suppliants at Thy mercy-seat. <br> <br>2 Still the weary, sick and dying <br> Need a brother's, sister's care, <br> On Thy higher help relying <br> May we now their burden share, <br> Bringing all our off'rings meet <br> Suppliants at thy mercy-seat. <br> <br>3 May each child of Thine be willing, <br> Willing both in hand and heart, <br> All the law of love fulfilling, <br> Comfort ever to impart, <br> Ever bringing off'rings meet <br> Suppliant to Thy mercy-seat. <br> <br>4 So may sickness, sin and sadness <br> To Thy healing virtue yield, <br> Till the sick and sad, in gladness, <br> Rescued, ransomed, cleansèd, healed, <br> One in Thee together meet, <br> Pardoned at thy judgment-seat. <br>  <br>  <br> Source: Evangelical Lutheran Hymnary #<br>237</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
