{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 From thee all skill and science flow, <br> all pity, care, and love, <br> all calm and courage, faith and hope: <br> O pour them from above.<br>2 Impart them, Lord, to each and all, <br> as each and all shall need, <br> to rise, like incense, each to thee, <br> in noble thought and deed.<br>3 And hasten, Lord, that perfect day <br> when pain and death shall cease, <br> and thy just rule shall fill the earth <br> with health and light and peace. <br>  <br> Source: Ancient and Modern: hymns and songs for refreshing worship #<br>513</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
