{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 Come, my soul, thou must be waking; <br> Now is breaking <br> Over the earth another day; <br> Come to him who made this splendor; <br> See thou render <br> All thy feeble strength can pay. <br> <br>2 Gladly hail the sun returning; <br> Ready burning <br> Be the incense of thy powers; <br> For the night is safely ended; <br> God hath tended <br> With his care thy helpless hours. <br> <br>3 Pray that he may prosper ever <br> Each endeavor, <br> When thine aim is good and true; <br> But that he may ever thwart thee, <br> And convert thee, <br> When thou evil wouldst pursue. <br> <br>4 Only God's free gifts abuse not, <br> Light refuse not, <br> But this Spirit's voice obey; <br> Thou with him shalt dwell, beholding <br> Light enfolding <br> All things in unclouded day. <br>  <br> Source: Worship in Song: A Friends Hymnal #<br>31</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
