{% extends 'jot.html' %}
{% block content %}
<br><br>
<p><b>M.H.B {{ clicked_value }}</b></p>

        <p><br>1 O Lord of life, thy quickening voice <br> Awakes my morning song! <br> In gladsome words I would rejoice <br> That I to thee belong. <br> <br>2 I see thy light, I feel thy wind, <br> The world, it is thy word; <br> Whatever wakes my heart and mind <br> Thy presence is, my Lord. <br> <br>3 Therefore I choose my highest part, <br> And turn my face to thee; <br> Therefore I stir my inmost heart <br> To worship fervently. <br> <br>4 Lord, let me live and will this day <br> Keep rising from the dead; <br> Lord, make my spirit good and gay <br> Give me my daily bread. <br> <br>5 Within my heart speak, Lord, speak on, <br> My heart alive to keep, <br> Till comes the night, and, labour done, <br> In thee I fall asleep. <br>  <br> Source: The Church Hymnary (<br>3rd Ed.) #<br>48</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
    {% endblock %}
