{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1 Now the day is over, <br> night is drawing nigh; <br> shadows of the evening <br> steal across the sky. <br> <br>2 Jesus, give the weary <br> calm and sweet repose; <br> with your tend'rest blessing <br> may my eyelids close. <br> <br>3 Comfort ev'ry suff'rer <br> watching late in pain; <br> those who plan some evil, <br> from their sin restrain. <br> <br>4 Thro' the long night-watches <br> may your angels spread <br> their bright wings above me, <br> watching round my bed. <br> <br>5 When the morning wakens, <br> then may I arise <br> pure and fresh and sinless <br> in your holy eyes. <br>  <br> Source: Christian Worship: Hymnal #<br>786</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
