{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 O Lord, who by thy presence hast made light <br/> The heat and burden of the toilsome day, <br/> Be with us also in the silent night, <br/> Be with us when the daylight fades away. <br/> <br/>2 Oh, speak a word of blessing, gracious Lord! <br/> Thy blessing is endued with soothing power; <br/> On human hearts worn out with toil, thy word <br/> Falls soft and gentle as the evening shower. <br/> <br/>3 Come then, O Lord, and deign to be our guest, <br/> After the day's confusion, toil, and din; <br/> Oh, come to bring us peace, and joy, and rest, <br/> To give salvation, and to pardon sin! <br/> <br/>4 Bind up the wounds, assuage the aching smart <br/> Left in each bosom from the day just past, <br/> And let us on a Father's loving heart <br/> Forget our griefs, and find sweet rest at last. <br/> <br/> Source: Laudes Domini: a selection of spiritual songs, ancient and modern for use in the prayer-meeting #<br/>81</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
