{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

        <p><br>1 Another year is dawning! <br> Dear Father, let it be, <br> in working or in waiting, <br> another year with thee; <br> another year of leaning <br> upon thy loving breast, <br> another year of trusting, <br> of quiet, happy rest. <br> <br>2 Another year of mercies, <br> of faithfulness and grace; <br> another year of gladness <br> in the shining of thy face; <br> another year of progress, <br> another year of praise, <br> another year of proving <br> thy presence all the days. <br> <br>3 Another year of service, <br> of witness for thy love; <br> another year of training <br> for holier work above. <br> Another year is dawning! <br> Dear Father, let it be <br> on earth, or else in heaven, <br> another year for thee. <br>  <br>  <br> Source: Trinity Psalter Hymnal #<br>555</p>
        <a href="/solfa/">Read and play tonic-solfa notes</a>
<p><b>M.H.B {{ clicked_value }}</b></p>
    {% endblock %}
