{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 Standing at the portal <br/> Of the opening year, <br/> Words of comfort meet us, <br/> Hushing every fear; <br/> Spoken through the silence <br/> By our Father's voice, <br/> Tender, strong and faithful, <br/> Making us rejoice. <br/> Refrain: <br/> Onward then, and fear not, <br/> Children of the day; <br/> For His Word shall never, <br/> Never pass away. <br/> <br/>2 For the year before us, <br/> O what rich supplies! <br/> For the poor and needy <br/> Living streams shall rise; <br/> For the sad and sinful <br/> Shall His grace abound; <br/> For the faint and feeble <br/> Perfect strength be found. (Refrain) <br/> <br/>3 He will never fail us, <br/> He will not forsake; <br/> His eternal cov'nant <br/> He will never break. <br/> Resting on His promise, <br/> What have we to fear? <br/> God is all-sufficient <br/> For the coming year. (Refrain) <br/> Amen. <br/> <br/> Source: Worship and Service Hymnal: For Church, School, and Home #<br/>522</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
