{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 Sing to the great Jehovah's praise! <br/> All praise to Him belongs; <br/> Who kindly lengthens out our days, <br/> Inspires our choicest songs, <br/> Inspires our choicest songs. <br/> <br/>2 His providence hath brought us through <br/> Another various year; <br/> We all, with vows and anthems new, <br/> Before our God appear, <br/> Before our God appear. <br/> <br/>3 O God, Thy mercies past we own, <br/> And Thy continued care; <br/> To Thee presenting through Thy Son <br/> Whate'er we have and are, <br/> Whate'er we have and are. <br/> <br/> Source: Seventh-day Adventist Hymnal #<br/>105</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
