{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 When the day of toil is done, <br/> When the race of life is run, <br/> Father, grant Thy wearied one <br/> Rest for evermore. <br/> <br/>2 When the strife of sin is stilled, <br/> When the foe within is killed, <br/> Be Thy gracious word fulfilled,-- <br/> "Peace for evermore." <br/> <br/>3 When the darkness melts away <br/> At the breaking of the day, <br/> Bid us hail the cheering ray,-- <br/> Light for evermore. <br/> <br/>4 When the heart by sorrow tried <br/> Feels at length its throbs subside, <br/> Bring us, where all tears are dried, <br/> Joy for evermore. <br/> <br/>5 When for vanished days we yearn, <br/> Days that never can return, <br/> Teach us in Thy love to learn <br/> Love for evermore. <br/> <br/>6 When the breath of life is flown, <br/> When the grave must claim its own, <br/> Lord of life, be ours Thy crown,-- <br/> Life for evermore. <br/> <br/> Source: Evangelical Lutheran Hymn-book #<br/>546</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
