{% extends 'jot.html' %}
{% block content %}
<br><br>
M.H.B {{ clicked_value }}

<p><br/>1 Father of men, in whom are one <br/> All humankind beneath Thy sun, <br/> Stablish our work in Thee begun. <br/> <br/>2 Man lives not for himself alone, <br/> In othersÂ good he finds his own; <br/> LifeÂs worth in fellowship is known. <br/> <br/>3 We, friends and comrades on lifeÂs way, <br/> Gather within these walls to pray: <br/> Bless Thou our fellowship today. <br/> <br/>4 O Christ, our Elder Brother, who <br/> By serving man GodÂs will didst do, <br/> Help us to serve our brethren, too. <br/> <br/>5 In all our work, in all our play, <br/> Be with us, Lord, our Friend, our Stay; <br/> Lead onward to the perfect day. <br/> <br/>6 Then may we know, earthÂs lesson oÂer, <br/> With comrades missed or gone before, <br/> HeavenÂs fellowship for evermore. <br/> Amen. <br/> <br/> Source: The Hymnal #<br/>489</p>
<a href="/solfa/">Read and play tonic-solfa notes</a>
{% endblock %}
