{% extends 'jot.html' %}
{% load static %}

{% block content %}
    <!-- Your home page content goes here -->

    <div class="text-center mt-5">
        <h1 class="display-4 text-dark">Welcome to Asedachorale</h1>
    
        <!-- Two elegant and colorful buttons -->
        <div class="d-flex justify-content-center mt-4">
            <a href="/mhb/" class="btn btn-primary btn-lg mr-3">METHODIST HYMN BOOK (M.H.B)</a>
            <a href="/anglican/" class="btn btn-success btn-lg">HYMNS ANCIENT AND MODERN (ANGLICAN)</a>
        </div>
    
        <!-- Additional links -->
        <div class="d-flex justify-content-center mt-4">
            <a href="/presby/" class="btn btn-info btn-lg mr-3">Presbyterian Hymn Book</a>
            <a href="/anthems/" class="btn btn-warning btn-lg">Anthems/ Highlifes</a>
        </div>
    
        <!-- Privacy Policy link -->
        <p class="mt-4">
            <a href="/privacy/" class="text-muted">Privacy Policy</a> | 
            For inquiries, contact us at: <a href="mailto:info@asedachorale.com">info@asedachorale.com</a>
        </p>
    </div>
    
    
{% endblock %}
