{% extends 'jot.html' %}
{% load static %}

{% block content %}
<style>
    .scrollable-hymn {
        max-height: 300px; 
        overflow-y: auto;
    }
    .scrollable-notes {
        overflow-x: auto;
        white-space: nowrap;
    }
    .btn-hymn-number {
        min-width: 80px; 
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:nth-child(odd) {
        background-color: #e9e9e9;
    }
    .copy-link-btn {
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-4">
                <div class="card-header">
                    <h5 class="card-title">
                        ANCIENT AND MODERN 
                        {% if selected_hymn_number %}
                            {{ selected_hymn_number }}
                        {% endif %}
                    </h5>
                    <!-- Copy Link Button -->
                    <button class="btn btn-info copy-link-btn" onclick="copyLink()">Copy Link</button>
                </div>
                <div class="card-body">
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    
                    <!-- Form for entering hymn number -->
                    <form action="{% url 'display_hymn_ang' %}" method="get" class="mb-4" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="hymn_number">Enter Hymn Number:</label>
                            <input type="text" class="form-control" id="hymn_number" name="hymn_number" list="hymn_numbers_list" value="{{ request.GET.hymn_number }}" oninput="filterOptions()">
                            <datalist id="hymn_numbers_list">
                                {% for number in hymn_numbers %}
                                    <option value="{{ number }}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    
                    <!-- Form for filtering by voice part -->
                    <form action="{% url 'display_hymn_ang' %}" method="get" class="mb-4">
                        <div class="form-group">
                            <label for="voice_part">Filter your preferred voice part:</label>
                            <select class="form-control" id="voice_part" name="voice_part">
                                <option value="">All</option>
                                <option value="Soprano" {% if selected_voice_part == 'Soprano' %}selected{% endif %}>Soprano</option>
                                <option value="Alto" {% if selected_voice_part == 'Alto' %}selected{% endif %}>Alto</option>
                                <option value="Tenor" {% if selected_voice_part == 'Tenor' %}selected{% endif %}>Tenor</option>
                                <option value="Bass" {% if selected_voice_part == 'Bass' %}selected{% endif %}>Bass</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary">Filter by Voice Part</button>
                        <input type="hidden" name="hymn_number" value="{{ request.GET.hymn_number }}">
                    </form>
                    
                    <hr>

                    <!-- Display selected voice part -->
                    {% if selected_voice_part %}
                        <div class="alert alert-info">
                            Selected Voice Part: <strong>{{ selected_voice_part }}</strong>
                            <br>
                            Listen to the selected part's audio above.
                        </div>
                    {% endif %}
                    
                    <!-- Display music key -->
                    {% if music_key %}
                        <div class="alert alert-secondary">
                            Music Key: <strong>{{ music_key }}</strong>
                        </div>
                    {% endif %}
                    
                    <!-- Music Notes Table -->
                    <div class="scrollable-notes">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    {% for index, soprano, alto, tenor, bass in data %}
                                    <th>{{ index }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Soprano</th>
                                    {% for index, soprano, alto, tenor, bass in data %}
                                    <td>{{ soprano }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Alto</th>
                                    {% for index, soprano, alto, tenor, bass in data %}
                                    <td>{{ alto }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Tenor</th>
                                    {% for index, soprano, alto, tenor, bass in data %}
                                    <td>{{ tenor }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Bass</th>
                                    {% for index, soprano, alto, tenor, bass in data %}
                                    <td>{{ bass }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-info mt-2">
                            Scroll right to continue reading the music notes.
                        </div>
                    </div>

                    <hr>
                    
                    {% if hymn_data %}
                        <div class="card">
                            <div class="card-body scrollable-hymn">
                                {{ hymn_data|safe }}
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="mt-4">
                        <label class="mb-2">Select a hymn number:</label><br>
                        {% for number in hymn_numbers %}
                            <form action="{% url 'display_hymn_ang' %}" method="get" style="display: inline;">
                                <input type="hidden" name="hymn_number" value="{{ number }}">
                                <button type="submit" class="btn btn-outline-secondary btn-hymn-number">A & M {{ number }}</button>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function filterOptions() {
        var input = document.getElementById('hymn_number');
        var datalist = document.getElementById('hymn_numbers_list');
        var filter = input.value.toLowerCase();
        var options = datalist.options;

        // Filter options
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            if (option.value.toLowerCase().indexOf(filter) > -1) {
                option.style.display = "";
            } else {
                option.style.display = "none";
            }
        }
    }

    function validateForm() {
        var input = document.getElementById('hymn_number');
        var datalist = document.getElementById('hymn_numbers_list');
        var valid = false;

        // Check if the input value matches any option
        for (var i = 0; i < datalist.options.length; i++) {
            var option = datalist.options[i];
            if (input.value === option.value) {
                valid = true;
                break;
            }
        }

        // Prevent form submission if input is invalid
        if (!valid) {
            alert("Please select a valid hymn number from the dropdown options.");
            input.focus();
            return false;
        }

        // Update the card title with the selected hymn number
        var selectedHymnNumber = input.value;
        document.querySelector('.card-title').textContent = `ANCIENT AND MODERN ${selectedHymnNumber}`;

        return true;
    }

    function copyLink() {
        var url = window.location.href;
        navigator.clipboard.writeText(url).then(function() {
            alert('Link copied to clipboard!');
        }, function(err) {
            console.error('Could not copy link: ', err);
        });
    }
</script>
{% endblock %}
